﻿@using Enterbuy.Services.Common.Services.Interfaces
@using Enterbuy.Core.Enumerations
@inject IMenuZoneServices menuZoneServices;
@inject IBlogServices articleServices;
@using Enterbuy.Services.Blog.Services
@using Utils;
@{
    var list_zone_parents = await menuZoneServices.GetListZoneByParentId((int)TypeZone.AllButProduct, "vi-VN");
}
<div class="list-menu-right">
    <div class="heading">
        Danh mục
    </div>
    <ul class="list">
        @foreach (var item in list_zone_parents.OrderBy(x=>x.SortOrder))
        {
            var link_target = BaseBA.UrlCategoryNews(item.Url);
            <li><a href="@link_target" title="@item.Name">@item.Name</a></li>

        }
    </ul>
</div>
<div class="list-menu-right">
    <div class="heading ">
        Khuyến mại
    </div>
    <div class="list lastest-news">

        @{ var total_promotions = 0;
            var list_promotions = articleServices.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.Promotion, (int)TypeArticle.Blog, 2, "vi-VN", "", 1, 4, out total_promotions);
        }
        @for (int i = 0; i < list_promotions.Count(); i++)
        {
            if (i < 3)
            {
                if (i == 0)
                {
                    var item = list_promotions[i];
                    var linkTar = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="@linkTar" title="@item.Title">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid w-100"
                                             alt="@item.Title">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="title">
                                    <a href="@linkTar" title="@item.Title">@item.Title</a>
                                </p>
                                <div class="des ">
                                    @item.Title
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    var item = list_promotions[i];
                    var linkTar = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="@linkTar" title="@item.Title">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid"
                                             alt="@item.Title">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <p class="title">
                                    <a href="@linkTar" title="@item.Title">@item.Title</a>
                                </p>
                                <div class="time ">
                                    @item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        }
    </div>
</div>
@*<div class="qc mb-3">
    <a href="">
        <img src="~/images/change/qc-menu-right.jpg" class="img-fluid" alt="" />
    </a>
</div>*@
<div class="list-menu-right">
    <div class="heading  ">
        Mới cập nhật
    </div>
    <div class="list lastest-news">

        @{ var total_newest = 0;
            var top_newest = articleServices.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, "vi-VN", "", 1, 6, out total_newest);}
        @for (int index = 0; index < top_newest.Count(); index++)
        {
            if (index < 5)
            {
                if (index == 0)
                {
                    var item = top_newest[index];
                    var linkTar = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="@linkTar" title="@item.Title">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid w-100"
                                             alt="@item.Title">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="title">
                                    <a href="@linkTar" title="@item.Title">@item.Title</a>
                                </p>
                                <div class="des " style="height:40px;overflow:hidden">
                                    @Html.Raw(item.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    var item = top_newest[index];
                    var linkTar = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="@linkTar" title="">
                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid"
                                             alt="@item.Title">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <p class="title">
                                    <a href="@linkTar" title="@item.Title">@item.Title</a>
                                </p>
                                <div class="time ">
                                    @item.CreatedDate.ToString("dd/MM/yyyy hh:mm:ss")
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

