﻿<section class="slide-cate mb-3 ">
    <div class="container">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="image">
                        <img src="~/images/change/bn-pk.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="~/images/change/bn-pk.jpg" class="img-fluid" alt="" />
                        <a href="" class="text text-uppercase">
                            <h4 class="font-weight-bold">MÁY LỌC KHÔNG KHÍ</h4>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="image">
                        <img src="~/images/change/bn-pk.jpg" class="img-fluid" alt="" />
                        <a href="" class="text text-uppercase">
                            <h4 class="font-weight-bold">MÁY LỌC NƯỚC</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>