.txt-mtg {
    font-size: 20px;
    text-transform: uppercase;
    color: #0B7640;
    padding-right: 5px;
}

.coupon-install {
    width: 336px;
}

.main-install {
    border: 1px solid #00000033;
    margin-top: 40px;
}

.txt-tg-1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.txt-tg-2 {
    font-size: 14px;
    line-height: 18px;
}

.pd-10 {
    padding-left: 10px;
}

.txt-tgcard {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00000033;
}

.txt-tg-3 {
    font-size: 14px;
}

.txt-tg-3 a {
    text-decoration: underline;
    color: #2F80ED;
}

.custom-img-trgop {
    border: 1px solid #E0E0E0;
}

.cust-icon-bank {
    border: 1px dotted #00000033;
    margin: 10px 0;
}

.list-card {
    padding: 22px 30px;
}

.pd-t-10 {
    padding: 10px 30px;
}

.list-card .active {
    border: 1px solid #EE7D22;
}

.cust-thead {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #EE7D22;
}

.cust-icon-bank:hover {
    border: 1px solid #EE7D22;
}

.cust-table {
    background-color: #F2F2F2;
    width: 100%;
    font-size: 14px;
    margin-bottom: 30px;
}

.cust-table td {
    padding: 15px 20px;
}

.cus-cl {
    color: #EE7D22;
}

.btn-buy {
    width: 170px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 32px;
    background: #EE7D22;
    box-shadow: 0px 2px 10px rgba(238, 125, 34, 0.44);
    border-radius: 4px;
    text-align: center;
    border-color: unset;
}

.btn-buy-now {
    width: 465px;
    height: 38px;
    background: linear-gradient(33.19deg, #EA3906 21.76%, #EE7D22 74.56%);
    box-shadow: 0px 2px 10px rgba(238, 125, 34, 0.44);
    border-radius: 4px;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.ahi-buy {
    text-align: center;
}

button:focus {
    outline: none;
}

.price-mtg {
    padding-bottom: 15px;
}

.txt-price-tg {
    font-size: 15px;
    color: #828282;
}

.txt-price-tg1 {
    color: #2F80ED;
}

.txt-price-tg2 {
    color: #EE7D22;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    margin: 0 5px 0 15px;
}

.txt-price-tg3 {
    font-size: 11px;
    color: #828282;
}

.btn-buy:hover {
    background-color: #ffffff;
    color: #EE7D22;
    border: 1px solid;
    box-shadow: none;
}

@media (min-width:320px) and (max-width:767px) {
    .btn-buy-now {
        width: 250px;
        font-size: 14px;
    }
    .cust-table {
        width: auto !important;
        margin: 15px -25px;
    }
    .cust-table td {
        padding: 1px 1px;
        font-size: 10px;
    }
    .cust-thead {
        font-size: 12px !important;
    }
    .btn-buy {
        width: 100%;
        font-size: 10px;
        line-height: 10px;
        height: 34px;
    }
    .pd-t-10 {
        padding: 0;
    }
    .coupon-install {
        width: auto;
    }
    .list-cate-home .item {
        padding: 10px 10px;
        height: 57px;
    }
    .txt-mtg {
        font-size: 15px;
    }
    .mb-block {
        align-items: center;
    }
    .mb-block .name-product {
        font-size: 17px;
    }
    .txt-price-tg2 {
        font-size: 24px;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .dsad {
        display: inline;
    }
}