﻿<div class="modal jan-modal fade" id="modal-khu-vuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Khu vực</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="label-checkbox d-inline-block mr-3">
                        Hà Nội
                        <input type="checkbox" name="radio" checked />
                        <span class="checkmark" style="border-radius: 50%;"></span>
                    </label>
                    <label class="label-checkbox d-inline-block">
                        TP Hồ Chí Minh
                        <input type="checkbox" name="radio" />
                        <span class="checkmark" style="border-radius: 50%;"></span>
                    </label>
                </div>
                <select class="form-control">
                    <option>Chọn tỉnh thành</option>
                    <option>Chọn khu vực</option>
                    <option>Chọn khu vực</option>
                </select>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-save" data-dismiss="modal" data-toggle="modal"
                        data-target="#modal-xn">
                    Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>