﻿@using Utils
@using Enterbuy.Data.SqlServer.ModelDto
@using Enterbuy.Data.SqlServer.Dao.Interfaces;
@using Enterbuy.Data.SqlServer.Dto;

@using Enterbuy.Services.Blog.Services;
@using Enterbuy.WebInterface.Models

@using Microsoft.AspNetCore.Http.Extensions
@inject ICookieLocationUtility cookie
@inject IZoneDao zoneDao
@{

    var location = cookie.SetCookieDefault();
    var zoneTreeView = ViewBag.ZoneTreeView as List<ZoneByTreeViewMinify>;
    var zoneDetail = ViewBag.ZoneDetail as ZoneDetail;
    if (zoneDetail == null)
    {
        zoneDetail = new ZoneDetail();
    }
    var listZoneFirst = zoneTreeView.Where(r => r.Level == 1);
    if (zoneTreeView.Count() == 1)
    {
        listZoneFirst = zoneTreeView.Where(r => r.Level == 0);
    }
}
@*@section styles {
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(zoneDetail.MetaTitle) == true ? zoneDetail.Name : zoneDetail.MetaTitle, zoneDetail.MetaDescription, zoneDetail.MetaKeyword, domain_full))
    @Html.Raw(strMetaNoIndex);
    @Html.Raw(strCanonical);
    @await Component.InvokeAsync("SEO_Zone", new { zone = zoneDetail })

}*@
<div id="zone-current" data-id="@zoneDetail.Id"></div>
<div class="append-filter">
    <section class="my-4 san-go-nb search-category">
        <div class="container ">
            <div class="bg-fff pt-3 border-r-4">
                <div class="px-3">
                    <div class="row mb-3 no-gutters ">
                        <div class="col-md-4 col-12 mb-2 mb-md-0 pr-md-5">
                            <span class="h5 font-weight-bold ">Tìm kiếm sản phẩm</span>
                        </div>
                        <div class="col-md-8 col-12   d-lg-flex justify-content-lg-end align-self-center">
                            <div class="menu-op align-self-lg-start mr-lg-3">
                                <!--menu mobile-->
                                <div class="d-flex flex-wrap d-lg-none">
                                </div>
                                <!--menu mobile end-->
                                <!--menu pc-->
                                <div class="swiper-container d-none d-lg-block swiper-container-horizontal">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <!-- Slides -->
                                    </div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                                <!--menu pc end-->
                            </div>

                            <div class=" align-self-center  ">
                                <a href="javascript:void(0)" class="font-weight-normal color-333 float-right view-more-1" data-page="1" data-skip="28" data-id="@zoneDetail.Id">Xem thêm sản phẩm</a>
                            </div>
                        </div>
                    </div>
                    <div class="_binding_product search-product-category">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container ">
        <div class="bg-fff p-3 p-xl-4 content-cate-intro mb-3">
            <div class="row flex-row-reverse">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="detail">
                        <h2 class="title font-weight-bold">@zoneDetail.Name</h2>
                        <div class="content">
                            @Html.Raw(Utility.DecodeHtml(zoneDetail.Content))
                        </div>
                    </div>
                    <div class="text-center my-4">
                        <button class="btn btn-outline-view-more" onclick="expandZoneDes()">
                            Xem thêm<i class="fas fa-chevron-down ml-2 "></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @foreach (var item in listZoneFirst)
    {
        var linkTar1 = BaseBA.UrlCategory(item.Url);
        <section class="my-4 san-go-nb">
            <div class="container ">
                <div class="bg-fff pt-3 border-r-4">
                    <div class="px-3">
                        <div class="row mb-3 no-gutters ">
                            <div class="col-md-4 col-12 mb-2 mb-md-0 pr-md-5">
                                <a href="@linkTar1" class="h5 font-weight-bold "><h2>@item.Name</h2> </a>
                            </div>
                            <div class="col-md-8 col-12   d-lg-flex justify-content-lg-end align-self-center">
                                @{ var listZoneSecond = zoneTreeView.Where(r => r.ParentId == item.Id).ToList();
                                    var zoneSecondFirst = listZoneSecond.FirstOrDefault();
                                    var zoneQueryFirst = new ZoneByTreeViewMinify();
                                    if (listZoneSecond.Count() > 0)
                                    {
                                        zoneQueryFirst = listZoneSecond.First();
                                    }
                                    else
                                    {
                                        zoneQueryFirst = item;
                                    }
                                }
                                <div class="menu-op align-self-lg-start mr-lg-3">
                                    <!--menu mobile-->
                                    <div class="d-flex flex-wrap d-lg-none">
                                        @for (int i = 0; i < listZoneSecond.Count(); i++)
                                        {
                                            var linkTarget = "javascript:void(0)";
                                            <a href="@linkTarget" class="link-view-more font-weight-normal mr-3 select-zone @(i==0?"active":"")" data-id="@listZoneSecond[i].Id">@listZoneSecond[i].Name</a>
                                        }
                                    </div>
                                    <!--menu mobile end-->
                                    <!--menu pc-->
                                    <div class="swiper-container d-none d-lg-block">
                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">
                                            <!-- Slides -->
                                            @foreach (var item1 in listZoneSecond)
                                            {
                                                var link_taget = "javascript:void(0)";
                                                <div class="swiper-slide">
                                                    <div>
                                                        <a href="@link_taget" class="link-view-more font-weight-normal select-zone " data-id="@item1.Id">@item1.Name</a>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <!--menu pc end-->
                                </div>

                                <div class=" align-self-center  ">
                                    <a href="javascript:void(0)" class="link-view-more font-weight-normal color-333 float-right view-more" data-size="" data-skip="28" data-id="@zoneQueryFirst.Id">Xem thêm <span class="tong_so_sp">0</span> sản phẩm</a>
                                </div>
                            </div>
                        </div>
                        <div class="_binding_product">
                            @await Component.InvokeAsync("ProductListDetailInCategory", new { zoneParent = zoneQueryFirst, locationId = location.LocationId })
                        </div>
                    </div>

                </div>

            </div>
        </section>
    }

</div>