﻿@using Utils
@using Enterbuy.Data.SqlServer.ModelDto
@model List<Enterbuy.Data.SqlServer.ModelDto.ManufactureModel>
@{
    var zone_detail = ViewBag.ZoneDetail as ZoneDetail;
    var zoneid = 0;
    if (zone_detail != null)
    {
        zoneid = zone_detail.Id;
    }
}
@inject Enterbuy.Data.SqlServer.Dao.Interfaces.IProductDao  productRepository
<style>
    .range-price.active {
        background: green;
        color: #ffffff !important;
        padding: 10px;
    }
</style>

<div class="container mb-2 client-cate">
    <div class="bg-fff border-r-4">
        @if (Model != null && Model.Count > 0)
        {
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-4 col-12 align-self-center">
                    <div class="px-3 py-2" style="font-size: 13px; line-height: 1.1;">Tìm kiếm theo thương hiệu</div>
                </div>
                <div class="col-lg-8 col-md-11 col-10">
                    <div class="swiper-container slide-brand ">
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <div class="swiper-slide">
                                    <div class=" nhanhieu" data-id="@Model[i].Id">
                                        <img src="@UIHelper.StoreFilePath(Model[i].Avatar)" class="w-100" />
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
                @if (Model.Count > 6)
                {
                    <div class="col-lg-1 col-md-1 col-2 text-center">
                        <a href="javascript:;" onclick="expandClient()" class="btn btn-sm pt-2 "><i class="fas fa-chevron-down"></i></a>
                    </div>
                }
            </div>
        }

        <div class="full-client">
            @if (Model.Count > 6)
            {
                <div class="row no-gutters ">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="col-lg-2 col-md-3 col-sm-4 col-6 ">
                            <div class="border py-1 px-3 nhanhieu" data-id="@Model[i].Id">
                                <img src="@UIHelper.StoreFilePath(Model[i].Avatar)" class="img-fluid" />
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
<div class="filter-cate">
    <div class="container ">
        <div class="bg-fff border-r-4 px-3 py-2 mb-3">
            <div class="row">
                <div class="col-xl-2 col-md-12 col-sm-12 col-12">
                    <div class="form-group d-flex mb-2 mb-lg-0 small py-2">
                        <label for="formControlRange" class="mb-0 mr-3 ">Tìm kiếm theo</label>
                    </div>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-12 col-12 small align-self-center filter-select">
                    <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="0-4000000">Dưới 4 triệu</a>
                    <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="4000000-8000000">Từ 4 - 8 triệu</a>
                    <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="8000000-12000000">Từ 8 - 12 triệu</a>
                    <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="12000000-16000000">Từ 12 - 16 triệu</a>
                    <a href="javascript:;" class="color-0B7640 mr-2 range-price" value="16000000-1000000000">Trên 16 triệu</a>
                </div>
                <div class="col-xl-5 col-md-6 col-sm-12 col-12 align-self-center text-right text-md-right  ">
                    @{ var list_filter = productRepository.GetFilterProductByZoneId(ViewBag.ZoneId, Utility.DefaultLang);}
                    @foreach (var item in list_filter)
                    {
                        <div class="dropdown d-inline-block select-local">
                            <select class="form-control mb-2 mb-lg-0 filter-select  dynamic-filter extra" data-spec-id="@item.SpectificationId">
                                <option value="">@item.Name</option>
                                @foreach (var i in item.Values)
                                {
                                    <option value="@i.Value">@i.Value</option>
                                }
                            </select>
                        </div>

                    }
                    <div class="dropdown d-inline-block select-local">
                        <select class="form-control mb-2 mb-lg-0 filter-select extra-sort">
                            <option hidden value="">Bổ sung</option>
                            <option value="3">Nổi bật nhất</option>
                            <option value="2">Giá tăng dần</option>
                            <option value="1">Giá giảm dần</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>