﻿
@model List<Enterbuy.Services.Common.Models.BannerHomePage>
<section class="service-home py-3">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                    <div class="d-flex py-3 justify-content-center">
                        <div class="image align-self-center">
                            <img src="@Utils.UIHelper.StoreFilePath(item.Image, false)" class="img-fluid" />
                        </div>
                        <div class="px-3 align-self-center">
                            <label>@item.Title</label>
                            <div class="small">
                                @item.Description
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>