﻿
@using Utils;
@using Enterbuy.Data.SqlServer.Dao.Interfaces;
@using Enterbuy.Data.SqlServer.ModelDto;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@inject ICookieLocationUtility cookieUtility
@inject IProductDao productRepository
@inject IZoneDao ZoneDao
@{
    var cookie_location = cookieUtility.SetCookieDefault();
    var total = (int)ViewBag.Total;
    var pageSize = (int)ViewBag.Size;
    var url = ViewBag.Url;
    var zone_id = ViewBag.ZoneId;
    var pageIndex = 1;

    var domain_full = Context.Request.Scheme;

    ZoneDetail a_detail = await ZoneDao.GetZoneDetail(zone_id, Utility.DefaultLang);
}
@section styles {
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(a_detail.MetaTitle) == true ? a_detail.Name : a_detail.MetaTitle, a_detail.MetaDescription, a_detail.MetaKeyword, domain_full))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaNoIndex(false))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaCanonical(domain_full, false, ""))
    @await Component.InvokeAsync("SEO_Zone", new { zone = a_detail })

}


@model List<ProductMinify>;
<div class="container mb-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="@BaseBA.UrlCategoryNews(a_detail.Url)">@a_detail.Name </a></li>
        </ol>
    </nav>


    @*@await Component.InvokeAsync("Breadcrumb", new { zone_id = zone_id })*@
</div>

<div class="list-flash-sale bg-fff  ">
    <div class="container">
        <div class="row no-gutters _binding_product">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    var link_tar = BaseBA.UrlProduct("", item.Url);
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                        <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                            <div class="tag-1">

                            </div>
                            <div class="image">
                                <a href="@link_tar">
                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)"
                                         class="img-fluid  w-100" alt="@item.Title" />
                                </a>
                                <div class="tag-2">
                                    <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                </div>
                            </div>
                            <div class="mt-4">
                                <h5 class="title">
                                    <a href="@link_tar" title="@item.Title">
                                        @item.Title
                                    </a>
                                </h5>
                                <div class="text-left">
                                    @if (item.SalePrice != item.Price)
                                    {
                                        <div class="d-price">
                                            <div class="price-new">
                                                @UIHelper.FormatNumber(item.SalePrice)
                                            </div>
                                            <div class="price-old">
                                                @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-price">
                                            <div class="price-new">
                                                @UIHelper.FormatNumber(item.SalePrice)
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="size small mb-1">
                                    @item.SpecName: @item.SpecValue
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                    </div>
                                    <div class="color-828282">
                                        @item.CountRate đánh giá
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
        @if (total > pageSize)
        {
            <div class="text-center my-5">
                <a href="javascript:void(0)" class="btn btn-outline-view-more region-view-more" data-index="@pageIndex" data-url="@url">Xem thêm<i class="fas fa-chevron-down ml-2 " aria-hidden="true"></i></a>
            </div>
        }
    </div>
</div>
@section scripts{

    <script type="text/javascript" asp-append-version="true" src="~/js/controller/filterProductController.js"></script>
}
