﻿<section class="bar-bottom d-md-none">
    <div class="row ">
        <div class="col">
            <div class="item" onclick="$('.cate-mobile').toggle(100, 'swing');">
                <img src="~/images/bottom-ic-1.svg" class="img-fluid mb-2" />
                <div>
                    Danh mục
                </div>
            </div>
        </div>
        <div class="col">
            <div class="item">
                <img src="~/images/bottom-ic-2.svg" class="img-fluid mb-2" />
                <div>
                    Liên hệ
                </div>
            </div>
        </div>
        <div class="col">
            <div class="item">
                <img src="~/images/bottom-ic-3.svg" class="img-fluid mb-2" />
                <div>
                    Chat
                </div>
            </div>
        </div>
        <div class="col">
            <div class="item">
                <img src="~/images/bottom-ic-4.svg" class="img-fluid mb-2" />
                <div>
                    024.777.66666
                </div>
            </div>
        </div>
    </div>
</section>