﻿@using Utils
@using Tucky.Services.BannerAds.Repository
@inject IBannerAdsRepository _bannerrepo
@{
    Layout = null;
    var favicon = _bannerrepo.GetConfigByName("vi-VN", "FaviconTucKy");
    var LinkFb = _bannerrepo.GetConfigByName("vi-VN", "FanpageTuc");
    var dchcm = _bannerrepo.GetConfigByName("vi-VN", "AddressHCM");
    var dcHN = _bannerrepo.GetConfigByName("vi-VN", "Address");
    var HL1 = _bannerrepo.GetConfigByName("vi-VN", "HotlineTuc1");
    var HL2 = _bannerrepo.GetConfigByName("vi-VN", "HotlineTuc2");
    var AVTS = _bannerrepo.GetConfigByName("vi-VN", "ImgShare");
    var DesWeb = _bannerrepo.GetConfigByName("vi-VN", "DesWebTucKy");
    var TitleWeb = _bannerrepo.GetConfigByName("vi-VN", "TitleTucKy");
    var domain = Context.Request.Host.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@TitleWeb</title>
    <meta property="og:image" content="@UIHelper.StoreFilePath(AVTS,false)" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="" />
    <meta property="og:title" content="@Html.Raw(TitleWeb)" />
    <meta property="og:description" content="@Html.Raw(DesWeb)" />
    <meta name="robots" content="index,follow,all" />
    <link rel="canonical" href="@domain" />


    <!--CSS-->
    <link rel="stylesheet" href="../../../../stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/uikit-3.5.8/css/uikit.min.css">
    <link rel="stylesheet" href="~/css/app.css">
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/WOW/css/site.css" rel="stylesheet" />
    <link href="~/WOW/css/libs/animate.css" rel="stylesheet" />
    @RenderSection("style", false)
</head>
<body class="isHome">
    <div id="fb-root"></div>
    <div id="app" class="uk-height-viewport uk-offcanvas-content uk-overflow-hidden">
        <div id="my-id" uk-offcanvas="overlay: true; mode: slide">
            <div class="uk-offcanvas-bar uk-overflow-auto uk-padding-remove uk-flex uk-flex-column">
                <div class="uk-flex-auto">
                    <nav class="menuVtv">
                        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav uk-scrollspy-nav="closest: li; scroll: true; offset: 80">
                            <li>
                                <a href="#home" class="menuVtv__link">
                                    TRANG CHỦ
                                </a>
                            </li>
                            <li>
                                <a href="#about" class="menuVtv__link">
                                    GIỚI THIỆU
                                </a>
                            </li>
                            <li>
                                <a href="#nhietke" class="menuVtv__link">
                                    NHIỆT KẾ TUCKY
                                </a>
                            </li>
                            <li>
                                <a href="#app1" class="menuVtv__link">
                                    TẢI ỨNG DỤNG
                                </a>
                            </li>
                            <li>
                                <a href="#use" class="menuVtv__link">
                                    CÁCH SỬ DỤNG
                                </a>
                            </li>
                            <li>
                                <a href="#footer" class="menuVtv__link">
                                    LIÊN HỆ
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <div class="uk-padding-small">
                        <div class="uk-child-width-auto uk-flex-middle uk-flex-center uk-flex-left@m uk-grid-small" uk-grid>
                            <div>
                                <a href="#">
                                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.46 16H5.39V8.7H7.84L8.21 5.86H5.39V4.04C5.39 3.22 5.62 2.66 6.8 2.66H8.31V0.11C8.05 0.0799999 7.16 0 6.12 0C3.94 0 2.46 1.33 2.46 3.76V5.86H0V8.7H2.46V16Z" fill="#DBDBDA" />
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M22.4181 2.46783C22.2851 1.9924 22.0316 1.55937 21.6821 1.21066C21.3327 0.861951 20.8991 0.609382 20.4234 0.47741C18.6376 2.28233e-05 11.4589 2.29387e-05 11.4589 2.29387e-05C11.4589 2.29387e-05 4.29385 -0.0114288 2.48951 0.47741C2.01456 0.609962 1.58183 0.862795 1.23315 1.21147C0.884472 1.56015 0.631638 1.99288 0.499086 2.46783C0.159977 4.29595 -0.00704011 6.15182 0.000227301 8.01111C-0.00308155 9.86145 0.163909 11.7082 0.499086 13.5279C0.632067 14.0031 0.884975 14.4362 1.23353 14.7855C1.58209 15.1348 2.01459 15.3886 2.48951 15.5226C4.27524 16 11.4589 16 11.4589 16C11.4589 16 18.6198 16 20.4234 15.5226C20.8991 15.3892 21.3324 15.1356 21.6817 14.7863C22.0311 14.4369 22.2847 14.0036 22.4181 13.5279C22.7466 11.7092 22.9069 9.85982 22.8955 8.01111C22.9069 6.15023 22.7502 4.29794 22.4181 2.46783ZM9.16577 11.4373V4.56991L15.1413 8.01111L9.16577 11.4373Z" fill="#DBDBDA" />
                                    </svg>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.30179 0.0135007C8.17434 0 9.04188 0.00800043 9.90843 0C9.96093 1.02055 10.328 2.06011 11.075 2.78165C11.8205 3.52119 12.8751 3.85971 13.9011 3.97421V6.65886C12.9396 6.62735 11.9735 6.42734 11.101 6.01332C10.721 5.84131 10.367 5.6198 10.0204 5.39329C10.0159 7.34139 10.0284 9.287 10.0079 11.2271C9.95593 12.1591 9.64841 13.0867 9.10639 13.8547C8.23434 15.1333 6.72076 15.9669 5.16618 15.9929C4.21263 16.0474 3.26007 15.7873 2.44753 15.3083C1.10096 14.5143 0.153409 13.0607 0.0154013 11.5006C-0.00198219 11.1702 -0.00465166 10.8392 0.00740088 10.5086C0.127407 9.23999 0.754941 8.02643 1.72899 7.20088C2.83305 6.23933 4.37963 5.78131 5.82771 6.05232C5.84121 7.03988 5.80171 8.02643 5.80171 9.01398C5.14018 8.79997 4.36713 8.85997 3.7891 9.26149C3.3662 9.54009 3.04661 9.94999 2.87955 10.4281C2.74155 10.7661 2.78105 11.1416 2.78905 11.5006C2.94756 12.5947 3.99961 13.5142 5.12267 13.4147C5.86721 13.4067 6.58075 12.9747 6.96877 12.3422C7.09428 12.1206 7.23479 11.8941 7.24229 11.6336C7.30779 10.4411 7.28179 9.25349 7.28979 8.06093C7.29529 5.37329 7.28179 2.69314 7.30229 0.0140007L7.30179 0.0135007Z" fill="#DBDBDA" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header uk-position-z-index uk-sticky" uk-sticky="top: 600;animation: uk-animation-slide-top">
            <div class="uk-container uk-padding-remove">
                <nav class="uk-navbar-container uk-navbar-transparent uk-navbar" uk-navbar="">
                    <div class="uk-navbar-left">
                        <a href="/" class="uk-navbar-item uk-logo header__item"><img src="images/logo_h.svg" alt=""></a>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav uk-visible@m" uk-scrollspy-nav="closest: li; scroll: true; offset: 80">
                            <li class="header__li uk-active"><a class="header__a" href="#home">TRANG CHỦ</a></li>
                            <li class="header__li"><a class="header__a" href="#about">GIỚI THIỆU</a></li>
                            <li class="header__li"><a class="header__a" href="#nhietke">NHIỆT KẾ TUCKY</a></li>
                            <li class="header__li"><a class="header__a" href="#app1">TẢI ỨNG DỤNG</a></li>
                            <li class="header__li"><a class="header__a" href="#use">CÁCH SỬ DỤNG</a></li>
                            <li class="header__li"><a class="header__a" href="#footer">LIÊN HỆ</a></li>
                        </ul>
                        <a href="#my-id" class="uk-navbar-toggle header__item uk-hidden@m" uk-toggle="">
                            <div id="m_nav_menu" class="m_nav menu">
                                <div class="m_nav_ham button_closed" id="m_ham_1"></div>
                                <div class="m_nav_ham button_closed" id="m_ham_2"></div>
                                <div class="m_nav_ham button_closed" id="m_ham_3"></div>
                            </div>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        @RenderBody()
        <div id="footer" class="footer">
            <div class="uk-background-norepeat uk-background-bottom-left" data-src="images/nen-chan-trang.jpg" uk-img>
                <div class="uk-section footer__bg">
                    <div class="uk-container">
                        <div class="uk-child-width-1-2@m uk-grid-92-m" uk-grid>
                            <div>
                                <form class="uk-grid-small" id="form-lien-he" data-type="3" uk-grid>
                                    <div class="uk-width-1-1">
                                        <div class="uk-flex-middle uk-grid-small" uk-grid>
                                            <div>
                                                <legend class="uk-legend footer__formlegend">Gửi Tin Nhắn Cho</legend>
                                            </div>
                                            <div>
                                                <img class="footer__formlegend__img" src="images/footer/logo_f.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@s">
                                        <input class="uk-input uk-border-pill footer__input name-input" type="text" placeholder="Họ Tên" required>
                                    </div>
                                    <div class="uk-width-1-2@s">
                                        <input class="uk-input uk-border-pill footer__input phone-input" type="text" placeholder="Số Điện Thoại" required>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <input class="uk-input uk-border-pill footer__input address" type="text" placeholder="Địa Chỉ">
                                    </div>
                                    <div class="uk-width-1-1">
                                        <textarea class="uk-textarea uk-border-rounded footer__input mess-input" rows="7" placeholder="Nội Dung"></textarea>
                                    </div>
                                    <div class="uk-width-1-1">
                                        <button type="submit" class="uk-button uk-button-default footer__btn uk-border-pill">Gửi Tin Nhắn</button>
                                    </div>
                                </form>
                            </div>
                            <div>
                                <div class="uk-text-uppercase footer__title">CÔNG TY KHOA HỌC KỸ THUẬT <span>VIETLAB</span></div>
                                <ul class="uk-list footer__list">
                                    <li class="footer__list__li footer__list__li--map">
                                        <div class="footer__add">
                                            <span>VP Hà Nội:</span> @Html.Raw(dcHN)
                                        </div>
                                        <div class="footer__add">
                                            <span>VP Hồ Chí Minh:</span>@Html.Raw(dchcm)
                                        </div>
                                    </li>
                                    <li class="footer__list__li footer__list__li--phone">
                                        <div class="footer__add">@Html.Raw(HL1) - @Html.Raw(HL2)</div>
                                    </li>
                                    <li class="footer__list__li ">
                                        <a href="@LinkFb">
                                            <img src="~/images/chan-trang.png" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*modal*@
    <div id="modal-close-outside" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-outside" type="button" uk-close></button>
            <div class="uk-modal-header block__popup__header">
                <div class="uk-flex-center" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div>
                            <div class="uk-text-center block__popup__header__box">
                                <img class="block__popup__header__img" src="images/popup/Group-2159.png" alt="">
                            </div>
                            <div class="uk-flex-middle uk-flex-center" uk-grid>
                                <div class="uk-width-auto">
                                    <div class="block__popup__header__txt1 uk-text-right">ĐĂNG KÝ MUA NGAY</div>
                                    <div class="block__popup__header__txt2 uk-text-right">NHẬN ƯU ĐÃI ĐẶC BIỆT</div>
                                </div>
                                <div class="uk-width-auto">
                                    <div class="block__popup__header__txt3">600K</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-modal-body block__popup__body">
                <form id="formMuaHang" data-type="2">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <input class="uk-input block__popup__input name-input" type="text" placeholder="Họ Và Tên*" required>
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__popup__input phone-input" type="text" placeholder="Số Điện Thoại*" required>
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__popup__input address" type="text" placeholder="Địa Chỉ*">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__popup__input mail-input" type="text" placeholder="Email*">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__popup__input Nameseri" type="text" placeholder="Mã Seri Khuyến Mãi">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__popup__input codeseri" type="text" placeholder="Mã Giảm Giá Khuyến Mãi">
                        </div>
                        <div>
                            <div class="alert alert-danger" id="mess-voucher" style="display:none">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> <span class="mess-vc">Mã này không phù hợp</span>
                            </div>
                            <div class="alert alert-success" id="mess-voucher-success" style="display:none">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> <span class="mess-vc">Áp dụng mã thành công</span>
                            </div>
                        </div>
                        <div class="uk-text-center">
                            <button type="submit" class="uk-button uk-button-default block__popup__btn">MUA NGAY</button>
                            <button type="button" class="uk-button uk-button-default block__12__btn" id="CheckCodeModa">Check mã</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    @*<script src="../../../../cdn.jsdelivr.net/npm/%40shinsenter/defer.js/dist/defer_plus.min.js"></script>*@
    <script src="~/assets/uikit-3.5.8/js/uikit.min.js"></script>
    <script src="~/assets/uikit-3.5.8/js/uikit-icons.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/WOW/dist/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v8.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="228668505121014"
         theme_color="#ffc300"
         logged_in_greeting="Chào bạn ! chúng tôi có thể giúp gì cho bạn ! hãy nhắn tin với chúng tôi !"
         logged_out_greeting="Chào bạn ! chúng tôi có thể giúp gì cho bạn ! hãy nhắn tin với chúng tôi !">
    </div>
    <script src="~/js/Controllerjs/LienHe.js"></script>
    <script src="~/js/slick.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        $(document).ready(function () {


            $('.single-item-rtl').slick({
                rtl: true
            });

        })
    </script>
</body>
</html>
