﻿@using MI.Entity.Enums;
@using JanHome.Web.Services.Zone.ViewModal
@using JanHome.Web.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using JanHome.Web.Services.Article.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

}
@{
    ViewData["Title"] = "BlogDetail";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}
@{

    var detail = ViewBag.Detail as ArticleDetail;
}
@section styles {
    <style type="text/css">
        .banner-page {
            background: url(@UIHelper.StoreFilePath(detail.ZoneBanner)) no-repeat center;
            min-height: 200px;
            background-size: cover;
            display: flex;
        }
        .detail-container img{
            max-width:100% !important;
        }
        .maintain-ul {
            list-style-type: circle !important;
        }

    </style>
}

<div class="banner-page py-3 mb-4" style="
        background: url(@UIHelper.StoreFilePath(detail.ZoneBanner)) no-repeat center;
        min-height: 200px;
        background-size: cover;
        display: flex;
    ">
    <div class="container align-self-center">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-12 ">
                <h1 class="text-center">@detail.ZoneName</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            @await Component.InvokeAsync("MenuRightBlog")
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
            <div class="blog-content">
                <h1 class="title">@detail.Title</h1>
                <div class="d-flex mb-4">
                    <div class="author color-828282 mr-4">
                        <div class="avt align-self-center">
                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar)" class="img-fluid" alt="@detail.Title" />
                        </div>
                        <div class="align-self-center">
                            @detail.Author
                        </div>
                    </div>
                    <div class="time mb-0">
                        @detail.CreatedDate.ToString("dd/MM/yyyy hh:mm")
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(detail.Description))
                {
                    var rmlk = detail.Description.Contains("[...]");
                    if (rmlk == true)
                    {
                        var rmek = detail.Description.Replace("[...]", "");
                        if (!detail.Body.StartsWith(rmek))
                        {
                            Html.Raw(detail.Description);
                        }
                        <br />
                    }
                }

                @if (!string.IsNullOrEmpty(detail.Indexing))
                {
                    <div class="blog-content-indexing">
                        @Html.Raw(JanHome.Web.Utility.WebHelper.IndexingCss(detail.Indexing))
                    </div>

                    <br />
                }

                <div class="detail-container" data-id="@detail.Id">
                    @Html.Raw(JanHome.Web.Utility.WebHelper.RenderLazyLoadBody(detail.Body))
                </div>

                <div class="cust-likes-fb-blogs facebook-btn my-4">
                    <div class="small mr-3"><img asp-append-version="true" src="images/eye.svg" class="img-fluid mr-2" />@detail.ViewCount lượt xem</div>
                    @* <div class="fb-like" data-href="@domain_full" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div> *@
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>
                </div>
                <!--Bài viết liên quan-->
                <div class="my-3">
                    <div class="row mb-3  ">
                        <div class="col-12">
                            <a href="" class="h5 font-weight-bold ">Bài viết liên quan</a>
                        </div>
                    </div>
                    <div class="row ">
                        @{
                            var news_same_zone_total = 0;
                            var news_same_zone = articleRepository.GetArticlesInZoneId_Minify_FullFilter(detail.ZoneId, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, culture_code, "", 1, 4, out news_same_zone_total);

                        }
                        @foreach (var item in news_same_zone)
                        {
                            var link_tar = string.Format("/{0}.html", item.Url);
                            <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                                <div class="item-blog-km xem-them-bai-lq">
                                    <div class="image mb-3">
                                        <a href="@link_tar"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title" /></a>
                                    </div>
                                    <div class="">
                                        <h5 class="title h6 font-weight-bold">
                                            <a href="@link_tar" title="@item.Title">@item.Title</a>
                                        </h5>

                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!--Tag-->
                <div class="tags">
                    <label class="">Từ khóa:</label>

                    @if (!string.IsNullOrEmpty(detail.Tags))
                    {
                        var list_tags = detail.Tags.Split(',');
                        foreach (var item in list_tags)
                        {
                            var link_tar = string.Format("{0}/filter-by-{1}.html", base_uri_culture, item);
                            <a href="@link_tar" class="item btn-link">@item</a>
                        }
                    }
                </div>
                <!--Gửi Comment-->
                @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Article })

            
                <div class="fb-comments" data-href="@domain_full" data-numposts="5" data-width="100%"></div>
            
            </div>
        </div>
    </div>
</div>

<section class="service-home py-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/shipment-international.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Vận chuyển</label>
                        <div class="small">
                            Free shipping on all order
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/professions-man-telecommunicator.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Support 24/7</label>
                        <div class="small">
                            Chúng tôi hỗ trợ bạn 24/7
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/saving-piggy-dollars.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Dịch vụ đổi trả hàng</label>
                        <div class="small">
                            Đổi trả hàng trong vòng 7 ngày
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript" src="~/js/controller/blogDetailController.js" asp-append-version="true"></script>

}