﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using JanHome.Web.Services.Zone.ViewModal
@using JanHome.Web.Services.Zone.Repository
@using JanHome.Web.Services.BannerAds.Repository
@using JanHome.Web.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using JanHome.Web.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using JanHome.Web.Services.Locations.Repository
@using JanHome.Web.Services.Extra.Repository
@using JanHome.Web.Services.Locations.ViewModal;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}


@{
    Layout = null;
    var isHome = false;
    var path = Context.Request.Path.ToString();
    var expland = "un-expand";
    var dm_style = "";
    if (path.Length <= 1)
    {
        isHome = true;
        expland = "";
        dm_style = "height: auto;";
    }

    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;
    var base_uri_culture = "/";
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;


    List<LocationViewModel> locationViewModels = new List<LocationViewModel>();
    locationViewModels = locationsRepository.GetLocations(culture_code);

    List<ZoneSugget> zoneSugget = new List<ZoneSugget>();
    zoneSugget = zoneRepository.GetZoneSugget(culture_code);

    List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);

    ////var sessionBannerAds = Context.Session.GetComplexData<>(SessionUtility.SessionBannerAds);
    ////if (sessionBannerAds != null)
    ////{
    ////    lstBannerAds = (List<BannerAdsViewModel>)sessionBannerAds;
    ////        }
    //var Banner_Trangchu_Trencung = new DetailBanerAds();
    //var Stem_Trangchu = new List<DetailBanerAds>();

    //var Stem_Chantrang = new List<DetailBanerAds>();
    //var Banner_Trangchu_Tren_Nho2 = new DetailBanerAds();
    //var Banner_Trangchu_Tren_Nho1 = new DetailBanerAds();
    var Banner_Trangchu_Doc_Trai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Trai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Trai");
    var Banner_Trangchu_Doc_Phai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Phai");
    //footer

    //if (lstBannerAds.Count() > 0)
    //{
    //    Banner_Trangchu_Trencung = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Trencung").MetaData);
    //    Stem_Trangchu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstBannerAds.FirstOrDefault(n => n.Code == "Stem_Trangchu").MetaData);

    //    Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(lstBannerAds.FirstOrDefault(n => n.Code == "Stem_Chantrang").MetaData);
    //    Banner_Trangchu_Tren_Nho2 = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Tren_Nho2").MetaData);
    //    Banner_Trangchu_Tren_Nho1 = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Tren_Nho1").MetaData);
    //    Banner_Trangchu_Doc_Trai = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Doc_Trai").MetaData);
    //    Banner_Trangchu_Doc_Phai = JsonConvert.DeserializeObject<DetailBanerAds>(lstBannerAds.FirstOrDefault(n => n.Code == "Banner_Trangchu_Doc_Phai").MetaData);
    //}
    var Banner_Trangchu_Trencung_after_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Trencung");
    var Banner_Trangchu_Trencung_AF_Cooked = new DetailBanerAds();
    if (Banner_Trangchu_Trencung_after_cache != null)
    {
        Banner_Trangchu_Trencung_AF_Cooked = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Trencung_after_cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Trai_Cache != null)
    {
        Banner_Trangchu_Doc_Trai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Trai_Cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Phai_Cache != null)
    {
        Banner_Trangchu_Doc_Phai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Phai_Cache.MetaData);
    }

    var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1);
    var blog_parents = blog_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).FirstOrDefault();


}
@inject IViewLocalizer _localizer
@using JanHome.Web.Services.Config.Repository
@{
    var _ver = WebHelper.Version();
    var favicon = bannerAdsRepository.GetConfigByName(culture_code, "Favicon");
}
<!DOCTYPE html>
<html lang="vi">

<head>

    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="googlebot" content="noindex">
    @*<title>@ViewBag.Title</title>*@
    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    @Html.Raw(configSEOUtility.ConfigWebsite(domain_full, "JanHome"))

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/vendor/bootstrap.min.css" asp-append-version="true">

    <link type="text/css" asp-append-version="true" href="~/vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/vendor/swiper.min.css?v=@_ver" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/vendor/animate.css?v=@_ver" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/vendor/smoothproducts.css?v=@_ver" asp-append-version="true">

    <link type="text/css" rel="stylesheet" href="~/css/style.css?v=@_ver" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/css-update-26-4.css?v=@_ver" asp-append-version="true">
    <link type="text/css" rel="stylesheet" href="~/css/dev.css?v=@_ver" asp-append-version="true">

    @*<link href="~/css/minified.css" asp-append-version="true" rel="stylesheet" />*@
    <link href="~/js/libs/vakata-jstree-6dce227/dist/themes/default/style.css" rel="stylesheet" asp-append-version="true" />
    @*<link type="text/css" href="~/js/libs/jquery-autocompleter/src/jquery.autocompleter.css?v=@_ver" rel="stylesheet" asp-append-version="true" />*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" asp-append-version="true">
    <link rel="stylesheet" href="~/js/libs/daterangepicker-master/daterangepicker.min.css" asp-append-version="true" />
    <link asp-append-version="true" href="~/css/pagination.css" rel="stylesheet" />
    <style type="text/css">
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 50% 50% no-repeat rgb(249,249,249); /*position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(255,255,255,0.7);
            background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif') 50% 50% no-repeat rgb(249,249,249);
            z-index: 9999;
            display: none;*/
        }

            .loader::after {
                content: "";
                background: url('//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif?v=1') 50% 50% no-repeat rgb(249,249,249);
                opacity: 0.5;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: fixed;
                z-index: 9999;
            }

        .jstree-default .jstree-node {
            min-height: 24px;
            line-height: 24px;
            margin-left: 6px;
            min-width: 24px;
        }

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }
    </style>
    @RenderSection("Styles", required: false)
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptHeader"))
</head>
<body>
    @*<h1>@culture</h1>
        <h1>@culture_code</h1>*@
    @*header*@
    @await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName(culture_code, "Logo"), false) })
    <section class="header">
        @*<div class="nav-top d-none d-lg-block d-md-block d-xl-block" style="background: url(@UIHelper.StoreFilePath(Banner_Trangchu_Trencung_AF_Cooked.Image, false)) no-repeat top center !important;background-size: cover;
                 height:auto;">
                <a href="flash-sale.html" class="w-100 h-100 d-block">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Trencung_AF_Cooked.Image, false)" class="img-fluid w-100" />
                </a>
            </div>*@
        <div class="list-location-top">
            <div class="container position-relative px-md-4">
                <div class="swiper-container ">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        @if (locationViewModels.Count() > 0)
                        {
                            foreach (var item in locationViewModels)
                            {
                                <div class="swiper-slide">
                                    <a href="/Store/ListDepartmentByLocaion?locationID=@item.Id">
                                        <i class="fas fa-map-marker-alt mr-2"></i>@item.Name
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                <div class="swiper-button-next text-right"><i class="fas fa-chevron-right"></i></div>
            </div>
        </div>

        <div class=" nav-center">
            <div class="container">
                <nav class="navbar navbar-expand-md py-md-2 px-0">
                    <a class="navbar-brand d-none d-md-block" href="@base_uri_culture" title="">
                        <img src="@UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName(culture_code, "Logo"), false)?v=@_ver" alt="@domain"
                             class="img-fluid" />
                    </a>
                    <a class="navbar-brand d-md-none" href="@base_uri_culture" title="">
                        <img src="~/images/logo_mobile_2.png?v=@_ver" alt=""
                             class="img-fluid" />
                    </a>
                    <div class="d-md-none">
                        <div class="input-group form-search flex-nowrap mr-2 width-mb" style="width: 210px;">
                            <input type="text" class="form-control find-product" placeholder="Tìm sản phẩm....">
                            <div class="input-group-append">
                                <button class="btn btn-search">
                                    <img src="~/images/search.svg?v=@_ver" class="img-fluid" />
                                </button>
                            </div>
                            <div class="suggest-text suggest-text-1">
                                <div class="h6 px-3">
                                    Gợi ý cho bạn
                                </div>
                                <div class="color-007DFF  px-3">
                                    @if (zoneSugget.Count > 0)
                                    {
                                        foreach (var item in zoneSugget)
                                        {
                                            <div class="py-1">
                                                <a href="@String.Format("/{0}", item.Url)">@item.Name</a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="suggest-text suggest-text-2">
                                <div class="h6 px-3">
                                    Sản phẩm gợi ý
                                </div>
                                @* <div class="item-cart ">

                                        <div class="image-product  ">
                                            <img src="images/change/image 4x4.png?v=@_ver" class="" />
                                        </div>
                                        <div class="text px-2 ">
                                            <h6 class="name-product mb-1"><a href="">Sàn gỗ JanHome siêu chịu nước</a></h6>
                                            <div class="price d-inline-block">200.000</div>
                                            <div class="price-old d-inline-block">200.000</div>
                                        </div>
                                    </div>
                                    <div class="item-cart ">
                                        <div class="image-product  ">
                                            <img src="images/change/image 4x4.png?v=@_ver" class="" />
                                        </div>
                                        <div class="text px-2 ">
                                            <h6 class="name-product mb-1"><a href="">Sàn gỗ JanHome siêu chịu nước</a></h6>
                                            <div class="price d-inline-block">200.000</div>
                                            <div class="price-old d-inline-block">200.000</div>
                                        </div>
                                    </div> *@
                            </div>
                        </div>
                    </div>
                    <!--22-4 Thêm btn giỏ hàng-->
                    <div class="nav-item align-self-md-center mb-0 cart d-md-none">
                        <button class="btn p-0 dropdown-cart-trigger-mobile" @*onclick="$('.cart-mobile').toggle(100, 'swing');" *@>
                            <div class="icon ">
                                <img src="~/images/cart-icon.svg?v=@_ver" class="img-fluid mr-2 icon-nav" />
                                <div id="cart-count-mobile" class="amount">

                                </div>
                            </div>
                        </button>

                    </div>
                    <!--22-4 Sửa onclick-->
                    <button class="navbar-toggler px-1" type="button" data-toggle="collapse"
                            onclick="$('.cate-mobile').toggle(100, 'swing');">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse w-100 align-self-center">
                        <ul class=" navbar-nav ml-auto mt-4 mt-md-0 w-100 justify-content-xl-around">
                            @*<ul class=" navbar-nav ml-auto mt-4 mt-md-0 w-100 justify-content-xl-start">*@
                            <li class="nav-item mr-md-3 align-self-center  d-none d-md-block  ">
                                <button type="button" class="btn btn-local ">
                                    <div class=" d-flex" data-placement="bottom" data-toggle="modal"
                                         data-target="#modal-khu-vuc">
                                        <div class="align-self-center mr-2" style="width: 18px;">
                                            <img src="~/images/Location.svg?v=@_ver"
                                                 class="img-fluid" />
                                        </div>
                                        <div class="align-self-center small text-right">
                                            <label class="mb-0">Khu vực:</label>
                                            <div class="local " id="current-local" data-id="@location_id" data-name="@location_name">
                                                @location_name
                                                <i class="fas fa-angle-down small ml-1"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="onhover only-first-load-location" style="display:none">
                                        <div class="font-weight-bold">Bạn ở đâu?<i class="fas fa-times-circle float-right " onclick="timeIcon()"></i></div>
                                        <div style="color: #828282;">Bạn hãy chọn tỉnh thành nhé...</div>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item mr-md-3 align-self-center d-none d-md-block position-relative ">
                                <div class="input-group form-search flex-nowrap mb-1 ">
                                    <input type="text" class="form-control find-product" placeholder="Tìm sản phẩm....">
                                    <div class="input-group-append">
                                        <button class="btn btn-search">
                                            <img src="~/images/search.svg?v=@_ver" class="img-fluid" />
                                        </button>
                                    </div>
                                    <div class="suggest-text suggest-text-1">
                                        <div class="h6 px-3">
                                            Gợi ý cho bạn
                                        </div>
                                        <div class="color-007DFF  px-3">
                                            @if (zoneSugget.Count > 0)
                                            {
                                                foreach (var item in zoneSugget)
                                                {
                                                    <div class="py-1">
                                                        <a href="@String.Format("/{0}", item.Url)">@item.Name</a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="suggest-text suggest-text-2">
                                        <div class="h6 px-3">
                                            Sản phẩm gợi ý
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown mr-md-3 align-self-md-center   mb-md-0 cart">
                                @*dropdown-toggle*@ @*role="button" data-toggle="dropdown"*@
                                <a class="d-flex dropdown-cart-trigger" href="javascript:void(0)">
                                    <div class="icon mr-2">
                                        <img src="~/images/cart-icon.svg?v=@_ver" class="img-fluid mr-2 icon-nav" />
                                        <div class="amount" id="cart-count">

                                        </div>
                                    </div>
                                    @*Giỏ hàng*@
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-cart">
                                    <div class="_binding_dropdown_cart">

                                    </div>
                                    <div class="d-flex px-3">
                                        <div class="text-uppercase">
                                            Tổng tiền:
                                        </div>
                                        <div class="h6 font-weight-bold ml-auto color-EE7D22 small-total-cart">
                                            21.000đ
                                        </div>
                                    </div>
                                    <div class="bottom-dropdown d-flex  ">
                                        <div class="small mr-3">
                                            Bạn còn <span class="dropdown-quantity-cart"></span> sản phẩm trong giỏ hàng
                                        </div>
                                        <div class="h6 ml-auto">
                                            <a href="@("/gio-hang")" id="link-target-cart" class="btn-link link-view-more text-uppercase">XEM GIỎ HÀNG</a><br />
                                            <a href="javascript:void(0)" id="link-clear-cart" class="btn-link link-view-more text-uppercase"><small>Xóa giỏ hàng</small></a><br />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item mr-md-3  align-self-md-center d-flex d-sm-none d-lg-flex"
                                style="white-space: nowrap;">
                                @*<img src="~/images/hot-line-red-icon.svg"
                                    class="img-fluid mr-2 icon-nav align-self-center wow tada infinite " />*@
                                <div>
                                    <a href="tel: @bannerAdsRepository.GetConfigByName(culture_code, "Hotline").Replace(".", "")">
                                        <div><span class="font-weight-bold h6 ">@bannerAdsRepository.GetConfigByName(culture_code, "Hotline")</span></div>
                                        <div class="small">(Miễn phí) </div>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item mr-md-3  align-self-md-center d-flex d-sm-none d-lg-flex"
                                style="white-space: nowrap;">
                                <div>
                                    @if (blog_parents != null)
                                    {
                                        <a href="/@blog_parents.Url">
                                            <div><span class="font-weight-bold h6">Blog Janhome</span></div>
                                            <div class="small">& Tin khuyến mại</div>
                                        </a>
                                    }
                                </div>
                            </li>

                            <li class=" nav-item align-self-md-center ">
                                <div class=" nav-link dropdown">
                                    <a class="btn dropdown-toggle p-0" href="#" role="button"
                                       id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false">
                                        @if (culture == "vi")
                                        {
                                            <img src="~/images/vietnam.svg?v=@_ver" class="img-fluid " />
                                        }
                                        @if (culture == "en")
                                        {
                                            <img src="~/images/226-united-states.svg?v=@_ver" class="img-fluid " />
                                        }

                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="dropdownMenuLink">
                                        @foreach (var item in cultureItems)
                                        {
                                            <a class="dropdown-item culang select-language" href="javascript:void(0)" data-lang="@item.Value">
                                                @if (item.Value == "vi-VN")
                                                {
                                                    <img src="~/images/vietnam.svg?v=@_ver"
                                                         class="img-fluid mr-1" />
                                                    <span>Tiếng Việt</span>
                                                }
                                                @if (item.Value == "en-US")
                                                {
                                                    <img src="~/images/226-united-states.svg?v=@_ver"
                                                         class="img-fluid mr-1" />
                                                    <span>English</span>
                                                }

                                            </a>
                                        }
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                </nav>
            </div>

        </div>
        <div class="local-mobile container d-flex d-md-none small py-2" style="background: #C8EBFD;">
            <div><i class="fas fa-map-marker-alt mr-2" style="color: #1A468F;"></i>Bạn đang xem sản phẩm tại @location_name</div>
            <a href="" class="btn-link ml-auto" style="text-decoration: underline;" data-toggle="modal" data-target="#modal-khu-vuc">Đổi</a>
        </div>
        <section>
            <section class="bg-fff  pb-1">
                <div class="menu-fix home">
                    <div class="container position-relative">
                        <div class="row flex-md-row-reverse">
                            <div class="col-lg-9 col-md-8 col-12 pl-md-0">
                                <div class="menu-ngang d-flex justify-content-between small">
                                    <div>
                                        <a href="javascrip:;" class="btn-sm btn-link last-seen-link">
                                            <img src="~/images/spvx-ic.svg?v=@_ver"
                                                 class="img-fluid icon mr-2" />Sản phẩm vừa
                                            xem
                                        </a>
                                    </div>
                                    <div>
                                        @{
                                            var link_showroom = string.Format("/{0}", "chi-nhanh");
                                            var count_showroom = extraRepository.CalculateDepartment();
                                        }
                                        <a href="@link_showroom" class="btn-sm btn-link">
                                            <img src="~/images/location-icn.svg"
                                                 class="img-fluid icon mr-2" />Hệ thống
                                            <span class="px-1 font-weight-bold" style="color:#007DFF;">@count_showroom</span>
                                            Showroom
                                        </a>
                                    </div>
                                    <div>
                                        @{
                                            var zone_category = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Categories, culture_code, 0).Where(r => r.ParentId == 0).ToList();
                                        }
                                        @*
                                            <button class="btn btn-secondary dropdown-toggle cust-btn-sec" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img asp-append-version="true" src="~/images/download-table.svg" class="img-fluid mr-2"/>
                                                        Tải về
                                                    </button>
                                        *@

                                        <a href="javascript:void(0)" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-sm btn-link">
                                            <img src="~/images/spvx-ic3.svg"
                                                 class="img-fluid icon mr-2" />Tải
                                            Catalogue
                                        </a>
                                        <div class="dropdown-menu cust-downl-cate" aria-labelledby="dropdownMenuButton">
                                            @foreach (var item in zone_category)
                                            {
                                                var link_tar = string.Format("/{0}", item.Url);
                                                <a class="dropdown-item" href="@link_tar">@item.Name</a>
                                            }
                                        </div>
                                    </div>

                                    <div>
                                        <a href="" class="btn-sm btn-link" data-toggle="modal"
                                           data-target="#modal-lien-he">
                                            <img src="~/images/spvx-ic4.svg?v=@_ver"
                                                 class="img-fluid icon mr-2" />Liên hệ bảo
                                            hành
                                        </a>
                                    </div>
                                    <div>
                                        @{
                                            var link_estimates = string.Format("/{0}", "du-toan-cong-trinh");
                                        }
                                        <a href="@link_estimates" class="btn-sm btn-link">
                                            <img src="~/images/spvx-ic5.svg?v=@_ver"
                                                 class="img-fluid icon mr-2" />Dự toán công
                                            trình
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-12">
                                <ul class="list-group list-menu-cate d-none d-md-block  @expland " style="@dm_style">
                                    <li class="list-group-item active">
                                        <a href="javascript:;" class="link">
                                            <img src="~/images/listView.svg"
                                                 class="img-fluid mr-2" />@_localizer["Categories"]
                                            </a>
                                        </li>
                                        @{
                                            var list_zone = zoneRepository.GetZoneByTreeViewMinifies(1, culture_code, 0);
                                            var list_zone_first = list_zone.Where(r => r.ParentId == 0 && r.IsShowMenu == 1).OrderBy(r => r.SortOrder).ToList();
                                        }
                                        @foreach (var item in list_zone_first)
                                        {
                                            //var link_root = string.Format("{0}/{1}.c{2}.html", base_uri_culture, item.Url, item.Id);
                                            var link_root = string.Format("/{0}", item.Url);
                                            <li class="list-group-item">
                                                <a href="@link_root" class="link" title="@item.Name">
                                                    <img src="@UIHelper.StoreFilePath(item.Icon, false)?v=@_ver"
                                                         class="img-fluid mr-2" alt="@item.Name" />@item.Name
                                                    </a>
                                                    @{
                                                        var list_zone_second = list_zone.Where(r => r.ParentId == item.Id).OrderBy(r => r.SortOrder).ToList();
                                                        var tree_pc = "";
                                                    }
                                                    <div class="subcate">
                                                        <ul class="ul-tree-lv-@(item.level+1)">
                                                            @{tree_pc = TreeviewHelper.RenderTagWithMaxLevel(list_zone, item.level, item.Id, 1);
                                                                tree_pc.Replace("<ul></ul>", "");
                                                            }
                                                            @Html.Raw(tree_pc)
                                                        </ul>

                                                        @**@

                                                        @*<div class="row no-gutters">
                                                                @{
                                                                    var list_zone_second = list_zone.Where(r => r.ParentId == item.Id).OrderBy(r => r.SortOrder);
                                                                }
                                                                @foreach (var item_1 in list_zone_second)
                                                                {
                                                                    var list_zone_third = list_zone.Where(r => r.ParentId == item_1.Id).OrderBy(r => r.SortOrder);

                                                                    var link_root_1 = string.Format("/{0}", item_1.Url);
                                                                    <div class="col-lg-4 col-md-6 col-12 px-3">
                                                                        <aside class="mb-4">
                                                                            <div class="font-weight-bold py-1 d-flex border-bottom">

                                                                                <a href="@link_root_1" title="@item_1.Name">@Html.Raw(UIHelper.CutLine(item_1.Name))</a>
                                                                                @if (list_zone_third.Count() > 4)
                                                                                {
                                                                                    <a href="@link_root_1" class="link-view-more ml-auto align-self-center"
                                                                                       style="font-size:12px ">
                                                                                        Xem tất cả <i class="fas fa-chevron-right ml-1 small"></i>
                                                                                    </a>
                                                                                }
                                                                            </div>

                                                                            @foreach (var item_2 in list_zone_third.Skip(0).Take(4))
                                                                            {

                                                                                var link_root_2 = string.Format("/{0}", item_2.Url);
                                                                                <div class="item-sub-link">
                                                                                    <a href="@link_root_2" class="" title="@item_2.Name">@item_2.Name</a>
                                                                                </div>
                                                                            }
                                                                        </aside>
                                                                    </div>
                                                                }
                                                            </div>*@
                                                    </div>
                                                </li>
                                            }
                                        <!--Nút xem thêm-->
                                        <li class="list-group-item" style="cursor: pointer;">
                                            <i class="fas fa-plus mr-3"></i>Xem thêm
                                        </li>

                                    </ul>
                                    <ul class="row menu-cate-mobile  d-md-none no-gutters">
                                        @for (int i = 0; i < list_zone_first.Take(8).Count(); i++)
                                        {
                                            var l = string.Format("/{0}", list_zone_first[i].Url);
                                            <div class="col-3 px-1">
                                                <a href="@l" class="btn btn-cate">
                                                    <img src="@UIHelper.StoreFilePath(list_zone_first[i].Icon, false)?v=@_ver"
                                                         class="img-fluid mb-2" />
                                                    <div>
                                                        @list_zone_first[i].Name
                                                    </div>
                                                </a>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="spvx " style="">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class=" py-2 px-3 mb-0">Sản phẩm bạn đã xem</h6>
                                    </div>
                                </div>
                                <div class="row no-gutters h-100 _binding_last_seen_product">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <!--22-4 Giỏ hàng mobile-->
        <div class="cart-mobile dropdown-cart-mobile">
            <!--Sum-->
            <div class="_binding_dropdown_cart">
            </div>
            <div class="d-flex px-3">
                <div class="text-uppercase">
                    Tổng tiền:
                </div>
                <div class="h6 font-weight-bold ml-auto color-EE7D22 small-total-cart">
                    21.000đ
                </div>
            </div>
            <div class="bottom-dropdown d-flex  ">
                <div class="small mr-3">
                    Bạn còn <span class="dropdown-quantity-cart"></span> sản phẩm trong giỏ hàng
                </div>

                <div class="h6 ml-auto">
                    <a href="@("/gio-hang")" id="link-target-cart-mobile" class="btn-link link-view-more text-uppercase">XEM GIỎ HÀNG</a><br />
                    <a href="javascript:void(0)" id="link-clear-cart" class="btn-link link-view-more text-uppercase">Clear Cart Teserd</a><br />
                </div>
            </div>
        </div>
        <!--22-4 danh mục mobile popup-->
        <section class="cate-mobile ">
            <div class="bg-fff p-3 m-auto">
                @* <ul class="row menu-cate-mobile  d-md-none no-gutters">
                        @for (int i = 0; i < list_zone_first.Count(); i++)
                        {
                            var l = string.Format("/{0}", list_zone_first[i].Url);
                            <div class="col-3 px-1">
                                <a href="@l" class="btn btn-cate @(i == 0 ? "active" : "")">
                                    <img src="@UIHelper.StoreFilePath(list_zone_first[i].Icon, false)?v=@_ver"
                                         class="img-fluid mb-2" />
                                    <div>
                                        @list_zone_first[i].Name
                                    </div>
                                </a>
                            </div>
                        }
                    </ul> *@
                @* <nav class="navbar navbar-expand-lg navbar-light bg-light"> *@
                @* <a class="navbar-brand" href="#">Navbar</a> *@
                @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> *@
                @* <div class="collapse navbar-collapse" id="navbarNavDropdown"> *@
                <div class="tree-menu-mobile">
                    <ul>
                        @for (int i = 0; i < 15; i++)
                        {
                            var tree_container = "";
                            var list = list_zone.Where(r => r.root == i + 1).ToList();
                            var parents = list.Where(r => r.ParentId == 0).FirstOrDefault();

                            if (parents != null)
                            {
                                <li>
                                    <span class="span-tree-node tree-lv-0" data-url="/@parents.Url">@parents.Name</span>
                                    <ul>
                                        @{
                                            //string.Format("<span class=\"span-tree-node tree-lv-{2}\" data-url=\"{0}\">{1}</span>", link_tar, UIHelper.TrimByWord(item.Name,6,"..."),level+1);
                                            var a = TreeviewHelper.ReturnHTMLTree(list, parents.Id);
                                            tree_container += a.Replace("<ul></ul>", "");
                                        }
                                        @Html.Raw(tree_container)
                                    </ul>
                                </li>

                            }

                        }


                    </ul>
                </div>
                @* </div> *@
                @* </nav> *@
                <div class=" align-self-md-center d-flex  ">
                    <div class="font-weight-bold">
                        Hotline:
                    </div>
                    <img src="~/images/hot-line-red-icon.svg"
                         class="img-fluid mx-2 icon-nav align-self-center wow tada infinite " style="width: 20px;" />
                    <div class="align-self-center">
                        <a href="javascript:void(0)">
                            <div class=" font-weight-bold mb-0">1800 0022</div>
                        </a>
                    </div>
                </div>
            </div>
            <button class=" btn close-popup" onclick="$('.cate-mobile').toggle(100, 'swing');">
                <img src="/images/times-icon.svg" />
            </button>
        </section>
        <div id="fb-root"></div>
        @RenderBody()
        @*footer*@
        <footer class="footer">
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 col-12">
                        <h4 class="title-menu">JANHOME</h4>
                        <ul class="footer-menu ">
                            @{
                                var ChanTrang_Cot1_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "ChanTrang_Cot1");
                                if (ChanTrang_Cot1_Cache != null)
                                {
                                    var tar = ChanTrang_Cot1_Cache as BannerAdsViewModel;
                                    var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                    foreach (var item in list_banner)
                                    {
                                        <li><a href="@item.Url">@item.Title</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                        <h4 class="title-menu">Hỗ trợ khách hàng</h4>
                        <ul class="footer-menu ">
                            @{
                                var ChanTrang_Cot2_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "ChanTrang_Cot2");
                                if (ChanTrang_Cot2_Cache != null)
                                {
                                    var tar = ChanTrang_Cot2_Cache as BannerAdsViewModel;
                                    var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                    foreach (var item in list_banner)
                                    {
                                        <li><a href="@item.Url">@item.Title</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                        <h4 class="title-menu">Câu hỏi thường gặp</h4>
                        <ul class="footer-menu ">
                            @{
                                var ChanTrang_Cot3_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "ChanTrang_Cot3");
                                if (ChanTrang_Cot3_Cache != null)
                                {
                                    var tar = ChanTrang_Cot3_Cache as BannerAdsViewModel;
                                    var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                    foreach (var item in list_banner)
                                    {
                                        <li><a href="@item.Url">@item.Title</a></li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12">
                        <h4 class="title-menu">Đăng ký nhận thông tin</h4>
                        <div class="input-group mb-4">
                            <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn input-group-text">Đăng ký</button>
                            </div>
                        </div>
                        <h4 class="title-menu mb-4">Kết nối với chúng tôi</h4>
                        <div class="social">
                            <a href="" title="Facebook">
                                <img src="~/images/fb-cir-ic.svg?v=@_ver" class="img-fluid mr-2" />
                            </a>
                            <a href="" title="Twitter">
                                <img src="~/images/twitter-ic.svg?v=@_ver" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center" style="align-items:center;">
                    <div class="col-12 border-bottom p-3 mb-3" style="border-color: #7F7D7D!important;">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12  ">
                        @{
                            var ChanTrang_TruSo_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "ChanTrang_TruSo");
                            if (ChanTrang_TruSo_Cache != null)
                            {
                                var tar = ChanTrang_TruSo_Cache as BannerAdsViewModel;
                                var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                foreach (var item in list_banner)
                                {
                                    <div class="font-weight-bold mb-2">@item.Title</div>
                                    <div class="mb-2">
                                        @item.Description
                                    </div>
                                }
                            }
                        }
                        <div class="mb-4">
                            <div class="d-lg-inline-block mb-2 mb-lg-0">
                                <a href=""><i class="fas fa-phone-alt mr-2"></i>Hotline: 1800 0022</a>
                            </div>
                            <div class="d-lg-inline-block ml-lg-5">
                                <a href=""><i class="fas fa-envelope mr-2"></i>Email: info@janco.com.vn</a>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-2 col-md-2 col-sm-4 col-4  text-center">
                            <img src="~/images/logoCCDV.png?v=@_ver" class="img-fluid " />
                        </div>*@
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4  text-center">
                        <a href='http://online.gov.vn/Home/WebDetails/34381'><img alt='' title='' src='http://online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png' class="img-fluid" /></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-4 text-center">
                        <img src="~/images/dmca.png?v=@_ver" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="bottom-footer py-3 text-right">
                <div class="container">
                    <a href="">
                        <img src="~/images/visa-ic.svg?v=@_ver" class="img-fluid" />
                    </a>
                    <a href="">
                        <img src="~/images/paypal-ic.svg?v=@_ver" class="img-fluid" />
                    </a>
                    <a href="">
                        <img src="~/images/master-ic.svg?v=@_ver" class="img-fluid" />
                    </a>
                    <a href="">
                        <img src="~/images/express-ic.svg?v=@_ver" class="img-fluid" />
                    </a>
                </div>
            </div>
        </footer>
        <!--Modal chọn khu vực-->
        <div class="modal jan-modal fade" id="modal-khu-vuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h6 class="modal-title font-weight-bold">Khu vực</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @await Component.InvokeAsync("LocationList")
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-save save-location" data-dismiss="modal" data-toggle="modal"
                                data-target="#modal-xn">
                            Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal jan-modal fade" id="modal-xn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="mb-3">
                            <img src="~/images/logo.png?v=@_ver" class="img-fluid" />
                        </div>
                        <h5 class="mb-3 font-weight-bold">Xách nhận thành công!</h5>
                        <div>
                            <img src="~/images/check.svg?v=@_ver" class="img-fluid" />
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center border-0">
                        <button type="button" class="btn btn-save px-lg-5" data-dismiss="modal">Hoàn tất</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal liên hệ -->
        <form class="modal jan-modal fade" id="modal-lien-he" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h6 class="modal-title font-weight-bold">Liên hệ bảo hành</h6>
                        @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> *@
                    </div>
                    <div class="modal-body">
                        <div class="">
                            <h6 class="font-weight-bold">Khu vực</h6>
                            <div class="mb-3">
                                @await Component.InvokeAsync("LocationList")
                            </div>
                        </div>
                        <div class="form-control form-group h-100">
                            <div class="dropdown h-100" style="word-wrap:break-word">
                                <!--Trigger-->
                                <button class="btn btn-primary dropdown-toggle cust-btn-sec h-100" style="font-size:16px;" type="button" id="dropdownMenu1-1"
                                        data-toggle="dropdown">
                                    Chọn Showroom
                                </button>
                                <!--Menu-->
                                <div class="dropdown-menu dropdown-primary cust-popbh" id="your-custom-id">
                                    @* <input class="form-control" type="text" placeholder="Search" aria-label="Search"> *@
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" checked />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                        Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                        <input type="checkbox" />
                                        <span class="checkmark"></span>
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txt-name-bh" class="form-control" placeholder="Họ và tên (bắt buộc)" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="txt-phone-bh" class="form-control" placeholder="Số điện thoại" />
                        </div>
                        <div class="form-group">
                            <input type="text" id="txt-yc-bh" class="form-control" placeholder="Yêu cầu" />
                        </div>
                        <div class="form-group">
                            <textarea type="text" rows="5" class="form-control" id="txt-nd-bh" placeholder="Nội dung chi tiết"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-save">
                            Xác nhận
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Modal showrom gần nhất -->
        <form class="modal jan-modal fade" id="modal-showromm-ganhat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
            <div class="modal-dialog  cust-modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bdb-modal">
                        <h6 class="modal-title font-weight-bold">Kiểm tra siêu thị có hàng trưng bày</h6>
                        <div class="">
                            @await Component.InvokeAsync("LocationList")
                        </div>
                        @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> *@
                    </div>

                    <div class="modal-body" style="background-color: #F6F6F7;">
                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="modal-title font-weight-bold">Đăng ký xem hàng trưng bày tại</h6>
                                <p class="_picking_address"></p>
                                <div class="d-flex">
                                    <label class="label-checkbox mb-2 pr-4">
                                        Anh
                                        <input type="radio" name="_cus_gender" checked required />
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-checkbox  mb-2 ">
                                        Chị
                                        <input type="radio" name="_cus_gender" />
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txt-name-bh-1" class="form-control" placeholder="Họ và tên" required />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txt-phone-bh-1" class="form-control" placeholder="Số điện thoại" required />
                                </div>
                                <h6 class="modal-title font-weight-bold">Thời gian ghé</h6>
                                <div class="form-group">
                                    @* <i class="fal fa-calendar-alt form-control"></i> *@
                                    @* <input type="text" id="txt-yc-bh" class="form-control" placeholder=""/>*@
                                </div>
                                <div class="customer form-control">
                                    <div class="cus-name">
                                        <label for="name-input" class="cus-ic-box">
                                            <i class="fal fa-calendar-alt "></i>
                                        </label>
                                        <input type="text" name="txtName" id="txt-time-input" class="w-100 ip-css" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 cust-bg-mdal">
                                <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                    Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                    <input type="checkbox" checked />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                    Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                    Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox mb-2 pr-4 dropdown-item cust-drop-item">
                                    Tầng 3 Nhà C2 Vinaconex 1 289A Khuất Duy Tiến, Q Cầu giấy, TP Hà Nội.(Bên cạnh Big C Hồ Gươm)
                                    <input type="checkbox" />
                                    <span class="checkmark"></span>
                                </label>
                                <div>
                                </div>
                            </div>

                            <div class="w-100 mt-3 modal-footer justify-content-between">
                                <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-save">
                                    Xác nhận
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <div class="social-button">
            <div class="social-button-content">
                @{
                    var phone_cutted = bannerAdsRepository.GetConfigByName(culture_code, "Hotline");
                    var zalo_me = "http://zalo.me/" + @bannerAdsRepository.GetConfigByName(culture_code, "ZaloNumber");
                }
                <a href="tel: @phone_cutted" class="call-icon" rel="nofollow">
                    <i class="fas fa-mobile-alt"></i>
                    <div class="animated alo-circle"></div>
                    <div class="animated alo-circle-fill  "></div>
                    <span>@phone_cutted</span>
                </a>
                @* <a target="_blank" href="@bannerAdsRepository.GetConfigByName(culture_code, "LinkFanpage")" class="mes">
                        <i class="fab fa-facebook-messenger" aria-hidden="true"></i>
                        <span>Nhắn tin Facebook</span>
                    </a> *@
                <!-- Load Facebook SDK for JavaScript -->
                <div id="fb-root"></div>
                <script>
                    window.fbAsyncInit = function () {
                        FB.init({
                            xfbml: true,
                            version: 'v7.0'
                        });
                    };

                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                <!-- Your Chat Plugin code -->
                <div class="fb-customerchat"
                     attribution=setup_tool
                     page_id="1608844646076677"
                     theme_color="#ef822a"
                     logged_in_greeting="Janhome xin chào ! Chúng tôi có thể giúp gì cho bạn?"
                     logged_out_greeting="Janhome xin chào ! Chúng tôi có thể giúp gì cho bạn?">
                </div>

                <a target="_blank" href="@zalo_me" class="zalo">
                    <i class="fa" aria-hidden="true">
                        <img src="https://stc-zaloprofile.zdn.vn/pc/v1/images/zalo_sharelogo.png" width="25px" />
                    </i>
                    <span>Zalo: @bannerAdsRepository.GetConfigByName(culture_code, "ZaloNumber")</span>
                </a>
            </div>
        </div>
        @if (isHome == true)
        {
            <div class="banner-fixed-left">
                <a href="">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Doc_Trai.Image, false)?v=@_ver" class="img-fluid w-100" />
                </a>
            </div>
            <div class="banner-fixed-right">
                <a href="">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Doc_Phai.Image, false)?v=@_ver" class="img-fluid w-100" />
                </a>
            </div>
        }

        <div class="btn-fixed">
            <div class="text-center mb-3">
                <a href="javascript:;" onclick=" topFunction() " class="">
                    <img src="~/images/scroll.svg" class="img-fluid " />
                </a>
            </div>
        </div>
        @*<div id="loadingDiv" class="loader">
            </div>*@
        <div id="cover-spin"></div>
        <div id="full-load-img" class="modal modal-img">
            <button class="close-load-img"><i class="far fa-window-close"></i></button>
            <img class="modal-content modal-content-full-img" id="img01">
            <div id="caption"></div>
        </div>

        @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptBody"))
        @*<script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>*@
        <script type="text/javascript" src="~/vendor/jquery-3.3.1.min.js" asp-append-version="true"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $('.save-location').off('click').on('click', function () {
                var currentUrl = window.location.href;
                var location_id = $('#location-selectbox').val();
                var location_name = $('#location-selectbox option:selected').html();
                localStorage.setItem("_LocationId", location_id);
                localStorage.setItem("_LocationName", location_name);
                var params = {
                    location_id: localStorage.getItem("_LocationId"),
                    location_name: localStorage.getItem("_LocationName"),
                    currentUrl: currentUrl
                }
                $.post('/Cookie/ChangeCurrentLocation', params, function () {
                    console.log(100);
                    location.reload(true);
                })
            })
        </script>
        <script type="text/javascript" asp-append-version="true" src="~/vendor/popper.min.js"></script>
        <script type="text/javascript" asp-append-version="true" src="~/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" asp-append-version="true" src="~/js/libs/jquery-autocompleter/dist/jquery.autocompleter.min.js"></script>

        <script type="text/javascript" src="~/vendor/swiper.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/vendor/wow.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/vakata-jstree-6dce227/jstree.js" asp-append-version="true"></script>



        @*<script>
                var $loading = $('#cover-spin').hide();
                $(document)
                    .ajaxStart(function () {
                        $loading.show();
                    })
                    .ajaxStop(function () {
                        $loading.hide();
                    });
            </script>*@

        <script type="text/javascript" src="~/js/app.js" asp-append-version="true"></script>


        <script type="text/javascript" src="~/js/core/core.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/controller/menuController.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/controller/orderController.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/controller/extraController.js" asp-append-version="true"></script>
        <script type="text/javascript" asp-append-version="true" src="~/js/libs/yall-js/dist/yall.min.js"></script>
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", yall);
        </script>
        @*<script>
                $("img.lazy").lazyload({
                    effect: "fadeIn"
                }).removeClass("lazy");
                $(document).ajaxStop(function () {
                    $("img.lazy").lazyload({
                        effect: "fadeIn"
                    }).removeClass("lazy");
                });
            </script>*@
        <script>
            $(document).ready(function () {
                sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
                $('.tree-menu-mobile').jstree({
                    "core": {
                        "animation": 100,
                        "check_callback": true,
                        "multiple": false, // no multiselection
                        "themes": {
                            "dots": false, // no connecting dots between dots
                            "icons": false

                        },
                    },
                    "plugins": ["state", "wholerow", "types"],
                    'types': {
                        'default': {
                            'icon': 'fa fa-angle-right fa-fw'
                        },
                        'f-open': {
                            'icon': 'fa fa-folder-open fa-fw'
                        },
                        'f-closed': {
                            'icon': 'fa fa-folder fa-fw'
                        }
                    }
                });
                if (window.location.pathname == "" || window.location.pathname === "/") {
                    localStorage.setItem("jstree", "");
                }

                //var jstreelocal = JSON.parse(localStorage.getItem("jstree"));
                //if (jstreelocal != "" || jstreelocal !== 'undefinde') {

                //}
                //var current_selected_node =
                $('.tree-menu-mobile').on("select_node.jstree", function (e, data) {
                    var r = data.node;
                    //console.log(r);
                    var nodesToKeepOpen = [];

                    // get all parent nodes to keep open
                    $('#' + data.node.id).parents('.jstree-node').each(function () {
                        nodesToKeepOpen.push(this.id);
                    });

                    // add current node to keep open
                    nodesToKeepOpen.push(data.node.id);
                    console.log(nodesToKeepOpen)

                    // close all other nodes
                    $('.jstree-node').each(function () {
                        console.log(this.id)
                        if (nodesToKeepOpen.indexOf(this.id) === -1) {
                            $(".tree-menu-mobile").jstree().close_node(this.id);
                        }
                    })
                    if (r.state.opened == false && r.children.length > 0) {
                        $('.tree-menu-mobile').jstree("toggle_node", data.node);
                        return false;
                    }
                    if (r.state.opened == true || r.children.length == 0) {
                        var id = r.id;
                        var url = $('#' + id).find('.span-tree-node').data('url');
                        var old_node = $(id).find('.jstree-clicked');
                        console.log(sessionStorage.getItem('current-js-tree'));
                        if (sessionStorage.getItem('current-js-tree') == "" || sessionStorage.getItem('current-js-tree') === "undefined") {
                            window.location.href = url;
                        } else {
                            var ss = JSON.parse(sessionStorage.getItem('current-js-tree'));

                            var seleced_current = ss.state.core.selected;
                            if (seleced_current.length > 0) {
                                if (seleced_current[0] != id) {
                                    //console.log("Khac roi nay");
                                    //sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
                                    window.location.href = url;
                                }
                                if (seleced_current[0] == id) {
                                    //console.log("Trung roi nay")
                                }
                            }
                        }


                        //if (ss == "1") {

                        //}
                        return false;
                    }
                });

                $('#txt-time-input').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true,
                    //minYear: 1901,
                    //maxYear: parseInt(moment().format('YYYY'), 10),
                    locale: {
                        "format": "DD/MM/YYYY"
                    }
                    //}, function (start, end, label) {
                    //    var years = moment().diff(start, 'years');
                    //    alert("You are " + years + " years old!");
                });

                var url = window.location.pathname;
                $('.menu-cate-mobile div a[href="' + url + '"]').addClass('active');

                $('.find-product').keydown(function () {

                    if ($(this).val().length < 3) {
                        $(".suggest-text.suggest-text-2").hide();
                        $(".suggest-text.suggest-text-1").show();
                    } else {

                        $(".suggest-text.suggest-text-2").show();
                        $(".suggest-text.suggest-text-1").hide();


                        $(this).autocomplete({
                            delay: 300,
                            source: function (request, response) {
                                $.ajax({
                                    url: "/Product/Get",
                                    dataType: "json",
                                    data: {
                                        keyword: request.term
                                    },
                                    success: function (data) {
                                        response(data);
                                    }
                                });
                            },
                            minLength: 2,
                        }).autocomplete("instance")._renderItem = function (div, item) {
                            $(".suggest-text.suggest-text-2").empty();
                            var lstItem = "";
                            lstItem += "<div class='h6 px-3'>Sản phẩm gợi ý</div>"
                            $.each(item, function (index, im) {
                                lstItem += '<div class="item-cart"><div class="image-product"><img src="' + im.avatar + '" class="" /></div>';
                                lstItem += '<div class="text px-2 "> <h6 class="name-product mb-1"><a href="' + im.url + '">' + im.name + '</a></h6>';
                                if (im.discountPrice.length > 0) {
                                    lstItem += '<div class="price d-inline-block">' + im.discountPrice + '</div>';
                                }
                                if (im.discountPrice.price > 0) {
                                    lstItem += ' <div class=" price-old d-inline-block">' + im.price + '</div>';
                                }
                                lstItem += "</div></div>";
                            });
                            $(div).removeClass("ui-menu");
                            return $(lstItem).appendTo(".suggest-text.suggest-text-2");
                        };
                    }
                })



                $('.find-product').on("focusout", function () {
                    setTimeout(function () {
                        $(".suggest-text.suggest-text-2").hide();
                        $(".suggest-text.suggest-text-1").hide();
                    }, 1000);
                });
                $('.find-product').on("focus", function () {
                    if ($(this).val().length < 3) {
                        $(".suggest-text.suggest-text-1").show();
                    }
                });
                $('.cust-ag').off('click').on('click', function () {
                    var url_image = $(this).data('original');
                    if (typeof url_image === 'undefined')
                        url_image = $(this).data('src');
                    console.log(url_image);
                    //var url_image = $(this).parent().data('url');
                    $('#img01').attr('src', url_image);

                    $('.modal-img').modal('show');
                    $('.modal-backdrop').replaceWith("");
                })
                $('.close-load-img').off('click').on('click', function () {
                    $('.modal-img').modal('hide');
                })
                $('#modal-id').on('shown.bs.modal', function () {
                    $(".modal-backdrop.in").hide();
                })
            })

        </script>
        @RenderSection("Scripts", required: false)
        @*<div id="full-load-img" class="modal modal-img">
                <span class="close-load-img">&times;</span>
                <img class="modal-content modal-content-full-img" id="img01">
                <div id="caption"></div>
            </div>*@


        @*<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=335081463776400&autoLogAppEvents=1" nonce="xTARpaf1"></script>*@
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=2323475157962564&autoLogAppEvents=1" nonce="Z6tf66vh"></script>
        @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptFooter"))
    </body>

</html>