﻿<section class="list-news mb-3 d-none d-md-block">
    <div class="container">
        <div class="row mb-4">
            <div class="col-8">
                <div class="pl-3">
                    <a href="" class="h5 font-weight-bold">Tin tức</a>
                </div>
            </div>
            <div class="col-4 text-right">
                <a href="" class="link-view-more color-EE7D22">Xem thêm <i class="fas fa-chevron-right ml-1 small"></i></a>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-12">
                <div class="item-news">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-3 pr-0">
                            <div class="image">
                                <a href="">
                                    <img src="~/images/change/news-01.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-8 col-sm-8 col-9">
                            <h5 class="title">
                                <a href="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa? </a>
                            </h5>
                            <div class="color-828282">
                                <div class="time mb-2">
                                    10/9/2019  10:46
                                </div>
                                <div class="des">
                                    Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="item-news">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-3 pr-0">
                            <div class="image">
                                <a href="">
                                    <img src="~/images/change/news-01.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-8 col-sm-8 col-9">
                            <h5 class="title">
                                <a href="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa? </a>
                            </h5>
                            <div class="color-828282">
                                <div class="time mb-2">
                                    10/9/2019  10:46
                                </div>
                                <div class="des">
                                    Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="item-news">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-3 pr-0">
                            <div class="image">
                                <a href="">
                                    <img src="~/images/change/news-01.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-8 col-sm-8 col-9">
                            <h5 class="title">
                                <a href="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa? </a>
                            </h5>
                            <div class="color-828282">
                                <div class="time mb-2">
                                    10/9/2019  10:46
                                </div>
                                <div class="des">
                                    Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="item-news">
                    <div class="row">
                        <div class="col-xl-4 col-md-4 col-sm-4 col-3 pr-0">
                            <div class="image">
                                <a href="">
                                    <img src="~/images/change/news-01.jpg" class="img-fluid" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-md-8 col-sm-8 col-9">
                            <h5 class="title">
                                <a href="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa? </a>
                            </h5>
                            <div class="color-828282">
                                <div class="time mb-2">
                                    10/9/2019  10:46
                                </div>
                                <div class="des">
                                    Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>