﻿<form class="modal jan-modal fade" id="modal-lien-he" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Liên hệ bảo hành</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" id="txt-name-bh" class="form-control" placeholder="Họ và tên (bắt buộc)" />
                </div>
                <div class="form-group">
                    <input type="text" id="txt-phone-bh" class="form-control" placeholder="Số điện thoại" />
                </div>
                <div class="form-group">
                    <input type="text" id="txt-yc-bh" class="form-control" placeholder="Yêu cầu" />
                </div>
                <div class="form-group">
                    <textarea type="text" rows="5" class="form-control" id="txt-nd-bh" placeholder="Nội dung chi tiết"></textarea>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn " data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-save">
                    Xác nhận
                </button>
            </div>
        </div>
    </div>
</form>