﻿<div class="modal jan-modal fade" id="modal-lien-he" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Liên hệ bảo hành</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Họ và tên (bắt buộc)" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Số điện thoại)" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Yêu cầu" />
                </div>
                <div class="form-group">
                    <textarea type="text" rows="5" class="form-control" placeholder="Nội dung chi tiết"></textarea>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-save" data-dismiss="modal" data-toggle="modal"
                        data-target="#modal-xn">
                    Gửi yêu cầu
                </button>
            </div>
        </div>
    </div>
</div>