﻿<section class="form-contact-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-12 col-12">
                <form class="form-contact-home px-0">
                    <div class="  font-weight-bold h5  mb-4 color-333 text-center">Mời bạn điền thông tin phản hồi tại forrm dưới đây:</div>
                    <div class="form-row">
                        <div class="form-group col-md-6 col-12">
                            <input type="text" class="form-control" id="Name" placeholder="Họ tên *" name="Name">
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <input type="text" class="form-control" id="Phone" placeholder="SĐT *" name="Phone">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6 col-12">
                            <input type="email" class="form-control" id="Email" placeholder="Email *" name="Email">
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <input type="tel" class="form-control" id="Address" placeholder="Địa chỉ *" name="Address">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12 col-12">
                            <label class="label-checkbox  ">
                                Máy lọc nước Ecotar
                                <input type="checkbox" name="ckAgent" value="Máy lọc nước Ecotar" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="label-checkbox  ">
                                Máy ion kiềm Atica
                                <input type="checkbox" name="ckAgent" value="Máy ion kiềm Atica" />
                                <span class="checkmark"></span>
                            </label>
                            <label class="label-checkbox  ">
                                Lọc tổng biệt thự EWS
                                <input type="checkbox" name="ckAgent" value="Lọc tổng biệt thự EWS" />
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="form-group col-md-12">
                            <textarea type="text" rows="5" class="form-control" id="Content" placeholder="Tin nhắn *" name="Content"></textarea>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6   ">
                            <button class="btn btn-submit w-100" style="border-radius: 0;" onclick="AgentRegister()" type="button">ĐĂNG KÝ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
