﻿@using MI.Entity.Enums;
@using System.Linq;
@using VietLab.Web.Services.Zone.ViewModal
@using VietLab.Web.Services.Zone.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using VietLab.Web.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using VietLab.Web.Services.BannerAds.Repository
@inject ICookieUtility cookieUtility
@inject IBannerAdsRepository bannerAdsRepository;
@using MI.Entity.Models
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    ViewData["Title"] = "CategoriesList1";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";

    var zoneId = (int)ViewBag.CateId;
    var pageIndex = (int)ViewBag.PageIndex;
    var pageSize = (int)ViewBag.PageSize;

    var zone_target = zoneRepository.GetZoneDetail(zoneId, culture_code);



}
@section styles {

}
<input type="hidden" id="IdZoneJs" value="@zoneId" data-local="@location_id" />
<div class="d-flex align-items-baseline">
    <div class="name-hc pr-2 mb-top">@zone_target.Name</div>
    <div class="line-hc2"></div>
</div>
<p class="txt-prod-c2">
    @Html.Raw(zone_target.Description)
</p>
<div class="row">
    <div class="col-md-5">
        <img src="@UIHelper.StoreFilePath(zone_target.Avatar, false)?v=@WebHelper.Version()" class="w-100" alt="...">
    </div>
    <div class="col-md-7">
        @Html.Raw(zone_target.Content)
    </div>
</div>
<div class="txt-prod-c2 textHide mt-4">
    @Html.Raw(zone_target.DescriptionDetail)
</div>



<a href="Javascrips:void(0)" >
    <div class="contact-now margin-0-auto mt-4 ViewMoreZone">
        Xem thêm
    </div>
</a>
<div class="table-responsive-md pt-30">
    @await Component.InvokeAsync("ProductMenu", new { zone_id = zone_target.Id, Location_id = location_id, PageIndex = pageIndex, PageSize = pageSize })
</div>
<ul class="sync-pagination clicknextsp float-right"></ul>




