﻿@model Enterbuy.Services.Common.Models.FooterModel

<footer class="footer pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 col-12">
                <h4 class="title-menu">THÔNG TIN CÔNG TY</h4>
                <ul class="footer-menu ">
                    @foreach (var item in Model.Column1)
                    {
                        <li><a href="@item.Url">@item.Title</a></li>
                    }
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                <h4 class="title-menu">Hỗ trợ khách hàng</h4>
                <ul class="footer-menu ">
                    @foreach (var item in Model.Column2)
                    {
                        <li><a href="@item.Url">@item.Title</a></li>
                    }
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                <h4 class="title-menu">Câu hỏi thường gặp</h4>
                <ul class="footer-menu ">
                    @foreach (var item in Model.Column3)
                    {
                        <li><a href="@item.Url">@item.Title</a></li>
                    }
                </ul>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12">
                <h4 class="title-menu mb-4">Kết nối với chúng tôi</h4>
                <div class="social">
                    <a href="" title="Facebook">
                        <img src="~/images/fb-cir-ic.svg" class="img-fluid mr-2" />
                    </a>
                    <a href="" title="Twitter">
                        <img src="~/images/twitter-ic.svg" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12 border-bottom p-3 mb-3" style="border-color: #7F7D7D!important;">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  ">
                @foreach (var item in Model.ColumnDepartment)
                {
                    <div class="font-weight-bold h5 mb-2">@item.Title</div>
                    <div class="mb-2">
                        @item.Description
                    </div>
                }
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4  text-center">
                <img src="~/images/logoCCDV.png" class="img-fluid " />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4  text-center">
                <img src="~/images/logoSaleNoti.png" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 text-center">
                <img src="~/images/dmca.png" class="img-fluid mt-2" />
            </div>
        </div>
    </div>
</footer>