﻿
@using Enterbuy.Data.SqlServer.ModelDto
@using Enterbuy.Services.Common.Services.Interfaces
@using Enterbuy.Data.SqlServer.Dao.Interfaces;
@using Utils
@using Microsoft.AspNetCore.Http.Extensions
@inject IZoneDao zoneDao


@using Enterbuy.WebInterface.Models
@using Newtonsoft.Json

@{
    var zoneId = ViewBag.ZoneId;
    var metacanonical = ViewBag.MetaCanonical;
    var metanoindex = ViewBag.MetaNoIndex;
    if (zoneId == null)
    {
        zoneId = 0;
    }
    ZoneDetail a_detail = await zoneDao.GetZoneDetail(zoneId, Utility.DefaultLang);
    if (a_detail == null)
    {
        a_detail = new ZoneDetail();
    }
    var domainFull = Context.Request.GetDisplayUrl();

    bool isNoIndex = false;
    bool isCanonical = false;
    string valCanonical = "";
    if (a_detail != null)
    {
        if (!string.IsNullOrEmpty(a_detail.MetaNoIndex))
        {
            MetaModel oNoIndex = JsonConvert.DeserializeObject<MetaModel>(a_detail.MetaNoIndex);
            isNoIndex = oNoIndex.Status;
        }
        if (!string.IsNullOrEmpty(a_detail.MetaCanonical))
        {
            MetaModel oCanonical = JsonConvert.DeserializeObject<MetaModel>(a_detail.MetaCanonical);
            isCanonical = oCanonical.Status;
            valCanonical = oCanonical.Value;
        }
    }
    var strMetaNoIndex = Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaNoIndex(isNoIndex);
    var strCanonical = Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaCanonical(domainFull, isCanonical, valCanonical);
}

@section styles {
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(a_detail.MetaTitle) == true ? a_detail.Name : a_detail.MetaTitle, a_detail.MetaDescription, a_detail.MetaKeyword, domainFull))
    @Html.Raw(strMetaNoIndex);
    @Html.Raw(strCanonical);
    @await Component.InvokeAsync("SEO_Zone", new { zone = a_detail })
}

<style>
    body {
        background-color: #f3f3f3 !important;
    }

    .filter-cate .select-local {
        min-width: 100px
    }
</style>


<div id="zone-current" data-id="@zoneId" style="display:none"></div>

<div class="container">
    <h1 class="title mt-3 font-weight-bold">@a_detail.Name</h1>
</div>

@await Component.InvokeAsync("BreadcrumbProductCategory", new { zoneId = zoneId })
@await Component.InvokeAsync("FilterProductInCategory", new { zoneId = zoneId, manufacturerId = a_detail.ManufacturerId })

@await Component.InvokeAsync("ListProductInCategory", new { zone = a_detail })
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")

@section Scripts{

    <script type="text/javascript" src="~/js/controller/productController.js" asp-append-version="true"></script>

}