﻿@using VietLab.Web.Services.Product.Repository
@using VietLab.Web.Services.Zone.Repository
@using VietLab.Web.Services.Article.ViewModel
@using MI.Entity.Enums
@using VietLab.Web.Services.BannerAds.Repository
@using VietLab.Web.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using Newtonsoft.Json
@using VietLab.Web.Utility
@using System.Text.RegularExpressions;
@using MI.Entity.Models
@using Microsoft.AspNetCore.Http.Extensions
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();


    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;

    var Slide_Trangchu_Tren = new List<DetailBanerAds>();
    var Stem_Trangchu_Khach_hang = new List<DetailBanerAds>();
    var Stem_Trangchu_Doi_Tac = new List<DetailBanerAds>();
    var TrangChu_GT = new List<DetailBanerAds>();

    var TextSlide = new DetailBanerAds();
    var Title_Dm = new DetailBanerAds();
    var Title_DanhMuc_Home = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Title_DanhMuc_Home");
    if (Title_DanhMuc_Home != null)
    {
        Title_Dm = JsonConvert.DeserializeObject<DetailBanerAds>(Title_DanhMuc_Home.MetaData);
    }


    var Slide_Trangchu_Tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Trangchu_Tren");
    var Slide_khach_hang = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_khach_hang");
    var Slide_Doi_Tac = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_doi_tac");
    //TrangChu_GT
    var TrangChu_GT_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "BAI_VIET_GIOI_THIEU_TRANG_CHU");
    if (TrangChu_GT_Cache != null)
    {
        TrangChu_GT = JsonConvert.DeserializeObject<List<DetailBanerAds>>(TrangChu_GT_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Trangchu_Tren_Cahche != null)
    {
        Slide_Trangchu_Tren = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Trangchu_Tren_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_khach_hang != null)
    {
        Stem_Trangchu_Khach_hang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_khach_hang.MetaData).Where(r => r.Show == true).OrderBy(x => x.Order).ToList();
    }
    if (Slide_Doi_Tac != null)
    {
        Stem_Trangchu_Doi_Tac = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Doi_Tac.MetaData).Where(r => r.Show == true).OrderBy(x => x.Order).ToList();
    }
    var Text = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Text_Slide_Khach_Hang_Trang_Home");
    if (Text != null)
    {
        TextSlide = JsonConvert.DeserializeObject<DetailBanerAds>(Text.MetaData);
    }
    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var DesWeb = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var MetaKeyword = bannerAdsRepository.GetConfigByName(culture_code, "MetaKeyword");
    var Favicon = bannerAdsRepository.GetConfigByName("vi-VN", "Favicon");
    var domainFull = Context.Request.GetDisplayUrl();
    var FBAppId = bannerAdsRepository.GetConfigByName("vi-VN", "FacebookAppId");
}

@{
    Layout = "~/Views/Shared/_LayoutVietLab.cshtml";

}

@section styles{
    @Html.Raw(configSEOUtility.ConfigMeta(title, DesWeb, MetaKeyword))
    @Html.Raw(configSEOUtility.ConfigSocialMeta(FBAppId, domainFull, title, DesWeb, UIHelper.StoreFilePath(Favicon)))
    <style>
        .item-logo, .item-logo-partn {
            outline: none;
        }
    </style>
}
<section class="slide-top">
    <div class="container mb-p0">
        <div class="slide">
            @if (Slide_Trangchu_Tren.Count() > 0)
            {
                for (int i = 0; i < Slide_Trangchu_Tren.Count(); i++)
                {
                    var SplitSlide = Slide_Trangchu_Tren[i].Title.Split('/');
                    <div class="@(i == 0 ? "atslide" : "")">
                        <img src="@UIHelper.StoreFilePath(Slide_Trangchu_Tren[i].Image, false)?v=@WebHelper.Version()" class="mb-cust-slide w-100" alt="slide1">
                        <div class="text-head">
                            <span class="txt-1">@SplitSlide[0]</span>
                            <p class="txt-2">@(SplitSlide.Count() > 1 ? SplitSlide[1] : "")</p>
                            <p class="txt-3">@Html.Raw(Slide_Trangchu_Tren[i].Description)</p>
                            <a href="@Slide_Trangchu_Tren[i].Url">
                                <div class="contact-now">
                                    LIÊN HỆ NGAY
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="slide-bullet">
            <ul class="slide-dot">
                <!-- <li class="slide-pre mr-4" id="slide-pre">
                    <i class="fal fa-chevron-left"></i>
                </li> -->
                @for (int i = 0; i < Slide_Trangchu_Tren.Count(); i++)
                {
                    <li class=" pro item-dot @(i == 0 ? "acv" : "") " data-i="@i">
                        <div class="cycle ">
                        </div>
                        <label class="dot"></label>
                    </li>
                }

                <!-- <li id="slide-next" class="slide-next">
                    <i class="fal fa-chevron-right"></i>
                </li> -->
            </ul>
        </div>
    </div>
</section>
@{
    var total_news_home = 0;
    var news_show_home = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.All, (int)TypeArticle.Blog, 1, culture_code, "", 1, 1, out total_news_home);
    //var news_home_cut_1 = news_show_home.Skip(0).Take(3);
    ArticleDetail newDetail = null;
    if (news_show_home.Count() != 0)
    {
        var news_home_cut_2 = news_show_home.FirstOrDefault();
        newDetail = articleRepository.GetArticleDetail(news_home_cut_2.Id, culture_code);
    }
}
@if (TrangChu_GT != null)
{
    var item = TrangChu_GT.FirstOrDefault();
    if (item != null)
    {
        <section class="welcome">
            <div class="container">
                <h2 class="title-vung wow slideInLeft">
                    @item.Title
                </h2>
                <div class="line-bt-tit"></div>
                <div class="main-welcome">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="@UIHelper.StoreFilePath(item.Image, false)" class="w-100 wow fadeInDown" data-wow-delay="0.7s" alt="defaul">
                        </div>
                        <div class="col-md-6">
                            @{
                                var s = WebHelper.Get_So_To_VietLabHome(item.Description);
                                if (s != null)
                                {
                                    <div class="d-flex  mt-5 mb-3">
                                        <div id="txt-year">@Html.Raw(s.Text1)</div>
                                        <div id="txt-year-1">@Html.Raw(s.Text2)<br>@Html.Raw(s.Text3)</div>
                                    </div>
                                    <p class="txt-wel-1 toppic">@Html.Raw(s.Text4)</p>
                                    <div class="txt-wel-2">
                                        @Html.Raw(s.Text5)
                                    </div>
                                    <a href="@item.Url">
                                        <div class="contact-now mt-5">
                                            Tìm hiểu thêm
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
<section class="category-home">
    <div class="container">
        @{
            var list_zone = zoneRepository.GetZoneByTreeViewMinifies(1, culture_code, 0);
            var list_zone_chill = list_zone.Where(r => r.ParentId != 0 && r.IsShowHome == 1).OrderBy(r => r.SortOrder).Take(6).ToList();
            var list_zone_firsts = list_zone.Where(r => r.ParentId == 0).FirstOrDefault();
        }
        <h2 class="title-vung">
            @Title_Dm.Title
        </h2>
        <div class="line-bt-tit"></div>
        <ul class="row list-cate-prod">

            @foreach (var item in list_zone_chill)
            {
                var link_root = string.Format("/{0}.zc{1}.html", item.Url, item.Id);
                <li class="col-md-4 col-6">
                    <div class="posts-sale">
                        <div class="overh">
                            <img src="@UIHelper.StoreFilePath(item.Banner, false)?v=@WebHelper.Version()" class="w-100 cushmini" alt="img3.png">
                        </div>
                        <div class="txt-sale">
                            <a href="@link_root">
                                <div class="cate-prod">@item.Name</div>
                            </a>
                        </div>
                    </div>
                </li>
            }
        </ul>
        @if (list_zone_firsts != null)
        {
            <a href="@("/Danh-muc-san-pham.zc"+list_zone_firsts.Id +".html")">
                <div class="contact-now margin-0-auto">
                    Xem thêm
                </div>
            </a>
        }

    </div>
</section>
<section class="customer">
    @{
        var first_slide_DT = Stem_Trangchu_Doi_Tac.FirstOrDefault();
    }
    @if (TextSlide != null)
    {
        <h2 class="title-vung">
            @TextSlide.Title
        </h2>
        <div class="line-bt-tit"></div>
        <div class="txt-customer"> @Html.Raw(TextSlide.Description)</div>
        <div class="container">
            <div class="list-icon-customer">
                <div class="slide-customer">
                    @foreach (var item in Stem_Trangchu_Khach_hang)
                    {
                        <div class="item-logo text-center">
                            <div class="img-customer">
                                <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="w-100" alt="">
                            </div>
                            <div class="TextLogo ">@item.Title </div>
                        </div>
                    }
                </div>
                <ul class="slide-arr-ctm">
                    <li class="slide-pre" id="">
                        <i class="fal fa-angle-left"></i>
                    </li>

                    <li class="slide-next" id="">
                        <i class="fal fa-angle-right"></i>
                    </li>
                </ul>
            </div>
        </div>
    }

</section>
<section class="partner">
    <h2 class="title-vung">
        @(first_slide_DT != null ? first_slide_DT.Title : "")
    </h2>
    <div class="line-bt-tit"></div>
    <div class="container">
        <div class="slide-customer mb-5">
            @foreach (var item in Stem_Trangchu_Doi_Tac)
            {
                <div class="item-logo-partn">
                    <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="w-100" alt="...">
                </div>
            }

        </div>
    </div>
</section>

@section scripts{
    @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>*@

    <script type="text/javascript" src="~/js/libs/daterangepicker-master/moment.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/homeController.js?v=@WebHelper.Version()"></script>
}
