﻿@using Enterbuy.Data.SqlServer.ModelDto;
@using Utils;
@using Enterbuy.Core.Enumerations;
@using Enterbuy.Services.Blog.Services;
@using Microsoft.AspNetCore.Http.Extensions;
@inject IBlogServices articleRepository
@{
    ArticleDetail detail = new ArticleDetail();
    if (ViewBag.articleDetail != null)
    {
        detail = (ArticleDetail)ViewBag.articleDetail;
    }

    var domain_full = Context.Request.GetDisplayUrl();
}
@section styles {
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(detail.MetaTitle) == true ? detail.Title : detail.MetaTitle, detail.MetaDescription, detail.MetaKeyword, domain_full))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigSocialMeta("default dbAppID", domain_full, detail.SocialTitle, detail.SocialDescription, detail.SocialImage))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaNoIndex(false))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaCanonical(domain_full, false, ""))
    @await Component.InvokeAsync("SEO_Article", new { article = detail })
}

<div class="container">
    <div class="row flex-md-row">
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            @await Component.InvokeAsync("Breadcrumb", new { zoneId = detail.ZoneId })
            <div class="blog-content">
                <h1 class="title">@detail.Title</h1>
                <div class="d-flex mb-4">
                    <div class="author color-828282 mr-4">
                        <div class="avt align-self-center">
                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar)" class="img-fluid" alt="@detail.Title" />
                        </div>
                        <div class="align-self-center">
                            @detail.Author
                        </div>
                    </div>
                    <div class="time mb-0">
                        @detail.CreatedDate.ToString("dd/MM/yyyy hh:mm")
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(detail.Indexing))
                {
                    @Html.Raw(UIHelper.IndexingCss(detail.Indexing))
                }
                <div class="detail-container" data-id="@detail.Id">
                    <div class="detail cust-img-dt">
                        @Html.Raw(Utility.DecodeHtml(detail.Body))
                    </div>
                    <div class="d-flex facebook-btn justify-content-end my-4">
                        <div class="small mr-3"><img src="~/images/eye.svg" class="img-fluid mr-2" />@detail.ViewCount lượt xem</div>
                        <div class="fb-like" data-href="@domain_full" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                    </div>
                    <div class="my-3">
                        <div class="row mb-3  ">
                            <div class="col-12">
                                <a href="#" class="h5 font-weight-bold ">Bài viết liên quan</a>
                            </div>
                        </div>
                        @* <div class="row ">
                                @{
                                    var news_same_zone_total = 0;
                                    var news_same_zone = articleRepository.GetArticlesInZoneId_Minify_FullFilter(detail.ZoneId, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, "vi-VN", "", 1, 4, out news_same_zone_total);
                                }
                                @foreach (var item in news_same_zone)
                                {
                                    var link_tar = Utils.BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                                        <div class="item-blog-km">
                                            <div class="image mb-3">
                                                <a href="@link_tar">
                                                    <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid w-100" style="height:145px;" alt="@item.Title" />
                                                </a>
                                            </div>
                                            <div class="">
                                                <h5 class="title h6 font-weight-bold">
                                                    <a href="@link_tar" title="@item.Title">@item.Title</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div> *@
                        <ul class="list-blogs-us">
                            @{
                                var news_same_zone_total = 0;
                                var news_same_zone = articleRepository.GetArticlesInZoneId_Minify_FullFilter(detail.ZoneId, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 2, "vi-VN", "", 1, 5, out news_same_zone_total);
                            }
                            @foreach (var item in news_same_zone)
                            {
                                var link_tar = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                                <li><a href="@link_tar">@item.Title</a></li>
                            }
                        </ul>
                    </div>

                    <!--Tag-->
                    <div class="tags">
                        <label class="">Từ khóa:</label>
                        @if (!string.IsNullOrEmpty(detail.Tags))
                        {
                            var list_tags = detail.Tags.Split(',');
                            foreach (var item in list_tags)
                            {
                                var link_tar = string.Format("/news/{0}", item);
                                <a href="@link_tar" class="item btn-link">@item</a>
                            }
                        }
                    </div>
                    <!--Gửi Comment-->
                    @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Article })
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            @await Component.InvokeAsync("MenuRightBlog")
        </div>

    </div>
</div>
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")

@section scripts {
    <script type="text/javascript" src="~/js/controller/blogDetailController.js" asp-append-version="true"></script>

}