﻿@using Enterbuy.Services.Blog.Services;
@using Enterbuy.Core.Enumerations;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization;
@using Utils;
@using Enterbuy.Data.SqlServer.ModelDto;
@inject IBlogServices blogServices



@{
    ViewData["Title"] = "Danh sách blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var base_uri_culture = "/";
    ZoneByTreeViewMinify blog_zone_parent = new ZoneByTreeViewMinify();
    List<ZoneByTreeViewMinify> list_zone_childs = new List<ZoneByTreeViewMinify>();
    if (ViewBag.ZoneParent != null)
    {
        blog_zone_parent = ViewBag.ZoneParent as ZoneByTreeViewMinify;
    }
    if (ViewBag.ZoneChilds != null)
    {
        list_zone_childs = ViewBag.ZoneChilds as List<ZoneByTreeViewMinify>;
    }
}
<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            @await Component.InvokeAsync("MenuRightBlog")
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="blog-video border-bottom my-3">
                <div class="heading pb-2  mb-3 d-flex">
                    <div class="h5 font-weight-600 mb-0 ">
                        Video
                    </div>
                    <div class="ml-auto">
                        <a href="" class="link-view-more color-EE7D22 font-weight-normal">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
                <div class="slide-video">
                    <div class="swiper-container">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            @{
                                var total_news_video = 0;
                                var list_news_video = blogServices.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Video, 2, "vi-VN", "", 1, 10, out total_news_video);
                                foreach (var item in list_news_video)
                                {
                                    <div class="swiper-slide">
                                        <div class="item">
                                            <div class="video" style="float:left">
                                                <img src="@UIHelper.StoreFilePath(item.Avatar)" style="width:100%;height:150px" />
                                                <a style="width:60px;height:60px" href="@BaseBA.UrlNews(item.UrlCat,item.Url,item.Id)"></a>
                                            </div>
                                         
                                            <h5 class=" title " style="padding-top:10px">
                                                <a href="javascript:void(0)" title="@item.Title">@item.Title </a>
                                            </h5>
                                            <div class="time">
                                                @item.CreatedDate.ToString("dd/MM/yyyy hh:mm")
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            @for (int i = 0; i < list_zone_childs.Count; i += 3)
            {
                var link_target_1 = string.Format("/news/{0}-{1}.html", list_zone_childs[i].Url, list_zone_childs[i].Id);
                var total_1 = 0;
                var list_article_in_zone_1 = blogServices.GetArticlesInZoneId_Minify_FullFilter(list_zone_childs[i].Id, (int)TypeZone.Article, (int)TypeArticle.Blog, 2, "vi-VN", "", 1, 6, out total_1);
                <div class="blogs-home blogs-home-tn border-bottom mb-4">
                    <div class="heading pb-2   mb-3 d-flex flex-wrap flex-lg-nowrap">
                        <h5 class="title font-weight-600 mb-3 mb-lg-0 d-inline-block mr-4 ">@list_zone_childs[i].Name</h5>
                        @if (total_1 > 5)
                        {
                            <div class="ml-auto">
                                <a href="@link_target_1" class="link-view-more color-EE7D22 font-weight-normal">
                                    Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-xl-7 col-md-6 col-sm-12 col-12">
                            @if (list_article_in_zone_1 != null)
                            {
                                var first = list_article_in_zone_1.FirstOrDefault();
                                if (first != null)
                                {
                                    var links = BaseBA.UrlNews(first.UrlCat, first.Url, first.Id);
                                    <div class="item">
                                        <div class="image">
                                            <a href="@links" title="@first.Title">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(first.Avatar, false)" class="img-fluid"
                                                     alt="@first.Title" />
                                            </a>
                                        </div>

                                        <a href="@links" title="@first.Title" class="">
                                            <h6 class="title  mt-3 ">
                                                @first.Title
                                            </h6>
                                        </a>
                                        <div class="des">
                                            @Html.Raw(first.Description)
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        @{var after_first = list_article_in_zone_1.Skip(1); }
                        <div class="col-xl-5 col-md-6 col-sm-12 col-12 pl-md-0">
                            <div class="list-right">
                                @foreach (var item in after_first)
                                {
                                    var links = BaseBA.UrlNews(item.UrlCat, item.Url, item.Id);
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                                <div class="image">
                                                    <a href="@links" title="@item.Title">
                                                        <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-xl-9 col-md-8 col-sm-9 col-9 ">
                                                <h6 class="title">
                                                    <a href="@links" title="@item.Title">@item.Title</a>
                                                </h6>
                                                <div class="time">
                                                    @item.CreatedDate.ToString("dd/MM/yyyy")
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if (i + 1 < list_zone_childs.Count)
                {
                    var link_target_2 = string.Format("/news/{0}-{1}.html", list_zone_childs[i + 1].Url, list_zone_childs[i + 1].Id);
                    var total_2 = 0;
                    var list_article_in_zone_2 = blogServices.GetArticlesInZoneId_Minify_FullFilter(list_zone_childs[i + 1].Id, (int)TypeZone.Article, (int)TypeArticle.Blog, 2, "vi-VN", "", 1, 5, out total_2);
                    <div class="border-bottom mb-4">
                        <div class="heading pb-2  mb-3 d-flex flex-wrap flex-lg-nowrap">
                            <h5 class="title font-weight-600 mb-3 mb-lg-0 d-inline-block mr-4 ">@list_zone_childs[i + 1].Name</h5>
                            @if (total_2 > 3)
                            {
                                <div class="ml-auto">
                                    <a href="@link_target_2" class="link-view-more color-EE7D22 font-weight-normal">
                                        Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        @{ var part_1 = list_article_in_zone_2.Skip(0).Take(3);
                            var part_2 = list_article_in_zone_2.Skip(4);
                        }
                        <div class="row justify-content-start mb-4">
                            @foreach (var p1 in part_1)
                            {
                                var link_p1 = BaseBA.UrlNews(p1.UrlCat, p1.Url, p1.Id);
                                <div class="col-xl-4 col-sm-4 col-12">
                                    <div class="item-blog-km">
                                        <div class="image">
                                            <a href="@link_p1">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(p1.Avatar, false)" class="img-fluid" alt="@p1.Title" />
                                            </a>
                                        </div>
                                        <div class="border p-3 text-center">
                                            <h5 class="title h6 font-weight-bold">
                                                <a href="@link_p1" title="@p1.Title">@p1.Title</a>
                                            </h5>
                                            <div class="des">
                                                @Html.Raw(p1.Description)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                @if (i + 2 < list_zone_childs.Count)
                {
                    var link_target_3 = string.Format("/news/{0}-{1}.html", list_zone_childs[i + 2].Url, list_zone_childs[i + 2].Id);
                    var total_3 = 0;
                    var list_article_in_zone_3 = blogServices.GetArticlesInZoneId_Minify_FullFilter(list_zone_childs[i + 2].Id, (int)TypeZone.Article, (int)TypeArticle.Blog, 2, "vi-VN", "", 1, 5, out total_3);
                    <div class="blog-ss-3">
                        <div class="heading pb-2  mb-3 d-flex flex-wrap flex-lg-nowrap">
                            <h5 class="title font-weight-600 mb-3 mb-lg-0 d-inline-block mr-4 ">@list_zone_childs[i + 2].Name</h5>
                            @if (total_3 > 5)
                            {
                                <div class="ml-auto">
                                    <a href="@link_target_3" class="link-view-more color-EE7D22 font-weight-normal">
                                        Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row justify-content-start mb-4">
                            @{ var part_1 = list_article_in_zone_3.Skip(0).Take(2);
                                var part_2 = list_article_in_zone_3.Skip(2);
                            }
                            @foreach (var p1 in part_1)
                            {
                                var link_p1 = BaseBA.UrlNews(p1.UrlCat, p1.Url, p1.Id);
                                <div class="col-xl-6 col-sm-6 col-12">
                                    <div class="item-blog-km">
                                        <div class="image mb-3">
                                            <a href="@link_p1">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(p1.Avatar, false)" class="img-fluid"
                                                     alt="@p1.Title" />
                                            </a>
                                        </div>
                                        <div class="">
                                            <h5 class="title">
                                                <a href="@link_p1" title="@p1.Title">@p1.Title</a>
                                            </h5>
                                        </div>
                                        <div class="tag-time">
                                            <div class="font-weight-600">28</div>
                                            <div class="small">NOV</div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @foreach (var p2 in part_2)
                            {
                                var link_p2 =BaseBA.UrlNews(p2.UrlCat, p2.Url, p2.Id);
                                <div class="col-xl-4 col-sm-4 col-12">
                                    <div class="item-blog-km">
                                        <div class="image mb-3">
                                            <a href="@link_p2">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(p2.Avatar, false)" class="img-fluid"
                                                     alt="@p2.Title" />
                                            </a>
                                        </div>
                                        <div class="">
                                            <h5 class="title h6">
                                                <a href="@link_p2" title="@p2.Title">@p2.Title</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                        <!--Gửi Comment-->
                        @await Component.InvokeAsync("Comment", new { object_id = blog_zone_parent.Id, object_type = (int)CommentType.ArticleZone })
                    </div>
                }
            }
        </div>
    </div>
</div>
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")