﻿@using MI.Entity.Enums;

@using Enterbuy.Data.SqlServer.Dao.Interfaces;
@using Enterbuy.Data.SqlServer.ModelDto;
@using Utils
@using Enterbuy.Services.Common.Services.Interfaces
@using Microsoft.AspNetCore.Http.Extensions
@using Enterbuy.Services.Blog.Services;
@using Enterbuy.WebInterface.Models
@using Newtonsoft.Json
@inject IBlogServices blogServices
@inject IMenuZoneServices _menuZoneServices
@inject IZoneDao zoneDao
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var domain = Context.Request.Host.ToString();
    var zone_type = ViewBag.Type;
    var zone_id = ViewBag.ZoneId;
    var zone_parent = ViewBag.Parent;
    var is_have_child = ViewBag.IsHaveChild;
    var metacanonical = ViewBag.MetaCanonical;
    var metanoindex = ViewBag.MetaNoIndex;
    var pageIndex = ViewBag.PageIndex;
    var pageSize = ViewBag.PageSize;
    var domain_full = Context.Request.GetDisplayUrl();
    //
    bool isNoIndex = false;
    bool isCanonical = false;
    string valCanonical = "";

    if (!string.IsNullOrEmpty(metacanonical))
    {
        MetaModel oNoIndex = JsonConvert.DeserializeObject<MetaModel>(metacanonical);
        isNoIndex = oNoIndex.Status;
    }
    if (!string.IsNullOrEmpty(metanoindex))
    {
        MetaModel oCanonical = JsonConvert.DeserializeObject<MetaModel>(metanoindex);
        isCanonical = oCanonical.Status;
        valCanonical = oCanonical.Value;
    }
    //
    var strMetaNoIndex = Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaNoIndex(isNoIndex);
    var strCanonical = Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaCanonical(domain_full, isCanonical, valCanonical);
    ViewData["Paging"] = "";
}

@if (zone_type != (int)TypeZone.Product && zone_type != (int)TypeZone.Region && is_have_child > 0)
{
    ZoneDetail a_detail = await zoneDao.GetZoneDetail(zone_id, Utility.DefaultLang);
    var list_zone_blog = await _menuZoneServices.GetZoneByTreeViewMinifies((int)zone_type, "vi-VN", 0);
    var zone_blog_parent = list_zone_blog.Where(r => (r.ParentId == 0 && r.Id == zone_id) || (r.ParentId > 0 && r.Id == zone_id)).FirstOrDefault();

    @section styles {
        @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(a_detail.MetaTitle) == true ? a_detail.Name : a_detail.MetaTitle, a_detail.MetaDescription, a_detail.MetaKeyword, domain_full))
        @Html.Raw(strMetaNoIndex);
        @Html.Raw(strCanonical);
        @await Component.InvokeAsync("SEO_Zone", new { zone = a_detail })

    }

    @await Component.InvokeAsync("RedirectBlogList1", new { zones = list_zone_blog, id = zone_id });
    @section scripts {
        <script type="text/javascript" src="~/js/controller/blogDetailController.js" asp-append-version="true"></script>
    }
}
@if (zone_type != (int)TypeZone.Product && zone_type != (int)TypeZone.Region && is_have_child == 0)
{
    ZoneDetail zone = await _menuZoneServices.GetZoneDetail(zone_id, Utility.DefaultLang);


    if (zone != null)
    {
        var total = 0;
        var list_article = blogServices.GetArticlesInZoneId_Minify(zone.Id, (int)zone.Type, "vi-VN", "", pageIndex, pageSize, out total) as List<ArticleMinify>;

        @await Component.InvokeAsync("RedirectBlogList2", new { zone = zone, lstArticle = list_article, total = total, pageIndex = pageIndex, pageSize = pageSize });

        @section styles {
            @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(zone.MetaTitle) == true ? zone.Name : zone.MetaTitle, zone.MetaDescription, zone.MetaKeyword, domain_full))
            @Html.Raw(strMetaNoIndex);
            @Html.Raw(strCanonical);
            @await Component.InvokeAsync("SEO_Zone", new { zone = zone })
            @Html.Raw(Enterbuy.WebInterface.UtilityWeb.UtilsHeperWeb.SeoPaging(pageIndex, BaseBA.UrlCategoryNews(zone.Url, "", false), total));
        }

        @section scripts{

            @Html.Raw(Enterbuy.WebInterface.UtilityWeb.UtilsHeperWeb.SeoPaging(pageIndex, BaseBA.UrlCategoryNews(zone.Url, "", false), total));
            <script type="text/javascript" src="~/js/controller/blogList2Controller.js" asp-append-version="true"></script>
        }
    }
    else
    {
        @section styles {
            @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(zone.MetaTitle) == true ? zone.Name : zone.MetaTitle, zone.MetaDescription, zone.MetaKeyword, domain_full))
            @Html.Raw(strMetaNoIndex);
            @Html.Raw(strCanonical);
            @await Component.InvokeAsync("SEO_Zone", new { zone = zone })
        }
    }

}





