﻿<section class="cate-mobile">
    <div class="bg-fff p-3 m-auto">
        <ul class="row menu-cate-mobile no-gutters">
            <div class="col-3 px-1">
                <a href="" class="btn btn-cate active">
                    <img src="~/images/Ion-kiem.svg"
                         class="img-fluid mb-2" />
                    <div>
                        Máy lọc nước Icon kiềm
                    </div>
                </a>
            </div>
            <div class="col-3  px-1">
                <a href="" class="btn btn-cate  ">
                    <img src="~/images/icon-Nano.svg"
                         class="img-fluid mb-2" />
                    <div>
                        Máy lọc nước Nano
                    </div>
                </a>
            </div>
            <div class="col-3  px-1">
                <a href="" class="btn btn-cate  ">
                    <img src="~/images/icon-RO.svg "
                         class="img-fluid mb-2" />
                    <div>
                        Máy lọc nước RO
                    </div>
                </a>
            </div>
            <div class="col-3  px-1">
                <a href="" class="btn btn-cate  ">
                    <img src="~/images/real-estate.svg"
                         class="img-fluid mb-2" />
                    <div>
                        Hệ lọc tổng gia đình
                    </div>
                </a>
            </div>
            <div class="col-3 px-1">
                <a href="" class="btn btn-cate  ">
                    <img src="~/images/icon-voi.svg"
                         class="img-fluid mb-2" />
                    <div>
                        Máy lọc tại vòi
                    </div>
                </a>
            </div>
            <div class="col-3  px-1">
                <a href="" class="btn btn-cate  ">
                    <img src="~/images/icon-cay-nong-lanh.svg"
                         class="img-fluid mb-2" />
                    <div>
                        Cây nước nóng lạnh
                    </div>
                </a>
            </div>
            <div class="col-3  px-1">
                <a href="" class="btn btn-cate  ">
                    <img src="~/images/icon-bath.svg"
                         class="img-fluid mb-2" />
                    <div>
                        Thiết bị Hydrogen phòng tắm
                    </div>
                </a>
            </div>
            <div class="col-3 px-1">
                <a href="" class="btn btn-cate  ">
                    <img src="~/images/Ion-kiem.svg"
                         class="img-fluid mb-2" />
                    <div>
                        Máy lọc nước Icon kiềm
                    </div>
                </a>
            </div>
        </ul>

        <div class=" align-self-md-center d-flex  ">
            <div class="font-weight-bold">
                Hotline:
            </div>
            <img src="~/images/hot-line-red-icon.svg"
                 class="img-fluid mx-2 icon-nav align-self-center wow tada infinite " style="width: 20px;" />
            <div class="align-self-center">
                <a href="">
                    <div class=" color-EE7D22 font-weight-bold mb-0" ">024.777.66666</div>
                </a>
            </div>
        </div>
    </div>
    <button class="btn close-popup" onclick="$('.cate-mobile').toggle(100, 'swing');">
        <img src="/images/times-icon.svg" />
    </button>
</section>