﻿@using MI.Entity.Enums;
@using System.Linq;
@using VietLab.Web.Services.Zone.ViewModal
@using VietLab.Web.Services.Zone.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using VietLab.Web.Services.BannerAds.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository
@inject IBannerAdsRepository bannerAdsRepository
@using MI.Entity.Models
@using Utils
@using VietLab.Web.Utility
@model List<ZoneByTreeViewMinify>;
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}
@{
    ViewBag.Title = "CategoriesList";
    //Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
    var zoneId = ViewBag.CateId;
    var category_zone_list = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Categories, culture_code, 0);


}

@section styles {

}
@if (Model != null)
{

    var resutl_Parent = Model.Where(r => r.ParentId == zoneId);


    @foreach (var it in resutl_Parent)
    {
        var list_resutl = Model.Where(r => r.ParentId == it.Id).OrderBy(r => r.SortOrder).Take(3).ToList();
        var list_resutlAll = Model.Where(r => r.ParentId == it.Id).OrderBy(r => r.SortOrder).ToList();
        var link_roots = string.Format("/{0}.zc{1}.html", it.Url, it.Id);
        var cout = list_resutlAll.Count();
        <li class="col-md-4 kc-40 AddClass@(it.Id)">
            <div class="name-hc">@it.Name</div>
            <a href="@link_roots">
                <img src="@UIHelper.StoreFilePath(it.Banner, false)?v=@WebHelper.Version()" class="w-100" alt="">
            </a>

            <ul class="list-chucnag">
                @foreach (var item in list_resutl)
                {
                    var link_root = string.Format("/{0}.zc{1}.html", item.Url, item.Id);
                    <li><a href="@link_root">@item.Name</a></li>
                }
            </ul>
            <div class="see-more mt-2 @(cout > 3?"":"textHide") see-more1" data-id="@(it.Id)">
                <a href="javascript:void(0)">Xem thêm</a>
            </div>
        </li>
        <li class="col-md-4 kc-40 ListZone@(it.Id) textHide">
            <div class="name-hc">@it.Name</div>
            <a href="@link_roots">
                <img src="@UIHelper.StoreFilePath(it.Banner, false)?v=@WebHelper.Version()" class="w-100" alt="">
            </a>

            <ul class="list-chucnag ">
                @foreach (var item in list_resutlAll)
                {
                    var link_root = string.Format("/{0}.zc{1}.html", item.Url, item.Id);
                    <li><a href="@link_root">@item.Name</a></li>
                }
            </ul>
            <div class="see-more see-more2 mt-2 @(cout > 3?"":"textHide")" data-id="@(it.Id)">
                <a href="javascript:void(0)">Ẩn bớt</a>
            </div>
        </li>

    }

}



