﻿<section class="form-contact-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 col-sm-12 col-12">
                <form class="form-contact-home" id="feed-back">
                    <div class="  font-weight-bold h5 mb-4 color-333 text-center">Mời bạn điền thông tin phản hồi tại form dưới đây:</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="NameFeedBack" placeholder="Họ tên *" name="NameFeedBack">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="PhoneFeedBack" placeholder="SĐT *" name="PhoneFeedBack">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" id="EmailFeedBack" placeholder="Email *" name="EmailFeedBack">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="tel" class="form-control" id="AddressFeedBack" placeholder="Địa chỉ *" name="AddressFeedBack">
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        @*<div class="form-group col-md-12">
                            <input type="text" rows="5" class="form-control" id="ContentFeedBack" placeholder="Tin nhắn *" name="ContentFeedBack"><textarea>
                        </div>*@
                        <textarea type="text" rows="5" class="form-control" id="ContentFeedBack" placeholder="Tin nhắn *" name="ContentFeedBack"></textarea>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-6">
                            <button class="btn btn-submit w-100" style="border-radius: 0;"
                                    type="button" onclick="FeedBack()">
                                GỬI PHẢN HỒI
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function FeedBack() {
        var url = '/Contact/UpdateFeedBack';
        var dataRequest = {};
        dataRequest.Name = $('#NameFeedBack').val();
        dataRequest.Phone = $('#PhoneFeedBack').val();
        dataRequest.Email = $('#EmailFeedBack').val();
        dataRequest.Address = $('#AddressFeedBack').val();
        dataRequest.Content = $('#ContentFeedBack').val();
        $.post(url, dataRequest, function (res) {
            if (res.code == "00") {
                $('#modal-xn').modal('show');
                $('#NameFeedBack').val('');
                $('#PhoneFeedBack').val('');
                $('#AddressFeedBack').val('');
                $('#ContentFeedBack').val('');
                $('#EmailFeedBack').val('');
            }
        });
    }
</script>
