<template>
    <div style="display:flex;width:100%">
        <b-tabs class="col-md-12" pills>
            <b-tab title="1. Nhập thông tin mã giảm giá" active>
                <div class="row productedit">
                    <div class="col-md-8">
                        <b-card class="mt-3" header="Thêm / Sửa mã giảm giá">
                            <b-form class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12">
                                        <b-form-group label="Mô tả mã giảm giá">
                                            <b-form-input v-model="objRequest.name"
                                                          placeholder="Tên mã giảm giá"
                                                          v-on:keyup.13="slugM"
                                                          required></b-form-input>
                                        </b-form-group>
                                    </div>
                                    <div class="col-md-6">
                                        <b-form-group label="Chọn loại mã giảm giá">
                                            <treeselect :options="CouponCodes"
                                                        :disable-branch-nodes="true"
                                                        @select="getSelectedCoupon"
                                                        v-model="CouponValues"
                                                        :default-expanded-level="Infinity"
                                                        :disabled="disabled"
                                                        placeholder="Xin mời bạn lựa chọn" />
                                        </b-form-group>
                                    </div>
                                    <div class="col-md-6">
                                        <b-form-group label="Code">
                                            <b-form-input v-model="objRequest.code" placeholder="Code" required></b-form-input>
                                        </b-form-group>
                                    </div>
                                    <div class="col-md-6">
                                        <b-form-group label="Số lượng">
                                            <b-form-input type="number"
                                                          v-model="objRequest.quantityDiscount"
                                                          placeholder="Số lượng"
                                                          required></b-form-input>
                                        </b-form-group>
                                    </div>
                                    <div class="col-md-4">
                                        <b-form-group label="Giá trị">
                                            <b-form-input type="number"
                                                          v-model="objRequest.valueDiscount"
                                                          placeholder="Giá trị"
                                                          required></b-form-input>
                                        </b-form-group>
                                    </div>
                                    <div class="col-md-4">
                                        <b-form-group label="Ngày bắt đầu">
                                            <b-form-input type="date"
                                                          v-model="objRequest.startDate"
                                                          placeholder="Ngày bắt đầu"
                                                          required></b-form-input>
                                        </b-form-group>
                                    </div>
                                    <div class="col-md-4">
                                        <b-form-group label="Ngày kết thúc">
                                            <b-form-input type="date"
                                                          v-model="objRequest.endDate"
                                                          placeholder="Ngày kết thúc"
                                                          required></b-form-input>
                                        </b-form-group>
                                    </div>
                                    <!--<div class="col-md-12">
                                        <div class="panel panel-white">
                                            <div class="panel-heading">
                                                <div style="display:flex;width:100%">
                                                    <div class="col-md-7" style="padding-left:0px">
                                                        <treeselect :multiple="true"
                                                                    :options="unflattenBase(ListZone)"
                                                                    placeholder="Xin mời bạn lựa chọn danh mục"
                                                                    v-model="SearchZoneId"
                                                                    :value-consists-of="valueConsistsOf"
                                                                    :default-expanded-level="Infinity" />
                                                    </div>
                                                    <div class="input-group" style="display:flex;width:40%">
                                                        <input type="text" autocomplete="off" v-model="keyword" placeholder="Tìm kiếm sản phẩm" v-on:keyup.enter="onLoadProduct()" class="form-control"> <span @click="onLoadProduct()" class="input-group-addon bg-primary" style="cursor: pointer; width: 45px;height:35px"><i class="fa fa-search" style="padding-top: 10px; padding-left: 15px;"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body">

                                                <div class="slimScrollDiv" style="position: relative; overflow-x: scroll; width: auto; height: 300px;margin-top:10px">
                                                    <div class="row" style="width: auto; height: 300px;">
                                                        <ul style="padding:20px;padding-left:10px ;width:100%">
                                                            <li>
                                                                <b-form-checkbox v-model="objRequest.isCategory">
                                                                    Áp dụng cho tất cả sản phẩm trong danh mục
                                                                </b-form-checkbox>
                                                            </li>
                                                            <li v-for="(item,index) in ListProduct" @click="ckproduct(item)" :class="{'active':objRequest.listProduct.indexOf(item.id) >= 0}">

                                                                <a class="thumb"><img :src="pathImgs(item.avatar)" width="30"></a>
                                                                <p style="font-size:13px;overflow:hidden">Mã:  {{item.code}}</p>
                                                                <p class="text-muted">Tên: {{item.name}}</p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <b-pagination v-model="currentPage"
                                                              :total-rows="total"
                                                              :per-page="pageSize"></b-pagination>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </b-form>
                        </b-card>
                    </div>
                    <div class="col-md-4">
                        <b-card class="mt-3" header="Cập nhật">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-info btn-submit-form col-md-12 btncus"
                                            type="button"
                                            @click="DoAddEdit()">
                                        <i class="fa fa-save"></i> Cập nhật
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-success col-md-12 btncus"
                                            type="button"
                                            @click="DoRefesh()">
                                        <i class="fa fa-refresh"></i> Làm mới
                                    </button>
                                </div>
                            </div>
                        </b-card>
                    </div>
                </div>
            </b-tab>
        </b-tabs>

    </div>
</template>


<script>
    import "vue-loading-overlay/dist/vue-loading.css";

    import { mapGetters, mapActions } from "vuex";
    import Loading from "vue-loading-overlay";
    // import the component
    import Treeselect from "@riophae/vue-treeselect";
    // import the styles
    import "@riophae/vue-treeselect/dist/vue-treeselect.css";
    import moment from 'moment';
    import manufacturersRepository from "../../repository/manufacturer/manufacturerRepository";
    import productSpecificationTemplateRepository from "../../repository/productSpecificationTemplate/productSpecificationTemplateRepository";
    import { unflatten, slug, pathImg } from "../../plugins/helper";


    import EventBus from "./../../common/eventBus";
    // Import component

    export default {
        name: "counpon",
        data() {
            return {
                //editor: ClassicEditor,
                editorData: "<p>Content of the editor.</p>",
                editorConfig: {
                    allowedContent: true,
                    extraPlugins: ""
                },
                lstChose: [],


                isVoucher: false,
                valueConsistsOf: "ALL",
                ListProduct: [],
                SearchZoneId: [],



                disabled: false,
                selectedFile: null,
                preview: "/assets/img/unnamed.jpg",
                previewImageFacebook: "/assets/img/unnamed.jpg",
                isLoading: false,
                fullPage: false,
                color: "#007bff",
                objRequest: {
                    id: 0,
                    urlInLanguage: "",
                    name: "",
                    avatar: "",
                    startDate: moment(String(new Date())).format('YYYY-MM-DD'),
                    endDate: moment(String(new Date())).format('YYYY-MM-DD'),
                    isCategory: false,
                    listProduct: [],
                },
                LanguageCodes: [],
                CouponCodes: [
                    {
                        id: 1,
                        label: "Giảm giá phần trăm"
                    },
                    {
                        id: 2,
                        label: "Giảm giá tiền"
                    }
                ],
                LanguageValues: null,
                CouponValues: null,

                ListZone: [],

                pageSize: 20,
                currentPage: 1,
                total: 0,
                keyword: "",

            };
        },
        async created() {
            this.LanguageCodes = await productSpecificationTemplateRepository.getAllLanguageOption();
            this.GetById();
        },
        destroyed() {
            EventBus.$off("FileSelected");
        },
        components: {
            Loading,
            Treeselect,
        },

        mounted() {
            this.getZones(1).then(respose => {
                try {

                    var data = respose.listData;
                    this.ListZone = data;
                } catch (ex) {
                    console.log(ex);
                }
            });
        },

        computed: {
            slugM: function () {

                if (this.objRequest != null && this.objRequest != undefined) {
                    this.objRequest.urlInLanguage = slug(this.objRequest.name);
                }
            }
        },
        watch: {
            SearchZoneId: function (newVal) {
                this.currentPage = 1;
                this.onLoadProduct();
            }
        },
        methods: {
            ...mapActions([
                "addCoupon",
                "updateCoupon",
                "getCouponById",
                "uploadFile",
                "getZones",
                "getZones",
                "getProductForCombo"
            ]),
            ckproduct: function (item) {
                debugger

                if (this.objRequest.listProduct != null && this.objRequest.listProduct.length > 0) {
                    var isCheck = this.objRequest.listProduct.some(x => x == item.id);
                    if (!isCheck) {
                        this.objRequest.listProduct.push(item.id);
                    } else {
                        this.objRequest.listProduct = this.objRequest.listProduct.splice(isCheck, 1);
                    }
                }
                else {
                    this.objRequest.listProduct.push(item.id);
                }
            },
            pathImgs(path) {
                return pathImg(path);
            },
            async openImg(img) {
                this.choseImg = img;

                EventBus.$emit("FileManagerOpen", ""); // '': select one, 'multi': select multi file
            },
            unflattenBase(data) {
                return unflatten(data);
            },
            onLoadProduct() {
                this.activeLeft = [];
                this.activeRight = [];
                let initial = this.$route.query.initial;
                initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                this.getProductForCombo({
                    keyword: this.keyword,
                    idZones: this.SearchZoneId,
                    pageSize: this.pageSize,
                    pageIndex: this.currentPage,

                }).then(respose => {
                    debugger
                    this.ListProduct = respose.listData.map(item => ({
                        ...item,
                        active: false
                    }));

                    this.total = respose.total;
                })
            },
            async GetById() {
                if (this.$route.params.id > 0) {
                    var id = this.$route.params.id;
                    console.log(id);
                    this.isLoading = true;
                    let initial = this.$route.query.initial;
                    initial = typeof initial != "undefined" ? initial.toLowerCase() : "";
                    var response = await this.getCouponById(id);
                    console.log(response);
                    this.objRequest = response;
                    this.objRequest.id = response.id;
                    this.CouponValues = response.discountOption;
                    this.objRequest.startDate = moment(response.startDate).format('YYYY-MM-DD');
                    this.objRequest.endDate = moment(response.endDate).format('YYYY-MM-DD');
                    this.isLoading = false;
                }
            },
            async DoAddEdit() {
                this.isLoading = true;
                this.objRequest.category = this.SearchZoneId;
                if (this.objRequest.id > 0) {

                    var result = await this.updateCoupon(this.objRequest);
                    console.log(result);
                    if (result.success == true) {
                        this.$toast.success("tạo thành công", {});
                        this.isLoading = false;
                        this.$router.go(-1);
                    } else {
                        this.$router.go(-1);
                        this.$toast.error("cập nhật thất bại", {});
                        this.isLoading = false;
                    }
                } else {

                    var result = await this.addCoupon(this.objRequest);
                    console.log(result);
                    if (result.success == true) {
                        this.$toast.success("tạo thành công", {});
                        this.isLoading = false;
                        this.$router.go(-1);
                    } else {
                        this.$router.go(-1);
                        this.$toast.error("cập nhật thất bại", {});
                        this.isLoading = false;
                    }
                }
            },
            DoRefesh() {
                this.objRequest.Title = "";
            },
            openUpload() {
                document.getElementById("file-field").click();
            },


            getSelectedCoupon(node, id) {
                this.CouponValues = node.id;
                this.objRequest.discountOption = node.id;
                console.log(this.CouponValues);
            },
            onChangeList: function ({ source, destination }) {
                this.ProductOptionsSource = source;
                this.ProductOptionsDestination = destination;
            }
        }
    };
</script>

<style>
    .productedit .form-control {
        height: 35px;
    }


    .panel-body ul li .thumb {
        float: left;
        height: 30px;
        margin-right: 10px;
        overflow: hidden;
        width: 30px;
        border: 1px solid #ddd;
    }



    .panel-body ul li p.text-muted {
        font-size: 11px;
        line-height: 15px;
    }

    .panel-body ul li p {
        margin-bottom: 0px;
    }

    .panel-body ul li {
        border-bottom: 1px solid #e6e6fa;
        cursor: pointer;
        list-style-type: none;
        padding: 4px 0;
        padding-left: 10px;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

    .row ul li.active, #rlist .row ul li.active {
        background: #f1f7fd;
    }


    .pagination .page-item .page-link {
        font-size: 12px;
    }

    .pagination {
        margin-top: 10px
    }
</style>
