﻿@{
    var isService = ViewBag.IsService;
}
<div class="pt-1 bg-fff">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
            </div>
            <div class="col-lg-9 col-md-8  col-sm-12 col-12 pl-md-0 ">
                <div class="slide-banner-home mb-3">
                    <div class="swiper-container gallery-top-home">
                        <!--Thêm slide-->
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="~/images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="~/images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="~/images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="~/images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="~/images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="~/images/change/slide-home-1.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs-home d-none d-md-block ">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="box-text">
                                    <div class="text">
                                        Đặt online giảm đến 40%
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-text">
                                    <div class="text">
                                        Máy lọc nước Nano
                                        lì xì đến 10 triệu
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-text">
                                    <div class="text">
                                        Đặt online giảm đến 40%
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-text">
                                    <div class="text">
                                        Máy lọc nước Nano
                                        lì xì đến 10 triệu
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-text">
                                    <div class="text">
                                        Máy lọc nước Nano
                                        lì xì đến 10 triệu
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="box-text">
                                    <div class="text">
                                        Đặt online giảm đến 40%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (isService)
        {
            @await Component.InvokeAsync("ServiceInSlideBanner")

        }
    </div>
</div>