﻿
@model List<Enterbuy.Data.SqlServer.ModelDto.ProductMinify>;
@{
    var listProduct = Model.Skip(1);
    var pathlink = Context.Request.Path.ToString();
    var productWithBigThumb = Model.FirstOrDefault();
    var total = ViewBag.Total;
    var id = ViewBag.Id;

}
@if (Model != null)
{

    <div class="set-total" data-total="@total" data-id="@id" data-is-rendered="@Model.Count()" style="display:none"></div>
    <div class="row no-gutters mb-3 mb-md-0">
        @if (productWithBigThumb != null)
        {
            var link_tar = string.Format("{0}/{1}.html", "San-pham-chi-tiet", productWithBigThumb.Url);
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row no-gutters h-100 ">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                        <a href="@link_tar">
                            <img asp-append-version="true" src="@Utils.UIHelper.StoreFilePath(productWithBigThumb.Avatar)" class="img-fluid h-100" style="object-fit: cover;" alt="@productWithBigThumb.Title" />
                        </a>
                    </div>
                    @foreach (var item in listProduct)
                    {
                        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6">
                            @{ var link = string.Format("{0}/{1}.html", pathlink, item.Url);}
                            <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                <div class="tag-1">
                                </div>
                                <div class="image">
                                    <a href="@link">
                                        <img asp-append-version="true" src="@Utils.UIHelper.StoreFilePath(item.Avatar, false)"
                                             class="img-fluid  w-100" alt="@item.Title" />
                                    </a>
                                </div>
                                <div class="tag-2">
                                    <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                                </div>
                                <div class="">
                                    <h5 class="title">
                                        <a href="@link">
                                            @item.Title
                                        </a>
                                    </h5>
                                    <div class="text-left">
                                        @if (item.FlashSaleId > 0)
                                        {
                                            <div class="price-new">
                                                @Utils.UIHelper.FormatNumber(item.ProductPriceInFlashSale) đ
                                            </div>

                                            <div class="price-old">
                                                @(item.SalePrice <= 0 ? Html.Raw("Liên hệ") : Html.Raw(Utils.UIHelper.FormatNumber(item.SalePrice) + "đ"))
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="price-new">
                                                @Utils.UIHelper.FormatNumber(item.SalePrice) đ
                                            </div>

                                            <div class="price-old">
                                                @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(Utils.UIHelper.FormatNumber(item.Price) + "đ"))
                                            </div>
                                        }

                                    </div>
                                    <div class="size small mb-1">
                                        @item.SpecName: @item.SpecValue
                                    </div>
                                    <div class="review d-flex">
                                        <div class="color-FFAB1B mr-2">
                                            @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                        </div>
                                        <div class="color-828282">
                                            @item.CountRate đánh giá
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}

