﻿@using Utils;
@model List<Enterbuy.Data.SqlServer.ModelDto.ArticleMinify>
@using Enterbuy.Services.Common.Services.Interfaces
@inject IMenuZoneServices menuZoneServices
@using Enterbuy.Core.Enumerations
@{
    var blog_zone = await menuZoneServices.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, "vi-VN", 0, 1);
    var blog_parents = blog_zone.Where(r => r.ParentId == 0).FirstOrDefault();
    var dataFirt = new Enterbuy.Data.SqlServer.ModelDto.ArticleMinify();
    var lstDataAfterFirst = new List<Enterbuy.Data.SqlServer.ModelDto.ArticleMinify>();
    if (Model.Count() > 0)
    {
        dataFirt = Model.FirstOrDefault();

    }
    lstDataAfterFirst = Model.Skip(1).Take(5).ToList();
}
<section class="list-news mb-3 d-none d-md-block">
    <div class="container">
        <div class="bg-fff p-3">
            <div class="row mb-4">
                <div class="col-8">
                    <div>
                        <a href="@("/news/" + blog_parents.Url)" class="h5 font-weight-bold">Tin tức</a>
                    </div>
                </div>
                <div class="col-4 text-right">
                    <a href="@("/news/" + blog_parents.Url)" class="link-view-more color-EE7D22">Xem thêm <i class="fas fa-chevron-right ml-1 small"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12">
                    @{var linkTar = BaseBA.UrlNews(dataFirt.ZoneUrl, dataFirt.Url, dataFirt.Id); }
                    <div class="item">
                        <img src="@UIHelper.StoreFilePath(dataFirt.Avatar)" class="w-100" alt="" />
                    </div>
                    <a href="@linkTar" title="">
                        <h2 class="title mt-4" id="titleNews">
                            @dataFirt.Title
                        </h2>
                    </a>
                    <div class="d-flex" style="color:#828282;">
                        <div class="mr-2">
                            <img src="images/date.svg" class="img-fluid max-h422px" alt="" />
                        </div>
                        <div class="des mr-2">
                            @dataFirt.CreatedDate.ToString("dd/MM/yyyy")
                        </div>
                        <div class="time">
                            @dataFirt.CreatedDate.ToString("hh:mm")
                        </div>
                    </div>

                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 pl-md-0">
                    <ul class="list-mn-news row">
                        @foreach (var item in lstDataAfterFirst)
                        {
                            var linkItem = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                            <li class="border-bottom col-12">
                                <a href="@linkItem" title="">
                                    <div class="title-mn-news">@item.Title</div>
                                </a>
                                <div class="d-flex mb-2" style="color:#828282;">
                                    <div class="mr-2">
                                        <img src="images/date.svg" class="img-fluid max-h422px" alt="" />
                                    </div>
                                    <div class="des mr-2">
                                        @item.CreatedDate.ToString("dd/MM/yyyy")
                                    </div>
                                    <div class="time">
                                        @item.CreatedDate.ToString("hh:mm")
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="list-news mobile mb-3 d-md-none" style="background:#fff">
    <div class="container">
        <div class="row mb-4" style="padding-top:20px">
            <div class="col-8">
                <div class="pl-3">
                    <a href="" class="h5 font-weight-bold">Tin tức</a>
                </div>
            </div>
            <div class="col-4 text-right">
                <a href="@("/news/" + blog_parents.Url)" class="link-view-more color-EE7D22">Xem thêm <i class="fas fa-chevron-right ml-1 small"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="item">
                    <img src="@UIHelper.StoreFilePath(dataFirt.Avatar)" class="w-100" alt="" />
                </div>
                <a href="@linkTar" title="@dataFirt.Title">
                    <h2 class="title mt-4" id="titleNews">
                        @dataFirt.Title
                    </h2>
                </a>
                <div class="d-flex" style="color:#828282;">
                    <div class="mr-2">
                        <img src="images/date.svg" class="img-fluid max-h422px" alt="" />
                    </div>
                    <div class="des mr-2">

                        @dataFirt.CreatedDate.ToString("dd/MM/yyyy")
                    </div>
                    <div class="time">
                        @dataFirt.CreatedDate.ToString("hh:mm")

                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 pl-md-0">
                <ul class="list-mn-news row">
                    @foreach (var item in lstDataAfterFirst)
                    {
                        var linkItem = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                        <li class="border-bottom col-12">
                            <a href="@linkItem" title="@item.Title">
                                <div class="title-mn-news">@item.Title</div>
                            </a>
                            <div class="d-flex mb-2" style="color:#828282;">
                                <div class="mr-2">
                                    <img src="images/date.svg" class="img-fluid max-h422px" alt="" />
                                </div>
                                <div class="des mr-2">
                                    @item.CreatedDate.ToString("dd/MM/yyyy")
                                </div>
                                <div class="time">
                                    @item.CreatedDate.ToString("hh:mm")
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>
</section>


