﻿@using Utils
@using Enterbuy.WebInterface.Models
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Services.Blog.Services
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Enterbuy.Services.Common.Services.Interfaces
@inject RamData.IConfig Config
@inject IBannerAdsDao bannerAdsRepository
@inject IBlogServices BlogServicesRepository
@inject IZoneDao zoneDaoRepository
@{
    var favicon = Config.GetByName("Favicon");


    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();

}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese"
          rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/vendor/swiper.min.css">
    <link rel="stylesheet" href="~/vendor/animate.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/style.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/installment.css">
    <link asp-append-version="true" rel="stylesheet" href="~/css/fa.min.css">
    <link asp-append-version="true" href="~/css/pagination.css" rel="stylesheet" />
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigWebsite(domain_full, "Enterbuy"))


    @RenderSection("Styles", required: false)
    @Html.Raw(Config.GetByName("ScriptHeader"));

    <script async src="https://www.googletagmanager.com/gtag/js?id=@Config.GetByName("GoogleAnalytics")"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', '@Config.GetByName("GoogleAnalytics")');</script>

</head>

<body>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5d8db5d5db28311764d61db2/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>



    <!--End of Tawk.to Script-->
    @await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName(Utility.DefaultLang, "Logo"), false) })
    @*@await Component.InvokeAsync("SEO_SiteLinkSearch", new { logo = UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName("vi-VN", "Logo"), false) })*@
    <!--Menu Website-->
    @await Component.InvokeAsync("HeaderWebsite", new { isExpand = ViewData["IsExpand"] })
    <!--Giỏ hàng mobile-->
    @await Component.InvokeAsync("CartMobile")
    <!--menu mobile-->
    @await Component.InvokeAsync("MenuMobile")
    <!--danh mục mobile popup-->
    @*@await Component.InvokeAsync("CategoryMobilePopup")*@
    @RenderBody()
    <!--Footer-->
    @await Component.InvokeAsync("Footer")
    <!--Modal chọn khu vực-->
    @await Component.InvokeAsync("ModalArea")
    <!-- Modal xác nhận-->
    @await Component.InvokeAsync("ModalConfirm")
    <!-- Modal liên hệ -->
    @await Component.InvokeAsync("ModalContact")
    <!-- Modal tiêu chuẩn -->
    @await Component.InvokeAsync("ModalStandard")
    <!--Banner Two Side-->
    @await Component.InvokeAsync("BannerTwoSide")
    <!--Btn fixed-->
    <div class="btn-fixed d-none d-md-block">
        <div class="text-center mb-3">
            <a href="javascript:;" onclick=" topFunction() " class="">
                <img src="~/images/scroll.svg" class="img-fluid " />
            </a>
        </div>
        @*<div class="text-center">
                <a href="" class="">
                    <img src="~/images/messenger.svg" class="img-fluid wow tada infinite animated" />
                </a>
            </div>*@

    </div>
    <div class="btn-fixed-left d-none d-md-block">
        <div class="" style="width: 60%;">
            <div class="d-none d-md-block">
                <img src="~/images/chuyen-gia-image.png" class="img-fluid" />
            </div>
            <a href="/phong-chuyen-gia-nuoc" class="btn btn-cg">
                Phòng chuyên gia nước
            </a>
        </div>
    </div>

    <div class="modal jan-modal " id="modalDefault" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable mb-cust-modal" role="document">
            <div id="modalDefaultContent">
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/vendor/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/vendor/popper.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/swiper.min.js"></script>
    <script type="text/javascript" src="/vendor/wow.min.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/core/core.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controller/menuController.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controller/orderController.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controller/extraController.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controller/inStallmentController.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/momentjs/momentJS.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.save-location').off('click').on('click', function () {
                var currentUrl = window.location.href;
                var location_id = $('#location-selectbox').val();
                var location_name = $('#location-selectbox option:selected').html();
                localStorage.setItem("_LocationId", location_id);
                localStorage.setItem("_LocationName", location_name);
                var params = {
                    location_id: localStorage.getItem("_LocationId"),
                    location_name: localStorage.getItem("_LocationName"),
                    currentUrl: currentUrl
                }
                setCookie("_LocationId", location_id, 10);
                setCookie("_LocationName", encodeURIComponent(location_name), 10);
                location.reload();
                //$.post('/Cookie/ChangeCurrentLocation', params, function (obj) {
                //})
            })
        });





        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        $('.find-product').keydown(function () {
            if ($(this).val().length < 3) {
                $(".suggest-text.suggest-text-2").hide();
                $(".suggest-text.suggest-text-1").show();
            } else {
                $(".suggest-text.suggest-text-2").show();
                $(".suggest-text.suggest-text-1").hide();
                $(this).autocomplete({
                    delay: 300,
                    source: function (request, response) {
                        $.ajax({
                            url: "/Product/Get",
                            dataType: "json",
                            data: {
                                keyword: request.term
                            },
                            success: function (data) {
                                response(data);
                            }
                        });
                    },
                    minLength: 2,
                }).autocomplete("instance")._renderItem = function (div, item) {
                    $(".suggest-text.suggest-text-2").empty();
                    var lstItem = "";
                    lstItem += "<div class='h6 px-3'>Sản phẩm gợi ý</div>"
                    $.each(item, function (index, im) {
                        lstItem += '<div class="item-cart"><div class="image-product"><img src="' + im.avatar + '" class="" /> </div>';
                        lstItem += '<div class="text px-2 "> <h6 class="name-product mb-1"><a href="' + im.url + '">' + im.name + '</a></h6>';
                        if (im.discountPrice.length > 0) {
                            lstItem += '<div class="price d-inline-block">' + im.discountPrice + '</div>';
                        }
                        if (im.discountPrice.price > 0) {
                            lstItem += ' <div  class=" price-old d-inline-block">' + im.price + '</div>';
                        }
                        lstItem += "</div></div>";
                    });
                    $(div).removeClass("ui-menu");
                    return $(lstItem).appendTo(".suggest-text.suggest-text-2");
                };
            }
        })
        $('.find-product').on("focusout", function () {
            setTimeout(function () {
                $(".suggest-text.suggest-text-2").hide();
                $(".suggest-text.suggest-text-1").hide();
            }, 1000);
        });
        $('.find-product').on("focus", function () {
            if ($(this).val().length < 3) {
                $(".suggest-text.suggest-text-1").show();
            }
        });
    </script>
    @RenderSection("Scripts", required: false);



</body>
</html>