﻿<div class="banner-page py-3 mb-4"
     style="background:url(/images/change/Banner-tuyen-dung.jpg) no-repeat center;background-size: cover;">
    <div class="container align-self-center">
        <div class="row justify-content-center">
            <div class=" col-sm-10 col-12 ">
                <h1 class="text-center color-fff">BẠN MUỐN ĐỒNG HÀNH CÙNG ENTERBUY?</h1>
            </div>
        </div>
    </div>
</div>