﻿@using JanHome.Web.Services.Product.ViewModel;
@using Utils;
@model List<ProductMinify>;
@{
    var total = ViewBag.Total;
}

@{
    var list_product = Model;
    var product_with_big_thumb = list_product.FirstOrDefault();
    var product_child = list_product.Skip(1).Take(8).OrderBy(r => r.SalePrice);

}
<div class="set-total" data-total="@total" style="display:none"></div>
<div class="row no-gutters mb-3 mb-md-0">
    @if (product_with_big_thumb != null)
    {
        var link_tar = "javascript:void(0)";
        <div class="col-lg-5 col-md-12 col-sm-12 col-12">
            <div class="item-product item-product-large">
                <div class="image">
                    <a href="@link_tar">
                        <img src="~/@product_with_big_thumb.BigThumb" class="img-fluid" alt="@product_with_big_thumb.Title" />
                    </a>
                </div>
                <div class="py-1">
                    <h5 class="title">
                        <a href="@link_tar" title="@product_with_big_thumb.Title">
                            @product_with_big_thumb.Title
                        </a>
                    </h5>
                    <div class="price-new">
                        @UIHelper.FormatNumber(product_with_big_thumb.SalePrice) đ;
                    </div>
                </div>
            </div>
        </div>

    }
    @{
        var product_child_cut_3 = product_child.Skip(0).Take(3);

    }
    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="row no-gutters h-100 ">
            @foreach (var item in product_child_cut_3)
            {
                var link_tar = "javascript:void(0)";
                <div class="col-md-4 col-sm-4 col-6">
                    <div class="item-product">
                        <div class="tag-1">
                            Trả góp 0% - Trả trước 0đ
                        </div>
                        <div class="image">
                            <a href="@link_tar">
                                <img src="~/images/change/image 4x4.png"
                                     class="img-fluid  w-100" alt="@item.Title" />
                            </a>
                            <div class="tag-2">
                                <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="price-new">
                                @UIHelper.FormatNumber(item.SalePrice)
                            </div>
                            <div class="price-old">
                                @UIHelper.FormatNumber(item.Price)
                            </div>
                            <h5 class="title">
                                <a href="@link_tar" title="@item.Title">
                                    @item.Title
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row no-gutters mb-3 mb-md-0 clone-row">
    @{
        var product_child_cut_5 = product_child.Skip(3).Take(2);
        var product_child_cut_7 = product_child.Skip(5).Take(3);
    }

    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
        <div class="row no-gutters">
            @foreach (var item in product_child_cut_5)
            {
                var link_tar = "javascript:void(0)";
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="item-product px-lg-4">
                        <div class="tag-1">
                            Trả góp 0% - Trả trước 0đ
                        </div>
                        <div class="image">
                            <a href="@link_tar">
                                <img src="~/images/change/image 4x4.png"
                                     class="img-fluid  w-100" alt="@item.Title" />
                            </a>
                            <div class="tag-2">
                                <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="price-new">
                                @UIHelper.FormatNumber(item.SalePrice)
                            </div>
                            <div class="price-old">
                                @UIHelper.FormatNumber(item.Price)
                            </div>
                            <h5 class="title">
                                <a href="@link_tar" title="@item.Title">
                                    @item.Title
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="row no-gutters h-100 ">
            @foreach (var item in product_child_cut_7)
            {

                var link_tar = "javascript:void(0)";
                <div class="col-md-4 col-sm-4 col-6">
                    <div class="item-product">
                        <div class="tag-1">
                            Trả góp 0% - Trả trước 0đ
                        </div>
                        <div class="image">
                            <a href="@link_tar">
                                <img src="~/images/change/image 4x4.png"
                                     class="img-fluid  w-100" alt="@item.Title" />
                            </a>
                            <div class="tag-2">
                                <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="price-new">
                                @UIHelper.FormatNumber(item.SalePrice)
                            </div>
                            <div class="price-old">
                                @UIHelper.FormatNumber(item.Price)
                            </div>
                            <h5 class="title">
                                <a href="@link_tar" title="@item.Title">
                                    @item.Title
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
