﻿@using JanHome.Web.Services.Product.Repository
@using JanHome.Web.Services.Zone.Repository
@using MI.Entity.Enums
@using JanHome.Web.Services.BannerAds.Repository
@using JanHome.Web.Services.Store.Repository
@using JanHome.Web.Services.Locations.Repository
@using JanHome.Web.Services.Store.ViewModel
@using JanHome.Web.Services.Locations.ViewModal
@using JanHome.Web.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using JanHome.Web.Services.Article.Repository
@using Newtonsoft.Json
@using JanHome.Web.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IStoreRepository storeRepository
@inject ILocationsRepository locationsRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var northside_add = bannerAdsRepository.GetConfigByName(culture_code, "northside_address");
    var northside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "northside_hotline");
    var northside_email = bannerAdsRepository.GetConfigByName(culture_code, "northside_email");
    var southside_add = bannerAdsRepository.GetConfigByName(culture_code, "southside_address");
    var southside_hotline = bannerAdsRepository.GetConfigByName(culture_code, "southside_hotline");
    var southside_email = bannerAdsRepository.GetConfigByName(culture_code, "southside_email");
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}

<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liên hệ góp ý</li>
        </ol>
    </nav>
</div>
<section>
    <div class="container">
        <div>
            <h5 class="font-weight-600 mb-3 mb-md-0 mt-1 bd-ct">Văn phòng JanHome</h5>
            <div class="row pt-4">
                <div class="col-md-6 prt-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d59596.33512844585!2d105.75748635391454!3d21.001816931873552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d21.0020573!2d105.7924194!4m5!1s0x3135acafe13a7863%3A0xfed5b8ea7c086dc1!2zUHJvdmlldyBUb3dlciwgMjg5QSBLaHXhuqV0IER1eSBUaeG6v24sIFRydW5nIEhvw6AsIEPhuqd1IEdp4bqleSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!3m2!1d21.0017404!2d105.79259169999999!5e0!3m2!1svi!2s!4v1592301185708!5m2!1svi!2s"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-md-6" style="background-color: #F9F9FA;">
                    <div class="truso">
                        <div class="logo-fuho">
                            <img src="images/logo.png" class="" alt="">
                        </div>
                        <p>Kho sàn gỗ Janhome, Bán tất cả các loại Sàn gỗ công nghiệp, Sàn gỗ ngoài trời, Sàn nhựa, Gỗ công nghiệp, Ván Laminate HDF, Phụ kiện sàn gỗ các loại...</p>
                        <div class="row">
                            <div class="col-md-6 col-6">
                                <div class="txt-add-fb">Trụ sở tại miền Bắc</div>
                                <div style="font-size: 14px;">
                                    <p><b>Địa chỉ:</b> @northside_add</p>
                                    <p><b>Hotline:</b> @northside_hotline</p>
                                    <p><b>Email:</b> @northside_email</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-6">
                                <div class="txt-add-fb">Trụ sở tại miền Nam</div>
                                <div style="font-size: 14px;">
                                    <p><b>Địa chỉ:</b> @southside_add</p>
                                    <p><b>Hotline:</b> @southside_hotline</p>
                                    <p><b>Email:</b> @southside_email</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-showroom">
            <h5 class="font-weight-600 mb-3 mb-md-0 mt-1 bd-ct">Hệ thống Showroom toàn quốc</h5>

            @{
                var lst_loca = locationsRepository.GetLocations(culture_code);

            }
            @*@foreach (var item in lst_loca)
                        {
                            string link_tar = "javascript:void(0)";
                    <li class="col-md-2 col-4 name-hver">
                        <a href="@link_tar" class="_picking_location" data-id="@item.Id">
                            <div class="cust-tinh">
                                <div class="mrt-3"><i class="fas fa-map-marker-alt cust-ic"></i></div>
                                <div class="tinht">@item.Name</div>
                                <div class="mlt-3"><img src="images/Vector.svg" alt=""></div>
                            </div>
                        </a>
                    </li>
                }*@
            @for (int i = 0; i < lst_loca.Count(); i += 6)
            {
                <ul class="row list-showroom">
                    @{var lst_childs = lst_loca.Skip(i).Take(6);
                    }
                    @foreach (var item in lst_childs)
                    {
                        string link_tar = "javascript:void(0)";
                        <li class="col-md-2 col-4 name-hver">
                            <a href="@link_tar" class="_picking_location" data-id="@item.Id" data-position="@i">
                                <div class="cust-tinh">
                                    <div class="mrt-3"><i class="fas fa-map-marker-alt cust-ic"></i></div>
                                    <div class="tinht">@item.Name</div>
                                    <div class="mlt-3"><img src="images/Vector.svg" alt=""></div>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
                <div class="_binding_departments" style="display:none" data-position="@i"></div>
            }


        </div>
        <!--end -->

        <form id="form-lien-he">
            <h5 class="font-weight-600 mb-3 mb-md-0 mt-1 bd-ct">Liên hệ góp ý cho chúng tôi</h5>
            <div class="row pt-4">
                <div class="col-md-6 col-12">
                    <div class="d-flex">
                        <label class="label-checkbox mb-2 pr-4">
                            Anh
                            <input type="checkbox" checked />
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox mb-2">
                            Chị
                            <input type="checkbox" />
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="pb-3">
                        <input type="text" style="font-size: 14px; height: 48px;" class="form-control mb-2 mb-md-0 _lien_he_name" placeholder="Họ và Tên (bắt buộc)" required>
                    </div>
                    <div class="pb-3">
                        <input type="text" style="font-size: 14px;height: 48px;" class="form-control mb-2 mb-md-0 _lien_he_phone" placeholder="Số điện thoại (bắt buộc)" required>
                    </div>
                    <div>
                        <input type="text" style="font-size: 14px;height: 48px;" class="form-control mb-2 mb-md-0 _lien_he_email" placeholder="Email (bắt buộc)">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <textarea class="form-control _lien_he_nd" rows="8" placeholder="Nội dung chi tiết"></textarea>
                </div>
            </div>
            <div class="btn-smf">
                <button class="btn btn-save px-5 mb-2 mb-md-0" data-type="comment" data-object-id="" data-object-type="" data-lang="" type="submit">Gửi</button>
            </div>
        </form>

        <!--Gửi Comment-->
        @await Component.InvokeAsync("Comment", new { object_id = 0, object_type = (int)CommentType.Contact })
        <!--Đánh giá end-->
    </div>
</section>
<!-- -----------------EndChung---------------------- -->
<section class="service-home py-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="images/shipment-international.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Vận chuyển</label>
                        <div class="small">
                            Free shipping on all order
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="images/professions-man-telecommunicator.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Support 24/7</label>
                        <div class="small">
                            Chúng tôi hỗ trợ bạn 24/7
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img src="images/saving-piggy-dollars.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Dịch vụ đổi trả hàng</label>
                        <div class="small">
                            Đổi trả hàng trong vòng 7 ngày
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/contactController.js"></script>


}