﻿<!DOCTYPE html>
<html lang="vi">

<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewData["Description"]" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="@ViewData["Image"]" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap&subset=vietnamese"
          rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/0f84ce1997.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/vendor/swiper.min.css">
    <link rel="stylesheet" href="~/vendor/animate.css">

    <link rel="stylesheet" href="~/css/style.css">
    @RenderSection("Styles", required: false)
</head>

<body>
    <!--Menu Website-->
    @await Component.InvokeAsync("HeaderWebsite", new { isExpand = ViewData["IsExpand"] })
    <!--Giỏ hàng mobile-->
    @await Component.InvokeAsync("CartMobile")
    <!--menu mobile-->
    @await Component.InvokeAsync("MenuMobile")
    <!--danh mục mobile popup-->
    @await Component.InvokeAsync("CategoryMobilePopup")
    @RenderBody()
    <!--Footer-->
    @await Component.InvokeAsync("Footer")
    <!--Modal chọn khu vực-->
    @await Component.InvokeAsync("ModalArea")
    <!-- Modal xác nhận-->
    @await Component.InvokeAsync("ModalConfirm")
    <!-- Modal liên hệ -->
    @await Component.InvokeAsync("ModalContact")
    <!-- Modal tiêu chuẩn -->
    @await Component.InvokeAsync("ModalStandard")
    <!--Banner Two Side-->
    @await Component.InvokeAsync("BannerTwoSide")
    <!--Btn fixed-->
    <div class="btn-fixed d-none d-md-block">
        <div class="text-center mb-3">
            <a href="javascript:;" onclick=" topFunction() " class="">
                <img src="~/images/scroll.svg" class="img-fluid " />
            </a>
        </div>
        <div class="text-center">
            <a href="" class="">
                <img src="~/images/messenger.svg " class="img-fluid  wow tada infinite  animated " />
            </a>
        </div>
    </div>
    <div class="btn-fixed-left d-none  d-md-block">
        <div class=" ">
            <div class="d-none d-md-block">
                <img src="~/images/chuyen-gia-image.png" class="img-fluid" />
            </div>
            <a href="javascript:;" class="btn btn-cg">
                Phòng chuyên gia nước
            </a>
        </div>
    </div>

    <script type="text/javascript" src="/vendor/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/vendor/popper.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vendor/swiper.min.js"></script>
    <script type="text/javascript" src="/vendor/wow.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>