﻿@using Utils
@model List<Enterbuy.Data.SqlServer.ModelDto.ProductMinify>;

@{

    var totalPrice = ViewBag.TotalPrice;
}

<div id="total-price-dropdown-cart" style="display:none" data-price="@totalPrice"></div>

@foreach (var item in Model)
{
    var linkTar = BaseBA.UrlProduct("",item.Url);
    var domId = "item-dropdown-cart" + item.ProductId;
    <div class="item-cart" id="@domId" data-id="@item.ProductId">
        <div class="image-product ">
            <img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="" alt="@item.Title" />
        </div>
        <div class="text px-2">
            <h6 class="name-product mb-1"><a href="@linkTar">@item.Title</a></h6>
            <div class="price">@UIHelper.FormatNumber(item.SalePrice)</div>
            <span style="color:green;font-weight:bold" class="voucher"></span>

            <div class="d-flex">
                <label class="mb-0 color-828282 mr-4">Số lượng</label>
                <div class="group-amount d-flex align-self-center">
                    <button class="btn small-cart-minus" type="button">
                        <i class="fas fa-minus" aria-hidden="true"></i>
                    </button>
                    <span class="color-EE7D22 small-cart-quantity"></span>
                    <button class="btn small-cart-plus" type="button">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="del">
            <button class="btn btn-link small-cart-delte">Xóa</button>
        </div>
    </div>
}