@media (min-width: 979px) {
    /* ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  } */
}


/*Ipad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) {
    .txt-banner {
        font-size: 18px;
        line-height: 29px;
        letter-spacing: 9.5px;
    }
    .slide-next {
        width: 50px;
        height: 50px;
        font-size: 24px;
        top: 108px;
        right: -27px;
    }
    .slide-pre {
        width: 50px;
        height: 50px;
        font-size: 24px;
        top: 108px;
        left: -27px;
    }
    .text-head {
        padding: 0 65px;
        padding-top: 39px;
    }
    .input-contact {
        padding: 0 100px 50px;
    }
}

@media screen and (width: 1024px) {
    .txt-banner {
        font-size: 28px;
    }
    .slide-next {
        right: -40px;
    }
    .slide-pre {
        left: -40px;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1200px) {}


/*Ipad dọc(768 x 1024)*/

@media screen and (max-width: 768px) {}


/* Tablet nhỏ(480 x 640)* 5S/ */

@media (max-width: 320px) {}


/*Iphone(480 x 640)

@media screen and (max-width: 320px) {

}

/* Smartphones (portrait) Xoay ngang———– */

@media (min-width: 769px) and (max-width: 991px) {}

@media only screen and (max-width: 736px) {}

@media only screen and (max-width: 415px) {}

@media only screen and (width: 768px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media only screen and (width: 414px) {}

@media (min-width: 320px) and (max-width: 767px) {
    .mb-p0 {
        padding: 0;
    }
    .mn-menu-pc {
        display: none;
    }
    .mn-menu-mobile {
        display: block;
    }
    .cate-prod {
        padding: 16px 5px;
        /* margin: 0px 5px; */
        font-size: 15px;
    }
    .txt-customer {
        padding: 15px 20px;
    }
    .slide-next {
        color: #000000b0;
        width: 40px;
        height: 40px;
        font-size: 24px;
        top: 55px;
        right: 0px;
    }
    .slide-pre {
        color: #000000b0;
        width: 40px;
        height: 40px;
        font-size: 24px;
        top: 55px;
        left: 0px;
    }
    .title-vung {
        padding: 25px 0 15px;
        font-weight: bold;
        font-size: 19px;
    }
    .main-welcome {
        padding: 24px 0 48px;
    }
    .slide-partner {
        padding: 24px 0 10px;
    }
    .mb-pd-3 {
        padding-top: 20px;
    }
    .nav-bt-ft {
        display: block;
        justify-content: space-between;
        padding: 28px 0;
        text-align: center;
    }
    .mb-none {
        display: none;
    }
    .pc-none {
        display: block;
    }
    .btn-secondary.cus-search {
        padding: 0;
    }
    .img-thumb {
        padding: 15px 30px;
    }
    .cust-navtab .nav-item {
        padding-right: 0px;
    }
    .cust-navtab {
        display: grid;
    }
    .cust-navtab .nav-link.active {
        text-align: left;
        border-bottom: 0;
    }
    .contact-now {
        width: 120px;
        height: 32px;
        font-size: 12px;
    }
    .video-hmobie {
        height: 200px;
    }
    .info-room {
        margin-bottom: 15px;
    }
    .mn-splq {
        padding-bottom: 20px;
    }
    .mb-top {
        padding-top: 25px;
    }
    .input-contact {
        text-align: center;
        padding: 0 0 30px;
    }
    .txt-banner {
        top: 28%;
        font-size: 18px;
        letter-spacing: normal;
    }
    .mb-height {
        min-height: 300px;
    }
    .mb-container {
        padding: 0;
    }
    .mb-pt-30 {
        padding-top: 25px;
    }
    .ndc {
        padding: 35px 0 15px;
        border-bottom: 1px solid #E8E8E8;
    }
    .d-mb-none {
        display: none;
    }
    ul.cust-navtab1 {
        display: inline-grid;
    }
    .kc-40 {
        padding-bottom: 10px;
    }
    .text-head {
        padding: 0 15px;
        padding-top: 10px;
        color: #ffffff;
    }
    .txt-1 {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 15px;
    }
    .txt-2 {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 10px;
    }
    .txt-3 {
        display: none;
    }
    .sm-d-none {
        display: none;
    }
    .mb-pt {
        padding-top: 25px;
    }
    #txt-year {
        font-size: 74px;
    }
    .mb-cust-slide {
        min-height: 220px;
    }
    .img-customer {
        padding: 0 100px;
    }
    .bot-news {
        display: block;
    }
    .cussearch {
        position: absolute;
        left: -223px;
        right: 0;
        width: 376px;
    }
    .mb-pt-0 {
        padding-top: 0 !important;
    }
    .navbar-nav.cust-col-bg {
        padding-top: 0;
    }
    .bsnav-mobile .navbar-nav .nav-item .nav-link {
        /* padding: 0; */
    }
    .callphone {
        margin: 0px 25px 25px 0;
    }
    .scrollToTop {
        margin: 0px 30px 90px 0;
    }
    .backg-nav-cus {
        display: none;
    }
}