﻿body {
    font-family: 'Muli', sans-serif;
    color: #52575C !important;
}

@font-face {
    font-family: Muli;
    src: local(Muli-Regular), url(/path/to/Muli-Regular.woff2) format("woff2"), url(/path/to/Muli-Regular.woff) format("woff"), url(/fonts/Muli-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Muli;
    src: url('../fonts/Muli-Regular.ttf');
}

@font-face {
    font-family: lightFont;
    src: url('../fonts/Muli-ExtraLight.ttf');
}

ul.jstree-children {
    padding-inline-start: 10px;
}
.mn-menu-mobile {
    display: none;
}

.mn-menu-pc {
    display: block;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: linear-gradient(265.7deg, rgb(20, 66, 156) 10.36%, rgb(44, 102, 192) 92.82%);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.htop {
    padding: 5px 0;
}

.textHide {
    display: none;
}

.img-customer {
    padding: 50px 50px 10px;
}

.TextLogo {
    padding: 20px 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #333333;
}

.styleover {
    background-color: #eee;
    width: 100%;
    height: 115px;
    border: 1px dotted #000000;
    overflow: auto;
}

.header {
    box-shadow: 0px 4px 20px #0000000d;
}

input#search-input {
    outline: none;
}

.suggest-text {
    position: absolute;
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* margin: 0 -20px; */
    top: calc(100% + 1px);
    padding: .5rem;
    z-index: 102;
    color: #4F4F4F;
    padding: 1rem 0;
    /* overflow-y: scroll;
    height: 350px; */
}

.suggest-text .item-cart .image-product {
    width: 50px;
    height: 50px;
}

.item-cart .image-product img {
    width: 50px;
    height: 50px;
}

.suggest-text .item-cart .text {
    width: calc(100% - 50px);
}

.suggest-text .name-product {
    font-weight: 600;
}

.suggest-text .price::after {
    content: "đ/m2";
    color: #4F4F4F;
    font-weight: 400;
    margin-right: .5rem;
}

.suggest-text .price-old {
    text-decoration: line-through;
    color: #828282;
    font-size: .875rem;
}

.suggest-text .price-old::after {
    content: "đ/m2";
}

.suggest-text .item-cart {
    padding: .75rem 1rem;
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.ic-ttop {
    font-size: 20px;
    color: #F8F8F8;
}

.callphone {
    z-index: 999;
    margin: 0px 50px 25px 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.scrollToTop {
    z-index: 999;
    margin: 0px 50px 90px 0;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline;
    background-color: #A0A4A8;
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
    width: 46px;
    padding: 5px 0;
}

.scrollToTop:hover {
    text-decoration: none;
}

.navbar-nav .nav-item.active>.nav-link,
.navbar-nav .nav-item:active:focus>.nav-link,
.navbar-nav .nav-item:active>.nav-link,
.navbar-nav .nav-item:focus>.nav-link,
.navbar-nav .nav-item:hover>.nav-link {
    color: #246EBC;
}

.btn-group.btn-secondary {
    color: #fff;
    background-color: unset !important;
}

.btn-secondary.cus-search {
    background-color: unset;
    border-color: #ffffff00;
    padding: 0 15px;
}

.btn-secondary.cus-search-mobie {
    background-color: unset;
    border-color: #ffffff00;
}

.dropdown>.dropdown-toggle:active {
    /* Without this, clicking will make it sticky */
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle.cusbg {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 99;
    font-size: 16px;
    color: #fff;
    text-align: left;
    min-width: 0;
    background-color: #14429C;
    /* background-clip: padding-box; */
    border: 0 !important;
    border-radius: unset;
}

.navbar-nav .kc-1 {
    padding: 15px;
}

.cussearch {
    left: auto;
    z-index: 20;
    display: none;
    width: 380px;
    height: 86px;
    padding: 20px;
    margin-top: 18px;
    font-size: 16px;
    color: #fff;
    background-color: #14429C;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0;
}

.customer-search {
    width: 335px;
}

.cus-name {
    position: relative;
}

.cus-ic-search {
    position: absolute;
    right: 15px;
    opacity: 0.5;
    /* font-size: 28px;*/
    color: #ffffff;
}

.ip-css-search {
    padding-left: 21px;
    padding-right: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}

.cu-si-lang {
    left: auto !important;
    z-index: 20;
    display: none;
    width: 86px;
    height: 86px;
    margin-top: 18px;
    min-width: 0;
}

.culang {
    padding: 3px 13px !important;
    color: #ffffff;
}

.dropdown.megamenu>.navbar-nav {
    width: 100%;
    padding: 15px;
}

.navbar-nav.cust-col-bg {
    background: #F9F9FA !important;
}

.navbar-nav .backg-nav-cus {
    background: #F9F9FA !important;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1);
}

.backg-nav-cus {
    display: block;
}


/* ------mobie--- */

.bsnav-mobile .navbar-nav .nav-item .navbar-nav {
    margin-left: -15px;
    margin-right: -15px;
    display: block;
    box-sizing: content-box;
}

a.nav-link.kc-1 {
    margin: 0 4px;
}


/* ---------slideTop--------- */

.slide-dot {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: unset;
}

#slide-pre {
    padding: 0 10px;
    cursor: pointer;
}

#slide-next {
    padding: 0 10px;
    cursor: pointer;
}

.cycle {
    justify-content: center;
    position: absolute;
    display: none;
    height: 21px;
    left: -6px;
    width: 21px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    align-items: center;
    justify-content: center;
}

.item-dot {
    opacity: 0.4;
    display: flex;
    align-items: center;
    position: relative;
}

.acv {
    opacity: 1;
}

.aatt {
    display: flex;
}

.slide-about-page .item-dot.acv .cycle-per {
    display: flex !important;
}

.dot {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 0px;
}

li.pro {
    margin-right: 28px;
}

.slide-top {
    position: relative;
}

.slide-bullet {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
}

.atslide {
    position: relative;
}

.text-head {
    position: absolute;
    top: 0;
    max-width: 550px;
    padding: 0 65px;
    padding-top: 130px;
    color: #ffffff;
}

.txt-1 {
    font-weight: 800;
    font-size: 34px;
    line-height: 41px;
    padding-bottom: 15px;
}

.txt-2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.txt-3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

a .contact-now {
    text-decoration: none;
    color: #ffffff;
}

.contact-now {
    width: 180px;
    height: 48px;
    background: linear-gradient(265.7deg, #14429C 10.36%, #2C66C0 92.82%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    background: url('../img/Home/bg.png') center no-repeat;
    background-size: cover;
}

.title-vung {
    padding: 88px 0 15px;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #1D5896;
}

.line-bt-tit {
    width: 64px;
    height: 4px;
    background: #E8E8E8;
    margin: 0 auto;
}


/* .name-cate-prod {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
} */

.posts-sale {
    position: relative;
    margin: 15px 0;
}


/* .overh {
    overflow: hidden;
}
.cushmini:hover {
    transform: scale(1.15);
    overflow: hidden;
    transition: 1s;
} */

.txt-sale {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    color: #ffffff;
    background-color: #0d275b80;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0 25px;
    justify-content: center;
}

.cate-prod {
    width: 100%;
    padding: 25px;
    border-top: 1px solid #ffffff80;
    border-bottom: 1px solid #ffffff80;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    justify-content: center;
}

ul.list-cate-prod {
    padding: 0;
    list-style: none;
    padding: 45px 0 0;
}

.cushmini {
    border-radius: 6px;
}

.margin-0-auto {
    margin: 0 auto;
}

.category-home {
    background-color: #F8F8F8;
    padding-bottom: 50px;
}

#txt-year {
    font-weight: 800;
    font-size: 96px;
    line-height: 16px;
    color: linear-gradient(268.25deg, #14429C 10.36%, #2C66C0 92.82%);
    color: #14429C;
    padding-right: 15px;
}

#txt-year-1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #A0A4A8;
}

.main-welcome {
    padding: 75px 0 128px;
}

.txt-wel-1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #52575C;
}

.txt-wel-2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #616365;
}

.customer {
    background: url('../img/Home/bg2.png') center no-repeat;
    background-size: cover;
}

.txt-customer {
    font-size: 14px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    color: #52575C;
    padding: 15px 250px;
}

.slide-pre {
    color: #000000b0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 70px;
    left: -60px;
}

.slide-next {
    color: #000000b0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 70px;
    right: -60px;
}

ul.slide-arr-ctm {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.list-icon-customer {
    position: relative;
}

.slide-partner {
    padding: 24px 0 65px;
}

.main-ft {
    background: url('../img/Home/bgfooter.png') center no-repeat;
    background-size: cover;
}

.tit-name-ft {
    color: #25282B;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.chi-nhanh {
    color: #52575C;
}

.txt-cn-1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    padding-top: 10px;
}

.txt-cn-2 {
    font-size: 14px;
    font-weight: normal;
}

.txt-cn-2 p {
    margin: 0;
}

.ndc {
    padding: 35px 0;
    border-bottom: 1px solid #E8E8E8;
}

.txt-us {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #25282B;
}

.list-menu p {
    font-size: 14px;
    color: #52575C;
    line-height: 30px;
}

.list-menu {
    font-size: 14px;
    color: #52575C;
    line-height: normal;
}

.nav-bt-ft {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
}

.pc-none {
    display: none;
}

.cust-brc {
    background: transparent;
    padding: 20px 0;
    color: #52575C;
}


/* ---------HC-cap1-------- */

.cust-prod {
    color: #000000 !important;
}

.list-mn {
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.name-hc {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #1D5896;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.namet-about {
    font-weight: bold;
    font-size: 24px;
    line-height: 22px;
    color: #1D5896;
    text-transform: uppercase;
}

.list-about {
    line-height: 22px;
    color: #52575C;
    list-style: url(../img/SPhamHC/Ellipse\ 13.svg);
    padding: 0;
    list-style-position: inside;
}

.pt-25 {
    padding-top: 25px;
}

.list-chucnag {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #52575C !important;
    list-style: url('../img/SPhamHC/Ellipse\ 13.svg');
    padding: 0 15px;
}

.list-chucnag li {
    padding-top: 10px;
}

.list-chucnag li:hover {
    color: #246EBC !important;
}

.see-more {
    color: #246EBC;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.img-core {
    padding: 30px 0;
}

.coll {
    color: #A0A4A8;
}

.kc-40 {
    padding-bottom: 40px;
}

.line-hc2 {
    width: 93px;
    height: 4px;
    background: #E8E8E8;
}

.line-hc3 {
    width: 64px;
    height: 4px;
    background: #E8E8E8;
}


/* ---------- */

.abctest {
    background-color: #1D5896;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}


/* .jstree-container-ul li:hover {
    color: #1D5896;
    font-weight: 600;
} */

.jstree-node .list-group-item .jstree-closed {
    height: 44px;
    background: #F9F9FA;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #52575C;
}

ul.jstree-container-ul.jstree-children.jstree-no-icons.jstree-wholerow-ul {
    color: #52575C;
    width: 100%;
    border: 1px solid #0000001a;
}

ul.jstree-container-ul.jstree-children.jstree-no-icons.jstree-wholerow-ul li {
    border-top: 1px solid #0000001a;
    padding: 5px 0;
}

i.jstree-icon.jstree-ocl {
    background-image: url('../img/32px.png');
}

li#j1_1 {
    border-radius: 0;
    border-top: 0;
}


/* ------------------------- */

.txt-prod-c2 {
    color: #828282;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}

.txt-prod-c21 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #25282B;
}

.list-tp-hc {
    list-style: "- ";
    padding: 0 15px;
}

.mota-sp {
    padding-top: 15px;
}

.mota-sp p {
    margin-bottom: 8px;
}

.pt-30 {
    padding-top: 30px;
}

.cust-table-hc2 tbody tr td a {
    color: #246EBC;
}

.cust-table-hc2 td {
    border-top: 0;
}

.cust-table-hc2 thead th {
    vertical-align: bottom;
    border-bottom: 0;
}

.pagin {
    float: right;
}

.number-page {
    list-style: none;
    margin: 37px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding-left: 0;
}

.number-page a {
    color: #000000;
}

.icon-pre {
    border: 1px solid #F2F2F2;
    color: #d3d3d3;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.nb-txt {
    width: 34px;
    height: 34px;
    border: 1px solid #F2F2F2;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    border-radius: 5px;
}

.nb-txt.nb-hover:hover {
    background-color: #3182D8;
    /* border-radius: 50%; */
    text-align: center;
    color: #ffffff;
}

.img-thumb {
    padding: 15px 30px 0;
}

.arrow-thumb {
    display: flex;
    justify-content: space-between;
    /* padding: 18px 0 10px; */
}

.pre-thumb {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 0%;
    color: #828282;
}

.next-thumb {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 0%;
    color: #828282;
}

.img-room-detail {
    padding: 0 4px;
}

.modal-footer {
    justify-content: space-between;
}

.text-tit-tab {
    padding-top: 33px;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #25282B;
    border-top: 1px solid #8282824a;
}

.cust-navtab {
    margin-top: 13px;
    background: #c9cbcf1a;
    color: #A0A4A8;
    font-weight: 500;
}

.cust-navtab .nav-link.active {
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #25282B;
    border-bottom: 4px solid #CACCCF;
}

.cust-navtab1 .nav-link.active {
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #25282B;
    border-bottom: 2px solid #246EBC;
}

.cust-navtab .nav-item {
    padding-right: 60px;
}

.cust-navtab .nav-item:last-child {
    padding-right: 0px;
}

.video-prod {
    max-width: 686px;
    max-height: auto;
    margin: 0 auto;
    padding: 30px 0;
}

.info-room {
    /* display: flex;
    padding: 1px; */
}

.img-room-info {
    position: relative;
}

.hover-search {
    position: absolute;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    top: 0;
    left: 0;
    line-height: 218px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.0;
}

.img-room-info:hover .hover-search {
    background-color: #F9F9FA;
    opacity: 0.8;
}

.img-prod-lq {
    padding: 25px 50px;
    min-height: 205px;
}

.info-room {
    position: relative;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
    height: 100%;
}

.name-splq {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #25282B;
    text-align: center;
    height: 55px;
    /* bottom: 0;
    position: absolute; */
}

.mn-splq {
    padding-bottom: 50px;
}

.list-cate-sphc {
    list-style: none;
    padding: 0;
}

.banner-top {
    position: relative;
}

.txt-banner {
    position: absolute;
    top: 40%;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 14.5px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}

.txt-core {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #25282B;
    margin-bottom: 14px;
}

.txt-core-1 {
    font-size: 14px;
    line-height: 18px;
    color: #52575C;
    opacity: 0.7;
}

.main-ctmap {
    position: relative;
}

.main-about {
    padding-bottom: 75px;
}

.linkmap {
    position: absolute;
    top: 5px;
    right: 10px;
}

.linkmap a {
    font-weight: bold;
    font-size: 14px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #246EBC;
}

.text-map {
    position: absolute;
    top: 25px;
    text-align: center;
    left: 0;
    right: 0;
}

.map-contact {
    padding: 20px 0 60px;
}

.tit-ip-contact {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: #1D5896;
}

.ip-css {
    background: #E8E8E8;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 17px;
    height: 45px;
    color: #5C645E;
}

.pr-50 {
    padding-right: 50px;
}

.input-contact {
    text-align: center;
    padding: 0 200px 50px;
}

.atesm {
    background: #F9F9FA;
    border-radius: 4px;
    margin-top: 33px;
}

.main-news-to {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #25282B;
}

.color-246EBC {
    color: #246EBC;
}

.tit-mini-news {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #25282B;
}

.main-news-hot {
    padding: 30px 0;
}

.mini-news {
    padding: 30px 0;
    border-bottom: 1px solid #E0E0E0;
}

.color-25282B {
    color: #25282B;
}

.tit-lq-top {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 8px;
}

.tit-newslq-mn {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    padding-bottom: 5px;
}

.time-newslq-mn {
    font-size: 11px;
    line-height: 16px;
    color: #828282;
}

.news-lq-mini {
    padding-bottom: 12px;
}

.news-lq-mini:last-child {
    padding-bottom: 0px;
}

.img-trng {
    position: relative;
}

.day-news {
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ffffff;
    width: 49px;
    height: 53px;
    border-radius: 4px;
    padding: 5px 0;
}

.day {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.month {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #4F4F4F;
    text-transform: uppercase;
}

.txt-nd-news {
    font-size: 16px !important;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #4F4F4F;
    border-bottom: 1px solid #b6b6b6;
    padding-bottom: 12px;
}

.tit-txt {
    padding-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #333333;
}

.bot-news {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b6b6;
}

.key-news {
    background-color: #F2F2F2;
    color: #333D36;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 15px;
}

.mota-prod-tb {
    padding-top: 15px;
}

.jstree-wholerow {
    display: none !important;
}

.breadcrumb {
    padding: 25px 0 10px;
    background-color: transparent;
}


/* li .jstree-node:hover {
    color: #14429C;
    font-weight: 600;
} */

.sync-pagination {
    padding-top: 10px;
}

.vclc2:hover {
    color: #14429C !important;
    font-weight: 600;
}
img.cust-img-thumb {
    max-width: 80px;
}
