﻿<section class="list-news mobile mb-3 d-md-none">
    <div class="container">
        <div class="row mb-4">
            <div class="col-8">
                <div class="pl-3">
                    <a href="" class="h5 font-weight-bold">Tin tức</a>
                </div>
            </div>
            <div class="col-4 text-right">
                <a href="" class="link-view-more color-EE7D22">Xem thêm <i class="fas fa-chevron-right ml-1 small"></i></a>
            </div>
        </div>
        <div class="slide-news">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <div class="item-news">
                            <div class="row">
                                <div class="col-12">
                                    <div class="image mb-2">
                                        <a href="">
                                            <img src="~/images/change/news-01.jpg" class="img-fluid w-100" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h5 class="title">
                                        <a href="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa? </a>
                                    </h5>
                                    <div class="color-828282">
                                        <div class="time mb-2">
                                            10/9/2019  10:46
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-news">
                            <div class="row">
                                <div class="col-12">
                                    <div class="image mb-2">
                                        <a href="">
                                            <img src="~/images/change/news-01.jpg" class="img-fluid w-100" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h5 class="title">
                                        <a href="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa? </a>
                                    </h5>
                                    <div class="color-828282">
                                        <div class="time mb-2">
                                            10/9/2019  10:46
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item-news">
                            <div class="row">
                                <div class="col-12">
                                    <div class="image mb-2">
                                        <a href="">
                                            <img src="~/images/change/news-01.jpg" class="img-fluid w-100" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h5 class="title">
                                        <a href="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa? </a>
                                    </h5>
                                    <div class="color-828282">
                                        <div class="time mb-2">
                                            10/9/2019  10:46
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>