﻿@using Tucky.Services.BannerAds.Repository
@using MI.Entity.Models
@using Microsoft.AspNetCore.Localization
@using Newtonsoft.Json
@using Utils
@using MI.Dapper.Data.Repositories.Interfaces;
@inject IBannerAdsRepository _bannerrepo;
@inject ICouponRepository  _Courepo

@{
    var culture_code = "vi-VN";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LauoutTucky.cshtml";
    var ListSideTop = new List<DetailBanerAds>();
    var getsl = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_SLIDE_TOP");
    if (getsl != null)
    {
        ListSideTop = JsonConvert.DeserializeObject<List<DetailBanerAds>>(getsl.MetaData).ToList();

    }
    var ListTinhNang = new List<DetailBanerAds>();
    var GetTinhNang = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_TINH_NANG");
    if (GetTinhNang != null)
    {
        ListTinhNang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(GetTinhNang.MetaData).ToList();
    }

    var ListSlideSanPham = new List<DetailBanerAds>();
    var GetSanPham = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_SAN_PHAM");
    if (GetSanPham != null)
    {
        ListSlideSanPham = JsonConvert.DeserializeObject<List<DetailBanerAds>>(GetSanPham.MetaData).ToList();
    }
    var SanPhamGiamGia = new DetailBanerAds();
    var GetGiamGia = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_BANNER_GIAM_GIA");
    if (GetGiamGia != null)
    {
        SanPhamGiamGia = JsonConvert.DeserializeObject<DetailBanerAds>(GetGiamGia.MetaData);
    }

    var ListChinhSach = new List<DetailBanerAds>();
    var GetChinhSach = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_CHINH_SACH");
    if (GetChinhSach != null)
    {
        ListChinhSach = JsonConvert.DeserializeObject<List<DetailBanerAds>>(GetChinhSach.MetaData).ToList();
    }
    var ListCauTao = new List<DetailBanerAds>();
    var GetCauTao = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_CAU_TAO");
    if (GetCauTao != null)
    {
        ListCauTao = JsonConvert.DeserializeObject<List<DetailBanerAds>>(GetCauTao.MetaData).ToList();
    }

    var BannerGioiThieu = new DetailBanerAds();
    var GetBannerGioiThieu = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_GIOI_THIEU");
    if (GetBannerGioiThieu != null)
    {
        BannerGioiThieu = JsonConvert.DeserializeObject<DetailBanerAds>(GetBannerGioiThieu.MetaData);
    }

    var ListChungNhan = new List<DetailBanerAds>();
    var GetChungNhan = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_CHUNG_NHAN");
    if (GetChungNhan != null)
    {
        ListChungNhan = JsonConvert.DeserializeObject<List<DetailBanerAds>>(GetChungNhan.MetaData).ToList();
    }

    var ListHuongDan = new List<DetailBanerAds>();
    var GetHuongDan = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_HUONG_DAN");
    if (GetHuongDan != null)
    {
        ListHuongDan = JsonConvert.DeserializeObject<List<DetailBanerAds>>(GetHuongDan.MetaData).ToList();
    }


    var ListNhanXetKhachHang = new List<DetailBanerAds>();
    var GetNhanXet = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_NHAN_XET");
    if (GetNhanXet != null)
    {
        ListNhanXetKhachHang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(GetNhanXet.MetaData).ToList();
    }

    var BannerUDiem = new DetailBanerAds();
    var GetBannerUuDiem = _bannerrepo.GetBannerAds_By_Code(culture_code, "TUCKY_UU_DIEM");
    if (GetBannerUuDiem != null)
    {
        BannerUDiem = JsonConvert.DeserializeObject<DetailBanerAds>(GetBannerUuDiem.MetaData);
    }

    var ListYoutobe = new List<DetailBanerAds>();
    var GetLinkYoutube = _bannerrepo.GetBannerAds_By_Code("vi-VN", "YoutubeTucKy");
    if (GetLinkYoutube != null)
    {
        ListYoutobe = JsonConvert.DeserializeObject<List<DetailBanerAds>>(GetLinkYoutube.MetaData).ToList();
    }
    var f = new FilterQuery();
    f.keyword = "";
    f.languageCode = "vi-VN";
    f.pageIndex = 1;
    f.pageSize = 10;
    f.sortBy = "";
    f.sortDir = "";
    var GetAllCoupon = await _Courepo.GetAllPaging(f);
    var FirstCouPonDate = new DateTime();
    if (GetAllCoupon.Items.Count() > 0)
    {
        FirstCouPonDate = GetAllCoupon.Items.FirstOrDefault().EndDate;
    }
}

<div id="home" class="uk-position-relative uk-visible-toggle block__06" tabindex="-1" uk-slideshow="animation: push;min-height: 667; max-height: 728;autoplay: false;autoplay-interval: 5000;">
    <ul class="uk-slideshow-items">
        @foreach (var item in ListSideTop)
        {
            var splitText = item.Description.Split('+');
            <li>
                <img src="@UIHelper.StoreFilePath(item.Image,false)" alt="..." uk-cover>
                <div class="uk-position-cover uk-flex uk-flex-middle">
                    <div class="uk-width-1-1">
                        <div class="uk-container">
                            <div uk-grid>
                                <div class="uk-width-1-2@m">
                                    <div class="uk-text-center">
                                        <div class="block__06__txt1">@Html.Raw(item.Title)</div>
                                        <div class="block__06__txt2">@Html.Raw(splitText.Count() > 0 ? splitText[0] : "")</div>
                                        <div class="uk-flex-middle uk-grid-small uk-flex-center" uk-grid>
                                            <div>
                                                <span class="block__06__c1">@Html.Raw(splitText.Count() > 1 ? splitText[1] : "")</span>
                                            </div>
                                            <div>
                                                <span class="block__06__c2">@Html.Raw(splitText.Count() > 2 ? splitText[2] : "")</span>
                                                <sup class="block__06__c2__sup">đ</sup>
                                            </div>
                                        </div>
                                        <div class="block__06__txt3">@Html.Raw(splitText.Count() > 3 ? splitText[3] : "")</div>
                                        <div class="uk-text-center">
                                            <button type="button" uk-toggle="target: #modal-close-outside" class="uk-button uk-button-default block__06__btn uk-border-pill">ĐĂNG KÝ NGAY</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }


    </ul>
    <ul class="uk-slideshow-nav block__06__dot uk-dotnav uk-position-bottom-center uk-position-medium"></ul>
</div>

<!-- Bảo hành 1 năm, Miễn phí vận chuyển, Lỗi 1 đổi 1, Kiểm tra hàng khi nhận -->
<div class="uk-section block__01">
    <div class="uk-container">
        <div class="uk-child-width-1-2 uk-child-width-1-3@m uk-child-width-1-4@l uk-flex-center" uk-grid>
            @foreach (var item in ListChinhSach)
            {
                <div>
                    <div class="uk-text-center">
                        <div class="block__01__img wow pulse">
                            <img class="uk-responsive-height" src="@UIHelper.StoreFilePath(item.Image,false)" alt="...">
                        </div>
                        <div class="block__01__title">@Html.Raw(item.Title)</div>
                        <div class="block__01__desc">@Html.Raw(item.Description)</div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<!-- TUCKY NHIỆT KẾ THỜI GIAN THỰC -->
<div id="about" class="uk-section-xsmall uk-background-norepeat uk-background-cover" data-src="images/nen.png" uk-img>
    <div class="uk-container">
        <div class="uk-child-width-1-2@m uk-flex-middle" uk-grid>
            <div>
                <img src="@UIHelper.StoreFilePath(BannerGioiThieu.Image,false)" alt="...">
            </div>
            <div>
                <div class="uk-grid-3 uk-flex-bottom" uk-grid>
                    <div class="uk-width-auto">
                        <img class="block__07__img1" src="images/Group-1514.png" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <div class="block__07__txt1">@Html.Raw(BannerGioiThieu.Title)</div>
                        <div class="block__07__box">
                            <hr class="block__07__line">
                        </div>
                    </div>
                </div>
                <p class="block__07__desc">
                    @Html.Raw(BannerGioiThieu.Description)
                </p>
                <div>
                    <a href="#cautao" class="uk-button uk-button-default uk-border-pill block__07__btn">XEM THÊM</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TÍNH NĂNG VƯỢT TRỘI -->
<div class="uk-section block__02">
    <div class="uk-container">
        <div class="uk-text-center uk-text-uppercase block__title">TÍNH NĂNG VƯỢT TRỘI</div>
        <div class="uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-5@l" uk-grid>
            @foreach (var item in ListTinhNang)
            {
                <div>
                    <div class="uk-text-center hieuung">
                        <div class="block__02__img uk-flex uk-flex-center uk-flex-middle">
                            <img class="uk-responsive-height" src="@UIHelper.StoreFilePath(item.Image,false)" alt="...">
                        </div>
                        <div class="block__02__title">@Html.Raw(item.Title)</div>
                        <div class="block__02__desc">@Html.Raw(item.Description)</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- NHIỆT KẾ THỜI GIAN THỰC TUCKY -->
<div id="nhietke" class="uk-section block__11">
    <div class="uk-container">
        <div class="block__11__title uk-margin">NHIỆT KẾ THỜI GIAN THỰC TUCKY</div>
        <div class="uk-child-width-1-2@m uk-grid-92-m" uk-grid>
            <div>
                <div uk-slider="autoplay: true">

                    <div class="uk-position-relative">

                        <div class="uk-slider-container uk-light">
                            <ul class="uk-slider-items uk-child-width-1-1">
                                @foreach (var item in ListSlideSanPham)
                                {
                                    <li>
                                        <div class="uk-text-center">
                                            <img src="@UIHelper.StoreFilePath(item.Image,false)" alt="...">
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>

                        <div class="uk-hidden@s uk-light">
                            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                        </div>

                        <div class="uk-visible@s">
                            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                        </div>

                    </div>

                </div>
            </div>
            <div>
                <div class="uk-text-center">
                    <div class="block__11__price1">@SanPhamGiamGia.Title</div>
                    <div class="block__11__sale">@Html.Raw(SanPhamGiamGia.Description.Split('+')[0])</div>
                    <div class="uk-text-center">
                        <hr class="block__11__line">
                    </div>
                    <div class="block__11__price2 uk-margin">@Html.Raw(SanPhamGiamGia.Description.Split('+').Count() >= 1 ? SanPhamGiamGia.Description.Split('+')[1] : "")</div>
                    <div>
                        <button type="button" uk-toggle="target: #modal-close-outside" class="block__11__btn uk-button uk-button-default uk-border-pill">ĐẶT HÀNG NGAY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CẤU TẠO -->
<div class="block__10" id="cautao">
    <div class="uk-section uk-background-norepeat uk-background-bottom-left" data-src="images/cau-tao/Group-1674.jpg" uk-img>
        <div class="uk-container">
            <div class="uk-text-center uk-text-uppercase block__title">CẤU TẠO</div>
            <div class="uk-flex-center uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-small uk-margin" uk-grid>

                <div>
                    <div class="uk-child-width-auto uk-flex-middle uk-grid-small uk-flex-center" uk-grid>
                        <div>
                            <div class="block__10__box uk-border-circle uk-display-inline-block uk-position-relative">
                                <div class="uk-cover-container wow pulse">
                                    <img src="images/cau-tao/nhiet-ke.png" alt="" uk-cover>
                                    <canvas width="120" height="120"></canvas>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="block__10__txt1">nhiệt kế</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-child-width-auto uk-flex-middle uk-grid-small uk-flex-center" uk-grid>
                        <div>
                            <div class="block__10__box uk-border-circle uk-display-inline-block uk-position-relative">
                                <div class="uk-cover-container wow pulse">
                                    <img src="images/cau-tao/day-sac.png " alt="" uk-cover>
                                    <canvas width="120" height="120"></canvas>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="block__10__txt1">dây sạc</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-child-width-auto uk-flex-middle uk-grid-small uk-flex-center" uk-grid>
                        <div>
                            <div class="block__10__box uk-border-circle uk-display-inline-block uk-position-relative">
                                <div class="uk-cover-container wow pulse">
                                    <img src="images/cau-tao/mieng-dinh.png" alt="" uk-cover>
                                    <canvas width="120" height="120"></canvas>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="block__10__txt1">miếng dính</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-child-width-auto uk-flex-middle uk-grid-small uk-flex-center" uk-grid>
                        <div>
                            <div class="block__10__box uk-border-circle uk-display-inline-block uk-position-relative">
                                <div class="uk-cover-container wow pulse">
                                    <img src="images/cau-tao/phan-mem-theo-doi.png" alt="" uk-cover>
                                    <canvas width="120" height="120"></canvas>
                                </div>
                            </div>
                        </div>
                        <div>
                            <span class="block__10__txt1 block__10__txt1--z1">phần mềm</span>
                            <span class="block__10__txt2 block__10__txt2--z1">theo dõi</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-text-center uk-text-uppercase block__title">THÔNG SỐ KỸ THUẬT</div>
            <div class="uk-child-width-1-2@m uk-flex-center" uk-grid>
                <div>
                    <img src="images/cau-tao/thong-so-ky-thuat.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ƯU ĐIỂM CỦA TUCKY -->
<div class="uk-section block__08">
    <div class="uk-container">
        <div class="uk-text-center uk-text-uppercase block__title">ƯU ĐIỂM CỦA TUCKY</div>
        <div>
            <img src="@UIHelper.StoreFilePath(BannerUDiem.Image,false)" alt="...">
        </div>
    </div>
</div>
<!-- MẸ NÊN HAY KHÔNG NÊN MUA ĐỒ DÙNG GÌ CHO BÉ -->
<div class="uk-background-norepeat uk-background-cover block__09" data-src="images/block_09/tuki_1.png" uk-img>
    <div class="uk-section-small block__09__bg">
        <div class="uk-container">
            <div class="uk-text-center uk-text-uppercase block__title">MẸ NÊN HAY KHÔNG NÊN MUA ĐỒ DÙNG GÌ CHO BÉ</div>
            <div class="uk-text-center block__09__desc">
                Có những đồ dùng chỉ sử dụng trong thời gian ngắn nhưng chi phí khá cao <br>
                gây ra tình trạng tốn kém, lãng phí. Thay vào đó bố mẹ thông thái chọn lựa những sản phẩm có thể sử dụng được trong thời gian dài hữu ích cho bé cũng như tiết kiệm thời gian cho bố mẹ
            </div>
            <div class="uk-flex-center uk-margin" uk-grid>
                <div class="uk-width-1-2@m">
                    <img src="~/images/anh-3.png" alt="">
                    <div class="uk-text-center block__09__label">THỜI GIAN SỬ DỤNG / CHI PHÍ 1 NGÀY</div>
                </div>
            </div>
            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-divider block__09__table">
                    <thead>
                        <tr>
                            <th>
                                <span class="block__09__c1">ĐỒ DÙNG</span>
                            </th>
                            <td>
                                <div>
                                    <img src="images/block_09/tucky1.png" alt="">
                                </div>
                                <div class="block__09__table__img">
                                    <img src="images/block_09/tucky.png" alt="">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="block__09__c2">Nôi Rung Điện</span>
                                </div>
                                <div class="block__09__table__img">
                                    <img src="images/block_09/noi-rung-dien.png" alt="">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="block__09__c2">Xe Đẩy</span>
                                </div>
                                <div class="block__09__table__img">
                                    <img src="images/block_09/xe-day-cho-be-zaracos-nano-rs-2986-red-1_1594187166.png" alt="">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="block__09__c2">Ghế Ăn Dặm</span>
                                </div>
                                <div class="block__09__table__img">
                                    <img src="images/block_09/ghe-an-dam.png" alt="">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="block__09__c2">Các Loại Đồ Chơi Khác</span>
                                </div>
                                <div class="block__09__table__img">
                                    <img src="images/anh-do-choi.png" alt="">
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                <span class="block__09__c1">CHI PHÍ</span>
                            </th>
                            <td>
                                <span class="block__09__c2">2.599.000</span>
                            </td>
                            <td>
                                <span class="block__09__c2">1.800.000</span>
                            </td>
                            <td>
                                <span class="block__09__c2">2.000.000</span>
                            </td>
                            <td>
                                <span class="block__09__c2">700.000</span>
                            </td>
                            <td>
                                <span class="block__09__c2">1.000.000</span>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <span class="block__09__c1">THỜI GIAN SỬ DỤNG</span>
                            </th>
                            <td>
                                <span class="block__09__c2">5-10 Năm</span>
                            </td>
                            <td>
                                <span class="block__09__c2">3-6 Tháng</span>
                            </td>
                            <td>
                                <span class="block__09__c2">1 Năm</span>
                            </td>
                            <td>
                                <span class="block__09__c2">3-6 Tháng</span>
                            </td>
                            <td>
                                <span class="block__09__c2">1 Năm</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- CHỨNG NHẬN CHẤT LƯỢNG -->
<div class="uk-section block__03">
    <div class="uk-container uk-container-small">
        <img src="~/images/406480-PD39DD-19.png" />
    </div>
</div>
<!-- Hệ Điều Hành Hỗ Trợ -->
<div id="app1" class="uk-section-xsmall block__13">
    <div class="uk-container uk-container-small">
        <div class="uk-child-width-1-2@m uk-grid-100-m uk-flex-middle" uk-grid>
            <div>
                <div class="block__13__title uk-margin-medium">Hệ Điều Hành Hỗ Trợ</div>
                <div class="uk-child-width-1-2" uk-grid>
                    <div>
                        <div class="block__13__txt1">Android 4.3 trở lên</div>
                        <div>
                            <img class="block__13__img" src="images/ho-tro/googleplay.png" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="block__13__txt1">IOS 8 trở lên</div>
                        <div>
                            <img class="block__13__img" src="images/ho-tro/appstore.png" alt="">
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <img src="images/ho-tro/trinh-duyet.png" alt="">
                            </div>
                            <div class="uk-width-3-5">
                                <span class="block__13__txt2">Trình duyệt hỗ trợ trên PC</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-text-center wow shake">
                    <img src="images/ho-tro/Rectangle-137.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HƯỚNG DẪN SỬ DỤNG -->
<div id="use" class="uk-section-small block__05">
    <div class="uk-container">
        <div class="uk-text-center uk-text-uppercase block__title">HƯỚNG DẪN SỬ DỤNG</div>
        <div class="uk-child-width-1-3@m" uk-grid>
            @foreach (var item in ListHuongDan)
            {
                <div>
                    <div class="block__05__img uk-text-center">
                        <img class="uk-responsive-height" src="@UIHelper.StoreFilePath(item.Image,false)" alt="...">
                    </div>
                    <div class="uk-text-uppercase block__05__title">@Html.Raw(item.Title)</div>
                    <div class="block__05__desc">@Html.Raw(item.Description)</div>
                </div>
            }


        </div>
        <div uk-grid>
            <div class="uk-width-expand">
                <div class="block__05__title1">MÃ MÀU HIỂN THỊ</div>
                <div class="uk-child-width-1-2 uk-child-width-auto@s uk-grid-small" uk-grid>
                    <div class="block__05__item">
                        <div class="block__05__item__box1 uk-text-center uk-flex uk-flex-center uk-flex-middle">
                            <span class="uk-position-center">nhiệt độ <br> thường</span>
                        </div>
                        <div class="block__05__item__box2 uk-text-center">
                            <div class="block__05__item__c1">34.7 - 37.3</div>
                        </div>
                    </div>
                    <div class="block__05__item">
                        <div class="block__05__item__box1 uk-text-center uk-flex uk-flex-center uk-flex-middle">
                            <span class="uk-position-center">nhiệt độ <br> cao</span>
                        </div>
                        <div class="block__05__item__box2 uk-text-center">
                            <div class="block__05__item__c1">37.3 - 38.4</div>
                        </div>
                    </div>
                    <div class="block__05__item">
                        <div class="block__05__item__box1 uk-text-center uk-flex uk-flex-center uk-flex-middle">
                            <span class="uk-position-center">nhiệt độ <br> rất cao</span>
                        </div>
                        <div class="block__05__item__box2 uk-text-center">
                            <div class="block__05__item__c1">> 38.4</div>
                            <div class="block__05__item__c2">Nhiệt độ cài đặt</div>
                        </div>
                    </div>
                    <div class="block__05__item">
                        <div class="block__05__item__box1 uk-text-center uk-flex uk-flex-center uk-flex-middle">
                            <span class="uk-position-center">nhiệt độ dưới mức <br> nhiệt độ cơ thể</span>
                        </div>
                        <div class="block__05__item__box2 uk-text-center">
                            <div class="block__05__item__c2">Khi nhiệt kế bị rơi ra</div>
                            <div class="block__05__item__c2">(có cảnh báo)</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-3@m wow shake">
                <div class="block__05__title1">VỊ TRÍ DÁN ĐÚNG</div>
                <img src="~/images/em-be-changes.png" alt="...">
            </div>
        </div>
    </div>
</div>
<!-- Countdown -->
<div class="uk-section block__12">
    <div class="uk-container">
        <div class="uk-grid-0 uk-grid-10-s uk-child-width-1-4 uk-child-width-auto@m uk-flex-center uk-flex-middle" uk-grid uk-countdown="date: @FirstCouPonDate">
            <div class="uk-visible@m">
                <div class="uk-countdown-label block__12__label uk-margin-small uk-text-center uk-visible@s">SỰ KIỆN CÒN</div>
            </div>
            <div>
                <div class="uk-countdown-number block__12__number uk-countdown-days"></div>
            </div>
            <div class="uk-visible@m">
                <div class="uk-countdown-label block__12__label uk-margin-small uk-text-center">ngày</div>
            </div>
            <div>
                <div class="uk-countdown-number block__12__number uk-countdown-hours"></div>
            </div>
            <div class="uk-visible@m">
                <div class="uk-countdown-label block__12__label uk-margin-small uk-text-center uk-visible@s">giờ</div>
            </div>
            <div>
                <div class="uk-countdown-number block__12__number uk-countdown-minutes"></div>
            </div>
            <div class="uk-visible@m">
                <div class="uk-countdown-label block__12__label uk-margin-small uk-text-center uk-visible@s">phút</div>
            </div>
            <div>
                <div class="uk-countdown-number block__12__number uk-countdown-seconds"></div>
            </div>
            <div class="uk-visible@m">
                <div class="uk-countdown-label block__12__label uk-margin-small uk-text-center uk-visible@s">giây</div>
            </div>
        </div>
        <div class="uk-margin-large"></div>
        <div class="uk-grid-small uk-grid-85-m uk-child-width-1-2@m uk-flex-middle" uk-grid>
            <div uk-slider="autoplay: true">

                <div class="uk-position-relative">
                    <div class="uk-slider-container uk-light ">
                        <ul class="uk-slider-items uk-child-width-1-1">
                            @foreach (var item in ListYoutobe)
                            {
                                <li>
                                    <div class="uk-text-center">
                                        @Html.Raw(item.Url)
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                    <div class="uk-hidden@s uk-light ">
                        <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    <div class="uk-visible@s">
                        <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                </div>
            </div>
            <div>
                <form id="DatHangMaSeri">
                    <fieldset class="uk-fieldset">
                        <div class="uk-margin">
                            <div class="uk-child-width-auto uk-flex-middle" uk-grid>
                                <div>
                                    <div class="block__12__txt1">ĐẶT HÀNG NGAY</div>
                                    <div class="block__12__txt2">NHẬN ƯU ĐÃI ĐẶC BIỆT</div>
                                </div>
                                <div>
                                    <span class="block__12__txtright">600K</span>
                                </div>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__12__input name-input" type="text" placeholder="Họ Và Tên *" required>
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__12__input phone-input" type="text" placeholder="Số Điện Thoại *" required>
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__12__input address" type="text" placeholder="Địa Chỉ *">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__12__input  mail-input" type="text" placeholder="Email *">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__12__input Nameseri" type="text" placeholder="Mã Seri Khuyến Mãi">
                        </div>
                        <div class="uk-margin">
                            <input class="uk-input block__12__input codeseri" type="text" placeholder="Mã Giảm Giá Khuyến Mãi" >
                        </div>
                        <div>
                            <div class="alert alert-danger" id="mess-voucher" style="display:none">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> <span class="mess-vc">Mã này không phù hợp</span>
                            </div>
                            <div class="alert alert-success" id="mess-voucher-success" style="display:none">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i> <span class="mess-vc">Áp dụng mã thành công</span>
                            </div>
                        </div>
                       
                        <div>
                            <button type="submit" class="uk-button uk-button-default block__12__btn">ĐẶT HÀNG NGAY</button>
                            <button type="button" class="uk-button uk-button-default block__12__btn"id="CheckCode">Check mã</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- NHẬN XÉT CỦA KHÁCH HÀNG -->
<div class="uk-section block__04">
    <div class="uk-container uk-container-small">
        <div class="uk-text-center uk-text-uppercase block__title">NHẬN XÉT CỦA KHÁCH HÀNG</div>
        <div uk-slider="autoplay: true">

            <div class="uk-position-relative">

                <div class="uk-slider-container">
                    <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
                        @foreach (var item in ListNhanXetKhachHang)
                        {
                            <li>
                                <div class="uk-text-center">
                                    <div class="block__04__img">
                                        <div class="uk-cover-container uk-border-circle uk-display-inline-block">
                                            <img src="@UIHelper.StoreFilePath(item.Image,false)" alt="..." uk-cover>
                                            <canvas width="150" height="150"></canvas>
                                        </div>
                                    </div>
                                    <div class="block__04__title">@Html.Raw(item.Title)</div>
                                    <div class="block__04__desc">@Html.Raw(item.Description)</div>
                                </div>
                            </li>

                        }
                    </ul>
                </div>

                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>

                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
    </div>
</div>

