﻿@using MI.Entity.Enums;
@using VietLab.Web.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using VietLab.Web.Services.Article.ViewModel
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository
@using Utils
@using VietLab.Web.Services.BannerAds.Repository
@using VietLab.Web.Utility
@inject IBannerAdsRepository bannerAdsRepository
@inject IArticleRepository articleRepository;
@model List<ZoneByTreeViewMinify>;
@inject IConfigSEOUtility configSEOUtility

@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    ViewData["Title"] = "Tin tức";
    Layout = "~/Views/Shared/_LayoutVietLab.cshtml";
    var blog_zone_parent = ViewBag.ZoneParent as ZoneByTreeViewMinify;
    var list_zone_chlids = ViewBag.ZoneChilds as List<ZoneByTreeViewMinify>;
    var LisActical = ViewBag.Listactical as List<ArticleMinify>;
    var ZoneId = ViewBag.zone_id;
    var name = "";
    if (Model != null)
    {
        name = Model.Where(x => x.Id == ZoneId).FirstOrDefault().Name;
    }
}
@section styles {
    <style>
        .PaddingPagi {
            margin-top: 40px
        }
    </style>
    @Html.Raw(configSEOUtility.ConfigMeta("Tin tức", "Tin tức VietLab", ""))
    @Html.Raw(configSEOUtility.ConfigSocialMeta())

}
<section class="main-news">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb cust-brc">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Tin tức</li>
                <li class="breadcrumb-item active thisCate" aria-current="page">@name</li>
            </ol>
        </nav>

        <div class="row">
            <div class="col-md-9">
                <div class="form-book">
                    <div class="mb-pd-0 mb-form-bk">
                        @if (Model != null)
                        {
                            var listCateBlog = Model.Where(x => x.ParentId == 0);
                        <ul class="nav cust-navtab1" id="myTab" role="tablist">

                            @foreach (var item in listCateBlog)
                            {
                                var hf = string.Format("/tin-tuc/{0}.{1}.html", item.Url, item.Id);
                              
                                <li class="nav-item">
                                    <a class="nav-link tab1 @(ZoneId == item.Id ?"active":"")" href="@hf">@item.Name</a>
                                </li>
                            }
                        </ul>
                            <div>
                                @await Component.InvokeAsync("BlogPaging", new { zone_id = ZoneId, pageIndex = 1 })
                            </div>
                        }
                    </div>
                </div>
                <div class="PaddingPagi">
                    <ul class="sync-pagination float-right clicknextblog1" data-zoneid="@ZoneId"></ul>
                </div>
            </div>
            <div class="col-md-3">
                <p class="name-hc color-25282B">Tin gần đây</p>

                @{
                    var totals = 0;
                    var blog_mini = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, 2, 0, 2, culture_code, "", 1, 7, out totals);
                    var ListBlog_mini = blog_mini.Skip(1);
                }
                @if (blog_mini != null)
                {
                    var blog_Big = blog_mini.FirstOrDefault();

                    <div class="news-lq-top">
                        @{
                            var href = string.Format("/{0}.a{1}.html", blog_Big.Url, blog_Big.Id);
                        }
                        <a href="@href"><img src="@UIHelper.StoreFilePath(blog_Big.Avatar, false)?v=@WebHelper.Version()" class="w-100" alt=""></a>
                        <p class="tit-lq-top pt-3">
                            <a href="@href">@blog_Big.Title</a>
                        </p>
                        <p>@Html.Raw(blog_Big.Description)</p>
                    </div>

                    @foreach (var item in ListBlog_mini)
                    {
                        var link = string.Format("/{0}.a{1}.html", item.Url, item.Id);
                        <div class="news-lq-mini">
                            <div class="row">
                                <div class="col-4">
                                    <a href="@link"><img src="@UIHelper.StoreFilePath(item.Avatar, false)?v=@WebHelper.Version()" class="w-100" alt=""></a>
                                </div>
                                <div class="col-8">
                                    <a href="@link">
                                        <div class="tit-newslq-mn">@item.Title</div>
                                    </a>
                                    <div class="time-newslq-mn">@item.CreatedDate</div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript" src="~/js/controller/BlogList1.js" asp-append-version="true"></script>
}