﻿@using MI.Entity.Enums;
@using VietLab.Web.Services.Zone.ViewModal
@using VietLab.Web.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@using VietLab.Web.Services.BannerAds.Repository
@using MI.Entity.Models
@inject IBannerAdsRepository bannerAdsRepository;
@inject IConfigSEOUtility configSEOUtility
@using Utils
@using VietLab.Web.Utility
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}
@{
    ViewData["Title"] = "Blog chi tiết";
    Layout = "~/Views/Shared/_LayoutVietLab.cshtml";
}
@{

    var detail = ViewBag.Detail as ArticleDetail;

    var ListActical = ViewBag.ListActical as List<ArticleMinify>;

    var blog_Big = new ArticleMinify();
    var ZoneId = ViewBag.ZoneId;
    if (ListActical.Count > 0)
    {
        blog_Big = ListActical.FirstOrDefault();
    }
    var Banner_Blog = new DetailBanerAds();
    var Banner_Blog_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Blog");
    if (Banner_Blog_Cache != null)
    {
        Banner_Blog = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Blog_Cache.MetaData);
    }
    var totalRow = 0;
    var listNewById = articleRepository.GetArticlesInZoneId_Minify_FullFilter(detail.ZoneId, 2, 0, 2, culture_code, "", 1, 7, out totalRow);
    var idActical = listNewById.Where(x => x.Id == detail.Id);
    var listTag = detail.Tags.Split(',').ToList();
   
}
@section styles {
    @Html.Raw(configSEOUtility.ConfigMeta(detail.Title, detail.MetaDescription, detail.MetaKeyword))
    @Html.Raw(configSEOUtility.ConfigSocialMeta("default fbAddId", "default url", detail.MetaTitle == "" ? detail.Title : detail.MetaTitle, detail.MetaDescription == "" ? detail.Description : detail.MetaDescription, detail.Avatar))

}

<section class="main-news-detail" data-type="@(idActical.FirstOrDefault().Type)">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb cust-brc">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@(string.Format("/{0}/{1}.{2}.html","tin-tuc",detail.ZoneName,0))">Tin tức</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="@(string.Format("/{0}/{1}.{2}.html","tin-tuc",detail.ZoneName,detail.ZoneId))">@detail.ZoneName</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">@detail.Title</a></li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-9">
                <div>
                    <div class="txt-nd-news pt-3">
                        @Html.Raw(detail.Body)
                    </div>
                    <div class="bot-news">
                        <div class="d-flex">
                            @foreach (var item in listTag)
                            {
                                <div class="key-news">@item</div>
                            }
                        </div>
                        <div class="d-flex">
                            <span class="mr-3" style="color: #52575C;">SHARE</span>
                            <a href="#"><img src="~/img/Facebook.svg" class="mr-2" alt=""></a>
                            <a href="#"><img src="~/img/Zalo.svg" class="mr-2" alt=""></a>
                            <a href="#"><img src="~/img/Instagram.svg" class="mr-2" alt=""></a>
                            <a href="#"><img src="~/img/mail.svg" class="" alt=""></a>

                        </div>
                    </div>
                    <div class="main-news-to mt-3">
                        Tin tức liên quan
                    </div>
                    <ul class="list-chucnag">
                        @{
                            var ListNewLienQuan = listNewById.Where(x => x.Id != detail.Id).Take(4).ToList();
                        }
                        @foreach (var item in ListNewLienQuan)
                        {
                            var link = string.Format("/{0}.a{1}.html", item.Url, item.Id);
                            <li><a href="@link">@item.Title</a></li>
                        }
                    </ul>
                </div>

            </div>
            <div class="col-md-3">
                <p class="name-hc color-25282B">Tin gần đây</p>

                <div class="news-lq-top">
                    <a href="@("/"+ blog_Big.Url+".a"+blog_Big.Id+".html")"><img src="@UIHelper.StoreFilePath(blog_Big.Avatar, false)?v=@WebHelper.Version()" class="w-100" alt=""></a>
                    <p class="tit-lq-top pt-3">
                        <a href="@("/"+ blog_Big.Url+".a"+blog_Big.Id+".html")">@blog_Big.Title</a>
                    </p>
                    <p>@Html.Raw(blog_Big.Description)</p>
                </div>
                @{
                    var blog_mini = ListActical.Skip(1);
                }
                @if (blog_mini != null)
                {
                    @foreach (var item in blog_mini)
                    {
                        var link = string.Format("/{0}.a{1}.html", item.Url, item.Id);
                        <div class="news-lq-mini">
                            <div class="row">
                                <div class="col-4">
                                    <a href="@link"><img src="@UIHelper.StoreFilePath(item.Avatar, false)?v=@WebHelper.Version()" class="w-100" alt=""></a>
                                </div>
                                <div class="col-8">
                                    <a href="@link">
                                        <div class="tit-newslq-mn">@item.Title</div>
                                    </a>
                                    <div class="time-newslq-mn">@item.CreatedDate</div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

</section>

@section scripts {
    <script>
        sessionStorage.clear();
        var Type = $('.main-news-detail').data('type');
        sessionStorage.setItem("TypeActical", Type);
    </script>
    <script type="text/javascript" src="~/js/controller/blogDetailController.js" asp-append-version="true"></script>

}