﻿@using VietLab.Web.Services.Product.ViewModel;
@using Utils;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using VietLab.Web.Utility
@inject ICookieUtility cookieUtility
@model List<ProductMinifys>;
@{
    var total = ViewBag.Total;
    var id = ViewBag.Id;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
}

@{
    var list_product = Model;
    var product_child = list_product.Take(9).OrderBy(r => r.SortOrder);

}
@if (Model != null)
{
    <div class="set-total" data-total="@total" data-id="@id" data-is-rendered="@Model.Count()" style="display:none"></div>
    <ul  class="list-cate-sphc row" id="_bindingHtmlProduct">
        @foreach (var item in product_child)
        {
            var link_tar = string.Format("/{0}.p{1}.html", item.Url, item.ProductId);
            <li class="col-md-4 kc-40">
                <a href="@link_tar">
                    <div class="name-hc">@item.Title</div>
                </a>
                <div class="bdrr border">
                    <a href="@link_tar">
                        <img src="@UIHelper.StoreFilePath(item.Avatar, false)?v=@WebHelper.Version()" class="w-100" alt="...">
                    </a>
                </div>
               
                <div class="mota-prod-tb ">@Html.Raw(UIHelper.TrimByWord(UIHelper.ClearHtmlTag(item.Description), 20, "..."))</div>
            </li>
        }
    </ul>

}

