﻿@await Component.InvokeAsync("BannerInContact")
@await Component.InvokeAsync("MapContact")
@await Component.InvokeAsync("FormFeedback")
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")

@section scripts{


    <link href="~/vendor/map/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script src="~/vendor/map/fSelect/fselect.js"></script>
    <script src="~/vendor/map/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/vendor/map/jquery.slimScroll.js"></script>
    <script src="~/vendor/map/jquery.mousewheel.min.js"></script>
    <script src="~/vendor/map/jquery.jscrollpane.min.js"></script>
    <link href="~/vendor/map/jquery.jscrollpane.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnbU1GPu5dcVfxn0GFTUoNC6UYpFIrxrA&callback=Location.InitMap" defer></script>
    <script type="text/javascript" src="~/js/map/Location.js" asp-append-version="true"></script>

   
}