﻿<section class="container  mb-2 mb-md-4">
    <div class="row">
        <div class=" col-12">
            <a href="" title="">
                <img src="~/images/change/banner-sm-2.jpg" class="w-100  " alt="" />
            </a>
        </div>
    </div>
</section>