﻿<div class=" cart-mobile  dropdown-cart-mobile  ">
    <div class="_binding_dropdown_cart">

    </div>
    <!--Sum-->
    <div class="d-flex px-3">
        <div class="text-uppercase">
            Tổng tiền:
        </div>
        <div class="h6 font-weight-bold ml-auto color-EE7D22 small-total-cart">
            21.000đ
        </div>
    </div>
    <div class="bottom-dropdown d-flex  ">
        <div class="small mr-3 align-self-center">
            Bạn còn <span class="dropdown-quantity-cart"></span> sản phẩm trong giỏ hàng
        </div>
        <div class="h6 ml-auto mb-0">
            <a href="@("/gio-hang")" id="link-target-cart-mobile" class="btn-link link-view-more  font-weight-normal text-uppercase">XEM GIỎ HÀNG</a>
            <a href="javascript:void(0)" id="link-clear-cart-moblie" class="btn-link link-view-more text-uppercase">XÓA TẤT CẢ</a><br />

        </div>
    </div>
</div>