﻿<div class="row menu-ngang-2 mt-3 mt-lg-4 mt-xl-5 ">
    <div class="col-xl-4 col-md-4 col-sm-12 col-4 px-2">
        <div class="item " data-toggle="modal" data-target="#modal-tieu-chuan">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-3 col-12  pr-md-0 align-self-center text-center">
                    <img src="~/images/icon-n-1.png" class="img-fluid mb-2 mb-md-0 ">
                </div>
                <div class="col-xl-10 col-md-9 col-12">
                    <div class="text-uppercase font-weight-600">
                        Tiêu chuẩn hàng hóa
                    </div>
                    <div class="color-828282 d-none d-md-block">
                        Chúng tôi là Công ty TNHH đầu tư và thương mại Enterbuy Việt Nam ...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12 col-4 px-2">
        <div class="item " data-toggle="modal" data-target="#modal-tieu-chuan">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-md-3 col-12  pr-md-0 align-self-center text-center">
                    <img src="~/images/icon-n-2.png" class="img-fluid mb-2 mb-md-0 ">
                </div>
                <div class="col-xl-10 col-md-9 col-12">
                    <div class="text-uppercase font-weight-600">
                        Tiêu chuẩn dịch vụ
                    </div>
                    <div class="color-828282 d-none d-md-block">
                        Chúng tôi là Công ty TNHH đầu tư và thương mại Enterbuy Việt Nam ...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12 col-4 px-2">
        <div class="item " data-toggle="modal" data-target="#modal-tieu-chuan">
            <div class="row ">
                <div class="col-xl-2 col-lg-3 col-md-3 col-12  pr-md-0 align-self-center text-center">
                    <img src="~/images/icon-n-3.png" class="img-fluid mb-2 mb-md-0 ">
                </div>
                <div class="col-xl-10 col-md-9 col-12">
                    <div class="text-uppercase font-weight-600">
                        Phòng chuyên gia nước
                    </div>
                    <div class="color-828282 d-none d-md-block">
                        Chúng tôi là Công ty TNHH đầu tư và thương mại Enterbuy Việt Nam ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>