﻿@using MI.Entity.Enums;
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject IZoneDao zoneRepository;
@using Utils
@{
    //var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    //var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;


    var domain = Context.Request.Host.ToString();
}

@{
    var zone_id = ViewBag.ZoneId;
    //var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
    var breadcrumbs = await zoneRepository.GetBreadcrumbByZoneId(zone_id, Utility.DefaultLang);
}
@await Component.InvokeAsync("SEO_Breadcrumb", new { bread = breadcrumbs, page = "", type_page = "" })
<div class="container">
    <nav aria-label="breadcrumb ">

        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            @foreach (var item in breadcrumbs)
            {
                var link_tar = "/" + item.Url;
                <li class="breadcrumb-item"><a href="@link_tar">@item.Name</a></li>
            }
        </ol>
    </nav>
</div>