﻿@model Enterbuy.Data.SqlServer.ModelDto.ArticleDetail
@{
    Layout = null;
}

<div class="modal-content">
    <div class="modal-header border-bottom-0">
        <h6 class="modal-title font-weight-bold">@Model.Title</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    @*<div class="modal-body pb-4 article-description">*@
    <div class="modal-body pb-4">
        @Html.Raw(Model.Body)
    </div>
    @*<div class="text-center mb-3">
        <button class="btn btn-outline-view-more py-2 px-3 color-EE7D22" onclick="expandAticleDes()">Xem thêm<i class="fas fa-chevron-down ml-2 " aria-hidden="true"></i></button>
    </div>*@
</div>