﻿@using Enterbuy.Core.Enumerations
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Statics.Utilities
@using Microsoft.AspNetCore.Http.Extensions

@inject IProductDao productDao

@{
    var objType = ViewBag.Type;
    var objId = ViewBag.ZoneId;
    var domainFull = Context.Request.GetDisplayUrl();


}

@if (objType == (int)TypeArticle.Product)
{
    var p_detail = await productDao.GetProductInfomationDetail(objId, Utils.Utility.DefaultLang);
    if (p_detail != null)
    {
        @section styles{
            @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(string.IsNullOrEmpty(p_detail.MetaTitle) == true ? p_detail.Title : p_detail.MetaTitle, p_detail.MetaDescription, p_detail.MetaKeyword, domainFull))
            @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigSocialMeta("default dbAppID", domainFull, p_detail.SocialTitle, p_detail.SocialDescription, p_detail.SocialImage))
            @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaNoIndex(false))
            @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaCanonical(domainFull, false, ""))
            @*@Html.Raw(configSEOUtility.ConfigShemaOrgProduct(p_detail))*@
            @await Component.InvokeAsync("SEO_Product", new { product = p_detail })

            <style>
                .content img {
                    max-width: 100%;
                    height: auto;
                }
            </style>
            <style>
                .flashsale-timer > div {
                    font-size: 12px;
                    padding: .2rem .35rem;
                }

                .flashsale-timer {
                    background: linear-gradient(27.2deg, #EA3906 21.76%, #EE7D22 74.56%);
                    border-radius: 4px;
                    padding: .5rem;
                }

                    .flashsale-timer label {
                        color: #fff;
                    }

                    .flashsale-timer img {
                        max-height: 20px;
                        align-self: center;
                    }
            </style>
        }



        @await Component.InvokeAsync("ProductDetails", new { productInfomatinDetail = p_detail });
        @section scripts{
            <script>
                function magnify(imgID, zoom) {
                    var img, glass, w, h, bw;
                    img = document.getElementById(imgID);
                    /*create magnifier glass:*/
                    glass = document.createElement("DIV");
                    glass.setAttribute("class", "img-magnifier-glass");
                    /*insert magnifier glass:*/
                    img.parentElement.insertBefore(glass, img);
                    /*set background properties for the magnifier glass:*/
                    glass.style.backgroundImage = "url('" + img.src + "')";
                    glass.style.backgroundRepeat = "no-repeat";
                    glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
                    bw = 3;
                    w = glass.offsetWidth / 2;
                    h = glass.offsetHeight / 2;
                    /*execute a function when someone moves the magnifier glass over the image:*/
                    glass.addEventListener("mousemove", moveMagnifier);
                    img.addEventListener("mousemove", moveMagnifier);
                    /*and also for touch screens:*/
                    glass.addEventListener("touchmove", moveMagnifier);
                    img.addEventListener("touchmove", moveMagnifier);
                    function moveMagnifier(e) {
                        var pos, x, y;
                        /*prevent any other actions that may occur when moving over the image*/
                        e.preventDefault();
                        /*get the cursor's x and y positions:*/
                        pos = getCursorPos(e);
                        x = pos.x;
                        y = pos.y;
                        /*prevent the magnifier glass from being positioned outside the image:*/
                        if (x > img.width - (w / zoom)) { x = img.width - (w / zoom); }
                        if (x < w / zoom) { x = w / zoom; }
                        if (y > img.height - (h / zoom)) { y = img.height - (h / zoom); }
                        if (y < h / zoom) { y = h / zoom; }
                        /*set the position of the magnifier glass:*/
                        glass.style.left = (x - w) + "px";
                        glass.style.top = (y - h) + "px";
                        /*display what the magnifier glass "sees":*/
                        glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
                    }
                    function getCursorPos(e) {
                        var a, x = 0, y = 0;
                        e = e || window.event;
                        /*get the x and y positions of the image:*/
                        a = img.getBoundingClientRect();
                        /*calculate the cursor's x and y coordinates, relative to the image:*/
                        x = e.pageX - a.left;
                        y = e.pageY - a.top;
                        /*consider any page scrolling:*/
                        x = x - window.pageXOffset;
                        y = y - window.pageYOffset;
                        return { x: x, y: y };
                    }
                }
            </script>
            <script>
                var cnt = $(".img-magnifier-container").length;
                for (var i = 1; i < cnt; i++) {
                    var idIMG = "myimage" + i.toString();
                    magnify(idIMG, 2);
                }

            </script>
            <script src="~/js/controller/productDetailController.js" asp-append-version="true"></script>
        }
    }



}
