﻿@using MI.Entity.Enums;
@using VietLab.Web.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using VietLab.Web.Services.BannerAds.ViewModel
@using Utils
@using VietLab.Web.Services.BannerAds.Repository
@using VietLab.Web.Utility
@using MI.Entity.Models
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IConfigSEOUtility configSEOUtility
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "~/Views/Shared/_LayoutVietLab.cshtml";
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();


    //get banner
    var Banner_Big = new DetailBanerAds();
    var Banner_big_about = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "BANNER_ABOUT");
    if (Banner_big_about != null)
    {
        Banner_Big = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_big_about.MetaData);
    }


    //get vision
    var Vision = new DetailBanerAds();
    var Vision_about = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "VISION_About");
    if (Vision_about != null)
    {
        Vision = JsonConvert.DeserializeObject<DetailBanerAds>(Vision_about.MetaData);
    }

    //get list mission
    var List_misstion_about = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "MISSION_About");
    var List_misstion = new List<DetailBanerAds>();
    if (List_misstion_about != null)
    {
        List_misstion = JsonConvert.DeserializeObject<List<DetailBanerAds>>(List_misstion_about.MetaData);

    }

    //get list Core values
    var List_Core_about = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "CORE_VALUES_About");
    var List_core = new List<DetailBanerAds>();
    if (List_Core_about != null)
    {
        List_core = JsonConvert.DeserializeObject<List<DetailBanerAds>>(List_Core_about.MetaData);
    }

    var _ver = WebHelper.Version();
}
@section Styles{
    @if (Banner_Big != null)
    {
        var ds = UIHelper.TrimByWord(Banner_Big.Description, 50, "");
        @Html.Raw(configSEOUtility.ConfigSocialMeta("",Banner_Big.Url,Banner_Big.Title,ds,Banner_Big.Image))

    }
    @Html.Raw(configSEOUtility.ConfigMeta("Giới thiệu", "Chào mừng bạn đến với VietLab", ""))

}

<section class="banner-top">
    @if (Banner_Big != null)
    {
        <div class="container">
            <div class="img-banner-detail">
                <img src="@UIHelper.StoreFilePath(Banner_Big.Image, false)?v=@_ver" class="w-100" alt="">
            </div>
            <div class="txt-banner toppic">
                @Banner_Big.Title
            </div>
        </div>
    }

</section>
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb cust-brc">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
            </ol>
        </nav>
    </div>
</section>
<section class="main-about">
    <div class="container">
        <div class="d-flex align-items-baseline">
            <div class="namet-about pr-2 mb-top toppic">@Vision.Title</div>
            <div class="line-hc3"></div>
        </div>
        <p class="pt-3">@Html.Raw(@Vision.Description)</p>
        @if (List_misstion.Count() > 0)
        {
            <div class="d-flex align-items-baseline pt-25">
                <div class="namet-about pr-2 mb-top toppic">@List_misstion[0].Title</div>
                <div class="line-hc3"></div>
            </div>
            <p class="pt-3">@Html.Raw(List_misstion[0].Description)</p>
            <ul class="list-about row">
                @for (int i = 0; i < List_misstion.Count(); i++)
                {
                    if (i != 0)
                    {
                        <li class="col-md-4" style="text-align: justify;">@Html.Raw(List_misstion[i].Description)</li>
                    }
                }
            </ul>
        }
        @if (List_core.Count() > 0)
        {
            <div class="d-flex align-items-baseline pt-25">
                <div class="namet-about pr-2 mb-top toppic">@List_core[0].Title</div>
                <div class="line-hc3"></div>
            </div>
            <div class="row">
                @for (int i = 0; i < List_core.Count(); i++)
                {
                    if (i != 0)
                    {
                        <div class="col-md-3 wow fadeInUp">
                            <div class="img-core">
                                <img src="@UIHelper.StoreFilePath(List_core[i].Image, false)?v=@_ver" class="" alt="abc">
                            </div>
                            <p class="txt-core">@List_core[i].Title</p>
                            <p class="txt-core-1">
                                @Html.Raw(List_core[i].Description)
                            </p>
                        </div>
                    }

                }
            </div>
        }

    </div>

</section>

