﻿<section class="blogs-home py-4">
    <div class="container px-0 px-md-3">
        <div class="bg-fff p-3">
            <div class="row mb-4">
                <div class="col-8">
                    <a href="" class="h5 font-weight-bold">Video</a>
                </div>
                <div class="col-4 text-right">
                    <a href="" class="link-view-more color-EE7D22">Xem thêm <i class="fas fa-chevron-right ml-1 small"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 col-12 mb-4">
                    <div class="item h-100 ">
                        <div class="embed-responsive embed-responsive-16by9" style="height: 80%;">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                        </div>

                        <a href="" title="" class="">
                            <h6 class="title h5 mt-2 text-uppercase ">
                                QUÊN THAY LÕI LỌC – THIỆT HẠI ĐỦ ĐƯỜNG
                            </h6>
                        </a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12 pl-md-0">
                    <div class="list-right">
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-3 col-sm-3 col-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-9 col-sm-9 col-8 pl-0">
                                    <h6 class="title">
                                        <a href="" title="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-3 col-sm-3 col-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-9 col-sm-9 col-8 pl-0">
                                    <h6 class="title">
                                        <a href="" title="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-3 col-sm-3 col-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-9 col-sm-9 col-8 pl-0">
                                    <h6 class="title">
                                        <a href="" title="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-3 col-sm-3 col-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-9 col-sm-9 col-8 pl-0">
                                    <h6 class="title">
                                        <a href="" title="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-3 col-sm-3 col-4">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-9 col-sm-9 col-8 pl-0">
                                    <h6 class="title">
                                        <a href="" title="">Không khí rét ẩm tạo điều kiện Virus Corona lây lan mạnh, làm sao để phòng ngừa?</a>
                                    </h6>
                                    <div class="time">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>