﻿@using MI.Entity.Enums;
@using Enterbuy.Data.SqlServer.ModelDto;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@*@inject IHttpContextAccessor HttpContextAccessor*@
@using Utils
@{
    //var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    //var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    //var base_uri_culture = "/" + culture;

    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.Scheme;
    var detail = new ProductDetail();
    if (ViewBag.Detail != null)
    {
        detail = (ProductDetail)ViewBag.Detail;
    }

}

@if (detail != null && !String.IsNullOrEmpty(detail.MetaWebPage))
{
    @Html.Raw(detail.MetaWebPage)
    @*@detail.MetaWebPage*@
}
else
{

    @*<script type="application/ld+json">
            {
            "@("@context")": "https://schema.org/",
            "@("@type")": "Product",
            "name": "@detail.Title",
            "image": [
            "@UIHelper.StoreFilePath(detail.Avatar)"


            ],
            "description": "@detail.Description",
            "sku": "@detail.Code",

            "review": {
            "@("@type")": "Review",
            "reviewRating": {
            "@("@type")": "Rating",
            "ratingValue": "@detail.RateAVG",
            "bestRating": "5"
            },
            "author": {
            "@("@type")": "Person",
            "name": "admin"
            },

            "aggregateRating": {
            "@("@type")": "AggregateRating",
            "ratingValue": "@detail.RateAVG",
            "reviewCount": "@detail.TotalRate"
            },
            "offers": {
            "@("@type")": "Offer",
            "url": "@domain_full",
            "priceCurrency": "VND",
            "price": "@detail.Price",
            "itemCondition": "https://schema.org/UsedCondition",
            "availability": "https://schema.org/InStock",
            }
            }
        </script>*@
}