﻿<footer class="footer pb-5">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-12 col-12">
                <h4 class="title-menu">THÔNG TIN CÔNG TY</h4>
                <ul class="footer-menu ">
                    <li><a href="">Giới thiệu công ty</a></li>
                    <li><a href="">Hoạt động của EnterBuy</a></li>
                    <li><a href="">Tuyển dụng</a></li>
                    <li><a href="">Liên hệ & Góp ý</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                <h4 class="title-menu">Hỗ trợ khách hàng</h4>
                <ul class="footer-menu ">
                    <li><a href="">Hướng dẫn mua online</a></li>
                    <li><a href="">Chính sách bảo hành </a></li>
                    <li><a href="">Quy định thanh toán</a></li>
                    <li><a href="">Tiêu chuẩn dịch vụ</a></li>
                    <li><a href="">Chính sách & Quy định chung</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                <h4 class="title-menu">Câu hỏi thường gặp</h4>
                <ul class="footer-menu ">
                    <li><a href="">Cách tạo yêu cầu hỗ trợ</a></li>
                    <li><a href="">Hướng dẫn kiểm tra đơn hàng</a></li>
                    <li><a href="">Lưu ý khi mua hàng </a></li>
                    <li><a href="">Hỏi đáp về bảo quản</a></li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-12 col-sm-12 col-12">
                <h4 class="title-menu mb-4">Kết nối với chúng tôi</h4>
                <div class="social">
                    <a href="" title="Facebook">
                        <img src="~/images/fb-cir-ic.svg" class="img-fluid mr-2" />
                    </a>
                    <a href="" title="Twitter">
                        <img src="~/images/twitter-ic.svg" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>
        <div class="row   ">
            <div class="col-12 border-bottom p-3 mb-3" style="border-color: #7F7D7D!important;">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12  ">
                <div class="font-weight-bold h5 mb-2">Enterbuy co.,Itd, since 2010</div>
                <div class="mb-2">
                    Đơn vị chủ quản: Công ty TNHH đầu tư & thương mại Enterbuy Việt Nam
                </div>
                <div>
                    Trụ sở: Số 114 Khuất Duy Tiến, P. Nhân Chính, Q. Thanh Xuân, Hà Nội
                </div>
                <div>
                    MST: 0104780033 do Sở KHĐT Hà Nội cấp ngày 15/10/2010
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4  text-center">
                <img src="~/images/logoCCDV.png" class="img-fluid " />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4  text-center">
                <img src="~/images/logoSaleNoti.png" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-4 text-center">
                <img src="~/images/dmca.png" class="img-fluid mt-2" />
            </div>
        </div>
    </div>
</footer>