﻿@model Enterbuy.Services.Common.Models.TopSlideBannerHomePageViewModel
@{
    var isService = ViewBag.IsService;
}
<div class="pt-1 bg-fff">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
            </div>
            <div class="col-lg-9 col-md-8  col-sm-12 col-12 pl-md-0 ">
                <div class="slide-banner-home mb-3">
                    <div class="swiper-container gallery-top-home">
                        <!--Thêm slide-->
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.TopSlideBanner.OrderBy(n=>n.Order))
                            {
                                if (item.Show)
                                {
                                    <div class="swiper-slide">
                                        <a class="image" href="@item.Url" title="@item.Title">
                                            <img src="@item.Image" class="d-block w-100" alt="..." onerror="this.onerror=null;this.src='/images/change/slide-home-1.jpg';">
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs-home d-none d-md-block ">
                        <div class="swiper-wrapper">
                            @if (Model.TopSlideBanner.Count > 0)
                            {
                                @foreach (var item in Model.TopSlideBanner.OrderBy(n => n.Order))
                                {
                                    if (item.Show)
                                    {
                                        <div class="swiper-slide">
                                            <div class="box-text">
                                                <div class="text">
                                                    @item.Title
                                                </div>
                                            </div>
                                            @*<a class="image" href="@item.Url" title="@item.Title">
                                                <img src="@item.Image" class="d-block w-100" alt="@item.Title" onerror="this.onerror=null;this.src='/images/change/slide-home-1.jpg';">
                                            </a>*@
                                        </div>
                                    }
                                }
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (isService)
        {
            @await Component.InvokeAsync("ServiceInSlideBanner")

        }
    </div>
</div>