﻿.group-amount input.form-control {
    width: 75px;
}

.item-product .tag-1 {
    position: absolute;
    font-size: 11px;
    background: #FFAB1B;
    padding: 1px 4px;
    border-radius: 2px;
    top: 0.4rem;
    right: 0.5rem;
    color: #000;
}

.item-product .title {
    font-weight: 600;
    height: 2.5rem;
    overflow: visible;
}

pre {
    display: block;
    font-size: 100%;
    color: #212529;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
}

.item-product.item-product-large {
    padding: .5rem 1rem;
}

.item-product.item-product-large .title {
    height: 1.5rem;
    overflow: hidden;
    line-height: 1.5;
}

#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#cover-spin::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.list-menu-cate .list-group-item {
    position: unset;
    border: 1px solid rgba(212, 201, 194, 0.11);
    padding: 0.25rem 1.25rem;
}

@media (min-width: 1200px) {
    .list-menu-cate.un-expand {
        overflow: hidden;
        height: 45px;
    }
}

body {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.gallery-thumbs-home .box-text {
    text-align: center;
    padding: 16px 5px;
    margin: 0;
    border: 1px solid #f2f2f2;
    border-top: 3px solid #fff;
    font-size: 12px;
    opacity: 1;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .btn-order-2,
    .btn-order-2:hover,
    .btn-order,
    .btn-order:hover {
        font-size: 15px;
    }
    /*.item-product .title {
        
        font-weight: 600;
        height: 3.4rem;
        overflow: hidden;
    }*/
}

.item-product-modal-2.get .group-amount input.form-control {
    width: 70px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.social-button {
    display: inline-grid;
    position: fixed;
    bottom: 15px;
    left: 45px;
    min-width: 45px;
    text-align: center;
    z-index: 99999;
}

.social-button-content {
    display: inline-grid;
}

.social-button a {
    padding: 8px 0;
    cursor: pointer;
    position: relative;
}

.social-button i {
    width: 40px;
    height: 40px;
    background: #43a1f3;
    color: #fff;
    border-radius: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 1.9;
    position: relative;
    z-index: 999;
}

.social-button span {
    display: none;
}

.social-button a span {
    border-radius: 2px;
    text-align: center;
    background: #EE7D22;
    padding: 9px;
    display: none;
    width: 180px;
    margin-left: 10px;
    position: absolute;
    color: #ffffff;
    z-index: 999;
    top: 9px;
    left: 40px;
    transition: all 0.2s ease-in-out 0s;
    -moz-animation: headerAnimation 0.7s 1;
    -webkit-animation: headerAnimation 0.7s 1;
    -o-animation: headerAnimation 0.7s 1;
    animation: headerAnimation 0.7s 1;
}

.social-button a span:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(103, 182, 52) transparent transparent;
    position: absolute;
    left: -10px;
    top: 10px;
}


/*4-11*/

.social-button .call-icon i {
    background: #8bc34a;
}

.social-button .mes i {
    background: #03a9f4;
}

.social-button .mail i {
    background: #0995b7;
}

.social-button .zalo i {
    background: #1264c0;
}

.social-button .map i {
    background: #c7081b;
}

@media(max-width: 567px) {
    .social-button-content {
        display: none;
        justify-content: space-around;
        width: 100%;
    }
    .social-button {
        left: 20px;
        width: calc(100% - 40px);
    }
    .call-icon:hover>span,
    .mes:hover>span,
    .sms:hover>span,
    .zalo:hover>span {
        display: none;
    }
}

.alo-circle {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: zoomIn;
    width: 50px;
    height: 50px;
    top: 3px;
    right: -3px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    border-color: #0089B9;
    opacity: .5;
}

.alo-circle-fill {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: pulse;
    width: 60px;
    height: 60px;
    top: -2px;
    right: -8px;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    background-color: rgba(0, 175, 242, 0.5);
    opacity: .75;
}

.call-icon:hover>span,
.mes:hover>span,
.sms:hover>span,
.zalo:hover>span {
    display: block
}

.list-menu-right .lastest-news .title {
    margin-bottom: 3px;
    height: 1.5rem;
    overflow: hidden;
    line-height: 1.5;
}


/*@media (min-width: 768px) {
    .header .nav-center .nav-item {
        margin-bottom: 0rem;
        margin-left: -3rem;
    }
}*/

@media (min-width: 1600px) {
    .header .form-search input {
        min-width: 400px;
    }
    .gallery-thumbs-home .box-text {
        text-align: center;
        padding: 0px 5px;
    }
}

.bg-f6f8f8 {
    background: #f6f8f8;
}

body {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.header .icon-nav {
    height: auto;
    width: 25px;
    align-self: center;
}


/*thuy anh 7-5*/


/* Track */

::-webkit-scrollbar {
    display: initial;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ffffff;
}

.menu-ngang::-webkit-scrollbar {
    display: none;
}


/* .suggest-text {
    position: absolute;
    top: calc(100% + 1px);
    left: -15px;
    top: 3.5rem;
    border-radius: 0;
} */

.suggest-text {
    position: absolute;
    background: #FFFFFF;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 -20px;
    top: calc(100% + 1px);
    padding: .5rem;
    z-index: 102;
    color: #4F4F4F;
    padding: 1rem 0;
    display: none;
}

.suggest-text .h5 {
    font-size: 1.1rem !important;
}

.suggest-text .item-cart .image-product {
    width: 50px;
    height: 50px;
}

.item-cart .image-product img {
    width: 50px;
    height: 50px;
}

.suggest-text .item-cart .text {
    width: calc(100% - 50px);
}

.suggest-text .name-product {
    font-weight: 600;
}

.suggest-text .price::after {
    content: "đ/m2";
    color: #4F4F4F;
    font-weight: 400;
    margin-right: .5rem;
}

.suggest-text .price-old {
    text-decoration: line-through;
    color: #828282;
    font-size: .875rem;
}

.suggest-text .price-old::after {
    content: "đ/m2";
}

.suggest-text .item-cart {
    padding: .75rem 1rem;
}

.suggest-text .item-cart:hover {
    background: #f2f2f2;
}

.header .form-search .btn-search {
    background: #fff;
    border: 1px solid #fff;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.list-menu-cate .subcate {
    border: 1px solid rgba(212, 201, 194, 0.11);
}

.list-menu-cate .list-group-item img {
    width: 15px;
}

.slide-banner-home .swiper-pagination {
    text-align: right;
    padding-right: 1rem;
}

.slide-banner-home .swiper-pagination-bullet {
    opacity: 1;
    background: none;
    border: 1px solid #fff;
}

.slide-banner-home .swiper-pagination-bullet-active {
    background: #fff;
    border: 1px solid #fff;
}

.color-007DFF {
    d color: #007DFF;
}

.list-menu-cate .list-group-item:first-child {
    padding: .75rem 1rem;
}

.header .form-search input {
    border: 1px solid #fff;
}

.header .nav-center {
    background: linear-gradient(271.07deg, #1A468F 18.39%, #2A5BAD 77.79%);
    color: #fff;
}

.item-blog-km .image img {
    /* height: 100%; */
    object-fit: cover;
    width: 100%;
}

@media (width:375px) {
    .width-mb {
        width: 200px !important;
    }
}

@media (width:320px) {
    .width-mb {
        width: 145px !important;
    }
}

@media (min-width: 768px) {
    .item-blog-km .image {
        height: 200px;
    }
    .xem-them-bai-lq .image {
        height: 100px;
    }
    .item-blog-km-large .image {
        height: 200px;
    }
    .item-blog-km-ls .image {
        height: 100px;
    }
    .item-blog-km .title.h6 {
        font-size: .875rem;
    }
}

@media (min-width: 992px) {
    .image-fixed img {}
}

@media(min-width:1200px) {
    .image-fixed img {}
}

@media(min-width:1366px) {
    .image-fixed img {
        height: auto;
        object-fit: cover;
    }
    .item-blog-km .image {
        height: 100%;
        width: 100%;
    }
    .item-blog-km .title.h6 {
        font-size: 1rem;
    }
}

.tag-flashsale {
    position: absolute;
    width: 100px;
    top: 15px;
    left: 0.5rem;
    z-index: 2;
}

.navbar-toggler {
    color: #fff;
}

@media(max-width: 576px) {
    .header .form-search {
        position: initial!important;
    }
    .tag-flashsale {
        top: 2.2rem;
    }
    .item-product .tag-2 {
        width: 120px;
    }
    .item-product .title {
        margin-bottom: 0;
        height: 55px;
        font-size: 14px;
    }
    .img-magnifier-glass {
        display: none;
    }
    .jan-table-cart .table td {
        padding: 0;
    }
    .jan-table-cart .label-checkbox.label-2>.checkmark {
        top: 1rem;
    }
    .jan-table-cart .image-product {
        width: 50px;
        height: 50px;
    }
    .jan-table-cart .label-checkbox .text {
        width: calc(100% - 60px)
    }
    .menu-op .link-view-more {
        line-height: 1
    }
    .menu-op .link-view-more.active {
        border: .5px solid #EE7D22;
        color: #1A468F;
    }
    .item-product.item-product-large {
        padding: .5rem 0rem;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .list-filter-modal {
        max-height: 150px;
        overflow: auto;
    }
    .cust-ag {
        width: 100% !important;
        padding: 15px 0;
        height: auto;
    }
    .menu-op.d-lg-none.active {
        border: 1px solid #ee7d22;
        color: #2a5bad;
    }
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
        padding: 10px 15px !important;
    }
    .span-tree-node.tree-lv-1 {
        font-weight: normal !important;
    }
    .tree-lv-0 {
        text-transform: uppercase;
        font-weight: 600;
    }
    #carouselHome {
        display: none;
    }
    .hide-mobile {
        display: none;
    }
}

#carouselHome {
    margin-bottom: 1.5rem
}

.embed-responsive-16by9::before {
    padding-top: 95%;
}

.wp-caption .wp-caption-text {
    padding: .4em;
    font-size: .9em;
    background: rgba(0, 0, 0, .05);
    font-style: italic;
}

.wp-caption-text {
    text-align: center;
}

.detail-container iframe {
    max-width: 100%;
    /*height: 100%;*/
}


/*.swiper-slide .item .video-img{
    max-height:100px;
    width: auto;
}*/


/* -------------Kang-update-0106------- */

#attachment_93588 {
    width: auto !important;
}

.fb-like {
    width: 50px;
}

.cust-ag {
    width: 100% !important;
    /* padding: 20px 0; */
    height: auto;
}

.list-menu-right .lastest-news .title {
    margin-bottom: 3px;
    height: 50px;
    overflow: hidden;
    line-height: 13px;
    font-size: 13px;
}

#toc_container {
    background-color: #1a468f1a;
    border: 1px solid #00000033;
}

.toc_list {
    border-top: 1px solid #00000033;
    padding: 10px 20px;
    color: #1A468F;
    background-color: #1a468f1a;
}

.slide-video {
    background-color: #ffffff;
    padding: 15px;
}

.cust-bg-use {
    padding: 15px;
    background-color: #ffffff;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 10px !important;
}

.video-img {
    position: relative;
}

.play-yt {
    position: absolute;
    text-align: center;
    top: 35%;
    top: 0 auto;
    left: 0;
    right: 0;
}

.menu-op .swiper-slide {
    margin-right: 35px !important;
}

button._sort_price {
    border-radius: 5px;
    background-color: #ee7d22;
    color: #ffffff;
    border: none;
    width: 115px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.modal-header {
    align-items: center;
}

.d-grid {
    display: grid;
}

.cust-fal {
    line-height: 0.5;
}

button.close-load-img {
    float: right;
    background-color: #ef6d05;
    color: #fff;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.capa {
    color: #007DFF;
}

.cust-btn-sec {
    color: #007DFF;
    background-color: transparent;
    border-color: transparent;
}

.cust-btn-sec:hover {
    color: #007DFF;
    background-color: transparent;
    border-color: transparent;
}

.show>.cust-btn-sec.dropdown-toggle {
    color: #007DFF;
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary:focus {
    box-shadow: none;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.cust-popbh {
    background-color: #ffffff;
    height: 177px;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    border-radius: 6px;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 25px, 0px);
    padding: 5px 10px;
    margin: 7px auto;
}

.cust-drop-item:hover {
    background-color: transparent;
}

.label-checkbox:hover input~.checkmark {
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    transition: .2s;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.cust-drop-item {
    white-space: initial;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #DBDDE0;
}

.label-checkbox input:checked~.checkmark {
    background-color: #EE7D22;
    border-radius: 50%;
    overflow: hidden;
}

.cus-name {
    position: relative;
}

.cus-ic-box {
    position: absolute;
    left: 0;
    top: -2px;
    opacity: 0.5;
    font-size: 20px;
    color: #000000;
}

.ip-css {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 25px;
    height: 22px;
    border: 1px solid transparent;
    color: #000000;
}

@media (min-width: 1200px) {
    .cust-modal-dialog {
        max-width: 770px;
        margin: 3.75rem auto;
    }
}

.bdb-modal {
    border-bottom: 1px solid #0000001a;
}

.cust-bg-mdal {
    background-color: #ffffff;
    margin: -16px 0;
    padding: 16px;
}

.extra-link-promotion {
    color: #007bff;
}

.cust-likes-fb-blogs {
    display: flex;
    justify-content: flex-end;
    margin-right: 77px;
    align-items: center;
}


/* ------------sroll-to-top----- */

.scrollToTop {
    z-index: 999;
    margin: 0 50px 50px 0;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline;
    background-color: #309a1d;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    padding-top: 10px;
}

.scrollToTop:hover {
    text-decoration: none;
}


/* The Modal (background) */

.modal-img {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content-full-img {
    margin: auto;
    display: block;
    /* width: 80%; */
    max-width: 60%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 99;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.btn-smf {
    text-align: center;
    margin: 16px 0;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content-full-img {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        min-width: 577px;
        margin: 1.75rem auto;
    }
}

.see-more {
    text-align: center;
    color: #ee7d22;
    padding: 25px 0;
}

.comment-paging {
    display: flex;
    justify-content: center;
}


/*----------Custom----Phân trang---------------*/

.paginationjs .paginationjs-pages li.active>a {
    height: 30px;
    line-height: 30px;
    background: #ee7d22 !important;
    color: #fff;
}

.paginationjs-page {
    margin: 0 2px;
}

.paginationjs .paginationjs-pages li {
    float: left;
    border: none !important;
    list-style: none;
}


/* ------Menu---------- */

.mb-mn-cust-nav {
    background-color: #f2f2f2;
    margin: 0 -16px;
}

.dropdown:hover>.dropdown-menu {
    /* display: block; */
}

.dropdown-menu {
    top: 100%;
    left: 0;
    z-index: 99;
    font-size: 16px;
    color: #000000;
    text-align: left;
    min-width: 0;
    background-color: #ffffff;
    border: 0 !important;
    border-radius: unset;
}

.nav-item .active {
    background-color: #49bcf74d;
    color: #0056b3;
}

.detail-container a {
    color: #007bff;
}

.cust-downl-cate {
    margin-top: 48px;
}

.ul-tree-lv-2 {
    list-style: inside;
    padding-left: 15px;
}

.span-tree-node.tree-lv-1 {
    font-weight: 600;
}

li.li-tree-lv-1 {
    padding-bottom: 5px;
}

.subcate {
    column-width: 250px;
    column-gap: 0;
    column-fill: auto;
}

.ul-tree-lv-2 li {
    list-style-image: url('../images/EllipseQ.svg');
}

.size.small {
    height: 40px;
}

.detail-container h1 {
    font-size: 24px;
}

.detail-container h2 {
    font-size: 18px;
}

.detail-container h3 {
    font-size: 18px;
}

.detail-container h4 {
    font-size: 17px;
}

.detail-container h5 {
    font-size: 16px;
}

.product-description h1 {
    font-size: 24px;
}

.product-description h2 {
    font-size: 18px;
}

.product-description h3 {
    font-size: 18px;
}

.product-description h4 {
    font-size: 17px;
}

.product-description h5 {
    font-size: 16px;
}