﻿<div class="modal jan-modal fade" id="modal-xn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="mb-3">
                    <img src="~/images/logo.png" class="img-fluid" />
                </div>
                <h5 class="mb-3 font-weight-bold">Xác nhận thành công!</h5>
                <div>
                    <img src="~/images/check.svg" class="img-fluid" />
                </div>
            </div>
            <div class="modal-footer justify-content-center border-0">
                <button type="button" class="btn btn-save px-lg-5" data-dismiss="modal">Hoàn tất</button>
            </div>
        </div>
    </div>
</div>