﻿@using JanHome.Web.Services.Product.Repository
@using JanHome.Web.Services.Zone.Repository
@using MI.Entity.Enums
@using JanHome.Web.Services.BannerAds.Repository
@using JanHome.Web.Services.FlashSale.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using JanHome.Web.Services.Article.Repository
@using Newtonsoft.Json
@using JanHome.Web.Utility
@using Microsoft.AspNetCore.Mvc.RazorPages
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IFlashSaleRepository flashSaleRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

    const string CookieLocationId = "_LocationId";
    const string CookieLocationName = "_LocationName";
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var Slide_Trangchu_Tren = new List<DetailBanerAds>();
    var Stem_Trangchu = new List<DetailBanerAds>();
    var Banner_Trangchu_Tren_Nho2 = new DetailBanerAds();
    var Banner_Trangchu_Tren_Nho1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Trai_1 = new DetailBanerAds();
    var Banner_Trangchu_body_tren_Phai_1 = new DetailBanerAds();
    var Slide_Body = new List<DetailBanerAds>();
    var Stem_Chantrang = new List<DetailBanerAds>();
    var Banner_Chantrang = new DetailBanerAds();
    var VungHienThi_TrangChu_Tren_Phai = new List<DetailBanerAds>();


    //VungHienThi_TrangChu_Tren_Phai
    var VungHienThi_TrangChu_Tren_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "VungHienThi_TrangChu_Tren_Phai");

    var Slide_Trangchu_Tren_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Trangchu_Tren");
    var Stem_Trangchu_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Trangchu");
    var Banner_Trangchu_Tren_Nho2_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho2");
    var Banner_Trangchu_Tren_Nho1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Tren_Nho1");
    var Banner_Trangchu_body_tren_Trai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Trai_1");
    var Banner_Trangchu_body_tren_Phai_1_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_body_tren_Phai_1");
    var Slide_Body_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Slide_Body");
    var Stem_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Stem_Chantrang");
    var Banner_Chantrang_Cahche = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Chantrang");


    if (VungHienThi_TrangChu_Tren_Phai_Cache != null)
    {
        VungHienThi_TrangChu_Tren_Phai = JsonConvert.DeserializeObject<List<DetailBanerAds>>(VungHienThi_TrangChu_Tren_Phai_Cache.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Slide_Trangchu_Tren_Cahche != null)
    {
        Slide_Trangchu_Tren = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Trangchu_Tren_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Stem_Trangchu_Cahche != null)
    {
        Stem_Trangchu = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Trangchu_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Trangchu_Tren_Nho2_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho2 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho2_Cahche.MetaData);
    }
    if (Banner_Trangchu_Tren_Nho1_Cahche != null)
    {
        Banner_Trangchu_Tren_Nho1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Tren_Nho1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Trai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Trai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Trai_1_Cahche.MetaData);
    }
    if (Banner_Trangchu_body_tren_Phai_1_Cahche != null)
    {
        Banner_Trangchu_body_tren_Phai_1 = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_body_tren_Phai_1_Cahche.MetaData);
    }
    if (Slide_Body_Cahche != null)
    {
        Slide_Body = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Slide_Body_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Stem_Chantrang_Cahche != null)
    {
        Stem_Chantrang = JsonConvert.DeserializeObject<List<DetailBanerAds>>(Stem_Chantrang_Cahche.MetaData).Where(r => r.Show == true).ToList();
    }
    if (Banner_Chantrang_Cahche != null)
    {
        Banner_Chantrang = JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Chantrang_Cahche.MetaData);
    }

    var title = bannerAdsRepository.GetConfigByName(culture_code, "TitleHome");
    var DesWeb = bannerAdsRepository.GetConfigByName(culture_code, "DesWeb");
    var MetaKeyword = bannerAdsRepository.GetConfigByName(culture_code, "MetaKeyword");
}
@inject IProductRepository productRepository
@inject IZoneRepository zoneRepository
@{
    //ViewData["Title"] = "IndexPublic";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";

}
@section styles{
    @Html.Raw(configSEOUtility.ConfigMeta(title, DesWeb, MetaKeyword))
    @Html.Raw(configSEOUtility.ConfigSocialMeta())
}

<div class="pt-1   ">
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">

            </div>
            <div class="col-lg-6 col-md-8  col-sm-12 col-12 pl-md-0 pr-lg-0 ">
                <div class="slide-banner-home mb-4">
                    <div class="swiper-container gallery-top-home">
                        <!--Thêm slide-->
                        <div class="swiper-wrapper">
                            @if (Slide_Trangchu_Tren.Count() > 0)
                            {
                                foreach (var item in Slide_Trangchu_Tren.OrderBy(n => n.Order).ToList())
                                {
                                    <div class="swiper-slide">
                                        <div class="image image-fixed">
                                            <a href="@item.Url">
                                                <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="d-block w-100" alt="@domain">
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs-home  ">
                        <div class="swiper-wrapper">
                            @if (Slide_Trangchu_Tren.Count() > 0)
                            {
                                foreach (var item in Slide_Trangchu_Tren.OrderBy(n => n.Order).ToList())
                                {
                                    <div class="swiper-slide">
                                        <div class="box-text">
                                            <div class="text">
                                                @item.Title
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>


                </div>

            </div>
            <div class="col-lg-3 col-md-8 col-sm-12 col-12 mt-md-3 mt-lg-0 ml-auto px-md-0 px-lg-3">
                <ul class="list-group list-news-right mb-2 mt-3 mt-md-0">
                    <li class="list-group-item active">Trải nghiệM cùng JANHOME</li>
                    @{
                        var total_news_home = 0;
                        var news_show_home = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Blog, 1, culture_code, "", 1, 10, out total_news_home);
                        //var news_home_cut_1 = news_show_home.Skip(0).Take(3);
                        var news_home_cut_2 = news_show_home.Skip(0).Take(7);
                    }
                    @foreach (var item in VungHienThi_TrangChu_Tren_Phai)
                    {
                        //var link_target = string.Format("/{0}.html", item.Url);
                        <li class="list-group-item">
                            <a href="@item.Url" title="@item.Title">
                                @item.Title
                            </a>
                        </li>
                    }
                </ul>

                <!--Thêm class d-none d-md-block-->
                <a href="@Banner_Trangchu_Tren_Nho1.Url" title="" class="d-none d-md-block">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Tren_Nho1.Image, false)?v=@WebHelper.Version()" class="img-fluid mb-2 w-100" />
                </a>
                <a href="@Banner_Trangchu_Tren_Nho2.Url" title="" class="d-none d-md-block">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_Tren_Nho2.Image, false)?v=@WebHelper.Version()" class="img-fluid mb-2 w-100" />
                </a>
                <!--Thêm class d-none d-md-block-->
            </div>
        </div>
        <div class="row menu-ngang-2 mt-4 justify-content-around flex-wrap">
            @if (Stem_Trangchu.Count() > 0)
            {
                foreach (var item in Stem_Trangchu.OrderBy(n => n.Order).ToList())
                {
                    <div class="col">
                        <div class="item">
                            <a href="@item.Url">
                                <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="img-fluid mr-2">
                                @item.Title
                            </a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@{
    //Lay thong tin flash sale
    var time = DateTime.Now;
    var list_flash_sale = flashSaleRepository.GetFlashSaleByTime(time);
    var flash_sale_active = list_flash_sale.FirstOrDefault();

}
<div class="bg-f6f8f8 pt-3">
    @if (flash_sale_active != null)
    {
        var f_link = string.Format("/{0}", "flash-sale");
        <section class="my-4 flash-sale" data-start-time="@flash_sale_active.StartTime" data-end-time="@flash_sale_active.EndTime.ToString("yyyy-MM-dd")">
            <div class="container ">
                <div class="bg-fff pt-3 pb-2 px-2 border-r-4"
                     style="background: url(images/change/bg-flash.jpg) no-repeat top center;background-size: cover;">
                    <div class="">
                        <div class="row mb-3 no-gutters ">
                            <div class="col-12 d-flex flex-wrap">
                                <a href="@f_link" class="align-self-center mr-2">
                                    <img src="~/images/change/Flashsale.svg?v=@WebHelper.Version()" class="img-fluid" />
                                </a>
                                <div class="timer d-flex align-self-center mr-2 ml-auto ml-md-0">
                                    <div id="hour">
                                        12
                                    </div>
                                    <div id="minute">
                                        12
                                    </div>
                                    <div id="second">
                                        12
                                    </div>
                                </div>
                                <a href="@f_link" class="btn btn-outline-light btn-sm px-lg-4 align-self-center">
                                    Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    @{
                        var total_flashSale = 0;
                        var product_in_flashSale = flashSaleRepository.GetProductInFlashSale(flash_sale_active.Id, location_id, culture_code, 1, 10, out total_flashSale);
                    }
                    <!-- Slider main container -->
                    <div class="slide-product slide-1">
                        <div class="swiper-container ">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                @foreach (var item in product_in_flashSale)
                                {
                                    var link_target = string.Format("/{0}.html", item.Url);
                                    <div class="swiper-slide">
                                        <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                                            <div class="tag-1">

                                            </div>

                                            <div class="tag-flashsale">
                                                <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                                            </div>

                                            <div class="image">
                                                <a href="@link_target"><img src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="img-fluid lazy" /></a>
                                                <div class="tag-2">
                                                    <img src="" class="img-fluid " />
                                                </div>
                                            </div>

                                            <div class="">
                                                <h5 class="title">
                                                    <a href="@link_target" title="@item.Title">
                                                        @item.Title
                                                    </a>
                                                </h5>
                                                <div class="d-price">
                                                    <div class="price-new">
                                                        @UIHelper.FormatNumber(item.FlashSalePrice) đ/m2
                                                    </div>
                                                    <div class="price-old">
                                                        @UIHelper.FormatNumber(item.SalePrice)
                                                    </div>
                                                </div>
                                                <div class="infor-plus">
                                                    <div class="size small mb-1">
                                                        @item.SpecName: @item.SpecValue
                                                    </div>
                                                    <div class="review d-flex">
                                                        <div class="color-FFAB1B mr-2">
                                                            @Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                                                        </div>
                                                        <div class="color-828282">
                                                            @item.CountRate đánh giá
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <!-- If we need navigation buttons -->

                        </div>
                        <div class="swiper-button-prev">
                            <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                        </div>
                        <div class="swiper-button-next">
                            <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }


    <section class="container">
        <div class="row">
            <div class="col-xl-8 col-md-8 col-sm-12 col-12">
                <a href="@Banner_Trangchu_body_tren_Trai_1.Url" title="">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_body_tren_Trai_1.Image, false)?v=@WebHelper.Version()" class="lazy w-100 mb-3 mb-md-0" />
                </a>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-12 col-12">
                <a href="@Banner_Trangchu_body_tren_Phai_1.Url" title="">
                    <img src="@UIHelper.StoreFilePath(Banner_Trangchu_body_tren_Phai_1.Image, false)?v=@WebHelper.Version()" class="w-100 lazy" />
                </a>
            </div>
        </div>

    </section>
    <!-- test lai cho nay phat-->
    @{
        var list_zone_type_region = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Region, culture_code, 0, 1);
        var list_region_parents = list_zone_type_region.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).ToList();
    }
    <!--best seller-->

    @if (list_region_parents.Count() >= 1)
    {
        var region_parent = list_region_parents[0];
        @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 1, banner = "" })

    }
    <!--Sàn gỗ nổi bật-->
    @if (list_region_parents.Count() >= 2)
    {
        var region_parent = list_region_parents[1];
        @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 2, banner = "" })
    }
    <!--Banner-->
    <section class="slide-cate mb-3 mb-lg-4">
        <div class="container">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    @if (Slide_Body.Count() > 0)
                    {
                        foreach (var item in Slide_Body.OrderBy(n => n.Order).ToList())
                        {
                            <div class="swiper-slide">
                                <div class="image">
                                    <img src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="img-fluid" alt="" />
                                    <a href="@item.Url" class="text text-uppercase">
                                        <small>@item.Title</small>
                                        <h4 class="font-weight-bold">@item.Description</h4>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <!--Sàn nhựa nổi bật-->
    @if (list_region_parents.Count() >= 3)
    {

        var region_parent = list_region_parents[2];
        @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 3, banner = "" })

    }
    <!--Hang thanh ly

        -->
    @if (list_region_parents.Count() >= 4)
    {

        var region_parent = list_region_parents[3];
        @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 4, banner = "images/change/bg-flash.jpg" })

    }
    <!--ĐỒ trnag trí-->
    @if (list_region_parents.Count() >= 5)
    {

        var region_parent = list_region_parents[4];
        @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 5, banner = "" })
    }
    <!--ĐỒ gia dụng-->
    @if (list_region_parents.Count() >= 6)
    {

        var region_parent_list = list_region_parents.Skip(5);
        var count = 1;
        foreach (var item in region_parent_list)
        {

            var region_parent = item;
            @await Component.InvokeAsync("ProductInRegion", new { zones = list_zone_type_region, parent_zone = region_parent, slide = 5 + count, banner = "" })
            count++;
        }


    }

    <section class="container mb-4">
        <div class="banner-in py-5"
             style="background: url(@UIHelper.StoreFilePath(Banner_Chantrang.Image, false)) no-repeat center;background-size: cover;">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-8 col-sm-8 col-12">
                    <div>
                        @Html.Raw(Banner_Chantrang.Description)
                    </div>
                    @*<div>Chúng tôi hỗ trợ bạn 24/7.</div>
                        <div>Hãy liên lạc với chúng tôi theo số</div>
                        <div class="large"><a href="">1900 0022</a></div>*@
                </div>
            </div>
        </div>
    </section>
    @{
        var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1);
        var blog_parents = blog_zone.Where(r => r.ParentId == 0).FirstOrDefault();

    }

    <div class="container blog-video">
        <div class="heading pb-2  mb-3 d-flex">
            <div class="h5 font-weight-600 mb-0 ">
                Video
            </div>
            @{
                var total_news_video = 0;
                var list_news_video = articleRepository.GetArticlesInZoneId_Minify_FullFilter(0, (int)TypeZone.AllButProduct, (int)TypeArticle.Video, 2, culture_code, "", 1, 10, out total_news_video);
                var view_more_video = "javascript:void(0)";
                if (list_news_video.FirstOrDefault() != null)
                {
                    view_more_video = list_news_video.FirstOrDefault().ZoneUrl;
                }

            }
            <div class="ml-auto">
                <a href="@string.Format("/{0}", view_more_video)" class="link-view-more">
                    Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                </a>
            </div>
        </div>
        <div class="slide-video">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    @{
                        foreach (var item in list_news_video)
                        {
                            var link_tar = string.Format("/{0}.html", item.Url);
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="video-img">
                                        <a href="@link_tar">
                                            <img src="~/images/gray.jpg" class="img-fluid lazy w-100" data-src="@UIHelper.StoreFilePath(item.Avatar)" />
                                            <div class="play-yt">
                                                <img src="~/images/youtube.svg" class="">
                                            </div>
                                        </a>
                                    </div>
                                    <h5 class="title">
                                        <a href="javascript:void(0)" title="@item.Title">@item.Title</a>
                                    </h5>
                                    <div class="time">
                                        @item.CreatedDate.ToString("dd/MM/yyyy hh:mm");
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <section class="blogs-home py-5">
        <div class="container">
            <div class="row mb-4">
                @if (blog_parents != null)
                {
                    //var link_tar = string.Format("{0}/{1}.bp{2}.html", base_uri_culture, blog_parents.Url, blog_parents.Id);
                    var link_tar = string.Format("/{0}", blog_parents.Url);

                    <div class="col-6">
                        <a href="@link_tar" class="h5 font-weight-bold">@blog_parents.Name</a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="@link_tar" class="link-view-more">Xem thêm <i class="fas fa-chevron-right ml-1 small"></i></a>
                    </div>
                }

            </div>
            <div class="cust-bg-use">
                <div class="row">
                    @{
                        var big_image = news_home_cut_2.FirstOrDefault();
                    }
                    <div class="col-xl-7 col-md-6 col-sm-12 col-12">
                        @if (big_image != null)
                        {
                            var link_tar = string.Format("/{0}.html", big_image.Url);
                            <div class="item">
                                @*<iframe width="100%" height="400" src="https://www.youtube.com/embed/IBDeDJbH6Y8"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>*@
                                <a href="@link_tar">
                                    <img src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(big_image.Avatar,false)?v=@WebHelper.Version()" alt="@big_image.Title" class="img-fluid lazy" width="100%" height="auto" />
                                </a>

                                <a href="@link_tar" title="@big_image.Title" class="">
                                    <h6 class="title h5 mt-3 ">
                                        @big_image.Title
                                    </h6>
                                </a>
                                <div class="des">
                                    @Html.Raw(big_image.Description)
                                </div>
                                <div class="text-right mb-3">
                                    <a href="@link_tar" class="link-view-more">
                                        Đọc tiếp<i class="fas fa-chevron-right ml-1 small"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-xl-5 col-md-6 col-sm-12 col-12 pl-md-0">
                        <div class="list-right">
                            @foreach (var item in news_home_cut_2.Skip(1))
                            {
                                var link_tar = string.Format("/{0}.html", item.Url);
                                <div class="item">
                                    <div class="row">
                                        <div class="col-xl-3 col-md-4 col-sm-3 col-3">
                                            <div class="image">
                                                <a href="@link_tar" title="@item.Title">
                                                    <img src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Avatar)?v=@WebHelper.Version()" class="img-fluid lazy"
                                                         alt="@item.Title" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xl-9 col-md-8 col-sm-9 col-9 pl-0">
                                            <h6 class="title">
                                                <a href="@link_tar" title="@item.Title">@item.Title</a>
                                            </h6>
                                            <div class="time">
                                                @item.CreatedDate.ToString("dd/MM/yyyy hh:mm")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="service-home py-3">
        <div class="container">
            <div class="row">
                @if (Stem_Chantrang.Count() > 0)
                {
                    foreach (var item in Stem_Chantrang)
                    {
                        <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                            <div class="d-flex py-3 justify-content-center">
                                <div class="image align-self-center">
                                    <img src="~/images/gray.jpg" data-src="@UIHelper.StoreFilePath(item.Image, false)?v=@WebHelper.Version()" class="img-fluid lazy" />
                                </div>
                                <div class="px-3 align-self-center">
                                    <label>@item.Title</label>
                                    <div class="small">
                                        @item.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>

@section scripts{
    @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>*@

    <script type="text/javascript" src="~/js/libs/daterangepicker-master/moment.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/homeController.js?v=@WebHelper.Version()"></script>
}
