﻿@using VietLab.Web.Services.Store.ViewModel;

@{
    ViewData["Title"] = "Tìm quanh đây";
    Layout = "~/Views/Shared/_LayoutPublicHome.cshtml";
}

@{
    List<StoreResponse> storeResponses = new List<StoreResponse>();
    if (ViewBag.ListDepartment != null)
    {
        storeResponses = (List<StoreResponse>)ViewBag.ListDepartment;
    }
}

<div class="banner-list-store py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="item mb-3 mb-sm-0">
                    <div class="icon">
                        <img asp-append-version="true" src="~/images/icon-banner-lt-1.svg" class="img" />
                    </div>
                    <div class="number">
                        2.029
                    </div>
                    <div>
                        Cửa hàng trên<br />toàn quốc
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="item  mb-3 mb-sm-0">
                    <div class="icon">
                        <img asp-append-version="true" src="~/images/icon-banner-lt-2.svg" class="img" />
                    </div>
                    <div class="number">
                        1.029
                    </div>
                    <div>
                        Khách được<br />
                        phục vụ<br />
                        mỗi ngày
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="item  mb-3 mb-sm-0">
                    <div class="icon">
                        <img asp-append-version="true" src="~/images/icon-banner-lt-3.svg" class="img" />
                    </div>
                    <div class="number">
                        8:00 - 22:00
                    </div>
                    <div>
                        Kể cả chủ nhật &<br />ngày nghỉ
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="current-location" id="current-location" title="Xác định vị trí">
        <div class="r-content"><i class="fa-icon-current"></i></div>
    </div>
    <div class="col-12">
        <div class="bg-map position-relative">
            <div class="box-list-stores col-xl-3 col-lg-3 col-md-5 col-sm-6 col-12 px-0 p-md-3" style="z-index: 999;">
                <h6 class="title">Janhome tại địa phương bạn</h6>
                <div class="mb-3">Hãy tìm Janhome tại địa phương bạn</div>
                <div class="search-comment mb-3">
                    <input class="form-control " type="text" placeholder="Tìm kiếm" id="txtSearchLocation" onkeyup="R.DepartmentByLocation.SeachLocation()">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </div>
                <div class="mb-3">
                    <div class="d-inline-block mr-3">Khoảng cách</div>
                    <label class="label-checkbox ">
                        500m
                        <input type="radio" name="rDistance" value="500">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        1km
                        <input type="radio" name="rDistance" value="1000">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        2km
                        <input type="radio" name="rDistance" value="2000">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        3km
                        <input type="radio" name="rDistance" value="3000">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        5km
                        <input type="radio" name="rDistance" value="5000">
                        <span class="checkmark"></span>
                    </label>
                    <label class="label-checkbox ">
                        10km
                        <input type="radio" name="rDistance" value="10000">
                        <span class="checkmark"></span>
                    </label>
                    <div>
                        <a href="" class="link-view-more">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"></i>
                        </a>
                    </div>
                </div>
                <button class="btn btn-save  w-100 mb-3" onclick="expandListStore()">
                    Xem tất cả các cửa hàng<i class="fas fa-chevron-down ml-auto float-right mt-1 small"></i>
                </button>
                <div class="list-add-store expand" id="shop-result-content">
                    @if (storeResponses.Count() > 0)
                    {
                        foreach (var item in storeResponses)
                        {
                            <div class="item">
                                <div class="name"><a onclick="R.DepartmentByLocation.ShowLocation(this)" href="javascripts:void(0)" data-lat="@item.Latitude" data-lng="@item.Longitude">@item.Name</a></div>
                                <div class="d-flex ">
                                    <div class="icon">
                                        <img asp-append-version="true" src="~/images/icon-store-1.svg" class="img-fluid" />
                                    </div>
                                    <div class="text">
                                        @item.Address
                                    </div>
                                </div>
                                <div class="d-flex ">
                                    <div class="icon">
                                        <img asp-append-version="true" src="~/images/icon-store-2.svg" class="img-fluid" />
                                    </div>
                                    <div class="text">
                                        @item.Email
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <div class="icon">
                                        <img asp-append-version="true" src="~/images/icon-store-3.svg" class="img-fluid" />
                                    </div>
                                    <div class="text color-EE7D22 font-weight-600 ">
                                        @item.Hotline
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div id="map">

            </div>
        </div>
    </div>
</div>


<section class="service-home py-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/shipment-international.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Vận chuyển</label>
                        <div class="small">
                            Free shipping on all order
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/professions-man-telecommunicator.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Support 24/7</label>
                        <div class="small">
                            Chúng tôi hỗ trợ bạn 24/7
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 col-sm-4 col-12">
                <div class="d-flex py-3 justify-content-center">
                    <div class="image align-self-center">
                        <img asp-append-version="true" src="~/images/saving-piggy-dollars.svg" class="img-fluid" />
                    </div>
                    <div class="px-3 align-self-center">
                        <label>Dịch vụ đổi trả hàng</label>
                        <div class="small">
                            Đổi trả hàng trong vòng 7 ngày
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <link href="~/vendor/map/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <script src="~/vendor/map/fSelect/fselect.js"></script>
    <script src="~/vendor/map/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/vendor/map/jquery.slimScroll.js"></script>
    <script src="~/vendor/map/jquery.mousewheel.min.js"></script>
    <script src="~/vendor/map/jquery.jscrollpane.min.js"></script>
    <link href="~/vendor/map/jquery.jscrollpane.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnbU1GPu5dcVfxn0GFTUoNC6UYpFIrxrA&callback=R.DepartmentByLocation.InitMap" defer></script>
    <script type="text/javascript" src="~/js/Store/DepartmentByLocation.js" asp-append-version="true"></script>

}