﻿@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Enterbuy.Data.SqlServer.ModelDto
@using Utils;
@model List<ProductMinify>;
@using MI.Entity.Enums;
@inject IZoneDao ZoneDao
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor


@{

}

@{
    var size = ViewBag.Total;
    var item_left = 2;
    var item_right = 3;
    var item_in_row = item_left + item_right;
    var number_of_page = size / item_in_row + 1;
}

@{
    var list_product = Model;
    var id = ViewBag.Id;


    //foreach (var item in list_cutted)
    //{
    //    var result = await ZoneDao.GetZoneDetail(item.ZoneId, "vi-VN");
    //    //var zoneName = result.Name;
    //    item.ZoneUrl = result.Url;
    //}
    foreach (var item in Model)
    {
        var result = await ZoneDao.GetZoneDetail(item.ZoneId, "vi-VN");

        item.ZoneUrl = result.Url;
    }
}
<div class="row no-gutters mb-3 mb-md-0">
    @if (Model != null)
    {

        @foreach (var item in Model)
        {
            var link_ta = BaseBA.UrlProduct(item.ZoneUrl, item.Url);

            <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-6 ">
                <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
                    <div class="tag-1">

                    </div>
                    @if (item.FlashSaleId > 0)
                    {
                        <div class="tag-flashsale">
                            <img src="~/images/tag-flash-111x34.svg" class=" img-fluid" />
                        </div>
                    }
                    <div class="image">
                        <a href="@link_ta"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title" /></a>

                    </div>
                    <div class="tag-2">
                        <img asp-append-version="true" src="" class="img-fluid tag-2-thumb" />
                    </div>
                    <div class="mt-3">
                        <h3 class="title">
                            <a href="@link_ta" title="@item.Title">
                                @item.Title
                            </a>
                        </h3>
                        @if (item.FlashSaleId > 0)
                        {
                            <div class="price-new">
                                @(item.ProductPriceInFlashSale <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.ProductPriceInFlashSale)))
                                @*@UIHelper.FormatNumber(item.ProductPriceInFlashSale) đ*@
                            </div>

                            <div class="price-old">
                                @(item.SalePrice <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.SalePrice)))
                            </div>
                        }
                        else
                        {
                            <div class="price-new">
                                @(item.SalePrice <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.SalePrice)))
                                @*@UIHelper.FormatNumber(item.SalePrice) đ*@
                            </div>

                            <div class="price-old">
                                @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                            </div>
                        }

                        <div class="size small mb-1">
                            @item.SpecName: @item.SpecValue
                        </div>
                        <div class="review d-flex">
                            <div class="color-FFAB1B mr-2">
                                @System.Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                            </div>
                            <div class="color-828282">
                                @item.CountRate đánh giá
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    }
</div>
