@using Utils;
@model List<Enterbuy.Services.Common.Models.BannerHomePage>

<section class="list-cate-home bg-fff py-4">
    <div class="container">
        <div class="row">
            @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="item">
                            <div class="icon  ">
                                @Html.Raw(Utility.TagImg(UIHelper.StoreFilePath(item.Image, false), item.Title, "img-fluid"))
                            </div>
                            <div class="align-self-center">
                                <a href="@item.Url" title="@Utility.bodauTiengViet(item.Title)">@item.Title</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>