﻿@using Enterbuy.Services.Blog.Services;
@using Enterbuy.Core.Enumerations;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Utils;
@using Enterbuy.Data.SqlServer.ModelDto;
@inject IBlogServices blogServices
@model List<ArticleMinify>
@{
    ZoneDetail zone_target = new ZoneDetail();

    var pageIndex = ViewBag.PageIndex;
    var pageSize = ViewBag.PageSize;
    var total = ViewBag.Total;
    if (ViewBag.ZoneTarget != null)
    {
        zone_target = ViewBag.ZoneTarget as ZoneDetail;
    }
    //= 0;
    //   var list_article = blogServices.GetArticlesInZoneId_Minify(zone_target.Id, (int)zone_target.Type, "vi-VN", "", pageIndex, pageSize, out total) as List<ArticleMinify>;
}
<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            @await Component.InvokeAsync("MenuRightBlog")
        </div>
        @if (Model.Count() > 0)
        {
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <div class="heading pb-2  mb-3 d-flex">
                    <h1 class="h5 font-weight-600 mb-0 ">
                        @zone_target.Name
                    </h1>
                </div>
                <div class="slide-blog-cate swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        @{ var article_in_slide = Model.Skip(0).Take(3); }
                        @foreach (var item in article_in_slide)
                        {
                            var link = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                            <div class="swiper-slide">
                                <div class="item mb-3">
                                    <a href="@link" title="">
                                        <img src="@UIHelper.StoreFilePath(item.Avatar,false)" alt="@item.Title" class="img-fluid w-100" />
                                    </a>
                                    <h2 class="title">
                                        <a href="@link" title="@item.Title">@item.Title</a>
                                    </h2>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                    <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
                </div>
                <div class="list-blog-cate-2">
                    @{ var article_out_slide = Model.Skip(3); }
                    @foreach (var item in article_out_slide)
                    {
                        var link = BaseBA.UrlNews(item.ZoneUrl, item.Url, item.Id);
                        <div class="item item-blog-km">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4 col-12">
                                    <div class="image mb-3 mb-sm-0">
                                        <a href="@link" title="@item.Title">
                                            <img src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid w-100" alt="@item.Title" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-8  col-12">
                                    <h5 class="title">
                                        <a href="@link">@item.Title </a>
                                    </h5>
                                    <div class="time">
                                        @item.CreatedDate.ToString("dd/MM/yyyy hh:mm")
                                    </div>
                                    <div class="des">
                                        @Html.Raw(item.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="pagin">
                    @Html.Raw(Enterbuy.WebInterface.UtilityWeb.UtilsHeperWeb.BootstrapPager(pageIndex, BaseBA.UrlCategoryNews(zone_target.Url, "", false), total, pageSize, 5, false))
                </div>



            </div>
        }
    </div>
</div>
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")

@section scripts{
    <script type="text/javascript" src="~/js/controller/blogList2Controller.js" asp-append-version="true"></script>
}