﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using VietLab.Web.Services.Zone.ViewModal
@using VietLab.Web.Services.Zone.Repository
@using VietLab.Web.Services.BannerAds.Repository
@using VietLab.Web.Services.BannerAds.ViewModel
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using VietLab.Web.Utility
@using MI.Entity.Models
@using Utils
@using MI.Entity.Enums
@using Microsoft.AspNetCore.Http.Extensions
@using VietLab.Web.Services.Locations.Repository
@using VietLab.Web.Services.Extra.Repository
@using VietLab.Web.Services.Locations.ViewModal;
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IZoneRepository zoneRepository;
@inject IConfigSEOUtility configSEOUtility;
@inject IBannerAdsRepository bannerAdsRepository;
@inject IExtraRepository extraRepository;
@inject IViewLocalizer Localizer
@inject ILocationsRepository locationsRepository;
@inject IOptions<RequestLocalizationOptions> LocOptions;

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    Layout = null;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.GetDisplayUrl();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    List<LocationViewModel> locationViewModels = new List<LocationViewModel>();
    locationViewModels = locationsRepository.GetLocations(culture_code);
    List<ZoneSugget> zoneSugget = new List<ZoneSugget>();
    zoneSugget = zoneRepository.GetZoneSugget(culture_code);
    List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    var Banner_Trangchu_Doc_Trai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Trai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Trai");
    var Banner_Trangchu_Doc_Phai = new DetailBanerAds();
    var Banner_Trangchu_Doc_Phai_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Doc_Phai");
    var Banner_Trangchu_Trencung_after_cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Trangchu_Trencung");
    var Banner_Trangchu_Trencung_AF_Cooked = new DetailBanerAds();
    if (Banner_Trangchu_Trencung_after_cache != null)
    {
        Banner_Trangchu_Trencung_AF_Cooked = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Trencung_after_cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Trai_Cache != null)
    {
        Banner_Trangchu_Doc_Trai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Trai_Cache.MetaData);
    }
    if (Banner_Trangchu_Doc_Phai_Cache != null)
    {
        Banner_Trangchu_Doc_Phai = Newtonsoft.Json.JsonConvert.DeserializeObject<DetailBanerAds>(Banner_Trangchu_Doc_Phai_Cache.MetaData);
    }

    var blog_zone = zoneRepository.GetZoneByTreeViewShowMenuMinifies((int)TypeZone.Article, culture_code, 0, 1);
    var blog_parents = blog_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).FirstOrDefault();
    var getPart = Context.Request.Path.ToString();
}
@inject IViewLocalizer _localizer
@using VietLab.Web.Services.Config.Repository
@{
    var _ver = WebHelper.Version();
    var favicon = bannerAdsRepository.GetConfigByName("vi-VN", "Favicon");
}
<!DOCTYPE html>

<html>
<head>
    <meta name="googlebot" content="noindex">

    <link rel="shortcut icon" href="@UIHelper.StoreFilePath(favicon, false)" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="Resource-type" content="Document" />
    <meta name="googlebot-news" content="nosnippet">
    <meta name="has_audio" content="0" />
    <meta name="programs" content="none" />
    <meta name="org_id" content="0" />
    <meta name="nid" content="1056" />
    <meta name="category" content="Analytics" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bsnav.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fa-font.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/css/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    @RenderSection("Styles", required: false)
    @Html.Raw(bannerAdsRepository.GetConfigByName(culture_code, "ScriptHeader"))
</head>
<body>
    <section class="header">
        <div class="container">
            <div class="htop">
                <div class="bsnav-mobile">
                    <div class="bsnav-mobile-overlay"></div>
                    <div class="navbar"></div>
                </div>
                <div class="navbar navbar-expand-sm bsnav p-0">
                    <a class="navbar-brand logo" href="/">
                        <img src="@UIHelper.StoreFilePath(bannerAdsRepository.GetConfigByName("vi-VN", "Logo"), false)?v=@_ver" alt="@domain">
                    </a>
                    <div class="nav-item pc-none">
                        <div class="btn-sl nav-link kc-1">
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/img/Home/ic_search.svg" alt="icon-search">
                                </button>
                                <div class="dropdown-menu cussearch dropdown-menu-center">
                                    <div class="form-inline md-form form-sm active-purple-2 mt-2">
                                        <div class="customer-search">
                                            <div class="cus-name">
                                                <label for="search-input-mobi" class="cus-ic-search">
                                                    <a href="#" title="">
                                                        <img src="~/img/Home/ic_search.svg" alt="icon-search" />
                                                    </a>
                                                </label>
                                                <input type="text" id="search-input-mobi" placeholder="Search" class=" search-input w-100">
                                                <div class="suggest-text suggest-text-2">
                                                    <div class="h6 px-3">
                                                        Sản phẩm gợi ý
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group">
                                <div class="d-flex">
                                    <a class="select-language" href="#" data-lang="vi-VN">
                                        <div class="pr-2">
                                            <img src="~/img/Home/vn.svg" alt="defaul" />
                                        </div>
                                    </a>
                                    <a class="select-language" href="#" data-lang="en-US">
                                        <div><img src="~/img/Home/en.svg" alt="defaul" /></div>
                                    </a>
                                </div>
                                @*<a class="btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                       aria-expanded="false" id="dropdownMenuLink">

                                        @if (culture == "vi")
                                        {
                                            <div><img src="~/img/Home/vn.svg" alt="defaul"/><i class="fal fa-angle-down ml-2" style="color: #000000;"></i></div>
                                        }
                                        @if (culture == "en")
                                        {
                                            <div><img src="~/img/Home/en.svg" alt="defaul"/><i class="fal fa-angle-down ml-2" style="color: #000000;"></i></div>
                                        }
                                    </a>
                                    <div class="dropdown-menu cu-si-lang dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                        @foreach (var item in cultureItems)
                                        {
                                            <a class="customer-search select-language" href="#" data-lang="@item.Value">
                                                @if (item.Value == "vi-VN")
                                                {

                                                    <div class="dropdown-item culang ">
                                                        VN
                                                        <img src="~/img/Home/vn.svg"alt="defaul"  class="ml-2" />
                                                    </div>
                                                }
                                                @if (item.Value == "en-US")
                                                {

                                                    <div class="dropdown-item culang">
                                                        EN
                                                        <img src="~/img/Home/en.svg" alt="defaul" class="ml-2" />
                                                    </div>
                                                }
                                            </a>
                                        }
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse justify-content-sm-end">
                        <ul class="navbar-nav navbar-mobile mr-0">
                            <li class="nav-item @(getPart == "/"?"active":"")"><a class="nav-link kc-1" href="/">Trang chủ</a></li>
                            <li class="nav-item @(getPart == "/gioi-thieu"?"active":"")"><a class="nav-link kc-1" href="/gioi-thieu">Giới thiệu</a></li>
                            <li class="nav-item @(getPart == "/san-pham.zc0.html"?"active":"") dropdown megamenu">
                                <a class="nav-link kc-1 configuration-menu" href="/san-pham.zc0.html">Sản phẩm<i class="fal fa-angle-down ml-2"></i></a>
                                <div class="navbar-nav backg-nav-cus">
                                    @{
                                        var list_zone = zoneRepository.GetZoneByTreeViewMinifies(1, culture_code, 0);
                                        var list_zone_first_mn = list_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).ToList();
                                    }
                                    <div class="container">
                                        <div class="row mb-3">
                                            @foreach (var item in list_zone_first_mn)
                                            {
                                                var list_zone_first_mn_child = list_zone.Where(r => r.ParentId == item.Id).OrderBy(r => r.SortOrder).ToList();
                                                var link_root = string.Format("/{0}.zc{1}.html", item.Url, item.Id);
                                                <div class="col-sm-3">
                                                    <ul class="navbar-nav cust-col-bg">
                                                        <li class="nav-item mb-pt-0 pt-4 pb-1"><a href="@link_root"><h6><strong>@item.Name</strong></h6></a></li>
                                                        @foreach (var items in list_zone_first_mn_child)
                                                        {
                                                            var link_roots = string.Format("/{0}.zc{1}.html", items.Url, items.Id);
                                                            <li class="nav-item"><a class="nav-link" href="@link_roots">@items.Name</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item @(getPart == "/tin-tuc"?"active":"")"><a class="nav-link kc-1" href="@(string.Format("/{0}/{1}.{2}.html","tin-tuc","danh-muc-tin-tuc",0))">Tin tức</a></li>
                            <li class="nav-item @(getPart == "/lien-he"?"active":"")"><a class="nav-link kc-1" href="/lien-he">Liên hệ</a></li>
                            <li class="nav-item mb-none">
                                <div class="btn-sl nav-link kc-1" style="padding: 15px;">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="~/img/Home/ic_search.svg" alt="icon-search">
                                        </button>
                                        <div class="dropdown-menu cussearch dropdown-menu-right">
                                            <div class="form-inline md-form form-sm active-purple-2 mt-2">
                                                <div class="customer-search">
                                                    <div class="cus-name">
                                                        <input type="text" placeholder="Search" class="search-input w-100">
                                                        <div class="suggest-text suggest-text-2">
                                                            <div class="h6 px-3">
                                                                Sản phẩm gợi ý
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item align-self-md-center sm-d-none">
                                <div class="btn-group">
                                    <div class="d-flex">
                                        <a class="select-language" href="#" data-lang="vi-VN">
                                            <div class="pr-2">
                                                <img src="~/img/Home/vn.svg" alt="defaul" />
                                            </div>
                                        </a>
                                        <a class="select-language" href="#" data-lang="en-US">
                                            <div><img src="~/img/Home/en.svg" alt="defaul" /></div>
                                        </a>
                                    </div>
                                    @*<a class="btn btn-secondary cus-search dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                           aria-expanded="false" id="dropdownMenuLink">
                                            @if (culture == "vi")
                                            {
                                                <div><img src="~/img/Home/vn.svg" alt="defaul" /><i class="fal fa-angle-down ml-2" style="color: #000000;"></i></div>
                                            }
                                            @if (culture == "en")
                                            {
                                                <div><img src="~/img/Home/en.svg" alt="defaul" /><i class="fal fa-angle-down ml-2" style="color: #000000;"></i></div>
                                            }

                                        </a>
                                        <div class="dropdown-menu cu-si-lang dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                            @foreach (var item in cultureItems)
                                            {
                                                <a class="customer-search select-language" href="#" data-lang="@item.Value">
                                                    @if (item.Value == "vi-VN")
                                                    {

                                                        <div class="dropdown-item culang ">
                                                            VN
                                                            <img src="~/img/Home/vn.svg" alt="defaul" class="ml-2" />
                                                        </div>
                                                    }
                                                    @if (item.Value == "en-US")
                                                    {
                                                        <div class="dropdown-item culang ">
                                                            EN
                                                            <img src="~/img/Home/en.svg" alt="defaul" class="ml-2" />
                                                        </div>
                                                    }
                                                </a>
                                            }
                                        </div>*@
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @RenderBody()

    <footer>
        <div class="main-ft">
            <div class="container">
                <div class="ndc">
                    <div class="row">
                        @{
                            var em = bannerAdsRepository.GetConfigByName("vi-VN", "MailMess2");
                            var em2 = bannerAdsRepository.GetConfigByName("vi-VN", "MailMess");
                            var dchcm = bannerAdsRepository.GetConfigByName("vi-VN", "AddressHCM");
                            var dc = bannerAdsRepository.GetConfigByName("vi-VN", "Address");
                        }
                        <div class="col-md-7">
                            <div class="tit-name-ft"> @bannerAdsRepository.GetConfigByName("vi-VN", "Name") </div>
                            <div class="chi-nhanh">
                                <p class="txt-cn-1">Văn phòng Hà Nội</p>
                                <div class="txt-cn-2">
                                    <p><b>Địa chỉ :</b> @dc </p>
                                    <p><b>ĐT:</b>  @bannerAdsRepository.GetConfigByName("vi-VN", "Hotline") </p>
                                    <p><b>Fax  :</b> @bannerAdsRepository.GetConfigByName("vi-VN", "FaxHN") | <b>Email: </b> @em2</p>
                                </div>
                                <div class="chi-nhanh">
                                    <p class="txt-cn-1">Văn phòng Hồ Chí Minh</p>
                                    <div class="txt-cn-2">
                                        <p><b>Địa chỉ :</b> @dchcm</p>
                                        <p><b>ĐT:</b>   @bannerAdsRepository.GetConfigByName("vi-VN", "Hotline1")</p>
                                        <p><b>Fax :</b> @bannerAdsRepository.GetConfigByName("vi-VN", "FaxHCM") | <b>Email: </b> @em</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row mb-pd-3">
                                <div class="col-md-6 col-12">
                                    <p class="txt-us">Vietlab Co., Ltd</p>
                                    <div class="list-menu">
                                        @{
                                            var ChanTrang_Cot1_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Footer_Cot_mot");
                                            if (ChanTrang_Cot1_Cache != null)
                                            {
                                                var tar = ChanTrang_Cot1_Cache as BannerAdsViewModel;
                                                var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                                foreach (var item in list_banner)
                                                {
                                                    <a href="@item.Url">
                                                        <div class="pb-2">@item.Title</div>
                                                    </a>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <p class="txt-us mb-pt">Sản phẩm</p>
                                    <div class="list-menu">
                                        @{
                                            var ChanTrang_Cot2_Cache = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Footer_Cot_hai");
                                            if (ChanTrang_Cot2_Cache != null)
                                            {
                                                var tar = ChanTrang_Cot2_Cache as BannerAdsViewModel;
                                                var list_banner = JsonConvert.DeserializeObject<List<DetailBanerAds>>(tar.MetaData);
                                                foreach (var item in list_banner)
                                                {
                                                    <a href="@item.Url">
                                                        <div class="pb-2">@item.Title</div>
                                                    </a>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="nav-bt-ft">
                    <div class="list-menu">
                        Vietlab is a product from Lerøy Seafood. 2020. All Rights Reserved. Design and Concept by Migroup
                    </div>
                    <div class="list-menu">
                        <a href=" @bannerAdsRepository.GetConfigByName("vi-VN", "LinkFanpage")">
                            <img src="~/img/Home/Facebook.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="~/img/Home/Instagram.svg" alt="">
                        </a>
                        <a href="@bannerAdsRepository.GetConfigByName("vi-VN", "Zalo")">
                            <img src="~/img/Home/Zalo.svg" alt="">
                        </a>
                        <a href="javascript:void(0)">
                            <img src="~/img/Home/Group.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="scrollToTop" style="display: none;">
            <i class="fal fa-angle-up ic-ttop"></i>
        </a>
        <a href="/lien-he" class="callphone "><img src="~/img/phone.png" alt="defaul" /></a>

    </footer>
    <!-- Load Facebook SDK for JavaScript
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v8.0'
            });
        };


        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    @*<div class="fb-customerchat"
             attribution=setup_tool
             page_id="222002135863348"
             theme_color="#0084ff"
             logged_in_greeting="Chào bạn ! tôi có thể giúp gì cho bạn?"
             logged_out_greeting="Chào bạn ! tôi có thể giúp gì cho bạn?">
        </div>*@
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/bsnav.min.js"></script>
    <script type="text/javascript" src="~/js/font-icon.js"></script>
    <script type="text/javascript" src="~/js/slick.min.js"></script>
    <script type="text/javascript" src="~/js/list/jstree.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <script type="text/javascript" src="~/js/typeit.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/core/core.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controller/menuController.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if (window.location.pathname == "" || window.location.pathname === "/") {
                localStorage.setItem("jstree", "");
            }
            $('.search-input').keydown(function (event) {
                if ($(this).val().length > 0 || event.keyCode == 13) {

                    $(".suggest-text.suggest-text-2").show();

                    $(this).autocomplete({
                        delay: 300,
                        source: function (request, response) {
                            var params = {
                                keyword: request.term
                            }
                            $.post("/Product/GetProductSnearch", params, function (data) {
                                $(".suggest-text.suggest-text-2").empty();
                                var lstItem = "";
                                lstItem += "<div class='h6 px-3'>Sản phẩm gợi ý</div>"
                                $.each(data, function (index, im) {
                                    lstItem += '<div class="item-cart"><a href="' + im.url + '.p' + im.id + '.html"><div class="image-product"><img src="https://cmsvietlab.migroup.asia/uploads/' + im.avatar + '" class="" alt="defaul" /></a></div>';
                                    lstItem += '<div class="text px-2 "><a href="' + im.url + '.p' + im.id + '.html"> <h6 class="name-product mb-1">' + im.name + '</h6></a>';
                                    lstItem += "</div></div>";
                                });

                                return $(lstItem).appendTo(".suggest-text.suggest-text-2");
                            })

                        },
                    });
                }
                else {
                    $(".suggest-text.suggest-text-2").hide();
                }
            })
            $('.search-input').on("focusout", function () {
                setTimeout(function () {
                    $(".suggest-text.suggest-text-2").hide();
                }, 1000);
            });
            sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
            $('.tree-menu-mobile').jstree({
                "core": {
                    "animation": 100,
                    "check_callback": true,
                    "multiple": false, // no multiselection
                    "themes": {
                        "dots": true, // no connecting dots between dots
                        "icons": false
                    },
                },
                "plugins": ["state", "wholerow", "types"],
                'types': {
                    'default': {
                        'icon': 'fa fa-angle-right fa-fw'
                    },
                    'f-open': {
                        'icon': 'fa fa-folder-open fa-fw'
                    },
                    'f-closed': {
                        'icon': 'fa fa-folder fa-fw'
                    }
                }
            });
            $('.tree-menu-mobile').on("select_node.jstree", function (e, data) {
                var r = data.node;
                //console.log(r);
                var nodesToKeepOpen = [];

                // get all parent nodes to keep open
                $('#' + data.node.id).parents('.jstree-node').each(function () {
                    nodesToKeepOpen.push(this.id);
                });

                // add current node to keep open
                nodesToKeepOpen.push(data.node.id);

                // close all other nodes
                $('.jstree-node').each(function () {
                    if (nodesToKeepOpen.indexOf(this.id) === -1) {
                        $(".tree-menu-mobile").jstree().close_node(this.id);
                        $(".mn-menu-pc .tree-menu-mobile").jstree().close_node(this.id);
                    }
                })
                if (r.state.opened == false && r.children.length > 0) {
                    $('.tree-menu-mobile').jstree("toggle_node", data.node);
                    return false;
                }
                if (r.state.opened == true || r.children.length == 0) {
                    var id = r.id;
                    var url = r.a_attr.href;
                    var old_node = $(id).find('.jstree-clicked');
                    var t = sessionStorage.getItem('current-js-tree');
                    if (t == "" || t === undefined) {
                        window.location.href = url;
                    } else {
                        var ss = JSON.parse(sessionStorage.getItem('current-js-tree'));
                        var seleced_current = ss.state.core.selected;
                        if (seleced_current.length > 0) {
                            if (seleced_current[0] != id) {
                                //console.log("Khac roi nay");
                                //sessionStorage.setItem("current-js-tree", localStorage.getItem("jstree"));
                                window.location.href = url;
                            }
                            if (seleced_current[0] == id) {
                                //console.log("Trung roi nay")
                            }
                        }
                        if (seleced_current.length == 0) {
                            window.location.href = url;
                        }
                    }
                    return false;
                }
            });
        })
    </script>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/js/jquery.twbsPagination.js" asp-append-version="true"></script>

</body>
</html>
