﻿<section class="list-cate-home bg-fff py-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="item">
                    <div class="icon  ">
                        <img src="~/images/cate-icon-1.svg" class="img-fluid" />
                    </div>
                    <div class="align-self-center">
                        <a href="">Máy lọc nước Nano</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="item">
                    <div class="icon  ">
                        <img src="~/images/cate-icon-RO.svg" class="img-fluid" />
                    </div>
                    <div class="align-self-center">
                        <a href="">Máy lọc nước RO</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="item">
                    <div class="icon  ">
                        <img src="~/images/cate-icon-RO.svg" class="img-fluid" />
                    </div>
                    <div class="align-self-center">
                        <a href="">Hệ lọc tổng</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="item">
                    <div class="icon  ">
                        <img src="~/images/cate-icon-gift.svg" class="img-fluid" />
                    </div>
                    <div class="align-self-center">
                        <a href="">SP Khuyến mại</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="item">
                    <div class="icon  ">
                        <img src="~/images/cate-icon-1.svg" class="img-fluid" />
                    </div>
                    <div class="align-self-center">
                        <a href="">Sản phẩm mới</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="item">
                    <div class="icon  ">
                        <img src="~/images/cate-icon-RO.svg" class="img-fluid" />
                    </div>
                    <div class="align-self-center">
                        <a href="">Máy lọc nước RO</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="item">
                    <div class="icon  ">
                        <img src="~/images/cate-icon-1.svg" class="img-fluid" />
                    </div>
                    <div class="align-self-center">
                        <a href="">Hệ lọc tổng</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="item">
                    <div class="icon  ">
                        <img src="~/images/cate-icon-1.svg" class="img-fluid" />
                    </div>
                    <div class="align-self-center">
                        <a href="">Máy lọc nước Nano</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>