﻿@model Enterbuy.Services.Common.Models.BannerTwoSlideModel
<div class="banner-fixed-left">
    <a href="">
        @*<img src="~/images/change/2.jpg" class="img-fluid w-100  wow flipInY slow"/>*@
        <img src="@Model.BannerToLeft.Image" class="img-fluid w-100  wow flipInY slow"/>
    </a>
</div>
<div class="banner-fixed-right">
    <a href="">
        @*<img src="~/images/change/1.png" class="img-fluid w-100 wow flipInY slow" />*@
        <img src="@Model.BannerToRight.Image" class="img-fluid w-100 wow flipInY slow" />
    </a>
</div>