﻿@using MI.Entity.Enums;
@using VietLab.Web.Services.Zone.ViewModal
@using VietLab.Web.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using VietLab.Web.Services.Zone.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}

@{
    var zone_id = ViewBag.ZoneId;
    //var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
    var breadcrumbs = zoneRepository.GetBreadcrumbByZoneId(zone_id, culture_code);
}
@await Component.InvokeAsync("SEO_Breadcrumb", new { bread = breadcrumbs, page = "", type_page = ""})
<nav aria-label="breadcrumb">
    <ol class="breadcrumb jan-breadcrumb d-flex">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        @if (zone_id == 0)
        {
            <li class="breadcrumb-item"><a href="/">Sản phẩm</a></li>

        }
        @foreach (var item in breadcrumbs)
        {
            var link_roots = string.Format("/{0}.zc{1}.html", item.Url, item.Id);

            <li class="breadcrumb-item"><a href="@link_roots">@item.Name</a></li>

        }
    </ol>
</nav>