﻿@using MI.Entity.Enums;
@using System.Linq;
@using VietLab.Web.Services.Zone.ViewModal
@using VietLab.Web.Services.Zone.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using VietLab.Web.Services.BannerAds.Repository
@using VietLab.Web.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@using MI.Entity.Models
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var ZoneParent = ViewBag.ZoneParent as ZoneByTreeViewMinify;
    ViewBag.Title = "CategoriesList";
    Layout = "~/Views/Shared/_LayoutVietLab.cshtml";

    var category_zone_list = zoneRepository.GetZoneByTreeViewMinifies((int)TypeZone.Product, culture_code, 0);
    var list_resutl = category_zone_list.Where(r => r.ParentId > 0).OrderBy(r => r.SortOrder).ToList();

    var total_list = list_resutl.Count();
    var zoneId = ViewBag.CateId;
    var pageIndex = ViewBag.PageIndex;
}
@section styles {
    <link href="~/css/dev.css" rel="stylesheet" />
    <style>
        .PaddingPagi {
            margin-top: 40px
        }
    </style>
    @Html.Raw(configSEOUtility.ConfigMeta("Sản phẩm", "Sản phẩm VietLab", ""))
    @Html.Raw(configSEOUtility.ConfigSocialMeta())
}
<section class="main-product">
    <div class="container">
        @{
            var list_zone_first = category_zone_list.Where(r => r.level == 1);
            if (category_zone_list.Count() == 1)
            {
                list_zone_first = category_zone_list.Where(r => r.level == 0);
            }
            var list_zone_first_Br = category_zone_list.Where(r => r.level == 1);
            if (category_zone_list.Count() >= 1)
            {
                list_zone_first_Br = category_zone_list.Where(r => r.level == 0);
            }
        }
        <div class="mb-3">
            <nav aria-label="breadcrumb">
                @if (zoneId != null)
                {
                    @await Component.InvokeAsync("Breadcrumb", new { zone_id = zoneId })
                }

            </nav>
        </div>
        <div class="row">
            @{
                var list_zone = zoneRepository.GetZoneByTreeViewMinifies(1, culture_code, 0);
                var list_zone_first_mn = list_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).ToList();
            }
            <div class="col-md-3">
                <div class="mn-menu-mobile mb-2">
                    <div class="abctest" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">MENU</div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body p-0">
                            <div class="tree-menu-mobile">
                                <ul class="list-group cust-prod">
                                    @foreach (var item in list_zone_first_mn)
                                    {
                                        var link_root = string.Format("/{0}.zc{1}.html", item.Url, item.Id);
                                        <li class="">
                                            <a href="@link_root">
                                                @item.Name
                                            </a>
                                            @{
                                                var list_zone_second = list_zone.Where(r => r.ParentId == item.Id).OrderBy(r => r.SortOrder).ToList();
                                                var tree_pc = "";
                                            }
                                            <ul class="list-mn StyleList">
                                                @{tree_pc = TreeviewHelper.RenderTagWithMaxLevel(list_zone, item.level, item.Id, 1, base_uri_culture);
                                                    tree_pc.Replace("<ul></ul>", "");
                                                }
                                                @Html.Raw(tree_pc)
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mn-menu-pc">
                    <div class="abctest">MENU</div>
                    <div class="tree-menu-mobile">
                        <ul class="list-group cust-prod">
                            @foreach (var item in list_zone_first_mn)
                            {
                                var link_root = string.Format("/{0}.zc{1}.html", item.Url, item.Id);
                                <li class="">
                                    <a href="@link_root">
                                        @item.Name
                                    </a>
                                    @{
                                        var list_zone_second = list_zone.Where(r => r.ParentId == item.Id).OrderBy(r => r.SortOrder).ToList();
                                        var tree_pc = "";
                                    }
                                    <ul class="list-mn StyleList">
                                        @{ tree_pc = TreeviewHelper.RenderTagWithMaxLevel(list_zone, item.level, item.Id, 1, base_uri_culture);
                                            tree_pc.Replace("<ul></ul>", "");
                                        }
                                        @Html.Raw(tree_pc)
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                @if (ZoneParent != null)
                {
                    if (ZoneParent.ParentId == 0 && ZoneParent.IsShowMenu != 1)
                    {
                        <div class="all-sphc">
                            <ul class="list-cate-sphc row ">
                                @await Component.InvokeAsync("RedirectCategoriesList", new { zoneId = zoneId })
                            </ul>
                        </div>
                    }
                    else if (ZoneParent.IsShowMenu == 1)
                    {
                        <div class="all-sphc">
                            @await Component.InvokeAsync("ProductList", new { zone_parent_id = zoneId, locationId = location_id })
                        </div>
                        <ul class="sync-pagination float-right ProductMore" data-zoneid="@(zoneId)" data-Loca="@(location_id)"></ul>
                    }
                    else if (ZoneParent.ParentId != 0)
                    {
                        @await Component.InvokeAsync("RedirectCategoriesList1", new { zoneId = zoneId, pageIndex = pageIndex })
                    }
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        var neo = 0;
        $('.ViewMoreZone').off('click').on('click', function () {
            if (neo === 0) {
                $('.txt-prod-c2').removeClass('textHide')
                $(this).text('Ẩn bớt')
                neo = 1;

            }
            else {
                 $('.txt-prod-c2').addClass('textHide')
                $(this).text('Xem thêm')
                neo = 0
                
            }
        })

    </script>
    <script type="text/javascript" src="~/js/controller/paginationController.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controller/ViewMore.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/controller/PagiProduct.js" asp-append-version="true"></script>

}

