﻿<div class="modal jan-modal " id="modal-tieu-chuan" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h6 class="modal-title font-weight-bold">Tiêu chuẩn dịch vụ</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-4">
                <div>
                    <div class="mb-3">
                        <img src="~/images/change/img-tieu-chuan.jpg" class="img-fluid w-100">
                    </div>
                    <p>
                        Đột phá trong thiết kế, máy lọc nước K-i238 không còn đơn thuẩn chỉ là một sản phẩm gia dụng phải cất kỹ dưới bếp. Bằng những đường sắc nét góc cạnh và gam màu trắng xám đơn giản nhưng mang lại sự tinh tế, hài hoà với hầu hết không gian và đồ dùng vốn có của căn nhà, đặc biệt là phòng khách.
                    </p>
                    <p class="font-weight-bold">
                        MÀN HÌNH HIỂN THỊ LED: CẢNH BÁO THÔNG MINH - AN TOÀN TUYỆT ĐỐI
                    </p>
                    <p>
                        + Tự động báo thay lõi: cảnh báo người dùng khi lõi tới hạn phải thay thế đảm bảo chất lượng nước tinh khiết đầu ra.<br />
                        + Hiển thị thời gian hoạt động còn lại của lõi lọc trên màn hình hiển thị ngay trên vòi lấy nước.<br />
                        + Tự động báo nước cấp vào yếu.<br />
                        + Tự động báo bơm chạy liên tục quá 5 giờ<br />
                    </p>
                </div>
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-outline-view-more py-2 px-3 color-EE7D22">Xem thêm<i class="fas fa-chevron-down ml-2 " aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>