﻿@model Enterbuy.Services.Common.Models.BannerHomePage
@if (Model.Show)
{
    <section class="container">
        <div class="row">
            <div class=" col-12">
                <a href="@Model.Url" title="@Model.Title">
                    <img src="@Model.Image" class="w-100 mb-3 mb-md-0" alt="@Model.Title" />
                </a>
            </div>
        </div>
    </section>
}