﻿@using System.IO
@using Enterbuy.WebInterface.Models
@using Microsoft.AspNetCore.Hosting

@inject IHostingEnvironment env

<div class="heading">
    Thông tin khách hàng
</div>
<div>
    <label class="label-checkbox d-inline-block mr-3">
        Nam
        <input type="radio" name="gender-radio" value="male" checked />
        <span class="checkmark" style="border-radius: 50%;"></span>
    </label>
    <label class="label-checkbox d-inline-block">
        Nữ
        <input type="radio" name="gender-radio" value="female" />
        <span class="checkmark" style="border-radius: 50%;"></span>
    </label>
</div>
<div class="form-row mb-4">
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control mb-3 name" placeholder="Họ và tên *" required>
    </div>
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control mb-3  phone-number" placeholder="Số điện thoại *" required>
    </div>
    <div class="col-sm-12 col-12">
        <textarea rows="4" type="text" class="form-control mb-3 note"
                  placeholder="Ghi chú"></textarea>
    </div>
</div>

@{
    var provinces_result = new Dictionary<string, TinhThanh>();
    var provinces_json_part = env.WebRootFileProvider.GetFileInfo("hanhchinhvn-master/dist/tinh_tp.json")?.PhysicalPath;
    if (provinces_json_part != null)
    {
        var file_content = File.ReadAllText(provinces_json_part);
        if (file_content != null)
        {
            provinces_result = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, TinhThanh>>(file_content);

        }
    }
}
<div class="heading">
    Chọn địa chỉ và thời gian nhận hàng
</div>
<div class="form-row mb-4">
    <div class="col-sm-6 col-12">
        <select class="form-control mb-3 tinh-thanh" required="">
            <option hidden value="">Chọn Tỉnh/Thành</option>
            @foreach (var item in provinces_result)
            {
                <option value="@item.Key">@item.Value.name</option>
            }
        </select>
    </div>
    <div class="col-sm-6 col-12">
        <select class="form-control mb-3 quan-huyen" disabled required>
            <option hidden value="">Chọn Quận/Huyện</option>
            <option value="Tân Phú">Tân Phú</option>
        </select>
    </div>
    <div class="col-sm-6 col-12">
        <select class="form-control mb-3 phuong-xa" disabled required>
            <option hidden value="">Chọn Phường/Xã</option>
            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
        </select>
    </div>
    <div class="col-sm-6 col-12">
        <input type="text" class="form-control mb-3 so-nha" placeholder="Số nhà">
    </div>
</div>