﻿@using Enterbuy.Data.SqlServer.ModelDto
@model List<ProductMinify>;
@using Utils
@{var count = 1; }
@foreach (var item in Model)
{
    count++;
    var link_target = BaseBA.UrlProduct("", item.Url);
    <label class="label-checkbox d-flex">
        <div class="image-product mr-2">
            <img asp-append-version="true" src="~/@item.Avatar" class="" alt="@item.Title" />
        </div>
        <div class="align-self-center mr-2"><a href="@link_target" alt="@item.Title">@item.Title</a></div>
        <div class="align-self-center font-weight-600 ml-auto nowrap combo-item-price">@UIHelper.FormatNumber(item.SalePrice)</div>
        <input class="choose_combo" data-sale-price="@item.SalePrice" type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>

}