﻿<div class="banner-page py-3 mb-4"
     style="background: url(/images/change/banner-about.jpg) no-repeat center; background-size: cover;">
    <div class="container align-self-center">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-12 ">
                <h1 class="text-center color-fff">Giới thiệu công ty</h1>
            </div>
        </div>
    </div>
</div>

<section class="about-us py-4 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-11 col-12">
                <h2 class="h4 color-333 mb-3 text-uppercase text-center">VỀ ENTER BUY</h2>
                <p>
                    Thành lập 2010 với tiền thân là đơn vị chuyên phân phối thiết bị lọc nước từ năm 2004, Enterbuy
                    là 1 trong những đơn vị tiên phong đưa sản phẩm máy lọc nước nano vào thị trường Việt Nam từ
                    những năm 2010
                </p>
                <div class="text-or mb-4">
                    Trở thành chuyên gia hàng đầu trong các lĩnh vực lọc nước gia đình tại thị trường Việt Nam. Nhắc
                    đến lọc nước là nghĩ đến Enterbuy!
                </div>
            </div>
        </div>
    </div>
</section>

<section class="history py-4 py-md-5">
    <div class="container">
        <h2 class="h4  mb-3 text-uppercase text-center mb-4">Lịch sử hình thành</h2>
        <div id="history-slide" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#history-slide" data-slide-to="0" class="active"></li>
                <li data-target="#history-slide" data-slide-to="1"></li>
                <li data-target="#history-slide" data-slide-to="2"></li>
                <li data-target="#history-slide" data-slide-to="3"></li>
            </ol>
            <a class="carousel-control-prev" href="#history-slide" role="button" data-slide="prev">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a class="carousel-control-next" href="#history-slide" role="button" data-slide="next">
                <i class="fas fa-chevron-right"></i>
            </a>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-md-5 col-12">
                            <img src="~/images/about-2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-xl-5 col-md-6 col-12 align-self-center py-3">
                            <h5 class="color-F5A05B">
                                Năm 2004
                            </h5>
                            <p>
                                Enterbuy tiền thân là đơn vị chuyên phân phối thiết bị lọc nước từ năm 2004 và tạo
                                nên xu thế tiêu dùng mới trong lĩnh vực lọc nước.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item  ">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-md-5 col-12">
                            <img src="~/images/about-2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-xl-5 col-md-7 col-12 align-self-center py-3">
                            <h5 class="color-F5A05B">
                                Năm 2004
                            </h5>
                            <p>
                                Enterbuy tiền thân là đơn vị chuyên phân phối thiết bị lọc nước từ năm 2004 và tạo
                                nên xu thế tiêu dùng mới trong lĩnh vực lọc nước.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item  ">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-md-5 col-12">
                            <img src="~/images/about-2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-xl-5 col-md-7 col-12 align-self-center py-3">
                            <h5 class="color-F5A05B">
                                Năm 2004
                            </h5>
                            <p>
                                Enterbuy tiền thân là đơn vị chuyên phân phối thiết bị lọc nước từ năm 2004 và tạo
                                nên xu thế tiêu dùng mới trong lĩnh vực lọc nước.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item  ">
                    <div class="row justify-content-center">
                        <div class="col-xl-5 col-md-5 col-12">
                            <img src="~/images/about-2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="col-xl-5 col-md-7 col-12 align-self-center py-3">
                            <h5 class="color-F5A05B">
                                Năm 2004
                            </h5>
                            <p>
                                Enterbuy tiền thân là đơn vị chuyên phân phối thiết bị lọc nước từ năm 2004 và tạo
                                nên xu thế tiêu dùng mới trong lĩnh vực lọc nước.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<section class="intro-about py-4 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 col-12 py-3">
                <h2 class="h4 color-333 mb-3 text-uppercase">HỆ THỐNG</h2>
                <div class="text d-flex">
                    <div>
                        <i class="fas fa-circle mr-3"></i>
                    </div>
                    <div>
                        Bán lẻ thông qua hệ thống website, showroom trên cả nước
                    </div>
                </div>
                <div class="text d-flex">
                    <div>
                        <i class="fas fa-circle mr-3"></i>
                    </div>
                    <div>
                        Hệ thống đại lý, các nhà phân phối trên cả nước
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 col-12 py-3">
                <h2 class="h4 color-333 mb-3 text-uppercase">Các sản phẩm và dịch vụ </h2>
                <div class="text d-flex">
                    <div>
                        <i class="fas fa-circle   mr-3"></i>
                    </div>
                    <div>
                        Chuyên gia hàng đầu Việt Nam về cung cấp các sản phẩm máy lọc nước công nghệ nano - công
                        nghệ tiên tiến nhất hiện nay
                    </div>
                </div>
                <div class="text d-flex">
                    <div>
                        <i class="fas fa-circle   mr-3"></i>
                    </div>
                    <div>
                        Chuyên gia hàng đầu về cung cấp các giải pháp và thiết bị xử lý nước tổng thể ở quy mô gia
                        đình, biệt thự, văn phòng,...
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team py-5 py-md-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-12 align-self-center">
                <img src="~/images/change/team.jpg" class="img-fluid" />
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12 align-self-center">
                <div class="text-center py-4">
                    <h2 class="h4 color-333">ĐỘI NGŨ NHÂN VIÊN</h2>
                    <div>
                        Đội ngũ nhân viên bao gồm các trình độ: Trung cấp , kỹ sư, cử nhân, thạc sỹ, chuyên gia
                        trong các lĩnh vực liên quan. Enterbuy là đơn vị phân phối đầu tiên có đội ngũ R&D với các
                        kỹ sư tại Viện NC, các tiến sĩ được đào tạo chuyên ngành tại Bỉ, các kỹ sư là giám đốc dự án
                        tại các công ty xử lý nước hàng đầu Nhật Bản tại Việt Nam.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients">
    <div class="container">
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")