﻿<section class="product-detail">
    <div class="container">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-12 col-12 pr-lg-4 ">
                        <div class="slide-product-detail mb-3">
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="~/images/change/product-detail-02.jpg" width="100%" height="auto" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="~/images/change/product-detail-02.jpg" width="100%" height="auto" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="~/images/change/product-detail-02.jpg" width="100%" height="auto" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="~/images/change/product-detail-02.jpg" width="100%" height="auto" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="~/images/change/product-detail-02.jpg" width="100%" height="auto" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="~/images/change/product-detail-02.jpg" width="100%" height="auto" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="~/images/change/product-detail-02.jpg" width="100%" height="auto" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-link  btn-sm mb-2 color-0B7640 font-weight-600" data-toggle="modal"
                                        data-target="#modal-slide-imge">
                                    Click xem kích thước lớn
                                </button>
                            </div>
                            <div class="swiper-container gallery-thumbs px-3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="~/images/change/product-detail-02.jpg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="~/images/change/product-detail-02.jpg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="~/images/change/product-detail-02.jpg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image">
                                            <img src="~/images/change/product-detail-02.jpg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image py-2 py-md-2  text-center">
                                            <img src="~/images/change/360do-icon-thumb.svg" class="img-fluid w-100 " style="max-height: 32px;"
                                                 alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="image py-2 py-md-2 text-center">
                                            <img src="~/images/youtube-icon-thumb.svg" class="img-fluid w-100 " style="max-height: 32px;"
                                                 alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-prev" tabindex="0" role="button"
                                     aria-label="Previous slide">
                                    <button class="btn btn-link color-828282">
                                        <i class="fas fa-chevron-left"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="swiper-button-next" tabindex="0" role="button"
                                     aria-label="Previous slide">
                                    <button class="btn btn-link color-828282 ">
                                        <i class="fas fa-chevron-right"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="font-weight-bold">Đặc điểm nổi bật</label>
                            <p>
                                Thiết kế sang trọng với sắc nâu thời thượng.
                            </p>
                            <p>
                                Thiết kế sang trọng với sắc nâu thời thượng.
                            </p>
                            <p>
                                Thiết kế sang trọng với sắc nâu thời thượng.
                            </p>
                            <p>
                                Thiết kế sang trọng với sắc nâu thời thượng.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-12 col-12">
                        <div class="row mb-2">
                            <div class="col-lg-12 col-md-12 col-12 align-self-center">
                                <h1 class="title   mb-lg-0 d-inline-block mr-4 ">Máy lọc nước Nano Geyser Ecotar 5</h1>

                                <div class="small d-inline-block p-2 ">
                                    <div class="star-rating d-inline-block  text-center ">
                                        <i class="fas fa-star checked" aria-hidden="true"></i>
                                        <i class="fas fa-star checked" aria-hidden="true"></i>
                                        <i class="fas fa-star checked" aria-hidden="true"></i>
                                        <i class="fas fa-star checked" aria-hidden="true"></i>
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="d-inline-block text-primary px-2">303 Đánh giá</div>
                                </div>
                                <div>
                                    <label class="d-inline-block">Giá tại:</label>
                                    <div class="dropdown d-inline-block select-local">
                                        <a class="btn btn-link dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            TP: Hồ Chí Minh
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="javascript:;">TP: Hồ Chí Minh</a>
                                            <a class="dropdown-item" href="javascript:;">TP: Hà Nội</a>
                                            <a class="dropdown-item" href="javascript:;">TP: Hồ Chí Minh</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-product-detail">
                            <span class="new">
                                2,025,000 vnđ
                            </span>
                            <span class="old">
                                2,025,000 vnđ
                            </span>
                        </div>
                        <div class="small color-828282 mb-3">
                            (Gía bao gồm thuế VAT)
                        </div>
                        <div class="uu-dai mb-3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-12 col-md-4 col-12 pr-xl-0">
                                    <div class="item d-flex">
                                        <div class="icon mr-2">
                                            <img src="~/images/uu-dai-1.svg" class="img-fluid  mt-2" />
                                        </div>
                                        <div>
                                            <div class="text-uppercase font-weight-bold">
                                                Thanh toán
                                                khi nhận hàng
                                            </div>
                                            <div class="small color-828282">
                                                ( Bán kính 20km)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12 col-md-4 col-12  pr-xl-0">
                                    <div class="item d-flex">
                                        <div class="icon mr-2">
                                            <img src="~/images/uu-dai-2.svg" class="img-fluid  mt-2" />
                                        </div>
                                        <div>
                                            <div class="text-uppercase font-weight-bold">
                                                MIỄN PHÍ  VẬN CHUYỂN
                                            </div>
                                            <div class="small color-828282">
                                                ( Bán kính 20km)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12 col-md-4 col-12 ">
                                    <div class="item d-flex">
                                        <div class="icon mr-2">
                                            <img src="~/images/uu-dai-3.svg" class="img-fluid mt-2" />
                                        </div>
                                        <div>
                                            <div class="text-uppercase font-weight-bold">
                                                MIỄN PHÍ LẮP ĐẶT
                                            </div>
                                            <div class="small color-828282">
                                                ( Bán kính 20km)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-km mb-3">
                            <div class="head  d-flex">
                                <h6 class="font-weight-600 mb-0 mr-3 ">Khuyến mại</h6>
                                <div class="timer d-flex ml-auto">
                                    <div id="hour" class="it">12</div>
                                    <div id="minute" class="it">12</div>
                                    <div id="second" class="it">12</div>
                                </div>
                            </div>
                            <div class="px-3">
                                <label class="label-checkbox">
                                    Tặng Cột lọc thô ( <a href="" class="btn-link color-EE7D22">xem chi tiết</a>)

                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="label-checkbox">
                                    Lì xì ưu đãi 200,000đ ( <a href="" class="btn-link color-EE7D22">xem chi tiết</a>)

                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="group-amount d-flex align-self-center col-xl-4 col-lg-4 col-md-5 col-12 mb-3">
                                <button class="btn " type="button">
                                    <i class="fas fa-minus" aria-hidden="true"></i>
                                </button>
                                <input type="text" class="form-control mx-2 color-EE7D22" value="1">
                                <button class="btn " type="button">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-7 col-12 pl-md-0 mb-3">
                                <input type="text" class="form-control  color-EE7D22" placeholder="Mã Voucher">
                            </div>
                        </div>
                        <div class="mb-3">
                            <a href="" class="color-0B7640 font-weight-600">
                                <i class="fas fa-map-marker-alt mr-2"></i>Chọn địa chỉ nhận hàng
                            </a>
                            để biết thời gian giao hàng
                        </div>

                        <div class="area_order mb-3">
                            <div class="row">
                                <div class="col-sm-6 col-12 pr-sm-2">
                                    <a href="" class="btn btn-order w-100  mb-3">
                                        <img src="~/images/Cart.svg"
                                             class="img-fluid mr-2" />MUA HÀNG NGAY
                                    </a>
                                </div>
                                <div class="col-sm-6 col-12 pl-sm-2  ">
                                    <button href="" class="btn btn-order-2 w-100   mb-3">THÊM VÀO GIỎ</button>
                                </div>
                                <div class="col-12  ">
                                    <div class="bg-tuvan">
                                        <label class="mb-3">
                                            <i class="fas fa-phone-alt mr-2"></i> TƯ VẤN MUA HÀNG
                                        </label>
                                        <div class="form-row justify-content-center">
                                            <div class="col-md-6 col-8">
                                                <input type="text" class="form-control" placeholder="SĐT">
                                            </div>
                                            <div class="col-md-4 col-4">
                                                <button href="" class="btn btn-outline-light w-100  text-uppercase  ">Gửi</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                <!--Chi tiết kỹ thuật mobile-->
                <div class="d-md-none">

                    <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                        <i class="far fa-clock mr-2"></i> Chi tiết kỹ thuật
                    </div>
                    <div class="tech-detail border py-2 border-r-4 px-3 mb-4">
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                MÃ SẢN PHẨM
                            </div>
                            <div class=" ml-auto text-right">
                                XXXXXX
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                TRỌNG LƯỢNG
                            </div>
                            <div class="ml-auto  text-right">
                                16kg
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                KÍCH THƯỚC
                            </div>
                            <div class="ml-auto  text-right">
                                1207 x 113 x 12 mm
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                XUẤT XỨ
                            </div>
                            <div class="ml-auto  text-right">
                                Việt Nam
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                ĐƠN VỊ TÍNH
                            </div>
                            <div class="ml-auto  text-right">
                                m2
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                CẤP ĐỘ CHỐNG MÀI MÒN
                            </div>
                            <div class="ml-auto  text-right">
                                AC4
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                Đóng hộp
                            </div>
                            <div class="ml-auto  text-right">
                                16Tấm/ Hộp (2.18256 m2)
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                ỨNG DỤNG
                            </div>
                            <div class="ml-auto  text-right">
                                Lát sàn phòng khách,
                                phòng ngủ, biệt thự, chung cư…
                            </div>
                        </div>
                    </div>
                </div>
                <!--Chi tiết kỹ thuật mobile end-->
                <!--Mô tả sản phẩm-->
                <div class="product-description">
                    <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                        Mô tả sản phẩm
                    </div>

                    <div class="content">
                        <p>
                            Sàn gỗ ECOFLOOR 30106 là một dòng sản phẩm sàn gỗ giá rẻ, mà có chất lượng rất tốt nhỉnh hơn
                            so
                            với các sản phẩm ở cùng tầm giá. Ván gỗ ECOFLOOR được sản xuất trên dây truyền công nghệ
                            hiện
                            đại của CHLB Đức, lớp phim vân gỗ tự nhiên, ván ECOFLOOR mang phong cách hiện đại, sang
                            trọng,
                            đẳng cấp Châu Âu.<br />
                        </p>

                        <p>Đặc tính nổi bật của sàn Ecofloor 30106<br /></p>

                        <p>
                            Sàn gỗ giá rẻ ECOFLOOR có lớp cốt gỗ HDF có khả năng chống nước tốt, có thể ngâm trong nước
                            hàng
                            giờ mà không bị biến dạng, ngoài ra ECOFLOOR còn có khả năng chống mối mọt cong vênh, độ ổn
                            định
                            cao, không nứt nẻ bạc màu trong quá trình sử dụng.<br />
                            ECOFLOOR có cấp độ chống mài mòn AC4, bảo vệ sàn khỏi những tác động từ bên ngoài, giữ cho
                            mặt
                            sàn luôn sáng đẹp. Bên cạnh đó ECOFLOOR đảm bảo yêu cầu an toàn không gây ảnh hưởng tới sức
                            khỏe
                            người sử dụng, không phát khí thải ra môi trường.<br />
                            Sàn ECOFLOOR mã 30106 có mức giá rẻ phù hợp với kinh tế mà có chất lượng khá ổn định. Các
                            sản
                            phẩm sàn gỗ ECOFLOOR được JANHOME phân phối đều được bảo hành đầy đủ.<br />
                        </p>
                        <p>Thông số sàn gỗ ECOFLOOR vân tự nhiên:<br /></p>

                        <p>
                            Bề mặt phủ nhôm Oxit tạo độ cứng, chống mài mòn cấp độ AC4<br />
                            Cốt gỗ HDF được phủ sáp nến chống ẩm, độ cứng cao chịu được áp lực đến 830 – 850kg/ cm2
                            Quy cách: 1219 x 199 x 12 mm.<br />
                            Hèm V phủ sáp nến chống thấm nước<br />
                            Lưu ý: giá sàn gỗ ECOFLOOR trên chưa bao gồm phí vận chuyển, thi công, lắp đặt và phụ
                            kiện.<br />
                        </p>

                        <p>Một số hình ảnh thi công sàn gỗ ECOFLOOR thực tế:<br /></p>

                        <img src="~/images/change/mota.jpg" class="w-100" alt="" />
                    </div>
                </div>
                <div class="text-center my-4">
                    <button class="btn btn-outline-view-more" onclick="expandProductDes()">
                        Xem thêm<i class="fas fa-chevron-down ml-2 "></i>
                    </button>
                </div>
                <!--Mô tả sản phẩm end-->
                <!--Sản phẩm cùng loại-->
                <div class="row mb-3  ">
                    <div class="col-8">
                        <a href="" class="h5 font-weight-bold ">Sản phẩm cùng loại</a>
                    </div>
                    <div class="col-4 text-right">
                        <a href="" class="link-view-more font-weight-normal color-EE7D22">
                            Xem thêm <i class="fas fa-chevron-right ml-1 small"
                                        aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="row no-gutters mb-4">
                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                        <div class="item-product">
                            <div class="tag-1">
                                -10%
                            </div>
                            <div class="image">
                                <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid"></a>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                </div>
                            </div>

                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">
                                        Máy lọc nước Nano Geyser Ecotar 5
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000 đ/m2
                                </div>
                                <div class="price-old">
                                    225,000đ
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                        <div class="item-product">
                            <div class="tag-1">
                                -10%
                            </div>
                            <div class="image">
                                <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid"></a>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                </div>
                            </div>

                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">
                                        Máy lọc nước Nano Geyser Ecotar 5
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000
                                </div>
                                <div class="price-old">
                                    225,000đ
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                        <div class="item-product">
                            <div class="tag-1">
                                -10%
                            </div>
                            <div class="image">
                                <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid"></a>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                </div>
                            </div>

                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">
                                        Máy lọc nước Nano Geyser Ecotar 5
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000
                                </div>
                                <div class="price-old">
                                    225,000đ
                                </div>
                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                        <div class="item-product">
                            <div class="tag-1">
                                -10%
                            </div>
                            <div class="image">
                                <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid"></a>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid ">
                                </div>
                            </div>

                            <div class="">
                                <h5 class="title">
                                    <a href="" title="">
                                        Máy lọc nước Nano Geyser Ecotar 5
                                    </a>
                                </h5>
                                <div class="price-new">
                                    225,000
                                </div>
                                <div class="price-old">
                                    225,000đ
                                </div>

                                <div class="review d-flex">
                                    <div class="color-FFAB1B mr-2">
                                        4.5/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                    </div>
                                    <div class="color-828282">
                                        135 đánh giá
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Sản phẩm cùng loại end-->

                <div class="row">
                    <div class="col-12">
                        <!--Đánh giá-->
                        <div class="row mb-3">
                            <div class="col-md-8 col-sm-8 col-7 ">
                                <h5 class="font-weight-600 mb-0">Đánh giá sản phẩm</h5>
                            </div>
                            <div class="col-md-4 col-sm-4 col-5 text-right ">
                                <button type="button" class="btn btn-save px-2" data-toggle="modal"
                                        data-target="#modal-danh-gia">
                                    Đánh giá ngay
                                </button>
                            </div>
                        </div>

                        <!--Rating-->
                        <div class="border-r-4 border py-3 mb-4">
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                                    <div class="star-average p-3 border-right">
                                        <h2 class="mb-1 font-weight-600">4.5</h2>
                                        <div class="ratingresult mb-2">
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                            <span><i class="fas fa-star"></i></span>
                                        </div>
                                        <div><a href="javascript:;" class="btn-link">303 đánh giá</a></div>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-12">
                                    <aside class="rating-left">
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">5 </span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: 90%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">90%</span>
                                        </div>
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">4</span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: 20%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">20%</span>
                                        </div>
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">3</span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: 00%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">0%</span>
                                        </div>
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">2</span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: 10%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">10%</span>
                                        </div>
                                        <div class="star-line">
                                            <span class="star-type left align-self-center">1</span>
                                            <div class="star-bar align-self-center">
                                                <div class="star-barsub" style="width: 0%;">
                                                </div>
                                            </div>
                                            <span class="star-type right align-self-center ">0%</span>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                        <!--Gửi Comment-->
                        <div class="row mb-3">
                            <div class="col-md-8 col-sm-8 col-12 ">
                                <h5 class="font-weight-600 mb-3 mb-md-0 mt-1">165 Bình luận</h5>
                            </div>
                            <div class="col-md-4 col-sm-4 col-12 text-right">
                                <div class="search-comment">
                                    <input class="form-control " type="text" placeholder="Search" />
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                        </div>
                        <form class="border border-r-4 mb-4 ">
                            <textarea class="form-control " rows="5" placeholder="Type your topic here"
                                      style="border: 0;"></textarea>
                            <div class="border-top">
                                <div class="form-row p-2 ">
                                    <div class="col-xl-2 col-md-2 col-12">
                                        <div class="position-relative form-control text-center mb-2 mb-md-0"
                                             style="font-size: 14px;">
                                            <img src="~/images/camera.svg" class="img-fluid" />
                                            <input type="file" class="input-choose-file " accept="image/*">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-12">
                                        <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                               placeholder="Tên (bắt buộc)">
                                    </div>
                                    <div class="col-xl-4 col-md-4 col-12">
                                        <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0"
                                               placeholder="Email (bắt buộc)">
                                    </div>
                                    <div class="col-xl-2 col-md-2 col-12">
                                        <button class="btn btn-save px-5 mb-2 mb-md-0">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="list-comment mb-4">
                            <div class="media mb-3">
                                <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                                <div class="media-body">
                                    <h6 class="name">Tomothy Flores</h6>
                                    <div class="comment-ct ">
                                        Cras sit amet nibh libero, in gravida nulla.
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                        <a href="" href="" class="btn-link small mr-3 mb-2">
                                            <i class="fas fa-thumbs-up mr-2"></i>Thích
                                        </a>
                                        <span class="time small mb-2">10/09/2019 10:46</span>
                                    </div>
                                    <div class="media sub  mt-3">
                                        <a class="" href="#">
                                            <img src="~/images/change/product-detail-02.jpg" class="img-fluid avatar mr-3"
                                                 alt="...">
                                        </a>
                                        <div class="media-body">
                                            <h6 class="name qtv">Media heading</h6>
                                            <div class="qtv">Quản trị viên</div>
                                            <div class="comment-ct">
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                ante sollicitudin.
                                            </div>
                                            <div class="d-flex flex-wrap">
                                                <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                                                <a href="" href="" class="btn-link small mr-3 mb-2">
                                                    <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                                </a>
                                                <a href="" href="" class="btn-link small mr-3 mb-2">
                                                    <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                                </a>
                                                <span class="time small mb-2">10/09/2019 10:46</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media">
                                <img src="~/images/change/ava.jpg" class="img-fluid avatar mr-3" alt="...">
                                <div class="media-body">
                                    <h6 class="name">Tomothy Flores</h6>
                                    <div class="comment-ct ">
                                        Cras sit amet nibh libero, in gravida nulla.
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="javascrip:;" class="btn-link small mr-3">Trả lời</a>
                                        <a href="javascrip:;" class="btn-link small mr-3">
                                            <i class="fas fa-thumbs-up mr-2"></i>Thích
                                        </a>
                                        <span class="time small">10/09/2019 10:46</span>
                                    </div>
                                    <div class="media sub  mt-3">
                                        <a class="" href="#">
                                            <img src="~/images/change/product-detail-02.jpg" class="img-fluid avatar mr-3"
                                                 alt="...">
                                        </a>
                                        <div class="media-body">
                                            <h6 class="name qtv">Media heading</h6>
                                            <div class="qtv">Quản trị viên</div>
                                            <div class="comment-ct">
                                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                ante sollicitudin.
                                            </div>
                                            <div class="d-flex flex-wrap">
                                                <a href="javascrip:;" class="btn-link small mr-3 mb-2">Trả lời</a>
                                                <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                                    <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                                </a>
                                                <a href="javascrip:;" class="btn-link small mr-3 mb-2">
                                                    <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                                </a>
                                                <span class="time small">10/09/2019 10:46</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Đánh giá end-->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 ">
                <!--Chi tiết kỹ thuật pc-->
                <div class="d-none d-md-block">
                    <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                        <i class="far fa-clock mr-2"></i> Chi tiết kỹ thuật
                    </div>
                    <div class="tech-detail border py-2 border-r-4 px-3 mb-4">
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                MÃ SẢN PHẨM
                            </div>
                            <div class=" ml-auto text-right">
                                XXXXXX
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                TRỌNG LƯỢNG
                            </div>
                            <div class="ml-auto  text-right">
                                16kg
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                KÍCH THƯỚC
                            </div>
                            <div class="ml-auto  text-right">
                                1207 x 113 x 12 mm
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                XUẤT XỨ
                            </div>
                            <div class="ml-auto  text-right">
                                Việt Nam
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                ĐƠN VỊ TÍNH
                            </div>
                            <div class="ml-auto  text-right">
                                m2
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                CẤP ĐỘ CHỐNG MÀI MÒN
                            </div>
                            <div class="ml-auto  text-right">
                                AC4
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                Đóng hộp
                            </div>
                            <div class="ml-auto  text-right">
                                16Tấm/ Hộp (2.18256 m2)
                            </div>
                        </div>
                        <div class="item ">
                            <div class="label text-uppercase font-weight-600">
                                ỨNG DỤNG
                            </div>
                            <div class="ml-auto  text-right">
                                Lát sàn phòng khách,
                                phòng ngủ, biệt thự, chung cư…
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-menu-right">
                    <div class="heading  ">
                        Khuyến mại
                    </div>
                    <div class="list lastest-news">
                        <div class="item large">
                            <div class="row">
                                <div class="col-12 ">
                                    <div class="image mb-3">
                                        <a href="" title="">
                                            <img src="~/images/change/blog-km-1.jpg" class="img-fluid w-100"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h6 class="title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                    </h6>
                                    <div class="des ">
                                        Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                    </h6>
                                    <div class="time ">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-menu-right">
                    <div class="heading  ">
                        Mới cập nhật
                    </div>
                    <div class="list lastest-news">
                        <div class="item large">
                            <div class="row">
                                <div class="col-12 ">
                                    <div class="image mb-3">
                                        <a href="" title="">
                                            <img src="~/images/change/blog-km-1.jpg" class="img-fluid w-100"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h6 class="title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                    </h6>
                                    <div class="des ">
                                        Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                    </h6>
                                    <div class="time ">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                    </h6>
                                    <div class="time ">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                    <div class="image">
                                        <a href="" title="">
                                            <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                                 alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                    <h6 class="title">
                                        <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                    </h6>
                                    <div class="time ">
                                        10/9/2019 10:46
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>