﻿<section class="my-4 flash-sale">
    <div class="container px-0 px-md-3">
        <div class="bg-fff pt-3 pb-md-2 px-md-2   flash-sale-bg" style="">
            <div class="row mb-3 no-gutters ">
                <div class="col-12 d-flex flex-wrap  ">
                    <div class="align-self-center color-F1D780 font-weight-600 h5 mx-auto mx-md-0 mb-0">
                        GIÁ CỰC TỐT CHỈ TRONG THÁNG 1
                    </div>
                    <a href="" class="btn btn-outline-light btn-sm px-lg-4 ml-3 align-self-center d-none d-md-block">
                        Xem thêm<i class="fas fa-chevron-right ml-2 "></i>
                    </a>
                </div>
            </div>
            <!-- Slider main container -->
            <div class="slide-product slide-1">
                <div class="swiper-container ">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                </div>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="d-price">
                                        <div class="price-new">
                                            1,225,000
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                    </div>
                                    <div class="infor-plus">
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                </div>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="d-price">
                                        <div class="price-new">
                                            1,225,000
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                    </div>
                                    <div class="infor-plus">
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                </div>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="d-price">
                                        <div class="price-new">
                                            1,225,000
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                    </div>
                                    <div class="infor-plus">
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                </div>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-2.png" class="img-fluid " />
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="d-price">
                                        <div class="price-new">
                                            1,225,000
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                    </div>
                                    <div class="infor-plus">
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                </div>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="d-price">
                                        <div class="price-new">
                                            1,225,000
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                    </div>
                                    <div class="infor-plus">
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item-product">
                                <div class="tag-1">
                                    &#45;10%
                                </div>
                                <div class="image">
                                    <a href=""><img src="~/images/change/image-4x4.png" class="img-fluid product-img" /></a>
                                </div>
                                <div class="tag-2">
                                    <img src="~/images/change/tag-2-1.png" class="img-fluid " />
                                </div>

                                <div class="">
                                    <h5 class="title">
                                        <a href="" title="">
                                            Máy lọc nước Nano Geyser Ecotar 5
                                        </a>
                                    </h5>
                                    <div class="d-price">
                                        <div class="price-new">
                                            1,225,000
                                        </div>
                                        <div class="price-old">
                                            225,000đ
                                        </div>
                                    </div>
                                    <div class="infor-plus">
                                        <div class="review d-flex">
                                            <div class="color-FFAB1B mr-2">
                                                4.5/5<i class="fas fa-star ml-1"></i>
                                            </div>
                                            <div class="color-828282">
                                                135 đánh giá
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                </div>
                <div class="swiper-button-prev">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="swiper-button-next">
                    <button class="btn btn-secondary"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>