﻿
@using Utils;
@using Enterbuy.Data.SqlServer.Dao.Interfaces;
@using Enterbuy.Data.SqlServer.ModelDto;
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@inject ICookieLocationUtility cookieUtility
@inject IProductDao productRepository
@inject IZoneDao ZoneDao

@{

    var cookie_location = cookieUtility.SetCookieDefault();

}

@{
    var product_ids = ViewBag.Product_Ids;
    //var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
    var total_last_seen = 0;
    var list_product_last_seen = new List<ProductMinify>();
    list_product_last_seen = productRepository.GetProductInListProductsMinify(product_ids, cookie_location.LocationId, Utility.DefaultLang, 1, 6, out total_last_seen);
    foreach (var item in list_product_last_seen)
    {
        var result = await ZoneDao.GetZoneDetail(item.ZoneId, "vi-VN");
        //var zoneName = result.Name;
        item.ZoneUrl = result.Url;
    }

}

@foreach (var item in list_product_last_seen)
{
    //var link_target = string.Format("/{0}.html", item.Url);
    var link_target = BaseBA.UrlProduct(item.ZoneUrl, item.Url);
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
        <div class="item-product" data-id="@item.ProductId" data-properties="@item.PropertyId">
            <div class="tag-1">

            </div>
            <div class="image">
                <a href="@link_target"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title" /></a>
                <div class="tag-2">
                    @*<img asp-append-version="true" src="" class="img-fluid " />*@
                </div>
            </div>

            <div class="">
                <h5 class="title">
                    <a href="@link_target" title="@item.Title">
                        @item.Title
                    </a>
                </h5>
                @if (item.SalePrice != item.Price)
                {
                    <div class="price-new">
                        @UIHelper.FormatNumber(item.SalePrice) 
                    </div>
                    <div class="price-old">
                        @UIHelper.FormatNumber(item.Price) 
                    </div>

                }
                else
                {
                    <div class="price-new">
                        @UIHelper.FormatNumber(item.SalePrice) 
                    </div>
                }
                <div class="size small mb-1">
                    @item.SpecName: @item.SpecValue
                </div>
                <div class="review d-flex">
                    <div class="color-FFAB1B mr-2">
                     
                        @Math.Round((decimal)item.Rate, 1)/5<i class="fas fa-star ml-1"></i>
                    </div>
                    <div class="color-828282">
                        @item.CountRate đánh giá
                    </div>
                </div>
            </div>
        </div>
    </div>
}

