﻿@using VietLab.Web.Services.Zone.ViewModal
@using Microsoft.AspNetCore.Localization
@using Utils
@using VietLab.Web.Services.Product.ViewModel;
@using Newtonsoft.Json;
@model List<ProductMinify>

@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var totalRow = ViewBag.Total;

}
<input type="hidden" id="total" value="@totalRow" />

@if (Model != null)
{
    <div id="_BindinHtml">
        <table class="table table-striped cust-table-hc2">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Đóng gói</th>
                    <th scope="col">Hãng</th>
                    <th scope="col">IFU</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    var link_tar = JsonConvert.DeserializeObject<MetaFile>(item.MetaFile);
                    var Detail = string.Format("/{0}.p{1}.html", item.Url, item.ProductId);
                    <tr>
                        <td scope="row">@item.Code</td>
                        <td><a href="@Detail">@item.Title</a></td>
                        <td>@item.Quantity</td>
                        <td>@item.ManufactureName</td>
                        <td><a href="@link_tar.FileDowload">Link</a></td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
}


