﻿<div class="container">
    <div class="row flex-md-row-reverse">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
            <div class="list-menu-right">
                <div class="heading">
                    Danh mục
                </div>
                <ul class="list">
                    <li><a href="" title="">Kiến thức sản phẩm</a></li>
                    <li><a href="" title="">Khuyến mãi trong tháng</a></li>
                    <li><a href="" title="">Hoạt động chuyên gia nước...</a></li>
                    <li><a href="" title="">Giải pháp nước điện giải</a></li>
                    <li><a href="" title="">Hoạt động của EnterBuy</a></li>
                    <li><a href="" title="">Công trình lắp đặt</a></li>
                    <li><a href="" title="">Kiến thức về nước</a></li>
                </ul>
            </div>
            <div class="list-menu-right">
                <div class="heading ">
                    Khuyến mại
                </div>
                <div class="list lastest-news">
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="" title="">
                                        <img src="~/images/change/blog-km-1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?</a>
                                </h6>
                                <div class="des ">
                                    Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qc mb-4">
                <a href="">
                    <img src="~/images/change/qc-menu-right.jpg" class="img-fluid" alt="" />
                </a>
            </div>
            <div class="list-menu-right">
                <div class="heading ">
                    Mới cập nhật
                </div>
                <div class="list lastest-news">
                    <div class="item large">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="image mb-3">
                                    <a href="" title="">
                                        <img src="~/images/change/blog-km-1.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="des ">
                                    Tại sao nước từ máy lọc nước RO lại tốt hơn nước đun sôi?
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                                <div class="image">
                                    <a href="" title="">
                                        <img src="~/images/change/lastest-img.jpg" class="img-fluid"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                                <h6 class="title">
                                    <a href="" title="">Tại sao nước từ máy lọc nước RO lại tốt hơn?</a>
                                </h6>
                                <div class="time ">
                                    10/9/2019 10:46
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="item-blog-km">
                        <div class="image">
                            <a href=""><img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="p-3">
                            <h5 class="title">
                                <a href="" title="">Sàn gỗ Janhome chịu nước giảm sâu 40%</a>
                            </h5>
                            <div class="time">
                                20/3/2019 - 20/5/2019
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="item-blog-km">
                        <div class="image">
                            <a href=""><img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="p-3">
                            <h5 class="title">
                                <a href="" title="">Sàn gỗ Janhome chịu nước giảm sâu 40%</a>
                            </h5>
                            <div class="time">
                                20/3/2019 - 20/5/2019
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="item-blog-km">
                        <div class="image">
                            <a href=""><img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="p-3">
                            <h5 class="title">
                                <a href="" title="">Sàn gỗ Janhome chịu nước giảm sâu 40%</a>
                            </h5>
                            <div class="time">
                                20/3/2019 - 20/5/2019
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="item-blog-km">
                        <div class="image">
                            <a href=""><img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="p-3">
                            <h5 class="title">
                                <a href="" title="">Sàn gỗ Janhome chịu nước giảm sâu 40%</a>
                            </h5>
                            <div class="time">
                                20/3/2019 - 20/5/2019
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="item-blog-km">
                        <div class="image">
                            <a href=""><img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="p-3">
                            <h5 class="title">
                                <a href="" title="">Sàn gỗ Janhome chịu nước giảm sâu 40%</a>
                            </h5>
                            <div class="time">
                                20/3/2019 - 20/5/2019
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="item-blog-km">
                        <div class="image">
                            <a href=""><img src="~/images/change/blog-km-large.jpg" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="p-3">
                            <h5 class="title">
                                <a href="" title="">Sàn gỗ Janhome chịu nước giảm sâu 40%</a>
                            </h5>
                            <div class="time">
                                20/3/2019 - 20/5/2019
                            </div>
                            <div class="des">
                                Với những ngôi nhà mang phong cách hiện đại sang trọng hiện đại ngày nay...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jan-pagination text-right mb-4 ">
                <button class="btn btn-pagi " title=""><i class="fas fa-chevron-left "></i></button>
                <select class="select-page mr-2">
                    <option>1</option>
                </select>
                <span class="color-828282">/10</span>
                <button class="btn btn-pagi " title=""><i class="fas fa-chevron-right "></i></button>
            </div>
        </div>
    </div>
</div>