﻿@model List<Enterbuy.Data.SqlServer.ModelDto.ZoneByTreeViewMinify>

<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            @foreach (var item in Model)
            {
                <li class="breadcrumb-item"><a href="#">@item.Name </a></li>
            }
        </ol>
    </nav>
</div>

