﻿<div class="container">
    <div class="row cate-recrui">
        <div class="col-xl-3 col-lg-3 col-sm-6 col-6">
            <a href="">
                <div class="item">
                    <div class="icon mb-3">
                        <img src="~/images/icon-recrui-1.svg" class="img-fluid " />
                    </div>
                    <div>
                        Nhân viên kinh doanh
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-6">
            <a href="">
                <div class="item">
                    <div class="icon mb-3">
                        <img src="~/images/icon-recrui-2.svg" class="img-fluid " />
                    </div>
                    <div>
                        Nhân viên kinh doanh
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-6">
            <a href="">
                <div class="item">
                    <div class="icon mb-3">
                        <img src="~/images/icon-recrui-3.svg" class="img-fluid " />
                    </div>
                    <div>
                        Nhân viên kinh doanh
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-sm-6 col-6">
            <a href="">
                <div class="item">
                    <div class="icon mb-3">
                        <img src="~/images/icon-recrui-4.svg" class="img-fluid " />
                    </div>
                    <div>
                        Nhân viên kinh doanh
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row ">

        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">

            <div class="heading pb-2 mb-3 ">
                <div class="h4 font-weight-600 mb-0 ">
                    Mới nhất
                </div>
            </div>
            <div class="list-td mb-3">
                <div class="item-recrui ">
                    <div class="row">
                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-2 col-3 align-self-center ">
                            <div class="icon text-center">
                                <img src="~/images/change/people.svg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-9">
                            <h6 class="title">
                                <a href="">
                                    Chuyên viên kinh doanh
                                </a>
                            </h6>
                            <div class="color-828282">
                                <span class="mr-3 mb-2">
                                    <img src="~/images/icon-sm-td-1.svg" class="img-fluid mr-2" />Nhân viên
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-2.svg" class="img-fluid mr-2" />2
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-3.svg" class="img-fluid mr-2" />Thỏa thuận
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-recrui ">
                    <div class="row">
                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-2 col-3 align-self-center ">
                            <div class="icon text-center">
                                <img src="~/images/change/people.svg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-9">
                            <h6 class="title">
                                <a href="">
                                    Chuyên viên kinh doanh
                                </a>
                            </h6>
                            <div class="color-828282">
                                <span class="mr-3 mb-2">
                                    <img src="~/images/icon-sm-td-1.svg" class="img-fluid mr-2" />Nhân viên
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-2.svg" class="img-fluid mr-2" />2
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-3.svg" class="img-fluid mr-2" />Thỏa thuận
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-recrui ">
                    <div class="row">
                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-2 col-3 align-self-center ">
                            <div class="icon text-center">
                                <img src="~/images/change/people.svg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-9">
                            <h6 class="title">
                                <a href="">
                                    Chuyên viên kinh doanh
                                </a>
                            </h6>
                            <div class="color-828282">
                                <span class="mr-3 mb-2">
                                    <img src="~/images/icon-sm-td-1.svg" class="img-fluid mr-2" />Nhân viên
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-2.svg" class="img-fluid mr-2" />2
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-3.svg" class="img-fluid mr-2" />Thỏa thuận
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-recrui ">
                    <div class="row">
                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-2 col-3 align-self-center ">
                            <div class="icon text-center">
                                <img src="~/images/change/people.svg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-9">
                            <h6 class="title">
                                <a href="">
                                    Chuyên viên kinh doanh
                                </a>
                            </h6>
                            <div class="color-828282">
                                <span class="mr-3 mb-2">
                                    <img src="~/images/icon-sm-td-1.svg" class="img-fluid mr-2" />Nhân viên
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-2.svg" class="img-fluid mr-2" />2
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-3.svg" class="img-fluid mr-2" />Thỏa thuận
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-recrui ">
                    <div class="row">
                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-2 col-3 align-self-center ">
                            <div class="icon text-center">
                                <img src="~/images/change/people.svg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-9">
                            <h6 class="title">
                                <a href="">
                                    Chuyên viên kinh doanh
                                </a>
                            </h6>
                            <div class="color-828282">
                                <span class="mr-3 mb-2">
                                    <img src="~/images/icon-sm-td-1.svg" class="img-fluid mr-2" />Nhân viên
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-2.svg" class="img-fluid mr-2" />2
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-3.svg" class="img-fluid mr-2" />Thỏa thuận
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-recrui ">
                    <div class="row">
                        <div class="col-xl-1 col-lg-2 col-md-3 col-sm-2 col-3 align-self-center ">
                            <div class="icon text-center">
                                <img src="~/images/change/people.svg" class="img-fluid" />
                            </div>
                        </div>
                        <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 col-9">
                            <h6 class="title">
                                <a href="">
                                    Chuyên viên kinh doanh
                                </a>
                            </h6>
                            <div class="color-828282">
                                <span class="mr-3 mb-2">
                                    <img src="~/images/icon-sm-td-1.svg" class="img-fluid mr-2" />Nhân viên
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-2.svg" class="img-fluid mr-2" />2
                                </span>
                                <span class="mr-3  mb-2">
                                    <img src="~/images/icon-sm-td-3.svg" class="img-fluid mr-2" />Thỏa thuận
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jan-pagination text-right mb-5 ">
                <button class="btn btn-pagi " title="">
                    <i class="fas fa-chevron-left "></i>
                </button>
                <select class="select-page mr-2">
                    <option>1</option>
                </select>
                <span class="color-828282">/10</span>
                <button class="btn btn-pagi " title="">
                    <i class="fas fa-chevron-right "></i>
                </button>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 pl-lg-5">
            <div class="heading pb-2 border-bottom mb-4 ">
                <div class="h5 font-weight-600 mb-0 ">
                    Tiêu điểm
                </div>
            </div>
            <div class="item-recrui-right">
                <h6 class="title color-0B7640">
                    Chuyên viên kinh doanh
                </h6>
                <div class="mb-3">
                    <div class="mr-3 mb-2">
                        <img src="~/images/icon-sm-td-1.svg" class="img-fluid mr-2" />Nhân viên
                    </div>
                    <div class="mr-3 mb-2">
                        <img src="~/images/icon-sm-td-4.svg" class="img-fluid mr-2" />Hồ Chí Minh
                    </div>
                    <div class="mr-3  mb-2">
                        <img src="~/images/icon-sm-td-2.svg" class="img-fluid mr-2" />10
                    </div>
                    <div class="mr-3  mb-2">
                        <img src="~/images/icon-sm-td-3.svg" class="img-fluid mr-2" />Lên đến 10,000,000 đ
                    </div>
                </div>
                <div class="mb-4">
                    <div class="font-weight-bold mb-2">
                        Mô tả công việc:
                    </div>
                    <div>
                        Tiếp nhận, tương tác và tư vấn giải pháp website từ các nguồn của công ty.<br />
                        Hoàn thành các chỉ tiêu kinh doanh.<br />
                        Hoàn tất các thủ tục hồ sơ, hợp đồng, hoá đơn cho khách hàng.<br />
                        Phối hợp với các bộ phận khác triển khai dịch vụ và hỗ trợ khách hàng.<br />
                        Duy trì, xây dựng mối quan hệ với khách hàng.<br />
                        Hỗ trợ, chăm sóc sau bán hàng.<br />
                        Thực hiện các công việc khác do cấp trên giao phó.<br />
                    </div>
                </div>
                <div class="px-5 mb-4">
                    <a href="" class="btn btn-save w-100">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>