﻿<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="bg-map position-relative">
                <div class="box-list-stores col-xl-4 col-lg-5 col-md-5 col-sm-6 col-12 px-0 p-md-3">
                    <h6 class="title">EnterBuy tại địa phương bạn</h6>
                    <div class="mb-3">Hãy tìm EnterBuy tại địa phương bạn</div>
                    <div class="search-comment mb-3">
                        <input class="form-control " type="text" placeholder="Nhập để tìm kiếm..." id="txtSearchLocation" onkeyup="Location.SeachLocation()">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </div>

                    <div id="group1" class="mb-3">
                        <div class="d-inline-block mr-3">Khoảng cách</div>
                        <label class="label-checkbox ">
                            500m
                            <input type="radio" name="rDistance" value="500">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            1km
                            <input type="radio" name="rDistance" value="1000">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            2km
                            <input type="radio" name="rDistance" value="2000">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            3km
                            <input type="radio" name="rDistance" value="3000">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            5km
                            <input type="radio" name="rDistance" value="5000">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            10km
                            <input type="radio" name="rDistance" value="10000">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <div class="mb-3">
                        <a href="" class="link-view-more h6 ">Tìm kiếm theo vùng miền</a>
                    </div>
                    <div id="group2" class="mb-3">
                        <label class="label-checkbox ">
                            Miền Bắc
                            <input type="radio" name="group2" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            Miền Trung
                            <input type="radio" name="group2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="label-checkbox ">
                            Miền Nam
                            <input type="radio" name="group2">
                            <span class="checkmark"></span>
                        </label>
                    </div>

                    <button class="btn btn-save  w-100 mb-3" onclick="expandListStore()">
                        Xem tất cả các cửa hàng<i class="fas fa-chevron-down ml-auto float-right mt-1 small"></i>
                    </button>
                    <div class="list-add-store expand" id="shop-result-content">

                    </div>
                </div>

                <div id="map" class="map-showroom">

                </div>
                <div id="text-result"></div>
            </div>
        </div>
    </div>
</div>

