﻿<section class="container">
    <div class="row">
        <div class=" col-12">
            <a href="" title="">
                <img src="~/images/change/banner-sm-1.jpg" class="w-100 mb-3 mb-md-0" alt="" />
            </a>
        </div>
    </div>
</section>