﻿
@using VietLab.Web.Services.BannerAds.Repository
@using VietLab.Web.Services.Store.Repository
@using VietLab.Web.Services.Locations.Repository
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using Newtonsoft.Json
@using VietLab.Web.Utility
@using MI.Entity.Models
@inject IHttpContextAccessor HttpContextAccessor
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IArticleRepository articleRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IStoreRepository storeRepository
@inject ILocationsRepository locationsRepository

@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    //string urlImages = "https://jhcms.migroup.asia/uploads";
    //List<BannerAdsViewModel> lstBannerAds = new List<BannerAdsViewModel>();
    //lstBannerAds = bannerAdsRepository.GetBannerAds(culture_code);
    var DetaiBanner = new DetailBanerAds();
    var DetaiBannerText = new DetailBanerAds();

    var BannerContact = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Banner_Contact");
    if (BannerContact != null)
    {
        DetaiBanner = JsonConvert.DeserializeObject<DetailBanerAds>(BannerContact.MetaData);
    }
    var Text = bannerAdsRepository.GetBannerAds_By_Code(culture_code, "Text_center_Contact");
    if (Text != null)
    {
        DetaiBannerText = JsonConvert.DeserializeObject<DetailBanerAds>(Text.MetaData);
    }
}
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_LayoutVietLab.cshtml";
    var _ver = WebHelper.Version();
}
@section styles {
    @Html.Raw(configSEOUtility.ConfigMeta("Liên hệ", "Liên hệ với chúng tôi", ""))
    @Html.Raw(configSEOUtility.ConfigSocialMeta())
}
<section class="banner-top">
    @if (DetaiBanner != null)
    {
        <div class="container mb-container">
            <div class="img-banner-detail">
                <img src="@UIHelper.StoreFilePath(DetaiBanner.Image, false)?v=@_ver" class="w-100" alt="">
            </div>
            <div class="txt-banner">
                @DetaiBanner.Title
            </div>
        </div>

    }
</section>
<section class="map-contact">
    <div class="container">
        <div class="row">
            @{
                var em = bannerAdsRepository.GetConfigByName("vi-VN", "MailMess2");
                var em2 = bannerAdsRepository.GetConfigByName("vi-VN", "MailMess");
                var dchcm = bannerAdsRepository.GetConfigByName("vi-VN", "AddressHCM");
                var dc = bannerAdsRepository.GetConfigByName("vi-VN", "Address");
            }
            <div class="col-md-6">
                <div class="main-ctmap wow flipInY">
                    <div>
                        <img src="img/map.png" class="w-100 mb-height" alt="">
                    </div>
                    <div class="linkmap">
                        <a href="@bannerAdsRepository.GetConfigByName("vi-VN", "GoogleMap")" target="_blank">MAP</a>
                    </div>
                    <div class="text-map">
                        <div class="logo-mn2">
                            <img src="img/logo2.png" alt="">
                        </div>
                        <p class="tit-name-ft">VĂN PHÒNG HÀ NỘI</p>
                        <div class="txt-cn-2">
                            <p><b>Địa chỉ :</b> @dc </p>
                            <p><b>ĐT:</b> @bannerAdsRepository.GetConfigByName("vi-VN", "Hotline") </p>
                            <p><b>Fax :</b>@bannerAdsRepository.GetConfigByName("vi-VN", "FaxHN") | <b>Email: </b> @em2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-pt-30">
                <div class="main-ctmap">
                    <div>
                        <img src="img/map.png" class="w-100 mb-height" alt="">
                    </div>
                    <div class="linkmap">
                        <a href="@bannerAdsRepository.GetConfigByName("vi-VN", "GoogleMap2")" target="_blank">MAP</a>
                    </div>
                    <div class="text-map">
                        <div class="logo-mn2">
                            <img src="img/logo2.png" alt="">
                        </div>
                        <p class="tit-name-ft">VĂN PHÒNG HỒ CHÍ MINH</p>
                        <div class="txt-cn-2">
                            <p><b>Địa chỉ :</b> @dchcm</p>
                            <p><b>ĐT:</b>   @bannerAdsRepository.GetConfigByName("vi-VN", "Hotline1") </p>
                            <p><b>Fax :</b> @bannerAdsRepository.GetConfigByName("vi-VN", "FaxHCM") | <b>Email: </b> @em</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="input-contact">
    <div class="container">
        <p class="tit-ip-contact">
            @DetaiBannerText.Title
        </p>
        <div class="line-hc2" style="margin:0 auto;"></div>
        <p class="txt-wel-2 mt-3">@Html.Raw(DetaiBannerText.Description)</p>
        <form class="row" id="form-lien-he" data-type="3">
            <div class="col-md-6 mb-4 ">
                <input type="text" name="txtName " id="name-input" placeholder="Your name * " class="w-100 ip-css" required>
            </div>
            <div class="col-md-6 mb-4 ">
                <input type="text" name="txtNumber " id="phone-input" placeholder="Number * " class="w-100 ip-css" required>
            </div>
            <div class="col-md-6 mb-4 ">
                <input type="text" name="txtName " id="mail-input" placeholder="Email * " class="w-100 ip-css">
            </div>
            <div class=" col-md-6 mb-4 ">
                <input type="text" name="txtName " id="company-input" placeholder="Company *" class="w-100 ip-css">
            </div>
            <div class="col-md-6 mb-4 ">
                <input type="text" name="txtName " id="address" placeholder="Địa chỉ *" class="w-100 ip-css">
            </div>
            <div class="col-md-6 mb-4 ">
                <div class="d-flex ">
                    <div class="pr-50">
                        <input name="tinhthanh" type="radio" value="Hà Nội" class="mr-2 khuvuc" /> Hà Nội
                    </div>
                    <div>
                        <input name="tinhthanh" type="radio" value="Hồ Chí Minh" class="mr-2 khuvuc" /> Hồ Chí Minh
                    </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <textarea name="txtNote " id="mess-input" placeholder="Messange " class="w-100 ip-css pt-2" style="min-height: 162px;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary contact-now mt-2" style="margin: 0 auto;">SEND</button>
        </form>
    </div>
</section>

@section scripts{
    @*<script type="text/javascript" src="~/js/libs/momentjs/momentJS.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/daterangepicker-master/daterangepicker.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/js/libs/paginationjs/paginationJS.js" asp-append-version="true"></script>*@
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/contactController.js"></script>


}