﻿<div class=" cart-mobile  dropdown-cart  ">
    <div class="item-cart ">
        <div class="image-product  ">
            <img src="~/images/change/image-4x4.png" class="" />
        </div>
        <div class="text px-2 ">
            <h6 class="name-product mb-1"><a href="">Máy lọc nước Nano Geyser Ecotar 5</a></h6>
            <div class="price">200.000đ</div>
            <div class="d-flex">
                <label class="mb-0 color-828282 mr-4">Số lượng</label>
                <div class="group-amount d-flex align-self-center">
                    <button class="btn " type="button">
                        <i class="fas fa-minus" aria-hidden="true"></i>
                    </button>
                    <span class="color-EE7D22">1</span>
                    <button class="btn " type="button">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="del">
            <button class="btn btn-link ">Xóa</button>
        </div>
    </div>
    <div class="item-cart ">
        <div class="image-product  ">
            <img src="~/images/change/image-4x4.png" class="" />
        </div>
        <div class="text px-2 ">
            <h6 class="name-product mb-1"><a href="">Máy lọc nước Nano Geyser Ecotar 5</a></h6>
            <div class="price">200.000đ</div>
            <div class="d-flex">
                <label class="mb-0 color-828282 mr-4">Số lượng</label>
                <div class="group-amount d-flex align-self-center">
                    <button class="btn " type="button">
                        <i class="fas fa-minus" aria-hidden="true"></i>
                    </button>
                    <span class="color-EE7D22">1</span>
                    <button class="btn " type="button">
                        <i class="fas fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="del">
            <button class="btn btn-link ">Xóa</button>
        </div>
    </div>
    <!--Sum-->
    <div class="d-flex px-3">
        <div class="text-uppercase">
            Tổng tiền:
        </div>
        <div class="h6 font-weight-bold ml-auto color-EE7D22">
            21.000đ
        </div>
    </div>
    <div class="bottom-dropdown d-flex  ">
        <div class="small mr-3 align-self-center">
            Bạn còn 2 sản phẩm trong giỏ hàng
        </div>
        <div class="h6 ml-auto mb-0">
            <a href="cart.html" class="btn-link link-view-more  font-weight-normal text-uppercase">XEM GIỎ HÀNG</a>
        </div>
    </div>
</div>