﻿@model List<Enterbuy.Data.SqlServer.ModelDto.ArticleMinify>

<div class="list lastest-news">
    @for (int i = 0; i < Model.Count; i++)
    {
        if (i == 0)
        {
            <div class="item large">
                <div class="row">
                    <div class="col-12 ">
                        <div class="image mb-3">
                            <a href="@Utils.BaseBA.UrlNews(Model[i].ZoneUrl,Model[i].Url,Model[i].Id)" title=""><img src="@Utils.UIHelper.StoreFilePath(Model[i].Avatar)" class="img-fluid w-100" alt=""></a>
                        </div>
                    </div>
                    <div class="col-12">
                        <p class="title">
                            <a href="@Utils.BaseBA.UrlNews(Model[i].ZoneUrl,Model[i].Url,Model[i].Id)" title="">@Model[i].Title</a>
                        </p>
                        <div class="des ">
                            @Html.Raw(Model[i].Description)
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="item">
                <div class="row">
                    <div class="col-xl-3 col-md-4 col-sm-3 col-3 pr-0">
                        <div class="image">
                            <a href="@Utils.BaseBA.UrlNews(Model[i].ZoneUrl,Model[i].Url,Model[i].Id)" title=""><img src="@Utils.UIHelper.StoreFilePath(Model[i].Avatar)" class="img-fluid w-100" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-md-8 col-sm-9 col-9">
                        <p class="title">
                            <a href="@Utils.BaseBA.UrlNews(Model[i].ZoneUrl,Model[i].Url,Model[i].Id)" title="">@Model[i].Title</a>
                        </p>
                        <div class="time ">
                            @Model[i].CreatedDate.ToString(Utils.Utility.fomatDate)
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
