﻿@using Enterbuy.Core.Enumerations
@using Enterbuy.Data.SqlServer.ModelDto

@using Enterbuy.Data.SqlServer.Dao.Interfaces
@inject IProductDao productDao
@{
    var obj_id = ViewBag.ObjId;
    var obj_type = ViewBag.ObjType;
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;
    var comments = new List<CommentDetail>();
    string fullName = "";
    string email = "";
    if (obj_id != null && obj_type != null)
    {
        comments = await productDao.GetCommentPublisedByObjectId(obj_id, obj_type);

    }

    var list_comment_parents = comments.Where(r => r.ParentId == 0);
}
<style>
    .profileImage {
        font-family: Arial, Helvetica, sans-serif;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: #269548;
        font-size: 1rem;
        color: #fff;
        text-align: center;
        line-height: 3.3rem;
        margin-right: 10px;
    }
</style>
<div class="comment_binding">
    <div class="row mb-3">
        <div class="col-md-8 col-sm-8 col-12 ">
            <p class="font-weight-600 mb-3 mb-md-0 mt-1">@comments.Count() Bình luận</p>
        </div>
        <div class="col-md-4 col-sm-4 col-12 text-right">
            <div class="search-comment">
                <input class="form-control " type="text" placeholder="Tìm kiếm" />
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <form class="border border-r-4 mb-4 upload-parent" id="comment-form" data-type="comment" data-object-id="@obj_id" data-object-type="@obj_type" data-lang="vi-VN">
        <textarea class="form-control txt_content" rows="5" placeholder="Nhận xét của bạn"
                  style="border: 0;" minlength="50"></textarea>
        <div class="border-top">
            <div class="form-row p-2 ">
                <div class="col-xl-2 col-md-2 col-12">
                    <div class="position-relative form-control text-center mb-2 mb-md-0"
                         style="font-size: 14px;">
                        <img src="~/images/camera.svg" class="img-fluid" />
                        <input type="file" class="input-choose-file " accept="image/*">
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-12">
                    <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0 txt_name"
                           placeholder="Tên (bắt buộc)" required>
                </div>
                <div class="col-xl-4 col-md-4 col-12">
                    <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0 txt_phoneOrEmail"
                           placeholder="Email (bắt buộc)" required>
                </div>
                <div class="col-xl-2 col-md-2 col-12">
                    <button class="btn btn-save px-5 mb-2 mb-md-0 send-comment" data-type="comment" data-object-id="@obj_id" data-object-type="@obj_type" data-lang="vi-VN" type="submit">Gửi</button>
                </div>
            </div>
        </div>
        <div class="_binding_pickup_img" style="display:none; position:relative">
            <div style="">
                <img class="_place-img" />
            </div>
            <div class="_close_customize" style="position:absolute; top:0px; right: 0px">
                <button class="_place-img-close" type="button" style="background-color: transparent; border: 0;"><i class="fal fa-times-circle"></i></button>
            </div>

        </div>
    </form>
    @{
        var total = list_comment_parents.Count();

        var skip = (int)((index - 1) * size);
        var res = list_comment_parents.Skip(skip).Take(size).OrderByDescending(n=>n.CreatedDate);
    }
    <div class="list-comment mb-5 comment-binding">
        @foreach (var item in res)
        {
            fullName = item.Name;
            email = item.PhoneOrMail;
            <div class="media mb-3 comment_infomation" data-id="@item.Id" data-object-id="@obj_id" data-object-type="@obj_type" data-fullname="@fullName" data-email="@email">
                <div class="profileImage" data-name="@item.Name"></div>
                <div class="media-body">
                    <h6 class="name" data->@item.Name</h6>
                    <div class="comment-ct ">
                        @item.Content
                    </div>
                    <div class="d-flex flex-wrap">
                        <a href="" class="btn-link small mr-3 mb-2">Trả lời</a>
                        <a href="" href="" class="btn-link small mr-3 mb-2">
                            <i class="fas fa-thumbs-up mr-2">
                            </i>Thích
                        </a>
                        <span class="time small mb-2">@item.CreatedDate.ToString("dd/MM/yyyy hh:mm")</span>
                    </div>
                    <div class="_comment_reply"></div>
                    @{ var list_comment_reply = comments.Where(r => r.ParentId == item.Id).OrderBy(n=>n.CreatedDate);}
                    @foreach (var rep in list_comment_reply)
                    {
                        <div class="media sub  mt-3">
                            <a class="" href="#">
                                @if (!string.IsNullOrEmpty(rep.CreatedByAdminId))
                                {
                                    <div class="avatar  mr-3" data-name="@item.Name">
                                        <img src="/images/user/avatar.png" />
                                    </div>
                                }
                                else
                                {<div class="profileImage  mr-3" data-name="@item.Name">
                                        <span>@item.Name</span>


                                    </div>
                                }
                            </a>
                            <div class="media-body">
                                <div class="comment-img">
                                    @if (!string.IsNullOrEmpty(rep.Avatar))
                                    {
                                        <img src="@Utils.UIHelper.StoreFilePath(rep.Avatar.Replace("\\","/"),false,"","")" />
                                    }

                                </div>
                                @{ string clqtv = !String.IsNullOrEmpty(rep.CreatedByAdminId) ? "qtv" : ""; }
                                <h6 class="name @clqtv ">@rep.Name</h6>
                                <div class="comment-ct">
                                    @rep.Content
                                </div>
                                <div class="d-flex flex-wrap">
                                    <a href="javascript:void(0)" class="btn-link small mr-3 mb-2 reply_comment">Trả lời</a>
                                    <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">
                                        <i class="fas fa-thumbs-up mr-2">
                                        </i>Hài lòng
                                    </a>
                                    <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">
                                        <i class="fas fa-thumbs-down mr-2">
                                        </i>Không hài lòng
                                    </a>
                                    <span class="time small mb-2">@rep.CreatedDate.ToString("dd/MM/yyyy hh:mm")</span>
                                </div>
                                <div class="_comment_reply"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
<div class="comment-paging" data-total="@total" data-size="@size" data-object-id="@obj_id" data-object-type="@obj_type">

</div>
@section scripts
    {
    <script type="text/javascript" src="~/js/controller/blogDetailController.js" asp-append-version="true"></script>
}
