﻿@{
    ViewData["Title"] = "Product Category";
}

@await Component.InvokeAsync("SlideBanner", new { isService = false })
<div class="container mb-3 mt-md-4 mt-lg-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="#">Máy lọc nước Nano </a></li>
            <li class="breadcrumb-item active" aria-current="page">Máy lọc nước Nano Gayser</li>
        </ol>
    </nav>
</div>
@await Component.InvokeAsync("FilterProductInCategory")
@await Component.InvokeAsync("FlashSale")
@await Component.InvokeAsync("ListProductInCategory")
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")