﻿@using Enterbuy.Core.Enumerations
@using Enterbuy.Data.SqlServer.ModelDto
@using Utils
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@inject IZoneDao zoneDao
@{
    string link = Context.Request.Host + Context.Request.Path;
    var detail = ViewBag.Infomation as ProductDetail;
    var setification_detail = ViewBag.Spectification as List<ProductSpectificationDetail>;
    var product_same_zone = ViewBag.SameZone as List<ProductMinify>;
    var same_total = ViewBag.SameTotal;
    var zone_id = ViewBag.Zone;
    var zone_url = ViewBag.ZoneUrl;

    var product_price_details = ViewBag.ListLocation as List<ProductPriceInLocationDetail>
        ;
    var default_price_detail = ViewBag.DefaultLocationPrice as ProductPriceInLocationDetail;
    if (default_price_detail == null)
    {
        default_price_detail = new ProductPriceInLocationDetail();
    }
    var combo = ViewBag.Combo as List<ProductMinify>
        ;
    var promotions = ViewBag.Promotion as List<PromotionInProduct>
        ;
    var comments = ViewBag.Comments as List<CommentDetail>
        ;
    var meta_file = new FileProduct();
    if (detail.MetaFile != null)
    {
        meta_file = Newtonsoft.Json.JsonConvert.DeserializeObject<FileProduct>(detail.MetaFile);
    }
}

@if (detail != null)
{
    @await Component.InvokeAsync("Breadcrumb", new { zoneId = detail.ZoneId })
    @await Component.InvokeAsync("SEO_Product", new { product = detail })

}
<section class="product-detail" data-voucher="" data-id="@detail.Id" data-properties="@detail.PropertyId">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-12 col-12 pr-lg-4 ">
                        <div class="mobie-name-prod">
                            <div class="title mb-lg-0 d-inline-block">@detail.Title</div>
                            <div class="small d-inline-block p-2 ">
                                @await Component.InvokeAsync("RatingStarProductDetails", new { objectId = @detail.Id, objectType = (int)TypeRating.Product, hTag = "" })
                            </div>
                        </div>
                        <div class="slide-product-detail mb-3">
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    @{//Cat chuoi anh
                                        var avatar_array = detail.AvatarArray.Split(',');
                                        var count_id = 1;
                                        foreach (var item in avatar_array)
                                        {
                                            var getId = "myimage" + count_id;
                                            count_id++;

                                            <div class="swiper-slide">
                                                <div class="img-magnifier-container">
                                                    <img asp-append-version="true" id="@getId" src="@UIHelper.StoreFilePath(item,false)" width="100%" height="auto" alt="@detail.Title">
                                                </div>
                                            </div>
                                        }
                                    }
                                    @if (!String.IsNullOrEmpty(meta_file.FileDowload))
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(detail.Avatar,false)" class="img-fluid w-100 "
                                                     alt="" />
                                            </div>
                                        </div>
                                    }

                                    @*@if (!String.IsNullOrEmpty(meta_file.File360))
                                        {*@
                                    <div class="swiper-slide">
                                        <div class="image">

                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item w-100" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.File360)" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    @*}*@
                                    @*@if (!String.IsNullOrEmpty(meta_file.FileVideo))
                                        {*@
                                    <div class="swiper-slide">
                                        <div class="image">

                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item w-100" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.FileVideo)" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    @*}*@
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-link btn-sm mb-2 color-0B7640 font-weight-600" data-toggle="modal"
                                        data-target="#modal-slide-imge">
                                    Click xem kích thước lớn
                                </button>
                            </div>
                            <div class="swiper-container gallery-thumbs px-3">
                                <div class="swiper-wrapper">
                                    @foreach (var item in avatar_array)
                                    {
                                        <div class="swiper-slide">
                                            <div class="image">
                                                <img asp-append-version="true" src="@UIHelper.StoreFilePath(item,false)" class="img-fluid w-100 "
                                                     alt="@detail.Title" />
                                            </div>
                                        </div>
                                    }
                                    @if (!String.IsNullOrEmpty(meta_file.FileDowload))
                                    {
                                        <div class="swiper-slide">
                                            <div class="image pd-10">
                                                <a href="@meta_file.FileDowload" target="_blank">
                                                    <img asp-append-version="true" src="~/images/download-con-thumb.svg" class="img-fluid w-100 "
                                                         alt="" />
                                                </a>
                                            </div>
                                            Download Brochure
                                        </div>
                                    }
                                    @*@if (!String.IsNullOrEmpty(meta_file.File360))
                                        {*@
                                    <div class="swiper-slide">
                                        <div class="image pd-10">
                                            <img asp-append-version="true" src="~/images/change/360do-icon-thumb.svg" class="img-fluid w-100 "
                                                 alt="" />
                                        </div>

                                    </div>
                                    @*}*@

                                    @*@if (!String.IsNullOrEmpty(meta_file.FileVideo))
                                        {*@
                                    <div class="swiper-slide">
                                        <div class="image pd-10">

                                            <img asp-append-version="true" src="~/images/youtube-icon-thumb.svg" class="img-fluid"
                                                 alt="" />

                                        </div>
                                    </div>
                                    @*}*@
                                </div>
                                <div class="swiper-button-prev" tabindex="0" role="button"
                                     aria-label="Previous slide">
                                    <button class="btn btn-link color-828282">
                                        <i class="fas fa-chevron-left"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="swiper-button-next" tabindex="0" role="button"
                                     aria-label="Previous slide">
                                    <button class="btn btn-link color-828282 ">
                                        <i class="fas fa-chevron-right"
                                           aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="font-weight-bold">Đặc điểm nổi bật</label>
                            @Html.Raw(Utility.DecodeHtml(detail.Description))
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-5 col-md-12 col-12">
                        <div class="row mb-2">
                            <div class="col-lg-12 col-md-12 col-12 align-self-center">
                                <div class="pc-name-prod">
                                    <h1 class="title mb-lg-0 d-inline-block mr-4 ">@detail.Title</h1>
                                    <div class="small d-inline-block p-2 ">
                                        @await Component.InvokeAsync("RatingStarProductDetails", new { objectId = @detail.Id, objectType = (int)TypeRating.Product, hTag = "" })
                                        <div class="d-inline-block text-primary px-2">@detail.TotalRate Đánh giá</div>
                                    </div>
                                </div>
                                <div>
                                    <label class="d-inline-block">Giá tại:</label>
                                    <div class="dropdown d-inline-block select-local">
                                        <a class="btn btn-link dropdown-toggle" href="javascript:;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @ViewBag.LocationName
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            @foreach (var item in product_price_details)
                                            {
                                                <a class="dropdown-item location-item" href="javascript:;" data-price="@item.Price" data-sale-price="@item.SalePrice" data-location-id="@item.LocationId" data-product-id="@detail.Id">@item.LocationName</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-product-detail">
                            @if (default_price_detail.SalePrice == default_price_detail.Price)
                            {
                                <span class="new " id="price-sale">
                                    @if (default_price_detail.SalePrice > 0)
                                    {
                                        <span id="price-sale-detail" data-sale-price="@default_price_detail.SalePrice">@UIHelper.FormatNumber(default_price_detail.SalePrice)</span>
                                    }
                                    else
                                    {
                                        <span id="price-sale-detail" data-sale-price="@default_price_detail.SalePrice">Liên hệ</span>
                                    }
                                </span>
                            }
                            else
                            {
                                <span class="new" id="price-sale">
                                    @if (default_price_detail.SalePrice > 0)
                                    {
                                        <span id="price-sale-detail" data-sale-price="@default_price_detail.SalePrice">@UIHelper.FormatNumber(default_price_detail.SalePrice)</span>
                                    }
                                </span>
                                <span class="old" id="price-normal">
                                    @if (default_price_detail.Price > 0)
                                    {
                                        @UIHelper.FormatNumber(default_price_detail.Price)
                                    }
                                </span>
                            }
                        </div>
                        <div class="small color-828282 mb-3">
                            (Giá bao gồm thuế VAT)
                        </div>
                        <div class="uu-dai mb-3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-12 col-md-4 col-12 pr-xl-0">
                                    <div class="item">
                                        <div class="icon mr-2">
                                            <img src="~/images/uu-dai-1.svg" class="img-fluid mt-2" />
                                        </div>
                                        <div>
                                            <div class="text-uppercase font-weight-bold">
                                                Thanh toán
                                                khi nhận hàng
                                            </div>
                                            <div class="small color-828282">
                                                ( Bán kính 20km)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12 col-md-4 col-12  pr-xl-0">
                                    <div class="item">
                                        <div class="icon mr-2">
                                            <img src="~/images/uu-dai-2.svg" class="img-fluid  mt-2" />
                                        </div>
                                        <div>
                                            <div class="text-uppercase font-weight-bold">
                                                MIỄN PHÍ  VẬN CHUYỂN
                                            </div>
                                            <div class="small color-828282">
                                                ( Bán kính 20km)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12 col-md-4 col-12 ">
                                    <div class="item">
                                        <div class="icon mr-2">
                                            <img src="~/images/uu-dai-3.svg" class="img-fluid mt-2" />
                                        </div>
                                        <div>
                                            <div class="text-uppercase font-weight-bold">
                                                MIỄN PHÍ LẮP ĐẶT
                                            </div>
                                            <div class="small color-828282">
                                                ( Bán kính 20km)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (promotions != null && promotions.Any() && detail.ExprirePromotion != null && detail.ExprirePromotion.GetValueOrDefault() > DateTime.Now)
                        {
                            <div class="box-km mb-3 promotion-sale">
                                <div class="head  d-flex">
                                    <h6 class="font-weight-600 mb-0 mr-3 ">Khuyến mại</h6>
                                    <div class="timer d-flex ml-auto" data-end-time="@detail.ExprirePromotion.Value.ToString("yyyy/MM/dd HH:mm")">
                                        <div id="day" class="it">30</div>
                                        <div id="hour" class="it">30</div>
                                        <div id="minute" class="it">30</div>
                                        <div id="second" class="it">30</div>
                                    </div>
                                </div>
                                <div class="px-3">
                                    @foreach (var item in promotions)
                                    {
                                        <label class="label-checkbox">
                                            @Html.Raw(item.Name) ( <a href="@item.Url" class="btn-link color-EE7D22">xem chi tiết</a>)
                                            <input type="checkbox" class="choose_promotion" data-promotion-id="@item.Id" data-is-discount="@item.IsDiscountPrice" data-type="@item.Type" data-value="@item.Value" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                    }
                                </div>
                            </div>
                        }


                        <div class="row">
                            <div class="group-amount d-flex align-self-center col-xl-4 col-lg-4 col-md-5 col-12 mb-3">
                                <button class="btn " id="minus" type="button">
                                    <i class="fas fa-minus" aria-hidden="true"></i>
                                </button>
                                <input type="text" class="form-control mx-2 color-EE7D22" id="quantity" value="1">
                                <button class="btn " id="plus" type="button">
                                    <i class="fas fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-7 col-12 pl-md-0 mb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control color-EE7D22 existCoupon" placeholder="Mã Voucher">
                                    <div>
                                        <button type="button" class="btn btn-app btn-voucher-installment cust-voucher" type="button">Dùng Mã</button>
                                    </div>
                                </div>
                                @* <div class="check-ms">
                                        <div>
                                            <input type="text" class="form-control color-EE7D22 existCoupon" placeholder="Mã Voucher">
                                        </div>
                                        <div class="icon-check">
                                            <i class="fas fa-check" aria-hidden="true"></i>
                                        </div>
                                    </div> *@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger" id="mess-voucher">
                                    <i class="fa fa-chevron-right"></i>  <span class="mess-vc"></span>
                                </div>
                            </div>

                        </div>
                        <div class="mb-3">
                            <a href="/lien-he/he-thong-dai-ly-enterbuy" class="color-0B7640 font-weight-600">
                                <i class="fas fa-map-marker-alt mr-2"></i>Tìm chi nhánh gần bạn nhất
                            </a>
                            để xem sản phẩm
                        </div>

                        <div class="area_order mb-3">
                            <div class="row">
                                <div class="col-sm-6 col-12 pr-sm-2">
                                    <a href="javascript:void(0)" class="btn btn-order w-100  mb-3" id="buy-now" data-product-id="@detail.Id">
                                        <img src="~/images/Cart.svg"
                                             class="img-fluid mr-2" />MUA HÀNG NGAY
                                    </a>
                                </div>
                                <div class="col-sm-6 col-12 pl-sm-2  ">
                                    <button href="" class="btn btn-order-2 w-100 mb-3" id="add-to-cart" data-voucher="" data-product-id="@detail.Id">THÊM VÀO GIỎ</button>
                                </div>
                                @if (detail.isInstallment)
                                {
                                    <div class="col-12 ">
                                        <div class="bg-tuvan">
                                            <a href="@BaseBA.UrlImstallment(detail.Url,detail.Id)">
                                                TRẢ GÓP 0% QUA THẺ
                                                <p class="txt-payb">Visa, Master, JCB</p>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 ">
                                        <div class="bg-tuvan">
                                            <label class="mb-3">
                                                <i class="fas fa-phone-alt mr-2" aria-hidden="true"></i> TƯ VẤN MUA HÀNG
                                            </label>
                                            <div class="form-row justify-content-center">
                                                <div class="col-md-6 col-8">
                                                    <input type="hidden" class="form-control" value="@link" id="tvmhURL">
                                                    <input type="text" class="form-control" placeholder="SĐT" id="tvmhPHONE">
                                                </div>
                                                <div class="col-md-4 col-4">
                                                    <button onclick="UpdateAdvisoryv2()" class="btn btn-outline-light w-100  text-uppercase  ">Gửi</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!--18-5 Thêm sản phẩm thường đc mua cùng-->
                        <div class="box-km product-suggest mb-3 p-3 " id="list_combo">
                            <p class="font-weight-600 mb-3 text-uppercase">Thường được mua cùng</p>
                            <div class="label-checkbox d-flex">
                                <div class="image-product mr-2">
                                    <img src="@UIHelper.StoreFilePath(detail.Avatar)"
                                         class="" alt="Viên nhựa ban công 2">
                                </div>
                                <div class="align-self-center mr-2"><a href="@BaseBA.UrlProduct("",detail.Url)"> @detail.Title</a> </div>
                                <div class="align-self-center font-weight-600 ml-auto nowrap" id="default_price">
                                    @UIHelper.FormatNumber(default_price_detail.SalePrice)
                                </div>
                                <input id="default-sale-price" class="choose_combo" data-product-id="@detail.Id"
                                       data-sale-price="@default_price_detail.SalePrice" type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </div>

                            @{var count = 1; }

                            @foreach (var item in combo)
                            {
                                count++;
                                var link_target = BaseBA.UrlProduct("", item.Url);
                                <div class="label-checkbox d-flex">
                                    <div class="image-product mr-2">
                                        <img src="@UIHelper.StoreFilePath(item.Avatar)"
                                             class="" alt="Viên nhựa ban công 2">
                                    </div>
                                    <div class="align-self-center mr-2"><a href="@link_target">@item.Title</a> </div>
                                    <div class="align-self-center font-weight-600 ml-auto nowrap">
                                        @UIHelper.FormatNumber(item.SalePrice)
                                    </div>
                                    <input class="choose_combo" data-product-id="@item.ProductId"
                                           data-sale-price="@item.SalePrice" type="checkbox" checked="checked" />
                                    <span class="checkmark"></span>
                                </div>
                            }
                            @{ var tong_tien_combo = combo.Sum(r => r.SalePrice) + default_price_detail.SalePrice; }
                            <div class="text-right">
                                <div class="mb-3">
                                    Tổng dự toán:<span class="font-weight-600 color-EE7D22 mx-2"
                                                       id="total_combo_price" data-total="@tong_tien_combo">@UIHelper.FormatNumber(tong_tien_combo)</span>
                                                </div>
                                                <button role="button" class="btn btn-save " id="add-cart-combo">
                                                    Thêm <span id="count_combo">@count</span> sản phẩm vào giỏ hàng
                                                </button>
                                            </div>
                                        </div>

                                        <!--18-5 Thêm sản phẩm thường đc mua cùng end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-bottom mb-4"> </div>
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12">
                                <!--Chi tiết kỹ thuật mobile-->
                                <div class="d-md-none">

                                    <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                                        <i class="far fa-clock mr-2"></i> Chi tiết kỹ thuật
                                    </div>
                                    <div class="tech-detail border py-2 border-r-4 px-3 mb-4">
                                        <div class="item ">
                                            <div class="label">
                                                MÃ SẢN PHẨM
                                            </div>
                                            <div class=" ml-auto text-right">
                                                @Html.Raw(detail.Code)
                                            </div>
                                        </div>
                                        @if (setification_detail != null)
                                        {
                                            @foreach (var item in setification_detail)
                                            {
                                                <div class="item">
                                                    <div class="label">
                                                        @item.Name
                                                    </div>
                                                    <div class="ml-auto text-right">
                                                        @item.Value
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>

                                <!--Chi tiết kỹ thuật mobile end-->
                                <!--Mô tả sản phẩm-->
                                <div class="product-description">
                                    <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                                        Thông tin sản phẩm
                                    </div>

                                    <div class="content">
                                        @Html.Raw(Utility.DecodeHtml(detail.Content))
                                    </div>
                                </div>



                                <div class="text-center my-4">
                                    <button class="btn btn-outline-view-more" onclick="expandProductDes()">
                                        Xem thêm<i class="fas fa-chevron-down ml-2 "></i>
                                    </button>
                                </div>
                                <!--Mô tả sản phẩm end-->
                                <!--Sản phẩm cùng loại-->
                                <div class="row mb-3  ">
                                    <div class="col-8">
                                        <a href="" class="h5 font-weight-bold "><h3>Sản phẩm cùng loại</h3></a>
                                    </div>
                                    @if (same_total > 6)
                                    {
                                        var linkTar = BaseBA.UrlCategory(zone_url);
                                        <div class="col-4 text-right">
                                            <a href="@linkTar" class="link-view-more font-weight-normal color-EE7D22">
                                                Xem thêm <i class="fas fa-chevron-right ml-1 small"
                                                            aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="row no-gutters mb-4">
                                    @if (product_same_zone != null)
                                    {
                                        foreach (var item in product_same_zone.Take(4))
                                        {

                                            var link_tar = BaseBA.UrlProduct("", item.Url);
                                            <div class="col-xl-3 col-md-6 col-sm-6 col-6">
                                                <div class="item-product">
                                                    <span class="tag-1">
                                                    </span>
                                                    <div class="image">
                                                        <a href="@link_tar"><img asp-append-version="true" src="@UIHelper.StoreFilePath(item.Avatar)" class="img-fluid" alt="@item.Title"></a>

                                                    </div>
                                                    <div class="tag-2">
                                                        <img src="" class="img-fluid tag-2-thumb">
                                                    </div>
                                                    <div class="mt-4">
                                                        <h3 class="title">
                                                            <a href="@link_tar" title="@item.Title">
                                                                @item.Title
                                                            </a>
                                                        </h3>
                                                        @if (item.SalePrice != item.Price)
                                                        {
                                                            <div class="d-price">
                                                                <div class="price-new">
                                                                    @UIHelper.FormatNumber(item.SalePrice)
                                                                </div>

                                                                <div class="price-old">
                                                                    @(item.Price <= 0 ? Html.Raw("Liên hệ") : Html.Raw(UIHelper.FormatNumber(item.Price)))
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="d-price">
                                                                <div class="price-new">
                                                                    @UIHelper.FormatNumber(item.SalePrice)
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="size small mb-1">
                                                            @item.SpecName: @item.SpecValue
                                                        </div>
                                                        <div class="review d-flex">
                                                            <div class="color-FFAB1B mr-2">
                                                                @Math.Round(item.Rate, 1)/5<i class="fas fa-star ml-1" aria-hidden="true"></i>
                                                            </div>
                                                            <div class="color-828282">
                                                                @item.CountRate đánh giá
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <!--Sản phẩm cùng loại end-->

                                <div class="row">
                                    <div class="col-12">
                                        <!--Đánh giá-->
                                        <div class="row mb-3">
                                            <div class="col-md-8 col-sm-8 col-7 ">
                                                <h5 class="font-weight-600 mb-0">Đánh giá sản phẩm</h5>
                                            </div>
                                            <div class="col-md-4 col-sm-4 col-5 text-right ">
                                                <button type="button" class="btn btn-save px-2" data-toggle="modal"
                                                        data-target="#modal-danh-gia">
                                                    Đánh giá ngay
                                                </button>
                                            </div>
                                        </div>

                                        <!--Rating-->
                                        <div class="border-r-4 border py-3 mb-4">
                                            <div class="row">
                                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                                                    <div class="star-average p-3 border-right">
                                                        <p class="mb-1 font-weight-600">@detail.RateAvg</p>

                                                        @await Component.InvokeAsync("RatingStarProductDetails", new { objectId = detail.Id, objectType = (int)TypeRating.Product, hTag = "" })

                                                        <div><a href="javascript:;" class="btn-link">@detail.TotalRate đánh giá</a></div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-7 col-lg-7 col-md-7 col-12">
                                                    <aside class="rating-left">
                                                        @{
                                                            var x = detail.TotalRate == 0 ? 1 : detail.TotalRate;
                                                            var fiveStarPercent = Math.Round(((double)detail.Five_Star / (double)x) * 100, 1);
                                                            var fourStarPercent = Math.Round(((double)detail.Four_Star / (double)x) * 100, 1);
                                                            var threeStarPercent = Math.Round(((double)detail.Three_Star / (double)x) * 100, 1);
                                                            var twoStarPercent = Math.Round(((double)detail.Two_Star / (double)x) * 100, 1);
                                                            var oneStarPercent = Math.Round(((double)detail.One_Star / (double)x) * 100, 1);
                                                        }
                                                        <div class="star-line">
                                                            <span class="star-type left align-self-center">5 </span>
                                                            <div class="star-bar align-self-center">
                                                                <div class="star-barsub" style="width: @(fiveStarPercent)%;">
                                                                </div>
                                                            </div>
                                                            <span class="star-type right align-self-center ">@(fiveStarPercent)%</span>
                                                        </div>
                                                        <div class="star-line">
                                                            <span class="star-type left align-self-center">4</span>
                                                            <div class="star-bar align-self-center">
                                                                <div class="star-barsub" style="width: @(fourStarPercent)%;">
                                                                </div>
                                                            </div>
                                                            <span class="star-type right align-self-center ">@(fourStarPercent)%</span>
                                                        </div>
                                                        <div class="star-line">
                                                            <span class="star-type left align-self-center">3</span>
                                                            <div class="star-bar align-self-center">
                                                                <div class="star-barsub" style="width: @(threeStarPercent)%;">
                                                                </div>
                                                            </div>
                                                            <span class="star-type right align-self-center ">@(threeStarPercent)%</span>
                                                        </div>
                                                        <div class="star-line">
                                                            <span class="star-type left align-self-center">2</span>
                                                            <div class="star-bar align-self-center">
                                                                <div class="star-barsub" style="width: @(twoStarPercent)%;">
                                                                </div>
                                                            </div>
                                                            <span class="star-type right align-self-center ">@(twoStarPercent)%</span>
                                                        </div>
                                                        <div class="star-line">
                                                            <span class="star-type left align-self-center">1</span>
                                                            <div class="star-bar align-self-center">
                                                                <div class="star-barsub" style="width: @(oneStarPercent)%;">
                                                                </div>
                                                            </div>
                                                            <span class="star-type right align-self-center ">@(oneStarPercent)%</span>
                                                        </div>
                                                    </aside>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Gửi Comment-->
                                        @await Component.InvokeAsync("Comment", new { object_id = detail.Id, object_type = (int)CommentType.Product })
                                        <!--Đánh giá end-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 ">
                                <!--Chi tiết kỹ thuật pc-->
                                <div class="d-none d-md-block">
                                    <div class="pb-2 border-bottom h5 font-weight-600 mb-3">
                                        <i class="far fa-clock mr-2"></i> Chi tiết kỹ thuật
                                    </div>
                                    <div class="tech-detail border py-2 border-r-4 px-3 mb-4">
                                        <div class="item ">
                                            <div class="label text-uppercase">
                                                MÃ SẢN PHẨM
                                            </div>
                                            <div class=" ml-auto text-right">
                                                @Html.Raw(detail.Code)
                                            </div>
                                        </div>
                                        @if (setification_detail != null)
                                        {
                                            @foreach (var item in setification_detail)
                                            {
                                                <div class="item ">
                                                    <div class="label text-uppercase">
                                                        @item.Name
                                                    </div>
                                                    <div class="ml-auto text-right">
                                                        @item.Value
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="list-menu-right">
                                    <div class="heading  ">
                                        Khuyến mại
                                    </div>
                                    @*Bài viết khuyến mại*@
                                    @await Component.InvokeAsync("Top5Blog", new { type = Enterbuy.Core.Enumerations.TypeZone.Promotion, articleType = Enterbuy.Core.Enumerations.TypeArticle.All })

                                </div>

                                <div class="list-menu-right">
                                    <div class="heading  ">
                                        Mới cập nhật
                                    </div>
                                    @*Bài viết Review sản phẩm*@
                                    @await Component.InvokeAsync("Top5Blog", new { type = Enterbuy.Core.Enumerations.TypeZone.Article, articleType = Enterbuy.Core.Enumerations.TypeArticle.Product })

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                @await Component.InvokeAsync("CategoryHomePage")
                @await Component.InvokeAsync("AdvisoryHomePage")
                @await Component.InvokeAsync("ServiceFooter")

                <div class="modal " id="modal-slide-imge" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-xl  " role="document">
                        <div class="modal-content px-3">
                            <div class="modal-header border-bottom-0">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="row no-gutters justify-content-center">
                                <div class="col-xl-7 col-lg-7 col-md-8 col-12">
                                    <div class="slide-product-detail-2  mb-4">
                                        <div class="swiper-container gallery-top-2">
                                            <div class="swiper-wrapper">
                                                @foreach (var item in avatar_array)
                                                {
                                                    <div class="swiper-slide">
                                                        <div class="image">
                                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(item,false)" class="img-fluid w-100 "
                                                                 alt="@detail.Title" />
                                                        </div>

                                                    </div>
                                                }

                                                @*@if (!String.IsNullOrEmpty(meta_file.File360))
                                                    {*@
                                                <div class="swiper-slide">

                                                    <div class="swiper-zoom-container">
                                                        <iframe class="embed-responsive-item w-100" width="100%" height="480px" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.File360)" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                @*}
                                                    @if (!String.IsNullOrEmpty(meta_file.FileVideo))
                                                    {*@
                                                <div class="swiper-slide">
                                                    <div class="swiper-zoom-container">
                                                        <iframe class="embed-responsive-item w-100" width="100%" height="480px" src="@UIHelper.ConvertLinkYoutubeVideoOriginal(meta_file.FileVideo)" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                @*}*@
                                            </div>
                                        </div>
                                        <div class="swiper-container gallery-thumbs-2 px-4">
                                            <div class="swiper-wrapper">
                                                @foreach (var item in avatar_array)
                                                {
                                                    <div class="swiper-slide">
                                                        <div class="image py-2 py-md-2  text-center">
                                                            <img asp-append-version="true" src="@UIHelper.StoreFilePath(item)" class="img-fluid  " style="width:40px;height:40px"
                                                                 alt="@detail.Title" />
                                                        </div>
                                                    </div>
                                                }
                                                @*@if (!String.IsNullOrEmpty(meta_file.File360))
                                                    {*@
                                                <div class="swiper-slide">
                                                    <div class="image py-2 py-md-2  text-center">
                                                        <img asp-append-version="true" src="~/images/change/360do-icon-thumb.svg" class="img-fluid " style="width:40px;height:40px"
                                                             alt="" />
                                                    </div>
                                                </div>
                                                @*}
                                                    @if (!String.IsNullOrEmpty(meta_file.FileVideo))
                                                    {*@
                                                <div class="swiper-slide">
                                                    <div class="image py-2 py-md-2  text-center">
                                                        <img asp-append-version="true" src="~/images/youtube-icon-thumb.svg" class="img-fluid" style="width:40px;height:40px"
                                                             alt="" />
                                                    </div>
                                                </div>
                                                @*}*@

                                                <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
                                                    <button class="btn btn-link color-828282">
                                                        <i class="fas fa-chevron-left"
                                                           aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Previous slide">
                                                    <button class="btn btn-link color-828282 ">
                                                        <i class="fas fa-chevron-right"
                                                           aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal jan-modal fade " id="modal-danh-gia" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <form class="modal-content" id="rating-form" data-type="rating" data-object-id="@detail.Id" data-object-type="@((int)CommentType.Product)" data-lang="@Utility.DefaultLang">

                            <div class="modal-header border-bottom-0">
                                <h6 class="modal-title font-weight-bold">Đánh giá ngay</h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h6 class="font-weight-600 mb-4">Bạn cảm thấy sản phẩm như thế nào?(chọn sao nhé):</h6>
                                <div class="star-rating h4 text-center mb-4">
                                    <i class="fas fa-star checked" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                </div>
                                <div class="mb-4 ">
                                    <div class="form-row p-2 ">
                                        <div class="col-12">
                                            <textarea class="form-control mb-3  txt_content" rows="4" placeholder="Type your topic here"></textarea>
                                        </div>
                                        <div class="col-2">
                                            <div class="position-relative form-control text-center mb-2 mb-md-0"
                                                 style="font-size: 14px;">
                                                <img src="/images/camera.svg" class="img-fluid">
                                                <input value="" type="file" class="input-choose-file " accept="image/*">
                                            </div>

                                        </div>
                                        <div class="col">
                                            <input type="text" required style="font-size: 14px;height: calc(1.5em + .75rem + 2px);" class="form-control mb-2 mb-md-0 txt_name" placeholder="Tên (bắt buộc)">
                                        </div>
                                        <div class="col">
                                            <input type="text" required style="font-size:14px; height: calc(1.5em + .75rem + 2px);" class="form-control mb-2 mb-md-0 txt_phoneOrEmail" placeholder="Email (bắt buộc)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn " data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-save"
                                        id="btn-save-xn">
                                    Xác nhận
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <script>
                    function UpdateAdvisoryv2() {
                        var url = '/Contact/UpdateAdvisory';
                        var dataRequest = {};
                        dataRequest.Phone = $('#tvmhPHONE').val();
                        dataRequest.Title = "Tư vấn mua hàng";
                        dataRequest.Content = $('#tvmhURL').val();
                        if (dataRequest.Phone.length == 0) {
                            alert("Vui lòng nhập số điện thoại !");
                            return;
                        }
                        $.post(url, dataRequest, function (res) {
                            if (res.code == "00") {
                                $('#modal-xn').modal('show');
                                $('#tvmhPHONE').val('');
                            }
                        });
                    }
                </script>
