﻿@inject RamData.IConfig Config
@{
    var domain = Context.Request.Host.ToString();
    var path = Context.Request.Path.ToString();
    var arr = path.Split("/").ToList();


}

@*----Footer only product detail--------*@
@if (arr.Count >= 2 && arr[1].Equals("san-pham"))
{
    <section class="bar-bottom d-md-none">
        <div class="row ">
            <div class="col-3">
                <a href="#lien-he">
                    <div class="item">
                        <img src="~/images/bottom-ic-2.svg" class="img-fluid mb-2" />
                        <div>
                            Liên hệ
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6">
                <div class="check-ms">
                    <div class="icon-check-right-success">
                        <i class="fas fa-check-circle" aria-hidden="true"></i>
                    </div>
                    <div class="icon-check-right-failed">
                        <i class="fas fa-ban" aria-hidden="true"></i>
                    </div>
                    <div>
                        <input type="text" class="form-control color-EE7D22 existCoupon" placeholder="Mã Voucher">
                    </div>
                    <a class="icon-check btn btn-danger btn-voucher-installment-mobile">
                        <i class="fas fa-check" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <a class="btn btn-save send-mby" href="/gio-hang" id="buy-now-mobi"  data-lang="vi-VN" type="button">MUA NGAY</a>
            </div>
        </div>
    </section>
}
else
{
    <section class="bar-bottom d-md-none">
        <div class="row ">
            <div class="col">
                <div class="item" onclick="$('.cate-mobile').toggle(100, 'swing');">
                    <img src="~/images/bottom-ic-1.svg" class="img-fluid mb-2" />
                    <div>
                        Danh mục
                    </div>
                </div>
            </div>
            <div class="col">
                <a href="#lien-he">
                    <div class="item">
                        <img src="~/images/bottom-ic-2.svg" class="img-fluid mb-2" />
                        <div>
                            Liên hệ
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="@Config.UrlChat()">
                    <div class="item">
                        <img src="~/images/bottom-ic-3.svg" class="img-fluid mb-2" />
                        <div>
                            Chat
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="tel: @Config.GetTimeShowPhone()">
                    <div class="item">
                        <img src="~/images/bottom-ic-4.svg" class="img-fluid mb-2" />
                        <div>
                            @Config.GetTimeShowPhone()
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
}

