﻿<section class="list-product-cart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="font-weight-bold mb-3">Giỏ hàng</h5>
                <div class="table-responsive">
                    <table class="table table-borderless jan-table-cart mb-4">
                        <thead>
                            <tr>
                                <th>
                                    <label class="label-checkbox mb-0 ">
                                        Sản phẩm
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="item">
                                <td>
                                    <label class="label-checkbox label-2 mb-0 " style="min-width: 350px;">
                                        <input type="checkbox">
                                        <span class="checkmark sp"></span>
                                        <div class="d-flex">
                                            <div class="image-product mr-3">
                                                <img src="~/images/change/image-4x4.png" class="" />
                                            </div>
                                            <div class="text align-self-center">
                                                <h6 class="name-product">Sàn gỗ JanHome siêu chịu nước</h6>
                                                <div class="input-group mb-3 coupon">
                                                    <input type="text" class="form-control" placeholder="Nhập mã giảm giá">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-app" type="button" id="button-addon2">ÁP DỤNG</button>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="label-checkbox mb-2 ">
                                                        Tặng Cột lọc thô (<a href="" class=" color-EE7D22">xem chi tiết</a>)
                                                        <input type="checkbox" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="label-checkbox  mb-2 ">
                                                        Lì xì ưu đãi 200,000đ (<a href="" class=" color-EE7D22">xem chi tiết</a>)
                                                        <input type="checkbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <div class="price-new ">
                                        220.000 đ
                                    </div>
                                    <div class="price-old">220.000 đ</div>
                                </td>
                                <td>
                                    <div class="group-amount d-flex mb-3">
                                        <button class="btn " type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input type="text" class="form-control mx-2" value="1">
                                        <button class="btn " type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="sum">
                                        220.000 đ
                                    </div>
                                </td>
                                <td>
                                    <button class="btn color-828282"><img src="~/images/times-icon.svg" /></button>
                                </td>
                            </tr>
                            <tr class="item">
                                <td>
                                    <label class="label-checkbox label-2 mb-0 " style="min-width: 350px;">
                                        <input type="checkbox">
                                        <span class="checkmark sp"></span>
                                        <div class="d-flex">
                                            <div class="image-product mr-3">
                                                <img src="~/images/change/image-4x4.png" class="" />
                                            </div>
                                            <div class="text align-self-center">
                                                <h6 class="name-product">Sàn gỗ JanHome siêu chịu nước</h6>
                                                <div class="input-group mb-3 coupon">
                                                    <input type="text" class="form-control" placeholder="Nhập mã giảm giá">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-app" type="button" id="button-addon2">ÁP DỤNG</button>
                                                    </div>
                                                </div>
                                                <div>
                                                    <label class="label-checkbox mb-2 ">
                                                        Tặng Cột lọc thô (<a href="" class=" color-EE7D22">xem chi tiết</a>)
                                                        <input type="checkbox" checked />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="label-checkbox  mb-2 ">
                                                        Lì xì ưu đãi 200,000đ (<a href="" class=" color-EE7D22">xem chi tiết</a>)
                                                        <input type="checkbox" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <div class="price-new ">
                                        220.000 đ
                                    </div>
                                    <div class="price-old">220.000 đ</div>
                                </td>
                                <td>
                                    <div class="group-amount d-flex mb-3">
                                        <button class="btn " type="button">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input type="text" class="form-control mx-2" value="1">
                                        <button class="btn " type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="sum">
                                        220.000 đ
                                    </div>
                                </td>
                                <td>
                                    <button class="btn color-828282"><img src="~/images/times-icon.svg" /></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                <section class="infor-customer">
                    <form>
                        <div class="heading">
                            Thông tin khách hàng
                        </div>
                        <div>
                            <label class="label-checkbox d-inline-block mr-3">
                                Nam
                                <input type="checkbox" name="radio" checked />
                                <span class="checkmark" style="border-radius: 50%;"></span>
                            </label>
                            <label class="label-checkbox d-inline-block">
                                Nữ
                                <input type="checkbox" name="radio" />
                                <span class="checkmark" style="border-radius: 50%;"></span>
                            </label>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-sm-6 col-12">
                                <input type="text" class="form-control mb-3" placeholder="Họ và tên *">
                            </div>
                            <div class="col-sm-6 col-12">
                                <input type="text" class="form-control mb-3" placeholder="Số điện thoại *">
                            </div>
                            <div class="col-sm-12 col-12">
                                <textarea rows="4" type="text" class="form-control mb-3"
                                          placeholder="Ghi chú"></textarea>
                            </div>
                        </div>
                        <div class="heading">
                            Chọn địa chỉ và thời gian nhận hàng
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-sm-6 col-12">
                                <select class="form-control mb-3">
                                    <option hidden>Chọn Tỉnh/Thành</option>
                                    <option>Hồ Chí Minh</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-12">
                                <select class="form-control mb-3">
                                    <option hidden>Chọn Quận/Huyện</option>
                                    <option>Tân Phú</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-12">
                                <select class="form-control mb-3">
                                    <option hidden>Chọn Phường/Xã</option>
                                    <option>Hồ Chí Minh</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-12">
                                <input type="text" class="form-control mb-3" placeholder="Số nhà">
                            </div>
                        </div>
                        <div class="mb-3 d-flex flex-wrap">
                            <label class="label-checkbox w-50  ">
                                Thanh toán tiền mặt khi nhận hàng
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="label-checkbox w-50">
                                Chuyển qua tài khoản ngân hàng

                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                            <label class="label-checkbox w-50">
                                Cà thẻ khi nhận hàng
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="label-checkbox w-50">
                                Xuất hóa đơn công ty (VAT 10%)
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col-sm-12 col-12">
                                <textarea type="text" rows="2" class="form-control mb-3" placeholder="Nhập thông tin viết hóa đơn"></textarea>
                            </div>
                        </div>

                        <div class="mb-5">
                            <div class="heading">
                                Thông tin ngân hàng
                            </div>
                            <div class="mb-2">
                                •<b> Ngân hàng :</b> Vietcombank - CN Thăng Long, Hà Nội
                            </div>
                            <div class="mb-2">
                                • <b>Tên tài khoản: </b>Nguyễn Hoàng Nam
                            </div>
                            <div class="mb-2">
                                • STK: <b>0491.0015.888</b>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-12">
                <div class="total-pay">
                    <div class="d-flex ">
                        <label class="mr-2">Tổng tiền:</label>
                        <div class="ml-auto">10 000 đ</div>
                    </div>
                    <div class="d-flex ">
                        <label class="mr-2">Giảm:</label>
                        <div class="ml-auto">1 000 đ</div>
                    </div>
                    <div class="d-flex mb-2">
                        <label class="mr-2">VAT:</label>
                        <div class="ml-auto">1 000 đ</div>
                    </div>
                    <div class="d-flex">
                        <label class="mr-2">Thanh toán:</label>
                        <div class="ml-auto color-EE7D22 font-weight-600">9 000đ</div>
                    </div>
                    <button class="btn btn-save w-100 my-2" data-toggle="modal" data-target="#modal-don-hang">Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</section>