﻿@model List<Enterbuy.Data.SqlServer.ModelDto.ZoneByTreeViewMinify>
@using Enterbuy.WebInterface.Models
@using Enterbuy.Data.SqlServer.Dao.Interfaces
@using Microsoft.AspNetCore.Http.Extensions
@inject RamData.IConfig Config
@inject IBannerAdsDao bannerAdsRepository;
@{
    //var title = bannerAdsRepository.GetConfigByName(Utils.Utility.DefaultLang, "TitleHome");
    var DesWeb = Config.GetByName("DesWeb");
    var MetaKeyword = Config.GetByName("MetaKeyword");

    var Region = Model.Where(x => x.Level == 0).OrderBy(x => x.SortOrder).ToList();
    var domainFull = Context.Request.GetDisplayUrl();
    var title = Config.GetByName("TitleHome");
}
@section styles{
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigMeta(title, DesWeb, MetaKeyword, domainFull))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaNoIndex(false))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigTagMetaCanonical(domainFull, false, ""))
    @Html.Raw(Enterbuy.Statics.Utilities.ConfigSeoUtility.ConfigSocialMeta())
}

<style>
    body {
        background-color: #f3f3f3 !important;
    }
</style>

<h1 class="hidden"> @title</h1>

@await Component.InvokeAsync("SlideBanner", new { isService = true })

@for (int i = 0; i < Region.Count; i++)
{
    if (i == 0)
    {
        @await Component.InvokeAsync("FlashSale", new { listZoneTypeRegion = Model, order = Region[i].SortOrder })
    }
    else
    {

        @await Component.InvokeAsync("FirstProductCategory", new { listZoneTypeRegion = Model, order = Region[i].SortOrder })
        if (i == 1)
        {
            @await Component.InvokeAsync("SecondBanner")
        }
        if (i == 2)
        {
            @await Component.InvokeAsync("ThirdBanner")
        }
    }

}


@await Component.InvokeAsync("SlideCategory")

@await Component.InvokeAsync("Video")
@await Component.InvokeAsync("NewsHomePage")
@await Component.InvokeAsync("NewsHomePageMobile")
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")

@section scripts{

    <script type="text/javascript" src="~/js/controller/homeController.js"></script>
}
