﻿<div class="container my-3">
    <div class="d-flex">
        <nav aria-label="breadcrumb" class="align-self-center">
            <ol class="breadcrumb jan-breadcrumb mb-2">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
            </ol>
        </nav>
        <div class="align-self-center ml-auto mb-2">
            <a href="" class="link-view-more color-0B7640 font-weight-normal" style="font-size: 14px; ">Mua thêm sản phẩm khác<i class="fas fa-chevron-right ml-2  small"></i></a>
        </div>
    </div>
</div>

@await Component.InvokeAsync("CartProcessing")
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")