﻿<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb jan-breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#"> Máy lọc nước Nano </a></li>
            <li class="breadcrumb-item active" aria-current="page"> Máy lọc nước Nano </li>
        </ol>
    </nav>
</div>
@await Component.InvokeAsync("ProductDetails")
@await Component.InvokeAsync("CategoryHomePage")
@await Component.InvokeAsync("AdvisoryHomePage")
@await Component.InvokeAsync("ServiceFooter")