﻿@using Utils;
@model List<Enterbuy.Services.Common.Models.BannerHomePage>

<section class="slide-cate mb-3 ">
    <div class="container">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        if (item.Show)
                        {
                            <div class="swiper-slide">
                                <a href="@item.Url" title="@item.Title">
                                    <div class="image">

                                        <img src="@UIHelper.StoreFilePath(item.Image, false)" class="img-fluid" alt="@item.Title" />


                                    </div>
                                </a>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>