﻿@using MI.Entity.Enums;
@using VietLab.Web.Services.Zone.ViewModal
@using VietLab.Web.Services.Article.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using VietLab.Web.Services.Article.Repository
@using VietLab.Web.Services.BannerAds.Repository
@using MI.Entity.Models
@using VietLab.Web.Utility
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IBannerAdsRepository bannerAdsRepository;
@using Utils
@using System.Linq
@model List<ArticleMinify>
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}
@{
    var blog_Big = new ArticleMinify();
    if (Model != null)
    {
        blog_Big = Model.FirstOrDefault();
    }
    var list_Blog = Model;
    var toatal = ViewBag.totalRow;
    if (toatal == 0)
    {
        toatal = 1;
    }
    var ZoneId = ViewBag.ZoneId;

}
@if (Model.Count > 0)
{
    <input type="hidden" class="totalrow1" value="@toatal"/>
    var link = string.Format("/{0}.a{1}.html", blog_Big.Url, blog_Big.Id);
    <div id="_BindinHtmlblog">

        <div class="atesm">
            <div class="row">
                <div class="col-md-7">
                    <a href="@link"><img src="@UIHelper.StoreFilePath(blog_Big.Avatar, false)?v=@WebHelper.Version()" class="w-100" alt=""></a>
                </div>
                <div class="col-md-5">
                    <div class="main-news-hot">
                        <p class="main-news-to">
                            <a href="@link">@blog_Big.Title</a>
                        </p>
                        <p>@Html.Raw(blog_Big.Description)</p>
                        <div class="d-flex" style="font-size: 14px;">
                            <span class="pr-2">Ngày @blog_Big.CreatedDate</span>
                            <span>|</span>
                            <span class="pl-2 color-246EBC"><a href="@link">XEM THÊM</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @for (int i = 0; i < list_Blog.Count(); i++)
        {
            if (list_Blog[i].Id != blog_Big.Id)
            {
                var links = string.Format("/{0}.a{1}.html", list_Blog[i].Url, list_Blog[i].Id);
                <div class="mini-news">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="tit-mini-news">
                                <a href="@links">@list_Blog[i].Title</a>
                            </p>
                            <p>@Html.Raw(list_Blog[i].Description)</p>
                            <div class="d-flex" style="font-size: 14px;">
                                <span class="pr-2">Ngày @list_Blog[i].CreatedDate</span>
                                <span>|</span>
                                <span class="pl-2 color-246EBC"><a href="@links">XEM THÊM</a></span>
                            </div>
                        </div>
                        <div class="col-md-4 d-mb-none">
                            <a href="@links"><img src="@UIHelper.StoreFilePath(list_Blog[i].Avatar, false)?v=@WebHelper.Version()" class="w-100" alt=""></a>
                        </div>
                    </div>
                </div>
            }

        }
    </div>
}


