﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MI.Entity.Enums;
@using JanHome.Web.Services.Zone.ViewModal
@using JanHome.Web.Services.Article.ViewModel
@using JanHome.Web.Services.Extra.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using JanHome.Web.Services.Article.Repository
@using JanHome.Web.Services.Extra.Repository
@using JanHome.Web.Services.Zone.Repository
@inject IHttpContextAccessor HttpContextAccessor
@inject IArticleRepository articleRepository;
@inject IZoneRepository zoneRepository;
@inject IExtraRepository extraRepository;
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
}

@{
    var obj_id = (int)ViewBag.ObjId;
    var obj_type = (int)ViewBag.ObjType;
    var index = (int)ViewBag.Index;
    var size = (int)ViewBag.Size;
    var comments = new List<CommentDetail>();
    if (obj_id != null && obj_type != null)
    {
        comments = extraRepository.GetCommentPublisedByObjectId(obj_id, obj_type);
    }

    //var list_zone_parents = zoneRepository.GetListZoneByParentId((int)TypeZone.AllButProduct, culture_code);
}
<div class="comment_binding">
    <div class="row mb-3">
        <div class="col-md-8 col-sm-8 col-8 ">
            <h5 class="font-weight-600 mb-0 mt-1">@comments.Count() Bình luận</h5>
        </div>
        <div class="col-md-4 col-sm-4 col-4 text-right">
            <div class="search-comment">
                <input class="form-control " type="text" placeholder="Search" />
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <form class="border border-r-4 mb-4 upload-parent" id="comment-form" data-type="comment" data-object-id="@obj_id" data-object-type="@obj_type" data-lang="@culture_code">
        <textarea class="form-control txt_content" rows="5" placeholder="Type your topic here"
                  style="border: 0;" minlength="50"></textarea>
        <div class="border-top">
            <div class="form-row p-2 ">
                <div class="col-xl-2 col-md-2 col-12">
                    <div class="position-relative form-control text-center mb-2 mb-md-0"
                         style="font-size: 14px;">
                        <img asp-append-version="true" src="~/images/camera.svg" class="img-fluid" />
                        <input type="file" class="input-choose-file " accept="image/*" data-target-url="">
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 col-12">
                    <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0 txt_name" placeholder="Tên (bắt buộc)" required>
                </div>
                <div class="col-xl-4 col-md-4 col-12">
                    <input type="text" style="font-size: 14px;" class="form-control mb-2 mb-md-0 txt_phoneOrEmail" placeholder="Email (bắt buộc)" required>
                </div>
                <div class="col-xl-2 col-md-2 col-12">
                    <button class="btn btn-save px-5 mb-2 mb-md-0 send-comment w-100" data-type="comment" data-object-id="@obj_id" data-object-type="@obj_type" data-lang="@culture_code" type="submit">Gửi</button>
                </div>
            </div>
        </div>
        <div class="_binding_pickup_img" style="display:none; position:relative">
            <div style="">
                <img class="_place-img" />
            </div>
            <div class="_close_customize" style="position:absolute; top:0px; right: 0px">
                <button class="_place-img-close" type="button" style="background-color: transparent; border: 0;"><i class="fal fa-times-circle"></i></button>
            </div>
            
        </div>
    </form>
    @{
        var list_comment_parents = comments.Where(r => r.ParentId == 0);
        var total = list_comment_parents.Count();

        var skip = (int)((index - 1) * size);
        var res = list_comment_parents.Skip(skip).Take(size);
    }
    <div class="list-comment mb-4 comment-binding">
        @foreach (var item in res)
        {
            <div class="media mb-3 comment_infomation" data-id="@item.Id" data-object-id="@obj_id" data-object-type="@obj_type">

                <div class="avatar mr-3" data-name="@item.Name.ToString()"></div>
                <div class="media-body">
                    <div class="comment-img">
                        @if (!string.IsNullOrEmpty(item.Avatar))
                        {
                            <img src="@UIHelper.StoreFilePath(item.Avatar.Replace("\\","/"),false,"","")" style="max-width:300px;max-height:300px"/>
                        }

                    </div>
                    <h6 class="name">@item.Name</h6>
                    <div class="comment-ct ">
                        @item.Content
                    </div>
                    <div class="d-flex flex-wrap">
                        <a href="javascript:void(0)" class="btn-link small mr-3 mb-2 reply_comment" data->Trả lời</a>
                        <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">
                            <i class="fas fa-thumbs-up mr-2"></i>Thích
                        </a>
                        <span class="time small mb-2">@item.CreatedDate.ToString("dd/MM/yyyy hh:mm")</span>
                    </div>
                    <div class="_comment_reply"></div>
                    @{ var list_comment_reply = comments.Where(r => r.ParentId == item.Id).OrderBy(r => r.CreatedDate);}
                    @foreach (var rep in list_comment_reply)
                    {
                        <div class="media sub  mt-3">
                            <a class="" href="javascript:void(0)">
                                @if (!string.IsNullOrEmpty(rep.CreatedByAdminId))
                                {
                                    <img asp-append-version="true" src="~/images/avatar jan.png" class="img-fluid avatar-1 mr-3"
                                         alt="@rep.Name">
                                }
                                else
                                {
                                    <div class="avatar  mr-3" data-name="@rep.Name"></div>
                                }

                                @*<img asp-append-version="true" src="@UIHelper.StoreFilePath(rep.Avatar)" class="img-fluid avatar mr-3"
                                    alt="@rep.Name">*@
                            </a>
                            <div class="media-body">
                                <div class="comment-img">
                                    @if (!string.IsNullOrEmpty(rep.Avatar))
                                    {
                                        <img src="@UIHelper.StoreFilePath(rep.Avatar.Replace("\\","/"),false,"","")" />
                                    }

                                </div>
                                @if (!string.IsNullOrEmpty(rep.CreatedByAdminId))
                                {
                                    <h6 class="name qtv">@rep.Name</h6>
                                    <div class="qtv">Quản trị viên</div>
                                }
                                else
                                {
                                    <h6 class="name">@rep.Name</h6>
                                }


                                <div class="comment-ct">
                                    @rep.Content
                                </div>
                                <div class="d-flex flex-wrap">
                                    <a href="javascript:void(0)" class="btn-link small mr-3 mb-2 reply_comment">Trả lời</a>
                                    <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">
                                        <i class="fas fa-thumbs-up mr-2"></i>Hài lòng
                                    </a>
                                    <a href="javascript:void(0)" class="btn-link small mr-3 mb-2">
                                        <i class="fas fa-thumbs-down mr-2"></i>Không hài lòng
                                    </a>
                                    <span class="time small mb-2">@rep.CreatedDate.ToString("dd/MM/yyyy hh:mm")</span>
                                </div>
                                <div class="_comment_reply"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
    
</div>
<div class="comment-paging" data-total="@total" data-size="@size" data-object-id="@obj_id" data-object-type="@obj_type">

</div>

@*

    $('#demo').pagination({
        dataSource: 'https://api.flickr.com/services/feeds/photos_public.gne?tags=cat&tagmode=any&format=json&jsoncallback=?',
        locator: 'items',
        totalNumberLocator: function(response) {
            // you can return totalNumber by analyzing response content
            return Math.floor(Math.random() * (1000 - 100)) + 100;
        },
        pageSize: 20,
        ajax: {
            beforeSend: function() {
                dataContainer.html('Loading data from flickr.com ...');
            }
        },
        callback: function(data, pagination) {
            // template method of yourself
            var html = template(data);
            dataContainer.html(html);
        }
    })

*@