﻿@using VietLab.Web.Services.Product.ViewModel
@using VietLab.Web.Services.Product.Repository
@using VietLab.Web.Services.Article.ViewModel
@using VietLab.Web.Services.Article.Repository
@using VietLab.Web.Services.Extra.ViewModel
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@using MI.Entity.Enums
@inject IHttpContextAccessor HttpContextAccessor
@using VietLab.Web.Utility
@inject ICookieUtility cookieUtility
@inject IArticleRepository articleRepository
@inject IProductRepository productRepository
@inject IConfigSEOUtility configSEOUtility
@inject IViewLocalizer Localizer
@using Utils
@{
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();
    var domain_full = Context.Request.Scheme;
}
@{
    // ViewData["Title"] = "ProductDetail222";


    Layout = "~/Views/Shared/_LayoutVietLab.cshtml";
    var detail = ViewBag.Infomation as ProductDetail;
    var setification_detail = ViewBag.Spectification as List<ProductSpectificationDetail>;
    var product_same_zone = ViewBag.SameZone as List<ProductMinify>;
    var same_total = ViewBag.SameTotal;
    var zone_id = ViewBag.Zone;
    var zone_url = ViewBag.ZoneUrl;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;

    var product_price_details = ViewBag.ListLocation as List<ProductPriceInLocationDetail>
    ;
    var default_price_detail = ViewBag.DefaultLocationPrice as ProductPriceInLocationDetail;
    var combo = ViewBag.Combo as List<ProductMinify>;

    var promotions = ViewBag.Promotion as List<PromotionInProduct>;

    var comments = ViewBag.Comments as List<CommentDetail>;

}
@*
    public string ConfigShemaOrg(string domain_full,string title, string avatar, DateTime createdDate, DateTime modifiedDate, string metaTitle, string web_name,string logo, string description)
    public string ConfigSocialMeta(string fbAppId = "default fbAddId", string url = "default url", string title = "default title", string description = "default description", string image = "default image")
    public string ConfigMeta(string title, string description, string keyword)

*@
@inject IViewLocalizer _localizer
@section styles{
    @Html.Raw(configSEOUtility.ConfigMeta(detail.Title, detail.MetaDescription, detail.MetaKeyword))
    @Html.Raw(configSEOUtility.ConfigSocialMeta("", detail.Url, detail.MetaTitle == "" ? detail.Title : detail.MetaTitle,"", detail.Avatar))
}
@if (detail != null)
{
    <section class="main-product">
        <div class="container">
            <nav aria-label="breadcrumb">
                <div class="container my-3">
                    @await Component.InvokeAsync("Breadcrumb", new { zone_id = detail.ZoneId })
                </div>
            </nav>
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-baseline">
                        <div class="name-hc pr-2"> @Html.Raw(detail.Title)</div>
                    </div>
                    <div class="txt-prod-c2">
                        @Html.Raw(detail.Description)
                    </div>
                    @Html.Raw(detail.Content)
                    <button type="button" class="btn btn-primary contact-now mt-2  margin-0-auto" data-toggle="modal" data-target="#exampleModal">Báo giá</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Liên hệ</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form id="form-lien-he" data-type="2">
                                        <div class="form-group">
                                            <!-- <label for="recipient-name" class="col-form-label">Recipient:</label> -->
                                            <input type="text" class="form-control" id="name-input" placeholder="Họ và tên (bắt buộc)" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="phone-input" placeholder="Số điện thoại" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="yeucau" placeholder="Yêu cầu">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" id="mess-input" placeholder="Nội dung chi tiết"></textarea>
                                        </div>
                                        <div class="modal-footer ">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Xác nhận</button>
                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="bos-slile">
                        <div class="img-prod-dtail">
                            <div class="slide-room-detail">
                                @{
                                    var avatar_array = detail.AvatarArray.Split(',');
                                }
                                @foreach (var item in avatar_array)
                                {
                                    <div class="img-room-detail border">
                                        <img src="@UIHelper.StoreFilePath(item, false)" class="w-100 cus-img-bos" alt="">
                                    </div>
                                }
                                </div>
                        </div>
                        <div class="" style="position: relative;">
                            <div class="img-thumb">
                                @foreach (var item in avatar_array)
                                {
                                    <div class="img-room-detail">
                                        <img src="@UIHelper.StoreFilePath(item)" class="cust-img-thumb" alt="">
                                    </div>
                                }
                            </div>
                            <div class="arrow-thumb">
                                <div class="pre-thumb">
                                    <i class="far fa-angle-left"></i>
                                </div>
                                <div class="next-thumb">
                                    <i class="far fa-angle-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-book">
                <div class="mb-pd-0 mb-form-bk">
                    <ul class="nav cust-navtab" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô tả</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Tính năng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#xyz" role="tab" aria-controls="profile" aria-selected="false">Associated Produced</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#mny" role="tab" aria-controls="profile" aria-selected="false">FAQ</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active pt-4" style="font-size: 15px;" id="home" role="tabpanel" aria-labelledby="home-tab">
                            @Html.Raw(detail.Paragraph0)
                        </div>
                        <div class="tab-pane fade  pt-4" id="profile" role="tabpanel" aria-labelledby="profile-tab"> @Html.Raw(detail.Paragraph1)</div>
                        <div class="tab-pane fade  pt-4" id="xyz" role="tabpanel" aria-labelledby="profile-tab">@Html.Raw(detail.Paragraph2)</div>
                        <div class="tab-pane fade pt-4" id="mny" role="tabpanel" aria-labelledby="profile-tab">@Html.Raw(detail.Paragraph3)</div>
                    </div>
                    <p class="text-tit-tab">Sản phẩm liên quan</p>
                    <div class="mn-splq">
                        <div class="row">
                            @{
                                var total_best_favor = 0;
                                var best_favor = productRepository.GetProductInZoneByZoneIdMinify(zone_id, cookie_location.LocationId, culture_code, 1, 4, out total_best_favor);
                                foreach (var item in best_favor)
                                {
                                    if (item.ProductId != detail.Id)
                                    {
                                        var link_tar = string.Format("/{0}.p{1}.html", item.Url, item.ProductId);
                                        <div class="col-md-3 col-6">
                                            <div class="info-room">
                                                <div class="img-room-info">
                                                    <div class="img-prod-lq">
                                                        <img src="@UIHelper.StoreFilePath(item.Avatar,false)?v=@WebHelper.Version()" class="w-100" alt="">
                                                    </div>
                                                    <div class="hover-search hiddren">
                                                        <a href="@link_tar" title="">
                                                            <div class="contact-now margin-0-auto">
                                                                Xem chi tiết
                                                            </div>
                                                        </a>
                                                    </div>

                                                </div>
                                                <p class="name-splq">@item.Title</p>
                                            </div>
                                        </div>
                                    }

                                }
                            }

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}

@section scripts{


    <script>
        $(document).ready(function () {
            $('.slide-room-detail').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.img-thumb'
            });
            $('.img-thumb').slick({
                slidesToShow: 2,
                slidesToScroll: 1,
                asNavFor: '.slide-room-detail',
                dots: false,
                arrows: false,
                centerMode: true,
                focusOnSelect: true,
                responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                }]

            });
            $('.next-thumb').click(function () {
                $(".slide-room-detail").slick('slickNext');
            });
            $('.pre-thumb').click(function () {
                $(".slide-room-detail").slick('slickPrev');
            });
            $('.next-thumb').click(function () {
                $(".img-thumb").slick('slickNext');
            });
            $('.pre-thumb').click(function () {
                $(".img-thumb").slick('slickPrev');
            });
        });
    </script>
    <script>
        var cnt = $(".img-magnifier-container").length;
        for (var i = 1; i < cnt; i++) {
            var idIMG = "myimage" + i.toString();
            magnify(idIMG, 2);
        }


    </script>
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            // modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })
    </script>
    @*<script src="~/js/controller/productDetailController.js" asp-append-version="true"></script>*@
    <script type="text/javascript" asp-append-version="true" src="~/js/controller/contactController.js"></script>


}
