﻿@using VietLab.Web.Services.Zone.ViewModal
@using VietLab.Web.Services.BannerAds.ViewModel
@using VietLab.Web.Services.Extra.ViewModel
@using VietLab.Web.Services.BannerAds.Repository
@using MI.Entity.Models
@using VietLab.Web.Services.Product.Repository
@using VietLab.Web.Services.Extra.Repository
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using VietLab.Web.Services.Zone.Repository
@using Utils
@inject IHttpContextAccessor HttpContextAccessor
@using VietLab.Web.Utility
@inject ICookieUtility cookieUtility
@inject IConfigSEOUtility configSEOUtility
@inject IProductRepository productRepository
@inject IBannerAdsRepository bannerAdsRepository
@inject IExtraRepository extraRepository
@inject IZoneRepository zoneRepository;
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_LayoutVietLab.cshtml";

    var zone_tree_view = ViewBag.ZoneTreeView as List<ZoneByTreeViewMinify>;
    var zone_detail = ViewBag.ZoneDetail as ZoneDetail;
    var cookie_location = cookieUtility.SetCookieDefault();
    var location_id = cookie_location.LocationId;
    var location_name = cookie_location.LocationName;
    var culture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.TwoLetterISOLanguageName.ToLower();
    var culture_code = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.ToString();
    var base_uri_culture = "/" + culture;
    var domain = Context.Request.Host.ToString();

}
@section styles{
    @{ var bind_meta = "";}
    @if (zone_detail != null)
    {

        bind_meta += configSEOUtility.ConfigMeta(zone_detail.MetaTitle, zone_detail.MetaDescription, zone_detail.MetaKeyword);
        bind_meta += configSEOUtility.ConfigSocialMeta();

    }
    @Html.Raw(bind_meta)
}
@*<div id="zone-current" data-id="@zone_detail.Id" style="display:none"></div>*@
<section class="main-product">
    <div class="container">
        @{
            var list_zone_first = zone_tree_view.Where(r => r.level == 1);
            if (zone_tree_view.Count() == 1)
            {
                list_zone_first = zone_tree_view.Where(r => r.level == 0);
            }
            var list_zone_first_Br = zone_tree_view.Where(r => r.level == 1);
            if (zone_tree_view.Count() >= 1)
            {
                list_zone_first_Br = zone_tree_view.Where(r => r.level == 0);
            }
        }
        <div class="container mb-3">
            <nav aria-label="breadcrumb">
                @if (list_zone_first_Br.Count() > 0)
                {
                    @await Component.InvokeAsync("Breadcrumb", new { zone_id = list_zone_first_Br.FirstOrDefault().Id })
                }

            </nav>
        </div>
        <div class="row">
            @{
                var list_zone = zoneRepository.GetZoneByTreeViewMinifies(1, culture_code, 0);
                var list_zone_first_mn = list_zone.Where(r => r.ParentId == 0).OrderBy(r => r.SortOrder).ToList();
            }
            <div class="col-md-3">
                <div class="abctest">MENU</div>
                <div class="tree-menu-mobile">
                    <ul class="list-group cust-prod border">
                        @foreach (var item in list_zone_first_mn)
                        {
                            var list_zone_second = list_zone.Where(r => r.ParentId == item.Id).OrderBy(r => r.SortOrder).ToList();
                            var tree_pc = "";
                            var link_root = string.Format("/{0}.c{1}.html", item.Url, item.Id);
                                <a href="@link_root">
                                    @item.Name
                                </a>
                            tree_pc = TreeviewHelper.RenderTagWithMaxLevel(list_zone, item.level, item.Id, 1, base_uri_culture);
                            tree_pc.Replace("<ul></ul>", "");
                            @Html.Raw(tree_pc)
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="all-sphc">
                    <ul class="list-cate-sphc row">

                        @foreach (var item in list_zone_first)
                        {

                            var list_zone_second = zone_tree_view.Where(r => r.ParentId == item.Id).ToList();
                            var zone_second_first = list_zone_second.FirstOrDefault();
                            var zone_query_first = 0;
                            if (list_zone_second.Count() > 0)
                            {
                                zone_query_first = list_zone_second.First().Id;
                            }
                            else
                            {
                                zone_query_first = item.Id;
                            }

                            <li class="_binding_product">
                                @await Component.InvokeAsync("ProductList", new { zone_parent_id = zone_query_first, locationId = location_id })
                            </li>

                        }
                    </ul>

                </div>

            </div>

        </div>

    </div>
</section>

@section Scripts{
    <script type="text/javascript" src="~/js/controller/productController.js?v=@WebHelper.Version()"></script>
}

